/* Scss variable  Created By Bikash on 21-Jan-2019 */
/* GRADIENT LISTS
============================================= */

.theme-light {
    --card: #fff;
    --card-text: #1f1f1f;
    --border-grey: #e9f0ff;
    --light-blue: #dcf2fe;
    --dark-blue: #0591de;
    --light-yellow: #fff4e5;
    --dark-yellow: #ff9800;
    --light-green: #8bc34a30;
    --dark-green: #4caf50;
    --light-purple: #eee6fe;
    --dark-purple: #7a43e8;
    --light-red: #fde4e7;
    --dark-red: #de4e57;
    --common-shadow-one: #c3c3c3;
    --common-shadow-two: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    --border-grey-nav: #e2e2e2 #e2e2e2 #fff #e2e2e2;
    --bg-white: #fff;
    --primary1-color: #711519;
    --form-control-bg: #f3f3f3;
    --text-black: #000;
    --map-bg: #f9f9f9;
    --border-blue: #d9f3fd;
    --light-blue: #f1fbff;
}


.theme-dark {
    --card: #1d1f2d;
    --card-text: #fff;
    --light-blue: #1d1f2d;
    --dark-blue: #0591de;
    --light-yellow: #1d1f2d;
    --dark-yellow: #ff9800;
    --border-grey: #3f404a;
    --light-green: #1d1f2d;
    --dark-green: #64e572;
    --light-purple: #1d1f2d;
    --dark-purple: #7a43e8;
    --light-red: #1d1f2d;
    --dark-red: #de4e57;
    --common-shadow-one: 0 0 6px #d0d0d0;
    --common-shadow-two: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    --border-grey-nav: #3f404a #3f404a #282b3c #3f404a;
    --bg-white: #282b3c;
    --primary1-color: #fff;
    --form-control-bg: #282b3c;
    --text-black: #fff;
    --map-bg: #242631;
    --border-blue: #3f404a;
    --light-blue: #1d1f2d;
}

.page-container {
    padding-left: 0px; 
}
.breadcrumb-nav {
    padding-left: 27px;
}
.nav-toggle-btn {
    display: none;
}
.breadcrumb {
    margin-left: 0px;
}

.sticky-table table tr.sticky-header th, .sticky-table table tr.sticky-header td, .sticky-table table tr.sticky-footer th, .sticky-table table tr.sticky-footer td {
    background-color: var(--bg-white);
}

.sticky-table {
    border-top: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bg-light-blue {
    background: var(--light-blue) !important
}

.bg-light-purple {
    background: var(--light-purple) !important
}

.bg-light-red {
    background: var(--light-red) !important
}

.bg-light-yellow {
    background: var(--light-yellow) !important
}

.bg-dark-blue {
    background: #2192c5 !important;
}

.text-blue {
    color: var(--dark-blue) !important
}

.text-purple {
    color: var(--dark-purple) !important
}

.text-red {
    color: var(--dark-red) !important
}

.text-yellow {
    color: var(--dark-yellow) !important
}

.top-card {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 6px var(--common-shadow-one);
}

.top-card-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem .2rem;
    align-items: center;
}

    .top-card-header h4 {
        font-size: 1.2rem;
    }

    .top-card-header h3 {
        text-align: center;
        font-size: 1.2rem;
    }

        .top-card-header h3 small {
            font-size: .9rem;
            color: #6f6f6f;
        }

.top-card-body {
    padding: .5rem 1rem;
}

    .top-card-body .details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

        .top-card-body .details ul {
            margin: 0;
            padding: 0;
        }

            .top-card-body .details ul li {
                font-size: .8rem;
                margin-bottom: .2rem;
            }

                .top-card-body .details ul li span {
                    display: block;
                    font-weight: 700;
                    color: #4c4c4c;
                }

                .top-card-body .details ul li:last-child {
                    margin-bottom: 0
                }

    .top-card-body .chart-section {
        flex: 0 0 65%;
        overflow: hidden;
        border-radius: 8px;
        align-items: center;
    }

        .top-card-body .chart-section .top-charts {
            height: 80px;
            width: 100%;
        }





.dashboard-portlet {
    position: relative;
    box-shadow: var(--common-shadow-two);
    border-radius: 4px;
    margin-bottom: 1rem;
    background: var(--card);
}

    .dashboard-portlet.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
        bottom: 0;
        height: auto;
        border-radius: 0;
    }

.dashboard-portlet__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-grey);
    padding: .8rem 1rem 0;
    align-items: center;
}

    .dashboard-portlet__header h5 {
        font-size: 1.1rem;
        color: var(--card-text);
        margin-bottom: .5rem;
    }


.dashboard-portlet__content {
    padding: 1rem;
    position: relative;
}

.dashboard-portlet__content__chart {
    height: 295px;
}

.dashboard-portlet__content__details {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.filter-section {
    display: flex;
    align-items: center;
}

    .filter-section span {
        margin: 0 10px 0 20px;
    }

    .filter-section .form-control {
        height: 32px;
        min-width: 100px;
        padding: 0 .5rem;
        background: var(--form-control-bg);
        border-color: var(--border-grey);
    }

.permit-list {
    margin: 0;
}

    .permit-list li {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        padding: .7rem 0;
        align-items: center;
        border-bottom: 1px dashed #c7c7c7;
    }

        .permit-list li span {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--var-black);
        }

        .permit-list li:last-child {
            border-bottom: 0
        }

.map-container {
    background: var(--map-bg);
    padding: 1rem;
    border-radius: 4px;
    position: relative;
}

.mapBox {
    position: relative;
}

.map-container svg {
    margin-top: 5px;
    height: 478px;
}

.dist-name {
    display: none;
}

.dist-block {
    fill: var(--primary-color);
    -webkit-transition-property: fill;
    -moz-transition-property: fill;
    -o-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    cursor: pointer;
}

    .dist-block:hover {
        fill: #862800;
    }

.dist-wise-info {
    margin-bottom: 1rem;
}

.mining-info {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 175px;
    background: #fde4e7;
    border-radius: 4px;
    padding: 1rem;
}

    .mining-info h3 {
        font-size: 1.2rem;
        margin-bottom: .6rem;
        color: var(--primary-color);
        text-transform: capitalize;
    }

    .mining-info ul {
        margin-bottom: 0;
    }

        .mining-info ul li {
            font-size: .9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dashed #d4d4d4;
            padding: .2rem 0;
        }

            .mining-info ul li span {
                font-size: 1.1rem;
                font-weight: 600;
                color: var(--dark-red);
                /* display: block; */
                margin-left: 10px;
            }

            .mining-info ul li:last-child {
                border-bottom: 0
            }


.dist-wise-info h3 {
    font-size: 1.3rem;
    margin-bottom: .6rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

.dist-wise-info h4 {
    font-size: 1.2rem;
    margin-bottom: .4rem;
    color: #000000;
}

    .dist-wise-info h4 small {
        font-size: 60%;
    }

.permit-list {
    margin: 0;
}

.dist-wise-info ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

    .dist-wise-info ul li {
        font-size: .9rem;
        padding: .4rem .7rem;
        border-radius: 5px;
        background: #fde4e7;
        text-align: center;
        flex: 0 0 calc(100% / 5 - 1rem);
    }

        .dist-wise-info ul li span {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--dark-red);
            display: block;
        }

        .dist-wise-info ul li:last-child {
            border-bottom: 0
        }

.total-section {
    position: absolute;
    right: 1rem;
    top: 1rem;
    /* width: 146px; */
    text-align: center;
    /* background: var(--light-blue); */
    padding: 0rem;
    border-radius: 4px;
}

    .total-section h2 {
        font-size: 1.4rem;
        color: var(--dark-blue);
        font-weight: 600;
    }

        .total-section h2 small {
            display: block;
            color: #888;
            font-size: 60%;
            margin-top: .2rem;
        }

.edetails {
    position: relative;
    text-align: right;
    color: #fff;
}

    .edetails i {
        position: absolute;
        left: 0;
        font-size: 4rem;
        color: #107cad;
    }


.dispatch-list {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    border: 1px solid var(--border-blue);
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.8rem;
    background: var(--light-blue1);
    border-radius: 4px;
}

    .dispatch-list.fixed {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1.2rem;
        background: var(--card) !important;
        z-index: 99;
    }

    .dispatch-list p {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .dispatch-list h6 {
        font-size: .9rem;
        color: #424242
    }

.dashboard-portlet__content__details::-webkit-scrollbar, .sticky-table::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.dashboard-portlet__content__details::-webkit-scrollbar-track, .sticky-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.dashboard-portlet__content__details::-webkit-scrollbar-thumb, .sticky-table::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    .dashboard-portlet__content__details::-webkit-scrollbar-thumb:hover, .sticky-table::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.nav-tabs {
    margin-bottom: 0;
    border: 0;
    float: left;
}

    .nav-tabs .nav-link {
        color: #777777;
        font-size: .95rem;
        padding: 0.4rem 1rem;
        font-weight: 600;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        text-transform: capitalize;
        border: 1px solid var(--border-grey);
        position: relative;
        flex: initial;
        margin-left: 0.25rem;
        background: var(--bg-white);
        margin-right: 0;
        line-height: 1;
    }

        .nav-tabs .nav-link:hover {
            background: #f6f6f6;
            color: #000;
        }

        .nav-tabs .nav-link i {
        }

        .nav-tabs .nav-link.show, .nav-tabs .nav-link.active {
            color: var(--primary1-color);
            background-color: var(--bg-white);
            border-color: var(--border-grey-nav);
        }


.lgwrapper {
    padding: 3px 6px;
    margin-bottom: 0px;
    border-radius: 2px;
    border: 1px solid #dedede
}

    .lgwrapper .label {
        position: relative;
        top: 0px;
        margin: 0 2px;
    }

table.table thead th {
    border-bottom: 1px solid #dee2e6;
}



.fix-table-container {
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 437px;
}


.vehicle-list {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

    .vehicle-list li {
        font-size: 1rem;
        padding: 1rem;
        background: #fff5e8;
        flex: 0 0 calc(50% - 1rem);
        margin-bottom: .7rem;
        margin-left: 1rem;
        border-radius: 5px;
        text-align: center;
        color: #4c4c4c;
    }

        .vehicle-list li span {
            font-size: 1.3rem;
            font-weight: 600;
            color: #7b7b7b;
            display: block;
        }

        .vehicle-list li:last-child {
            border-bottom: 0
        }

@media screen and (min-width: 992px) {
    .dashboard-portlet {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .dashboard-portlet {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 1440px) {

    .top-card-header {
        padding: .5rem .8rem .2rem;
    }

        .top-card-header h4 {
            font-size: 1rem;
        }

        .top-card-header h3 {
            font-size: 1rem;
        }

    .top-card-body {
        padding: .5rem .8rem;
    }

        .top-card-body .chart-section {
            flex: 0 0 100%;
        }

    .dashboard-portlet__header h5 {
        font-size: 1rem;
    }

    .nav-tabs .nav-link {
        font-size: .8rem;
        padding: 0.4rem .6rem;
    }

    .map-container svg {
        margin-top: 5px;
        height: 320px;
    }

    .map-container {
        background: #ffffff;
        padding: 0rem;
    }

    .mining-info {
        right: -1rem;
        bottom: 0rem;
        width: 135px;
        border-radius: 4px;
        padding: .5rem;
    }

        .mining-info h3 {
            font-size: 1rem;
        }

        .mining-info ul li {
            font-size: .8rem;
            padding: .1rem 0;
        }

            .mining-info ul li span {
                font-size: 1rem;
            }

    .dashboard-portlet__content__chart {
        height: 250px;
    }

    .dist-wise-info ul li {
        font-size: .8rem;
        padding: .4rem .6rem;
        flex: 0 0 calc(100% / 5 - .5rem);
    }

    .sticky-table {
        max-height: 260px;
    }

    .dashboard-portlet__content__details {
        height: 250px;
    }

    .vehicle-list li {
        font-size: .8rem;
        padding: .8rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
    }

        .vehicle-list li span {
            font-size: 1.1rem;
        }

    .permit-list li {
        font-size: .9rem;
        padding: .6rem 0;
    }

        .permit-list li span {
            font-size: 1.1rem;
        }

    .top-card-body .details ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        background: rgb(255 255 255 / 43%);
        margin-bottom: .4rem;
        padding: 0 1rem;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .top-total-section {
        margin-top: 90px;
    }
}

@media screen and (max-width: 800px) {
    .mining-info {
        right: 0rem;
    }

    .map-container {
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .dist-wise-info ul {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
}
