.theme-light {
    --card: #fff;
    --card-text: #1f1f1f;
    --border-grey: #e9f0ff;
    --light-blue: #dcf2fe;
    --dark-blue: #0591de;
    --light-yellow: #fff4e5;
    --dark-yellow: #ff9800;
    --light-green: #8bc34a30;
    --dark-green: #4caf50;
    --light-purple: #eee6fe;
    --dark-purple: #7a43e8;
    --light-red: #fde4e7;
    --dark-red: #de4e57;
    --common-shadow-one: #c3c3c3;
    --common-shadow-two: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    --border-grey-nav: #e2e2e2 #e2e2e2 #fff #e2e2e2;
    --bg-white: #fff;
    --primary1-color: #711519;
    --form-control-bg: #f3f3f3;
    --text-black: #000;
}

.theme-dark {
    --card: #1d1f2d;
    --card-text: #fff;
    --light-blue: #1d1f2d;
    --dark-blue: #0591de;
    --light-yellow: #1d1f2d;
    --dark-yellow: #ff9800;
    --border-grey: #3f404a;
    --light-green: #1d1f2d;
    --dark-green: #64e572;
    --light-purple: #1d1f2d;
    --dark-purple: #7a43e8;
    --light-red: #1d1f2d;
    --dark-red: #de4e57;
    --common-shadow-one: 0 0 6px #d0d0d0;
    --common-shadow-two: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    --border-grey-nav: #3f404a #3f404a #282b3c #3f404a;
    --bg-white: #282b3c;
    --primary1-color: #fff;
    --form-control-bg: #282b3c;
    --text-black: #fff;
}

.page-container {
    padding-left: 0px;
}

.breadcrumb-nav {
    padding-left: 27px;
}

.nav-toggle-btn {
    display: none;
}

.breadcrumb {
    margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bg-light-blue {
    background: var(--light-blue) !important
}

.text-blue {
    color: var(--dark-blue) !important
}

.bg-light-purple {
    background: var(--light-purple) !important
}

.text-purple {
    color: var(--dark-purple) !important
}

.bg-light-red {
    background: var(--light-red) !important
}

.text-red {
    color: var(--dark-red) !important
}

.bg-light-yellow {
    background: var(--light-yellow) !important
}

.text-yellow {
    color: var(--dark-yellow) !important
}

.bg-light-green {
    background: var(--light-green) !important;
}

.text-green {
    color: var(--dark-green) !important
}

.highcharts-credits {
    display: none;
}

.top-card {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 6px var(--common-shadow-one);
    position: relative;
    min-height: 120px;
}

.top-card-header {
    padding: .5rem 1rem .2rem;
}

    .top-card-header h4 {
        font-size: .9rem;
    }

    .top-card-header h3 {
        font-size: 1.7rem;
        margin-top: 0.5rem;
    }

        .top-card-header h3 small {
            font-size: .9rem;
            color: #6f6f6f;
        }

.top-card-body {
    padding: .5rem 1rem;
}

    .top-card-body i {
        right: 9px;
        font-size: 3.5rem;
        position: absolute;
        top: 37px;
        color: #95999b21;
    }

.dashboard-portlet {
    position: relative;
    box-shadow: var(--common-shadow-two);
    border-radius: 4px;
    margin-bottom: 1rem;
    background: var(--card);
    min-height: 370px;
}

.dashboard-portlet__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-grey);
    padding: 0.8rem 1rem 0;
    align-items: center;
}

    .dashboard-portlet__header h5 {
        font-size: 1.1rem;
        color: #1f1f1f;
        margin-bottom: 0.5rem;
    }

.dashboard-portlet__content {
    padding: 1rem;
    position: relative;
}

.dashboard-portlet__content__chart {
    height: 295px;
}

.last-seven-day-chart {
    height: 130px;
    width: 800px;
}

.dashboard-portlet__content__details {
    height: 290px;
    overflow: hidden;
    overflow-y: auto;
}

.total-section {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;
    padding: 0rem;
    border-radius: 4px;
}

    .total-section h2 {
        font-size: 1.4rem;
        color: var(--dark-blue);
        font-weight: 600;
    }

.permit-list {
    margin: 0;
}

    .permit-list li {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 0;
        align-items: center;
        border-bottom: 1px dashed #c7c7c7;
    }

        .permit-list li span {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--text-black);
        }

        .permit-list li:last-child {
            border-bottom: 0;
        }

.filter-section {
    display: flex;
    align-items: center;
}

    .filter-section span {
        margin: 0 10px 0 20px;
    }

    .filter-section .form-control {
        height: 32px;
        min-width: 100px;
        padding: 0 .5rem;
        background: var(--form-control-bg);
        border-color: var(--border-grey);
        width: auto;
    }

.nav-tabs {
    margin-bottom: 0;
    border: 0;
    float: left;
}

    .nav-tabs .nav-link {
        color: #777777;
        font-size: .95rem;
        padding: 0.4rem 1rem;
        font-weight: 600;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        text-transform: capitalize;
        border: 1px solid var(--border-grey);
        position: relative;
        flex: initial;
        margin-left: 0.25rem;
        background: var(--bg-white);
        margin-right: 0;
        line-height: 1;
    }

        .nav-tabs .nav-link:hover {
            background: #f6f6f6;
            color: #000;
        }

        .nav-tabs .nav-link.show, .nav-tabs .nav-link.active {
            color: var(--primary1-color);
            background-color: var(--bg-white);
            border-color: var(--border-grey-nav);
        }

@media screen and (max-width: 1440px) {
    .top-card-header {
        padding: .5rem .8rem .2rem;
    }

        .top-card-header h4 {
            font-size: 1rem;
        }

    .top-card-body {
        padding: .5rem .8rem;
    }

        .top-card-body .chart-section {
            flex: 0 0 100%;
        }

    .dashboard-portlet {
        margin-bottom: 1.5rem;
    }

    .dashboard-portlet__header h5 {
        font-size: 1rem;
    }

    .nav-tabs .nav-link {
        font-size: .9rem;
        padding: 0.4rem .6rem;
    }

    .dashboard-portlet__content__chart {
        height: 250px;
    }
}

@media screen and (max-width: 992px) {
    .dashboard-portlet {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .top-total-section {
        margin-top: 90px;
    }

    .top-card {
        min-height: 125px;
    }

    .top-total-section .col {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .top-total-section .col {
        min-width: 100%;
        max-width: 100%;
    }
}
