.theme-light {
    --text-color-one: #333333;
}

.theme-dark {
    --text-color-one: #fff;
}


.landing-section .portlet {
    background: var(--bg-light);
    box-shadow: 0px 3px 6px #0000001A;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.landing-section .portlet .icon i {
    font-size: 3rem;
    color: #BF2418;
}

.landing-section .portlet .menu-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.landing-section .portlet:hover {
    background-color: #AA1B22;
    transition: all ease-in-out .5s;
}

    .landing-section .portlet:hover .title,
    .landing-section .portlet:hover .icon i,
    .landing-section .portlet:hover .description p {
        color: #fff;
    }

.landing-section .portlet .title {
    color: #BF2418;
    font-weight: 700;
}

.landing-section .portlet .description p {
    color: var(--text-color-one);
}

@media only screen and (max-width: 1366px) {
    .landing-section .col-lg-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .landing-section .col-lg-2 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media only screen and (max-width: 768px) {
    .landing-section .col-lg-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .page-container {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 640px) {
    .landing-section .col-lg-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



