
@{
    ViewData["Title"] = "CompositeViewListAgreement";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('CompositeViewListAgreement', 'mccl', 'mcclddmo', 'tl', 'Mineral Concension', '31 Minor Mineral  CL e-Auction , Govt. land', ' ');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="CompositeViewList">
                                New
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="CompositeViewListAgreement">
                                Agreement / Registry
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="CompositeViewListApprove">
                                Final Approval
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px" class="text-center">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox1">
                                                        <label class="custom-control-label" for="checkbox1"></label>
                                                    </div>
                                                </th>
                                                <th width="20px">Sl#</th>
                                                <th>Preferred Bidder Name</th>
                                                <th>Auction No.</th>
                                                <th>Auction Date</th>
                                                <th>Mineral Name</th>
                                                <th>Agreement <br><small>Uploaded On</small></th>
                                                <th>History</th>
                                                <th width="100" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                        <label class="custom-control-label" for="checkbox2"></label>
                                                    </div>
                                                </td>
                                                <td>1</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Ryan</a></td>
                                                <td>1056785401</td>
                                                <td>28 Nov 2021</td>
                                                <td>Graphite</td>
                                                <td>30 Nov 2021</td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a href="#" class="btn btn-dark btn-sm text-capitalize" data-toggle="modal" data-target="#exampleModal2">Upload</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox3">
                                                        <label class="custom-control-label" for="checkbox3"></label>
                                                    </div>
                                                </td>
                                                <td>2</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Mackay</a></td>
                                                <td>1056785402</td>
                                                <td>25 Nov 2021</td>
                                                <td>Agate</td>
                                                <td>01 Nov 2021</td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a href="#" class="btn btn-dark btn-sm text-capitalize" data-toggle="modal" data-target="#exampleModal2">Upload</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Applicant Composite License Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Preferred Bidder Name</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Ayushman Pratap</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction No.</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>1056785401</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction Type</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>e-Auction govt land</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">NIT Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>24 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Starting Bid Amount</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>78,00000</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Final Bid Amount</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>92,00000</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Total Area</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12,00</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Bid Unit</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Percentage</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Lease Type</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Auction</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Mineral Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Graphite</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Location (address)</label>
                    <div class="col-lg-9 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>It is a long established fact that a reader will be distracted layout.</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">State</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">District</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Block Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Tehsil</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Village</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Minute with Bid sheet</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">No Dues Certificate</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                    </div>
                </div>


                <div class="pt-3"><a href="#" class="text-primary">Mineral Concession (31 Minor Mineral) Composite License</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Ryan <br />
                    <small>Auction No. : 1056785401</small> | <small>Auction Date : 28 Nov 2021</small>
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">Ryan <br /> <small class="font-weight-bold">(Bidder)</small></span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">21 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                        <p class="mb-0">
                            Agreement Form-4 <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">MRD</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">21 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                        <p class="mb-0">
                            Grant Order  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            Map  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">20 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">19 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Ryan <br /> <small class="font-weight-bold">(Bidder)</small></span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">18 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
                        <p class="mb-0">
                            PS <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            GP  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            NOC <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            Other <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">MRD</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">16 Nov 2021</span>
                        <p class="content_p"> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                        <p class="mb-0">
                            LOI  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">15 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Ryan <br /> <small class="font-weight-bold">(Bidder)</small></span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">13 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
                        <p class="mb-0">
                            Performance Security  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">MRD</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">12 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                        <p class="mb-0">
                            Preferred Bidder Letter  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">11 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Ryan <br />
                    <small>Auction No. : 1056785401</small> | <small>Auction Date : 28 Nov 2021</small>
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Preferred Bidder Name</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Ayushman Pratap</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction No.</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>1056785401</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction Type</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>e-Auction govt land</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">NIT Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Auction Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>24 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Starting Bid Amount</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>78,00000</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Final Bid Amount</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>92,00000</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Total Area</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12,00</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Bid Unit</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Percentage</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Lease Type</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Auction</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Mineral Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Graphite</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Location (address)</label>
                    <div class="col-lg-9 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>It is a long established fact that a reader will be distracted layout.</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">State</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">District</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Block Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Tehsil</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Village</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Minute with Bid sheet</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">No Dues Certificate</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                    </div>
                </div>
                <div class="pt-3 mb-4"><a href="#" class="text-primary">Mineral Concession (31 Minor Mineral) Composite License</a> <span class="icon-download-solid"></span></div>

              
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Upload Agreement/ Registry <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">Choose file...</label>
                            </div>
                            <small><span class="text-danger">Note :</span> Upload document within 60 days</small><br>
                            <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Upload Working Permission Letter <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">Choose file...</label>
                            </div>
                            <small><span class="text-danger">Note :</span> Upload document within 60 days</small><br>
                            <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            <textarea class="form-control" rows="3"></textarea>
                            <small class="text-danger">Maximum character should be <strong>500</strong></small>
                        </div>
                    </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#security-msg" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-outline-danger">Reset</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to submit the data ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>














