@{
    ViewData["Title"] = "License Dashboard";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<style type="text/css">
    .prod-dis-list li {
        display: flex;
        justify-content: space-between;
        padding-bottom: .7rem;
        border-bottom: 1px dotted #ddd;
        padding-top: .7rem;
    }

        .prod-dis-list li span.num {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .prod-dis-list li:last-child {
            padding-bottom: 0rem;
            border-bottom: 0px dotted #ddd;
        }

    .portle3 {
        height: 268px;
    }

    .card {
        margin-bottom: 1.5rem;
    }

    .service-list li p {
        margin-top: 7px;
        margin-bottom: 7px !important;
    }

    .service-list {
        margin-bottom: 1.5rem;
    }

        .service-list li:nth-child(2) h5 {
            color: #c75151;
        }

        .service-list li:nth-child(3) h5 {
            color: #20c160;
        }

        .service-list li:nth-child(4) h5 {
            color: #03a9f4;
        }

        .service-list li:nth-child(5) h5 {
            color: #ffc107;
        }

        .service-list li:nth-child(1) h5 {
            color: #3f3de2;
        }

    .lessee-dashboard .card .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .lessee-dashboard .card .card-header a {
            color: #ffbb33;
        }

            .lessee-dashboard .card .card-header a:hover i {
                color: #ffbb33 !important;
            }

    .lessee-dashboard .card .card-body {
        position: relative;
        padding: 10px;
    }

    .lessee-dashboard :where(.fa-filter,fa-times ) {
        color: rgb(255 255 255);
    }

    .filter-body {
        background: rgb(255 255 255);
        padding: 1rem 1rem 0rem 1rem;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        left: 0;
        box-shadow: 1px 0px 10px rgb(29 46 56 / 19%);
        border-bottom: 1px solid #ddd;
    }

    .lessee-dashboard .table td a:not(.btn) {
        font-size: 18px;
    }
</style>


<section class="wrapper main-wrapper row">
    <div class="col-12">
        <div class="bg-white imp-notice mb-3 d-flex ">
            <span class="bg-warning text-dark d-inline-block py-2 px-3 rounded-left"><i class="khanijicon-e-permit"></i> Important Notice</span>
            <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                <a href="#" class=" py-2 px-3 d-inline-block">All minor/storage license holder, please review your profile immediately. Anything required for updation is highlighted in red colour. Please update the required data and ensure the approval of concern district competent authority to make it effective in portal. Otherwise dispatch though portal may affect.   || Kindly pay Environmental Cess, Infrastructure &amp; Development Cess and TCS offline calculated by portal and update in Khanij Online Portal.</a>
            </marquee>
        </div>
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="form-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-white rounded shadow-sm">
                                <ul class="row no-gutters service-list">
                                    <li class="col">
                                        <i class="khanijicon-e-Permit fa-2x  p-2 rounded-pill"></i>
                                        <p>Ready for e-Permit</p>
                                        <h5>3,456</h5>
                                    </li>
                                    <li class="col">
                                        <i class="khanijicon-Lessee-profile-request fa-2x  p-2 rounded-pill"></i>
                                        <p>Generated e-Permit</p>
                                        <h5>1,317</h5>
                                    </li>
                                    <li class="col">
                                        <i class="khanijicon-lessee fa-2x  p-2 rounded-pill"></i>
                                        <p>Transit Pass</p>
                                        <h5>1,27,213</h5>
                                    </li>
                                    <li class="col">
                                        <i class="khanijicon-Pendency fa-2x  p-2 rounded-pill"></i>
                                        <p>Running</p>
                                        <h5>591</h5>
                                    </li>
                                    <li class="col">
                                        <i class="khanijicon-e-TP fa-2x  p-2 rounded-pill"></i>
                                        <p>Received</p>
                                        <h5>12,622</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-9 pr-xl-1 col-lg-12 lessee-dashboard">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6  col-12">
                                    <div class="card border shadow-sm">
                                        <div class="card-header bg-brown text-white d-flex align-items-center">
                                            <span class="font-weight-bold">Mineral Received (<small class="fas fa-rupee-sign"></small>)</span>
                                            <a href="#" id="show-hidden-ditails"><i class="fas fa-filter"></i></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="hidden-ditails filter-body">
                                                <div class="row ">
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Year</option>
                                                            <option>2021</option>
                                                            <option>2020</option>
                                                            <option>2019</option>
                                                            <option>2018</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-2 col-sm-12 form-group">
                                                        <a href="#" class="btn btn-primary btn-sm m-0">Show</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-scroll portle3">
                                                <div class="mr-2">
                                                    <ul class="mb-0 p-0 prod-dis-list">
                                                        <li>
                                                            <span>Permitted Quantity</span>
                                                            <span class="num">45,000000</span>
                                                        </li>
                                                        <li>
                                                            <span>Permit Taken</span>
                                                            <span class="num">70,00000</span>
                                                        </li>
                                                        <li>
                                                            <span>Dispatched</span>
                                                            <span class="num">1,500</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6  col-lg-6  col-12">
                                    <div class="card border shadow-sm">
                                        <div class="card-header bg-brown text-white d-flex align-items-center">
                                            <span class="font-weight-bold">Mineral Dispatched (<small class="fas fa-rupee-sign"></small>)</span>
                                            <a href="#" id="show-hidden-ditails2"><i class="fas fa-filter"></i></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="hidden-ditails2 filter-body">
                                                <div class="row ">
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Year</option>
                                                            <option>2021</option>
                                                            <option>2020</option>
                                                            <option>2019</option>
                                                            <option>2018</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-2 col-sm-12 form-group">
                                                        <a href="#" class="btn btn-primary btn-sm m-0">Show</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-scroll portle3">
                                                <div class="mr-2">
                                                    <ul class="mb-0 p-0 prod-dis-list">
                                                        <li>
                                                            <span>Paid Royalty</span>
                                                            <span class="num">5678597245</span>
                                                        </li>
                                                        <li>
                                                            <span>Infrastructure & Development Cess</span>
                                                            <span class="num">81803718</span>
                                                        </li>
                                                        <li>
                                                            <span> Environmental Cess</span>
                                                            <span class="num">81803718</span>
                                                        </li>
                                                        <li>
                                                            <span> DMF</span>
                                                            <span class="num">1703579226</span>
                                                        </li>
                                                        <li>
                                                            <span> NMET</span>
                                                            <span class="num">113571927</span>
                                                        </li>
                                                        <li>
                                                            <span> Monthly Periodic Amount</span>
                                                            <span class="num">0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6  col-lg-6  col-12" ">
                                    <div class="card border  shadow-sm">
                                        <div class="card-header bg-brown text-white d-flex align-items-center">
                                            <span class="font-weight-bold">e-Permit (<small class="fas fa-rupee-sign"></small>)</span>
                                            <a href="#" id="show-hidden-ditails3"><i class="fas fa-filter"></i></a>

                                        </div>
                                        <div class="card-body">
                                            <div class="hidden-ditails3 filter-body">
                                                <div class="row ">
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Year</option>
                                                            <option>2021</option>
                                                            <option>2020</option>
                                                            <option>2019</option>
                                                            <option>2018</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-2 col-sm-12 form-group">
                                                        <a href="#" class="btn btn-primary btn-sm m-0">Show</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive ">
                                                <table class="table mb-lg-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th class="text-right">Total Amount </th>
                                                            <th class="text-right">Paid Amount</th>
                                                            <th class="text-right">Paid but pending for verification</th>
                                                            <th class="text-right">Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Monthly Periodic Amount</td>
                                                            <td class="text-right"><a href="javascript:void(0);"> 1200634</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">21458494</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Environmental Cess</td>
                                                            <td class="text-right"><a href="javascript:void(0);">2006202</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">514840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>TCS </td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">214512</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Infrastructure & Development Cess</td>
                                                            <td class="text-right"><a href="javascript:void(0);"> 220062004</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6  col-lg-6  col-12" ">
                                    <div class="card border shadow-sm">
                                        <div class="card-header bg-brown text-white d-flex align-items-center">
                                            <span class="font-weight-bold">e-Transit Pass (<small class="fas fa-rupee-sign"></small>)</span>
                                            <a href="#" id="show-hidden-ditails4"><i class="fas fa-filter"></i></a>

                                        </div>
                                        <div class="card-body">
                                            <div class="hidden-ditails4 filter-body">
                                                <div class="row ">
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Year</option>
                                                            <option>2021</option>
                                                            <option>2020</option>
                                                            <option>2019</option>
                                                            <option>2018</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 form-group">
                                                        <select class="form-control">
                                                            <option value="Select">Select Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-2 col-sm-12 form-group">
                                                        <a href="#" class="btn btn-primary btn-sm m-0">Show</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive ">
                                                <table class="table mb-lg-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th class="text-right">Total Amount</th>
                                                            <th class="text-right">Paid Amount</th>
                                                            <th class="text-right">Paid but pending for verification</th>
                                                            <th class="text-right">Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Monthly Periodic Amount</td>
                                                            <td class="text-right"><a href="javascript:void(0);"> 1200634</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">21458494</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Environmental Cess</td>
                                                            <td class="text-right"><a href="javascript:void(0);">2006202</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">514840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>TCS </td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">214512</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Infrastructure & Development Cess</td>
                                                            <td class="text-right"><a href="javascript:void(0);"> 220062004</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">900</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">546840</a></td>
                                                            <td class="text-right"><a href="javascript:void(0);">12458494</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 pr-lg-1">
                                    <div class="card border shadow-sm">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <i class="khanijicon-Through-licensee mr-2"></i>
                                            <span class="font-weight-bold">Through Licensee </span> <small> (e-Transit Pass)</small> <a href="#" title="Refresh" class="ml-auto"><i class="khanijicon-refresh text-dark font-weight-bold text-dark"></i> </a>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="text-center pt-3 pendency-section">
                                                            <i class="khanijicon-e-permit circle-box-icon blue darken-1 text-white p-2 rounded-pill"></i>
                                                            <p class="mb-0 mt-3"> TP</p>
                                                            <h5 class="mb-0 mt-1 font-weight-bold">191513</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="text-center pt-3 pendency-section">
                                                            <i class="khanijicon-e-permit circle-box-icon blue darken-1 text-white p-2 rounded-pill"></i>
                                                            <p class="mb-0 mt-3"> RPTP</p>
                                                            <h5 class="mb-0 mt-1 font-weight-bold">22</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="text-center pt-3 pendency-section">
                                                            <i class="khanijicon-e-permit circle-box-icon  blue darken-1 text-white p-2 rounded-pill"></i>
                                                            <p class="mb-0 mt-3"> RTP</p>
                                                            <h5 class="mb-0 mt-1 font-weight-bold">33</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-lg-12">
                            <div class="bg-white card-body reptlnk-section rounded">

                                <div class="card card-toggle border shadow-sm mb-0">
                                    <div class="card-header border-top border-dark d-flex justify-content-between">
                                        Reports
                                        <div class="actions panel_actions float-right">
                                            <a class="box_toggle fa fa-chevron-up"></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li> <a href="#">e-Permit Purchaser Consignee</a> </li>
                                            <li> <a href="#">e-Transit Pass Royalty Details</a> </li>
                                            <li> <a href="#">Updated Offline TP</a> </li>
                                            <li> <a href="#">Transit Pass</a> </li>
                                            <li> <a href="#">RTP e-Pass</a> </li>
                                            <li> <a href="#">Demand Note</a> </li>
                                            <li> <a href="#">TP Cancellation Report</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>
@Html.Partial("_footer")
<!-- END CONTENT -->

<script>
    $(document).ready(function () {
        loadNavigation('lesseedashboard', 'gldashboard', 'plLnk', 'tl', 'Dashboard', '', '');
    });
</script>