.head-sec .header {background: #161414;}
header.bg-white {
    background-color: #161414!important;
}
.contact-culm a:not(.btn) {
    color: #ffffff;
}
.head-sec .header ul.top-link li:nth-child(3) a, .head-sec .header ul.top-link li:nth-child(4) a, .head-sec .header ul.top-link li:nth-child(5) a {
    color: #fff;
}
.head-sec .header ul li a:not(.btn):hover {
    color: #e4b948;
}

.resource-mineral-sec{
    background: #333333;
}
.statistics-sec,.mineral-sec,.portals-sec,.gallery-sec{
    background: #161414;
}

.sec-heading{
    color:#fff!important;
}
.card {
    border: 1px solid #5f5c5c;
    background-color: #1d1e26;
}
.card-header.bg-white {
    background-color: #04050d!important;
    border-bottom: 1px solid #3b3b3b;
}

.text-dark {
    color: #fff !important;
}

.info-box-leases:first-child:after, .info-box-leases:nth-child(2):after, .info-box-leases:nth-child(4):after {
   
    background-color: #3b3b3b;
}

.portals-sec .portal-border-right:first-child:after, .portals-sec .portal-border-right:nth-child(2):after, .portals-sec .portal-border-right:nth-child(4):after {
    
    background-color:  #3b3b3b;
}
.border-bottom {
    border-bottom: 1px solid #3b3b3b!important;
}

.highcharts-legend-item text {
    fill: #fff !important;
    color: #fff !important;
}



.tender-noti-reg-sec .card {
    background-color: rgb(29 30 38);
}

.tender-noti-reg-sec .card .card-header.bg-transparent
{
    background-color: #04050d!important;
}

.icon-contribution:before,.icon-sanctioned_work:before,.icon-completed_work:before {
    color: #8d3610;
}

.head-sec{
    background-color: #161414;
}

.login-section {
    color: #fff;
    background-color: #333;
}

.login-header.border-bottom
{
    border-bottom: 1px solid #e9e9e957!important;
}

.bg-blue {
    background-color: #d56808 !important;
}
.registration .btn-secondary {
    background-color: #d56808 !important;
    border-color: rgb(213 105 9 / 14%)!important;
}

.gallery-sec .btn-primary {
    background-color: #d56808;
    border-color: rgb(213 105 9 / 14%)!important;
}

.login-section .login-body .btn-pink {
    background-color: #d56808;
}

.login-section .login-body .btn-pink:hover {
    background-color: #8d3610;
}

.head-sec .header ul.top-link {
    background-color: #04050d;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(51 51 51);
}

.border-brown-900 {
    border-color: #585859 !important;
}
.highcharts-axis-labels text {
    fill: #868585 !important;
    stroke-width: 0;
}
.head-sec .header ul.top-link {
    box-shadow: 0 0.5rem 0.5rem 0 rgb(51 51 51 / 0%);
}
.contact-culm .border-bottom {
    border-bottom: 1px solid #545453 !important;
}

.icon-total:before {
    content: "\e9e1";
    color: #e1e4e83b;
}

.owl-slider .item .card {
    border: 1px solid #5f5c5c;
}

.resource-mineral-sec .bg-blue , .resource-mineral-sec .bg-brown-900 
{
    background-color: #69676545 !important;
}

.tender-noti-reg-sec {
    background-image: none;
    background-color: #333333;
}

.contact-dtls li small
{
    color: rgb(221 221 221 / 75%);
}

.login-section .form-control, .login-section .forgot {
    color: #fff;
}


@media screen and (max-width: 768px) 
{
   .contact-culm .border-bottom {
        border-bottom: 0px solid #545453 !important;
   }
}
