@charset "UTF-8";
.imp-notice a {
  color: #28292f;
  font-weight: 600;
}
.imp-notice a:hover {
  color: #d9534f;
}
.imp-notice span {
  font-weight: 500;
  white-space: nowrap;
}

.service-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.service-list li {
  text-align: center;
  padding: 1rem 1.5rem;
}
.service-list li h5 {
  margin: 0;
  font-weight: 600;
}
.service-list li p {
  margin: 0.2rem 0;
  font-weight: 500;
  color: #060709;
}
.service-list li i {
  color: #fff;
  box-shadow: 1px 1px 10px #797474;
}

.service-list li:nth-child(1) i {
  background-color: #3f3de2;
}

.service-list li:nth-child(2) i {
  background-color: #c75151;
}

.service-list li:nth-child(3) i {
  background-color: #20c160;
}

.service-list li:nth-child(4) i {
  background-color: #03a9f4;
}

.service-list li:nth-child(5) i {
  background-color: #ffc107;
}

.service-list li:nth-child(6) i {
  background-color: #ff5722;
}

.service-list li:nth-child(7) i {
  background-color: #5c93a8;
}

.service-list li:nth-child(8) i {
  background-color: #e91e63;
}

.service-list li:nth-child(9) i {
  background-color: #8bc34a;
}

.custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar {
  width: 0.4em;
  height: 0.6em;
}
.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ddd;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #3a3b45;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.pendency-section a, .applicationicon-box a {
  color: #000;
}
.pendency-section a:hover, .applicationicon-box a:hover {
  color: #03a9f4;
}

.card {
  margin-bottom: 0.5rem;
}
.card-header {
  font-size: 1.2rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 500;
  background-color: #fff;
  border-top-width: 3px !important;
  border-bottom-color: #dddfeb !important;
}
.card-header a {
  color: #858796;
}
.card-header a:hover {
  color: #d9534f;
}
.card-header a:hover i {
  color: #8d3610;
}
.card-header a i {
  font-size: inherit;
}
.card-header i {
  font-size: 1.5rem;
}
.card-body .more {
  padding: 1rem 0 0 0;
  text-align: right;
}
.card-body .more a {
  font-size: 0.8rem;
}
.card-body .more a:hover {
  color: #d9534f !important;
}
.card-body .more a:hover i {
  color: #d9534f !important;
}
.card-body .more a i {
  color: #6e707e;
}
.card table th {
  background-color: inherit;
  font-weight: bold;
}
.card table.table-borderless {
  border: solid 1px #dddfeb;
}
.card table.table-borderless thead {
  border-radius: 0.35rem;
  border-bottom: solid 1px #dddfeb;
}

.pendency-section .circle-box-icon {
  font-size: 1.6rem;
}
.pendency-section p {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.applicationicon-box h5 {
  font-weight: bold !important;
}
.applicationicon-box h5 small {
  font-size: 62%;
  font-weight: normal;
}
.applicationicon-box i {
  font-size: 1.6rem;
}

@media (max-width: 1400px) {
  .service-list {
    margin-bottom: 0.5rem;
  }

  .card {
    margin-bottom: 0.55rem;
  }
  .card-header {
    font-size: 1rem;
  }
  .card-body {
    padding: 0.8rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .card table.table-sm th,
.card table.table-sm td {
    font-size: 0.8rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }
}
.lessee-list {
  padding: 0;
}
.lessee-list li {
  list-style: none;
}
.lessee-list li .cont-box {
  margin: 0 0.45rem;
  padding: 1.25rem 1.5rem;
  overflow: hidden;
}
.lessee-list li .cont-box p {
  line-height: 1.1rem;
  min-height: 38px;
}
.lessee-list li .cont-box h4 {
  margin: 0;
  font-weight: bold;
}
.lessee-list li .cont-box a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 1400px) {
  .lessee-list li .cont-box {
    margin: 0 0.15rem;
    padding: 1.2rem 0.15rem;
  }
  .lessee-list li .cont-box p {
    font-size: 0.75rem;
  }
}
@media (max-width: 1152px) {
  .lessee-list li .cont-box p {
    font-size: 0.7rem;
  }
}
.payment-tabe .card-header a {
  color: #fff;
}
.payment-tabe .card-header a:hover i {
  color: #ffa61c;
}
.payment-tabe .card-header a i {
  color: #fff;
}
.payment-tabe .form-control {
  background-color: #8d3610;
  color: #ffffff;
  border: 0;
  font-size: 0.8rem;
  min-width: 120px;
  box-shadow: 1px 1px 10px #eeeeee3b;
}
.payment-tabe .table th {
  background-color: #efefef;
}

.reptlnk-section .card-header {
  padding-top: 0.66rem !important;
  padding-bottom: 0.66rem !important;
}
.reptlnk-section .card-body {
  padding: 0.6rem 0.8rem !important;
}
.reptlnk-section ul {
  padding: 0;
  margin: 0;
}
.reptlnk-section ul li {
  font-size: 0.82rem;
  list-style: none;
  padding: 0.3rem 0.2rem 0.3rem 1rem;
  position: relative;
  line-height: 1.4rem;
}
.reptlnk-section ul li::before {
  position: absolute;
  left: 0;
  top: 0.3rem;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #4057d6;
}
.reptlnk-section ul li a {
  color: #435b8f;
}
.reptlnk-section ul li a:hover {
  color: #d9534f;
}

@media (max-width: 1400px) {
  .reptlnk-section {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .reptlnk-section .card {
    margin-bottom: 0.3rem;
  }
  .reptlnk-section .card-header {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }
  .reptlnk-section .card-body {
    padding: 0.3rem 0.8rem !important;
  }
  .reptlnk-section ul li {
    font-size: 0.82rem;
    padding: 0.17rem 0.2rem 0.17rem 1rem;
    line-height: 1.2rem;
  }
  .reptlnk-section ul li::before {
    top: 0.2rem;
  }
}
@media (max-width: 1152px) {
  .reptlnk-section .card-header {
    border-top-width: 2px !important;
  }
  .reptlnk-section ul li {
    width: 50%;
    float: left;
  }
}
.custom-dropdown {
  background-color: #8d3610;
  z-index: 1;
}
.custom-dropdown:hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-dropdown h5 {
  font-weight: 500;
}
.custom-dropdown h5 small {
  font-size: 65%;
  color: rgba(255, 255, 255, 0.75);
}
.custom-dropdown a i {
  font-size: 1.4rem;
}
.custom-dropdown .dropdown-menu {
  font-size: 0.85rem;
  background-color: #eaecf4;
  border-top: solid 4px #8d3610;
  margin-top: 0;
}
.custom-dropdown.amber .dropdown-menu {
  border-top-color: #ffa61c;
}

.portle1 {
  height: 270px;
}

.portle2 {
  height: 270px;
}
@media (max-width: 1366px) {
  .portle2 {
    height: 240px;
  }
}

.portle3 {
  height: 395px;
}

@media (max-width: 1400px) {
  .custom-dropdown h5 small {
    font-size: 60%;
  }

  .portle1 {
    height: 265px;
  }

  .portle3 {
    height: 300px;
  }

  .portle3 {
    height: 364px;
  }
}

/*# sourceMappingURL=dashboard.css.map */
