
.spotlight-group a{
    display: inline-block;
}
.spotlight-group b{
    display: block;
    padding: 10px;
}
.spotlight-group button{
    padding: 5px 10px;
}
.spotlight-group img,
.image{
     
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    width: 30vw;
    max-width: 577px;
}


.spotlight-group .image{
    display: inline-block;
    height: 20vw;
    max-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight{position:relative;}


.gallery-hover span {
    left: 47%;
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    padding: .7rem;
    border-radius: 50%;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.53);
    opacity: 0;
}
.spotlight-group a:hover .gallery-hover span {
    opacity: 1;
}
.spotlight-group a:hover .gallery-hover {
    opacity: 1;
}
.spotlight.image{
    cursor: pointer;
}

@media screen and (max-width: 1366px)
{
    .spotlight-group img,
    .image{
       width: 29vw;
    }
}

@media screen and (max-width: 768px)
{
    .spotlight-group img,
    .image{
        width: 28vw;
    }
}

@media screen and (max-width: 640px)
{
    .spotlight-group img,
    .image{
        width: 82vw;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 576px)
{
    .spotlight-group img,
    .image{
        width: 96vw;
            margin-right: 0rem;
    margin-bottom: 1rem;
    }
}