@model HomeEF.LoginEF
@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Message != null)
{
    <script>

    alert('@ViewBag.Message');

    </script>
}
<div class="login-page">
    <div class="logo-section">
        <a class="navbar-brand" href="Default.aspx">
            <img src="~/img/govt-logo.png" class="login-logo" alt="Logo" />
            <h4>
                Mineral Resources Department
                <small class="d-block">Government of Chhattisgarh</small>
            </h4>
        </a>
    </div>
    <div class="login-box">
        <div class="left-sec-img">
            <img src="~/img/crane.png" class="left-sec-img-bg" alt="login-image" />
            <img src="~/img/ores.png" class="ore-img" alt="login-image"/>
            <div class="welcome-text">
                <h2 class="mb-0">

                    <small>Welcome to </small>
                    Khanij Online Portal
                </h2>

            </div>
        </div>

        <div class="right-sec-content">
            @*<div class="home"> <a href="/Website/Website/home" title="Go to Website " class="text-brown"><i class="fas fa-home fa-1x"></i></a></div>*@
            <img src="~/img/khanijonline22.png" class="khanij-mineral-logo" alt="login-image" />
            <div class="login-body">
                <h2 class="mb-3">Login</h2>
                @using (Html.BeginForm("UserLogin", "Home", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">

                            <div class="addon"><i class="fas fa-user"></i></div>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Id" })
                            @*<input type="text" class="form-control" placeholder="User Id">*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">

                            <div class="addon"> <i class="fas fa-key"></i></div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Passwords" })
                            @*<input type="text" class="form-control" placeholder="Password">*@
                        </div>
                    </div>
                    <div class="captcha-sec">

                        <div class="form-group">
                            <div class="input-group">

                                <div class="addon"> <a class="" href="#"><i class="fas fa-redo-alt"></i></a></div>

                                <img class="captcha-img" src="~/img/captcha.png" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">



                                <input type="text" class="form-control" placeholder="Enter Captcha">
                            </div>
                        </div>
                    </div>


                    <div class=" text-right">
                        <a href="/Website/Website/ForgotPassword" class="forgot" title="Password Lost and Found"><small>Forgot password?</small></a>
                    </div>


                    @*<a href="dashboard/Dashboard" class="log-link">LOGIN</a>*@
                    <input type="submit" value="Sign In" name="Submit" id="Submit" class="log-link" />
                    <div class="text-center">
                        <a href="/Website/Website/home"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to Home</a>
                    </div>
                }
            </div>

        </div>





    </div>


</div>
<p class="copy-right">© 2021 Khanij. All rights reserved.</p>