.summary-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

    .summary-cards .sum-details {
        flex: 0 0 calc(100%/5 - 1rem);
        text-align: center;
        border: 1px solid #e4e4e4;
        margin: 0 10px 10px 10px;
        padding: .4rem 1rem;
        border-radius: 3px;
    }

        .summary-cards .sum-details:first-child {
            margin-left: 0
        }

        .summary-cards .sum-details:last-child {
            margin-right: 0
        }

        .summary-cards .sum-details p {
            margin-bottom: .2rem;
            font-weight: 600;
        }

        .summary-cards .sum-details h4 {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 600;
        }

.user-info-detilas {
    background: #fff8f5;
    padding: 1rem;
    border-radius: 5px;
    color: #464646;
}

    .user-info-detilas .right-section {
        text-align: right
    }

    .user-info-detilas h4 {
        font-size: 1.1rem;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid #e8d2c8;
        padding-bottom: .3rem;
        color: #8d3610;
        text-transform: uppercase;
        font-weight: 550;
    }

    .user-info-detilas h6 {
        font-weight: 600;
        font-size: 1rem;
        color: #c34b17;
    }

.histroy-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

    .histroy-section .histroy-section-user {
        flex: 0 0 130px;
        text-align: center;
    }

        .histroy-section .histroy-section-user .histroy-section-media-image {
            height: 40px;
            width: 40px;
            margin: 0 auto .5rem;
            overflow: hidden;
            border-radius: 100%;
        }

            .histroy-section .histroy-section-user .histroy-section-media-image img {
            }

        .histroy-section .histroy-section-user h4 {
            font-size: 12px;
            margin-bottom: 0;
            font-weight: 600;
            color: #5d5d5d;
            line-height: 18px;
        }




    .histroy-section .histroy-section-detail {
        flex: 0 0 calc(100% - 130px);
        padding: 0 1rem;
        border-left: 1px solid #dadada;
        color: #4e4e4e;
    }

@media screen and (max-width: 1440px) {
    .summary-cards .sum-details {
        padding: .4rem .5rem;
        border-radius: 3px;
    }

    .summary-cards {
        margin-bottom: .5rem;
    }
}
@media screen and (max-width: 800px) {
   

    .user-info-detilas {
        margin-bottom: 1rem;
    }

}

