a {
    color: #8d3610;
    text-decoration: none;
    background-color: transparent;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
    background: #fff;
}

.top-menu {
    position: relative;
    z-index: 1;
    background: #fff url(../img/headerbg.png) center no-repeat;
    padding: 0 4rem;
}

.top-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 37%;
    height: 100%;
    background: #8d3610;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew( -45deg );
    -ms-transform: skew(-45deg);
    transform: skew( -45deg );
    z-index: -1;
}

.top-menu .navbar {
    text-align: left;
}

.top-menu .navbar {
    padding: 0.3rem 0 0.4rem 0;
    z-index: 0;
}

.top-menu .navbar .navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0;
}

.top-menu .navbar .navbar-brand .login-logo {
    height: 70px;
    margin-right: 1rem;
}

.top-menu .navbar .navbar-brand h1 {
    font-size: 1.4rem;
}

.top-menu .header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.top-menu .header ul.top-link {
    font-size: 0.9rem;
    padding: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: .3rem;
}

.top-menu .header ul.top-link li:first-child {
    padding-left: 0;
}

.top-menu .header ul.top-link li {
    padding: 0 0.8rem 0.2rem 0.8rem;
}

.top-menu .header ul.contact-dtls {
    padding: 0;
}

.top-menu .header ul.contact-dtls li {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.top-menu .header ul.contact-dtls li i {
    padding-top: 0rem;
    color: #d9534f;
    font-size: 1.6rem;
}

.top-menu .header ul.contact-dtls li h6 {
    font-weight: bold;
}

.contact-culm a:not(.btn) {
    color: #3a3b45;
}

header .navbar.menu-bar {
    background-color: #333;
    padding: .25rem 4rem;
}

header .navbar.menu-bar .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: .4rem 1rem;
    font-weight: 400;
    color: #fff;
}

header .navbar.menu-bar .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0rem;
}

header .navbar.menu-bar .navbar-nav .nav-item .nav-link.active, header .navbar.menu-bar .navbar-nav .nav-item .nav-link:hover {
    color: #ffa61c;
}

header .navbar.menu-bar .navbar-nav .nav-item .dropdown-menu {
    font-size: 0.9rem;
    max-width: 15rem;
    min-width: 15rem;
    border-radius: 3px !important;
    background-color: #3a3a3a;
    border: 0px solid rgba(227, 230, 240, 0.17);
    position: absolute;
    padding: 0;
}

header .navbar.menu-bar .navbar-nav .nav-item .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.4rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.head-sec .navbar.menu-bar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #ffa61c;
    background-color: #333;
}

header .navbar.menu-bar .navbar-nav .nav-item .dropdown-item:hover, header .navbar.menu-bar .navbar-nav .nav-item .dropdown-item:focus {
    color: #ff9566;
    text-decoration: none;
    background-color: #3e3e3e;
}

header .navbar.menu-bar .khanij-online {
    padding: 0;
    margin: 0;
}

ul.khanij-online li:first-child a img {
    height: 32px;
}

ul.khanij-online li:first-child .web-based-title {
    position: absolute;
    right: 2%;
    top: 0%;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
}

ul.khanij-online {
    list-style: none
}

ul.khanij-online li:first-child {
    position: absolute;
    right: 240px;
    top: 5px;
    width: 259px;
    background-color: #d56808;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #de9f48;
}

header .navbar.menu-bar .khanij-online li a.mrd-btn {
    background-color: #d56808;
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    text-decoration: none;
}

.dark-theme {
    width: 13px;
    height: 13px;
    float: right;
    background: #000;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
}

.white-theme {
    width: 13px;
    height: 13px;
    float: right;
    background: #fff;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
}

.footer-links {
    background: #333;
    padding: 1rem 0;
    text-align: center;
}

.footer-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.footer-links ul li a {
    color: #fff;
    margin: 0 1rem;
}

.copyright-text {
    background: #2b2b2b;
    color: #777;
    font-size: 14px;
    padding: 1rem 0;
    text-align: center;
}

.footer-container {
    background: #3c3b3b;
    color: #afafaf;
}

.top-footer {
    padding: 4rem 4rem;
}

.top-footer h4 {
    margin-bottom: 1.5rem;
}

.footer-container ul.footer-top-links {
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}

.footer-container ul.footer-top-links a {
    color: #8a8a8a;
    margin-bottom: .75rem;
    display: inline-block;
}

.footer-container ul.footer-top-links a:hover {
    color: #cc744d;
    text-decoration: none
}

.scrollup {
    background-color: #333333;
    border: none;
    border-radius: 4px;
    color: #d56808;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 1rem;
    overflow: hidden;
    right: 2rem;
    text-align: center;
    /* box-shadow: 0 0px 6px #333333; */
    border: 2px solid #d56808;
    transition: all ease-in-out .5s;
    z-index: 999;
}

.scrollup:hover {
    background: #000
}

.scrollup:before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border: 4px solid #d56808;
    transform: rotate(45deg);
    left: 14.5px;
    border-bottom: 0;
    top: 19px;
    border-right: 0;
}

.btn {
    border-radius: 3px;
    padding: .3rem 1rem;
    text-align: center
}

.btn.btn-brown {
    background: #a7471d;
    color: #fff;
}

.btn.btn-brown:hover, .btn.btn-brown:focus {
    background: #822700;
    outline: none;
}

.btn.btn-outline-brown {
    border-color: #a7471d;
    color: #a7471d
}

.btn.btn-outline-brown:hover, .btn.btn-outline-brown:focus {
    color: #fff;
    background: #a7471d
}

@media screen and (max-width: 1680px) {
    .top-menu {
        background-position: 30%;
    }
}

@media screen and (max-width:1600px) {
    .top-menu {
        background-position: 20%;
    }
}

@media screen and (max-width:1440px) 
{
    .top-menu {
        background-position: -6%;
        padding: 0 1.5rem;
    }
    header .navbar.menu-bar {    
        padding: .25rem 1.5rem;
    }
    header .navbar.menu-bar .navbar-nav .nav-item .nav-link {       
        padding: .4rem .8rem;      
    }
    .top-footer {
        padding: 2rem;
    }
    .top-footer h4 {
        margin-bottom: 1.3rem;
    }
    ul.khanij-online li:first-child {
        right: 198px;      
    }
}


@media screen and (max-width: 1370px) 
{
    .top-menu::before {
        width: 40%;
    }

    .top-menu {
        background-position: -25%;
    }

    header .navbar.menu-bar .navbar-nav .nav-item .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    ul.khanij-online li:first-child {
        width: 248px;
    }
}

@media screen and (max-width: 1280px) 
{
    .top-menu::before {
        width: 44%;
    }

    .top-menu {
        background-position: -60%;
    }
}

@media screen and (max-width: 1024px) 
{
    .top-menu {
        background-image: none;
    }

    .top-menu::before {
        width: 54%;
    }

    ul.khanij-online li:first-child, header .navbar.menu-bar .khanij-online li a.mrd-btn {
        display: none;
    }
}

@media screen and (max-width: 992px) 
{
    .top-menu::before {
        width: 55%;
    }
}

@media screen and (max-width: 768px) 
{
    .top-menu .contact-culm {
        padding:0;
        width: 100%;
        position: relative;
        
    }

    
    .top-menu .toplnk-mobile {
        position: absolute;
        top: -43px;
        right: 0px;
        color: #fff !important;
    }

    .top-menu ul.top-link {
        position: absolute;
        right: 0px;
        top: 4px;
        display: inherit;
        background-color: #f8eeea;
        box-shadow: 0 0.5rem 0.5rem 0 rgb(0 0 0 / 43%);
        border-radius: 0.2rem;
        padding: 0rem
    }

    .top-menu ul.top-link li:first-child {
        padding-left: 0.6rem !important;
    }

    .top-menu .header ul {
        justify-content: center;
    }

    .top-menu::before {
        width: 119%;
        left: 0rem;
        height: 100%;
    }

    header.fix-header .top-menu::before {
        height: 100%;
        border-bottom: solid 2px #333;
    }

    .navbar-toggler {
        color: #fff !important;
        border-color: transparent !important;
    }

    header .navbar-collapse {
        width: 300px;
        height: 100vh;
        position: fixed;
        left: -350px;
        top: 119px;
        padding: 1rem 1rem 1rem 2rem;
        background-color: #111111;
        bottom: 0;
        display: block !important;
    }
    header .navbar-collapse.show {
        left:0;
    }
    header .navbar.menu-bar .navbar-nav .nav-item:first-child .nav-link {
        padding-left: 0.5rem;
    }
    .contact-dtls {
        display:none!important;
    }
    header .navbar.menu-bar .navbar-nav .nav-item .dropdown-menu {
        background-color: #111111;
        position: relative;
    }
}

@media screen and (max-width:576px) 
{
    .top-menu {
        padding: 0px 1rem;
    }
    .top-menu .header ul {
        justify-content: space-around;
    }
    header .navbar.menu-bar {
        padding: .25rem .5rem;
    }
}

@media screen and (max-width: 530px) 
{
    .top-menu .navbar .navbar-brand h1 {
        font-size: 1.1rem;
    }
    .top-menu .navbar .navbar-brand .login-logo {
        height: 40px;
    }
    header .navbar-collapse {
        top: 90px;
    }
    .top-menu .toplnk-mobile {
        top: -35px;
    }
    .top-menu .header ul.contact-dtls li {
        padding: 0 1rem;
    }
    .top-menu .header ul.contact-dtls li h6 {
        font-size: 0.72rem;
    }
    .top-menu .header ul.contact-dtls li i {
        font-size: 1rem;
    }
}


@media screen and (max-width:320px) 
{
    .top-menu .navbar .navbar-brand h1 {
        font-size: .9rem;
    }

    .top-menu .header ul.contact-dtls li {
        padding: 0 .5rem;
    }
}
