.main-content {
}

.banner-section {
    height: 700px;
    overflow: hidden;
    position: relative;
}

    .banner-section .carousel-inner {
        height: 690px;
    }

        .banner-section .carousel-inner .carousel-item img {
            height: 100%;
            object-fit: cover;
        }

    .banner-section .carousel-caption {
        left: 15%;
        bottom: 27%;
        right: 15%;
    }

    .banner-section .carousel-item .carousel-caption img {
        height: 164px;
        margin-bottom: 3rem;
    }

    .banner-section .carousel-caption h2 {
        -webkit-text-stroke-width: 1px;
        -moz-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffffff17;
        -moz-text-stroke-color: #111827;
        color: transparent;
        font-size: 10rem;
        font-weight: 800;
        position: absolute;
        top: -80px;
        left: 0;
        right: 0;
    }

    .banner-section .carousel-caption h5 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 4rem;
        position: relative;
    }

    .banner-section .carousel-caption p {
        margin: 0;
        font-size: 1.1rem;
        margin: 0 auto;
    }

    .banner-section .carousel-indicators {
        right: auto;
        margin: 0;
        bottom: 15px;
        margin-left: 4rem;
    }

        .banner-section .carousel-indicators li {
            width: 6px;
        }

            .banner-section .carousel-indicators li.active {
                width: 20px;
                border-color: transparent;
            }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        width: 50px;
        height: 50px;
        top: auto;
        font-size: 1.6rem;
    }

.carousel-control-next {
    right: 2rem;
}

.carousel-control-prev {
    left: calc(100% - 123px);
}

.mineral-revenue-section {
    margin: 0;
    margin-top: -45px;
    min-height: 230px;
    background: #fff url(../img/headerbg.png);
    background-repeat-x: repeat;
}

    .mineral-revenue-section .revenue-portlet {
        background: #eaeaea;
        padding: 2rem 1.5rem;
        border-bottom: 0px solid #8d3610;
        border-radius: 0 2px 2px 2px;
        min-height: 184px;
        padding-top: 3rem;
    }

        .mineral-revenue-section .revenue-portlet i {
            height: 60px;
            width: 70px;
            display: inline-block;
            background: #8d3610;
            position: absolute;
            top: -30px;
            left: 15px;
            text-align: center;
            color: #fff;
            padding: 13px;
        }

        .mineral-revenue-section .revenue-portlet h2 {
            margin-bottom: 1rem;
            font-size: 2.2rem;
            font-weight: 700;
            color: #000000;
        }

        .mineral-revenue-section .revenue-portlet p {
            margin-bottom: 0;
        }

.w-700 {
    width: 700px;
}

.cm-profile {
    position: absolute;
    top: 40px;
    right: 4rem;
}

    .cm-profile .profile-img {
        height: 120px;
        width: 120px;
        margin: 0 auto;
        margin-bottom: .5rem;
        overflow: hidden;
        box-shadow: 0px 7px 0px #d56808;
    }

        .cm-profile .profile-img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

    .cm-profile p {
        color: #fff;
        font-weight: 600;
    }

        .cm-profile p small {
        }

.section {
    padding: 4rem 4rem;
    background: #f5f5f5;
}

.bg-light-gray {
    background: #f5f5f5;
}

.section-heading {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mineral-resources-section {
    background: #fff;
    padding: 1.5rem;
    height: 570px;
    border-radius: 4px;
}

    .mineral-resources-section img {
        height: 460px;
    }

    .mineral-resources-section .nav-tabs {
        border-bottom: 0;
    }

        .mineral-resources-section .nav-tabs .nav-link {
            background: #fff0da;
            border-radius: 4px;
            margin-right: .5rem;
            color: #777777;
            padding: .4rem 1.2rem;
        }

            .mineral-resources-section .nav-tabs.show .nav-link, .mineral-resources-section .nav-tabs .nav-link.active {
                background: #8d3610;
                color: #fff;
                border-color: #8d3610;
            }

    .mineral-resources-section .tab-content {
        padding: 1rem 0;
        position: relative;
        padding-right: 300px;
    }

    .mineral-resources-section .state-map svg {
        margin-left: 105px;
        height: 460px;
    }

.portlet-heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.chart-section {
    height: 480px;
}

.info-tooltip {
    position: absolute;
    top: -2.5rem;
    right: 0rem;
    padding: 0rem;
    width: 300px;
    border-radius: 4px;
}

    .info-tooltip h5 {
        font-size: 1.6rem;
        color: #b94b1b;
        margin-bottom: 1rem;
        text-align: right;
    }

.bg-light-yellow {
    background: #fff0da !important;
}

.info-tooltip div {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
    background: #fbe6c7;
    padding: .35rem .8rem;
    align-items: center;
    color: #333;
    border-radius: 4px;
}

    .info-tooltip div span {
        color: #d45a25;
        font-weight: 700;
        font-size: 1.2rem;
    }

.reg-card {
    padding: 2rem 1.5rem;
    border-radius: 4px;
    min-height: 265px;
    background: #f1f1f1;
    transition: all ease-in-out .5s;
}

    .reg-card i {
        font-size: 4rem;
        display: block;
        margin-bottom: 1.4rem;
    }

        .reg-card i:before {
            color: #ab5b38;
        }

    .reg-card p {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
        min-height: 55px;
        color: #383838;
    }

    .reg-card:hover {
        box-shadow: 0 0 8px #b9b9b9;
    }




    .reg-card .btn {
        min-width: 100px
    }


/*Added by MRD*/
.tender-section .notification, .tender-section .circular, .tender-section .demo-gallery {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 1.5rem;
}

    .tender-section .notification::-webkit-scrollbar, .tender-section .circular::-webkit-scrollbar {
        width: 5px;
    }

    .tender-section .notification::-webkit-scrollbar-track, .tender-section .circular::-webkit-scrollbar-track {
        background: #f5f5f5;
    }

    .tender-section .notification::-webkit-scrollbar-thumb, .tender-section .circular::-webkit-scrollbar-thumb {
        background: #f5f5f5;
        border-radius: 45px;
    }

.tender-column:hover .notification::-webkit-scrollbar-thumb, .circular-column:hover .circular::-webkit-scrollbar-thumb {
    background: #ccc;
}

.tender-column, .circular-column {
    padding-right: 1rem;
}



.card-photo {
    object-fit: cover;
}

.chart-section .highcharts-data-label text,
.statistics-sec .highcharts-data-label text {
    font-size: 14px !important;
}

ul.tender {
    list-style: none;
    padding-left: 0;
    padding-right: .5rem;
}

    ul.tender li {
        position: relative;
        margin: 0;
        background: #fff;
        margin-bottom: 1rem;
        border-radius: 4px;
        padding: 1rem;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        transition: all ease-in-out .5s;
    }



.tender-date {
    font-weight: 500;
    flex: 0 0 70px;
    text-align: center;
    margin-right: 30px;
    color: #6b6b6b;
}

.circular-portlet .tender-date {
    flex: 0 0 80px;
    margin-right: 20px;
    padding: 0 .5rem;
    background: #fff6f2;
    border-radius: 4px;
}

.tender-date span {
    font-size: 2rem;
    font-weight: 700;
    color: #d46636;
}

ul.tender li .tender-description {
    flex: 0 0 calc(100% - 100px )
}



    ul.tender li .tender-description small {
        color: #a2a2a2
    }

    ul.tender li .tender-description a {
        margin-bottom: .5rem;
        display: block;
        color: #000;
    }

        ul.tender li .tender-description a:hover {
            color: #d46636;
            text-decoration: none;
        }

    ul.tender li .tender-description p {
        margin-bottom: .5rem
    }

ul.tender li:hover {
    /* box-shadow: 0 0 10px #d2d2d2; */
    background: #fff6f2;
}

    ul.tender li:hover a {
        color: #d46636;
        text-decoration: none;
    }

ul.tender li a.btn-download {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

ul.tender li a.readmore {
    font-weight: 600;
    margin: 0;
    color: #d46636;
}

    ul.tender li a.readmore:hover {
        color: #000
    }

.fp-section img {
    height: 36px;
    width: 150px;
}

.filter-box {
    padding: 1rem;
    background: #ffe8de;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 9;
    border-radius: 4px;
}

.imp-links {
    background: #fff;
}

.imp-content {
    border: 1px solid #ffe9e0;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    min-height: 140px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

    .imp-content img {
        width: auto !important;
        height: 60px;
        margin: 0 auto;
        filter: grayscale(1);
        transition: all ease-in-out .5s
    }

    .imp-content:hover img {
        filter: grayscale(0)
    }

    .imp-content p {
        margin: 0;
        margin-top: .5rem;
        font-size: .8rem;
    }

    .imp-content a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }

        .imp-content a:hover {
            background: rgb(255 208 187 / 10%);
        }


.portal-sec {
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    transition: all ease-in-out .5s;
}

    .portal-sec:hover {
        box-shadow: 0 0 8px #5f5f5f;
    }

    .portal-sec img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        transition: all ease-in-out .5s;
    }

    .portal-sec:hover img {
        transform: scale(1.05);
    }

.portal-content {
    position: absolute;
    top: 324px;
    left: 0;
    right: 0;
    padding: 1.2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(144 144 144 / 0%); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(255 255 255 / 0%),rgb(0 0 0 / 70%), rgb(2 2 2 / 95%));
    transition: all ease-in-out .5s;
}

.portal-sec:hover .portal-content {
    top: 0;
    bottom: 0;
}

.portal-content h4 {
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    border-radius: 3px;
    text-shadow: 3px 2px 3px #000;
}

.portal-content p {
    color: #f3f3f3;
    margin: 0;
}

.amount-section {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    text-align: center;
}

    .amount-section div {
        background: rgb(255 255 255 / 25%);
        padding: .2rem .5rem;
        border-radius: 4px;
    }

    .amount-section h3 {
        font-size: 1.2rem;
        color: #eca363;
        margin-bottom: .2rem;
    }

    .amount-section p {
        font-size: .7rem;
        font-weight: 400;
    }

.portal-sec a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .portal-sec a:hover {
    }
/*Added by Khusbu*/
@media screen and (max-width:1680px) {
    .banner-section .carousel-indicators {
        bottom: 14%;
    }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 80%;
    }

    .mineral-revenue-section {
        margin-top: -125px;
    }

    .mineral-resources-section .state-map svg {
        margin-left: 60px;
        height: 460px;
    }
}

@media screen and (max-width:1600px) {
    .banner-section .carousel-indicators {
        bottom: 19%;
    }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 76%;
    }

    .mineral-revenue-section {
        margin-top: -153px;
    }

    .reg-card .btn {
        min-width: 80px;
        padding: .3rem .7rem;
    }

    .reg-card p {
        font-size: 1rem;
    }

    .cm-profile .profile-img {
        height: 100px;
        width: 100px;
    }

    .banner-section .carousel-caption h2 {
        font-size: 8rem;
        top: -60px;
    }

    .banner-section .carousel-caption h5 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }
}



@media screen and (max-width:1440px) {

    .banner-section {
        height: 629px;
    }

    .cm-profile {
        position: absolute;
        top: 23px;
        right: 1.5rem;
    }

    .section {
        padding: 2rem;
    }

    .info-tooltip {
        width: 270px;
    }

    .mineral-resources-section .state-map svg {
        margin-left: 40px;
        height: 350px;
    }

    .portlet-heading {
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
    }

    .reg-card i {
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    .reg-card {
        padding: 1.5rem 1rem;
        min-height: 220px;
    }

        .reg-card p {
            font-size: 1rem;
            margin-bottom: 1.2rem;
        }

    .tender-column, .circular-column {
        padding-right: 0rem;
    }

    .tender-section .notification, .tender-section .circular, .tender-section .demo-gallery {
        height: 450px;
    }

    .demo-gallery > ul > li a {
        height: 213px !important;
    }

    .mineral-resources-section {
        height: 460px;
    }

    .chart-section {
        height: 380px;
    }

    .info-tooltip h5 {
        font-size: 1.2rem;
    }

    .info-tooltip div {
        font-size: .9rem;
        margin-bottom: .2rem;
        padding: .1rem .8rem;
    }

    .portal-content {
        top: 260px;
        padding: 1rem;
    }

        .portal-content h4 {
            font-size: 1.3rem;
        }

    .portal-sec {
        height: 320px;
    }

    .amount-section {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

        .amount-section div {
            margin: .2rem;
        }
}




@media screen and (max-width: 1370px) {
    .mineral-resources-section .state-map svg {
        margin-left: 0;
    }

    .mineral-revenue-section {
        margin-top: -179px;
    }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 64%;
        margin-left: 17px;
    }

    .banner-section .carousel-indicators {
        bottom: 30%;
        margin-left: 2rem;
    }

    .tender-noti-reg-sec .card .card-header {
        height: 65px;
    }

    .dmf-sec .col, .nmet-sec .col {
        flex: 50%;
    }

    .banner-section .carousel-caption h2 {
        font-size: 7rem;
        top: -40px;
    }

    .reg-card p {
        font-size: .95rem;
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 1366px) 
{
    .fp-section img {
        height: 23px;
        width: 130px;
    }
}


@media screen and (max-width: 1280px) {


    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 60%;
        margin-left: 49px;
        right: -2px
    }

    .banner-section .carousel-indicators {
        bottom: 34%;
        margin-left: 1rem;
    }

    ul.khanij-online li:first-child {
        width: 210px;
    }

    .reg-appl-sec .row .col {
        flex: 30%;
        margin-bottom: 2rem;
    }

        .reg-appl-sec .row .col:nth-child(4), .reg-appl-sec .row .col:nth-child(5), .reg-appl-sec .row .col:nth-child(6) {
            margin-bottom: 0rem;
        }

    .banner-section .carousel-caption h2 {
        top: -42px;
    }

    .banner-section .carousel-item .carousel-caption img {
        height: 150px;
        margin-bottom: 0rem;
    }



    .tender-noti-reg-sec .gallery-column {
        flex: 100%;
        max-width: 100%;
    }

    .mineral-revenue-section {
        margin-top: -210px;
    }
}


@media screen and (max-width: 1152px) {
    .info-tooltip {
        width: 178px;
    }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 38%;
    }

    .mineral-revenue-section .revenue-portlet h2 {
        font-size: 1.6rem;
    }

    .banner-section .carousel-indicators {
        bottom: 57%;
    }

    .mineral-revenue-section {
        margin-top: -297px;
    }

    .reg-appl-sec .row .col {
        flex: 50%;
        margin-bottom: 2rem;
    }

        .reg-appl-sec .row .col:nth-child(4) {
            margin-bottom: 2rem;
        }

        .reg-appl-sec .row .col:nth-child(5), .reg-appl-sec .row .col:nth-child(6) {
            margin-bottom: 0rem;
        }

    .dmf-sec .col-lg-3, .nmet-sec .col-lg-3 {
        display: none;
    }

    .dmf-sec .col-lg-9, .nmet-sec .col-lg-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        top: 41%;
    }

    .banner-section .carousel-indicators {
        bottom: 57%;
        margin-left: 2rem;
    }

    .banner-section .carousel-caption h2 {
        top: -30px;
    }

    .banner-section .carousel-caption h5 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}



@media screen and (max-width: 768px) {

    .info-tooltip {
        width: 300px;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .tender-noti-reg-sec .tender-column, .tender-noti-reg-sec .circular-column {
        margin-bottom: 2rem;
    }

    .mineral-resources-section .state-map svg {
        margin-left: -4px;
    }

    .mineral-revenue-section .revenue-portlet {
        position: relative;
        padding: 1rem;
        min-height: 100px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }

    .mineral-revenue-section {
        min-height: auto;
    }



    .banner-section .carousel-caption {
        left: 5%;
        bottom: 5%;
        right: 5%;
    }

        .banner-section .carousel-caption h5 {
            font-size: 2.6rem;
        }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        bottom: 0rem;
        top: auto;
    }

    .banner-section .carousel-indicators {
        bottom: 1rem;
    }

    .banner-section .carousel-caption p {
        display: none;
    }

    .banner-section .carousel-caption h2 {
        top: -36px;
        font-size: 6rem;
    }

    .banner-section, .banner-section .carousel-inner {
        height: auto;
    }

    .mineral-revenue-section {
        margin-top: 0;
        padding-top: 1.5rem;
    }

    .cm-profile .profile-img {
        height: 65px;
        width: 65px;
        box-shadow: 0px 3px 0px #d56808;
    }

    .cm-profile p {
        font-size: .9rem;
    }

    .mineral-revenue-section .revenue-portlet i {
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 0 !important;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .info-tooltip {
        width: 230px;
    }

    .tender-noti-reg-sec .tender-column, .tender-noti-reg-sec .circular-column {
        flex: 100%;
        max-width: 100%;
    }


    .mineral-resources-section .state-map svg {
        margin-left: -35px;
    }

    .banner-section .carousel-caption {
        left: 4%;
        right: 4%;
        top: 40%;
    }

        .banner-section .carousel-caption p {
            font-size: 1rem;
            width: auto;
        }

    .banner-section .carousel-item .carousel-caption img {
        height: 85px;
        margin-bottom: 1rem;
    }



    .banner-section .carousel-caption h5 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }



    .banner-section .carousel-item {
        height: 290px;
    }

    .banner-section .carousel-caption h2 {
        top: -36px;
        font-size: 5rem;
    }

    .cm-profile {
        top: 0;
        right: 0;
        position: relative;
        padding: 1rem;
        background: #333;
    }

        .cm-profile p {
            margin-bottom: 0
        }

    .mineral-resources-section {
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .section {
        padding: 1rem;
    }

    .mineral-revenue-section {
        padding: 1rem 0 0;
    }

    .banner-section .carousel-control-next, .banner-section .carousel-control-prev {
        display: none;
    }

    .banner-section .carousel-indicators {
        width: 87%;
    }

    .banner-section .carousel-caption h5 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .mineral-resources-section .state-map svg {
    }

    .banner-section .carousel-caption h2 {
        top: -45px;
        font-size: 4rem;
    }

    .mineral-revenue-section .col-lg-3.col-md-6.col-sm-12:nth-child(4) {
        margin-bottom: 0rem;
    }

    .mineral-resources-section {
        padding: 1rem;
    }

    .mineral-revenue-section .revenue-portlet h2 {
        font-size: 1.3rem;
        margin-bottom: .4rem;
    }

    .demo-gallery > ul > li a {
        height: 136px !important;
    }

    .tender-section .demo-gallery {
        height: auto;
    }

    .chart-section {
        height: 320px;
    }
}



@media screen and (max-width: 530px) {
    .dmf-sec .col, .nmet-sec .col {
        flex: 100%;
    }
}

@media screen and (max-width: 480px) {
    .reg-appl-sec .row .col {
        flex: 100%;
    }

        .reg-appl-sec .row .col:nth-child(5) {
            margin-bottom: 2rem;
        }

    .mineral-resources-section .state-map svg {
        margin-left: 30px;
    }

    ul.tender {
        padding-left: 0;
        padding-right: 0rem;
    }

    .mineral-resources-section .tab-content {
        padding: 1rem 0;
        position: relative;
        padding-right: 0;
    }

    .info-tooltip {
        width: 100%;
        position: relative;
        top: 0;
    }
}

@media screen and (max-width: 425px) {



    .footer-links ul {
        flex-direction: column;
    }

    .banner-section .carousel-item {
        height: 315px;
    }

    .banner-section .carousel-indicators {
        width: 85%;
        bottom: 57%;
    }
}

@media screen and (max-width: 360px) {
    .banner-section .carousel-item {
        height: 351px;
    }

    .banner-section .carousel-indicators {
        bottom: 50%;
    }

    .mineral-revenue-section {
        padding: 3rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 320px) {
    .info-tooltip {
        width: 77%;
        right: 5rem;
    }
}
