.page-setting .setting-color span {
  opacity: 0;
}
.page-setting .setting-color.theme-red span {
  opacity: 1;
}

a {
  color: #ff3547;
}

.text-primary {
  color: #ff3547 !important;
}

.page-topbar {
  background-color: #ff3547;
  border-bottom: solid 1px #da2b3b;
}
.page-topbar .quick-area .info-menu li a.toggle, .page-topbar .quick-area .info-menu li a.setting-show {
  background-color: #ff5d6c;
  border: solid 1px #ff3547;
}
.page-topbar .quick-area .info-menu li a.sidebar_toggle {
  color: #ff3547;
}
.page-topbar.sidebar_shift .logo-area {
  background-color: #ff3547;
}

.page-sidebar {
  background: #ff3547;
}
.page-sidebar .profile-info {
  background-color: #ff5d6c;
}
.page-sidebar .profile-info .profile-details .profile-title {
  color: #ffebed;
}

#main-menu-wrapper .logout-section {
  background: #ff5d6c;
  border-top: solid 1px #da2b3b;
}
#main-menu-wrapper .logout-section li a {
  border-right-color: #da2b3b;
}
#main-menu-wrapper .logout-section li a:hover {
  background-color: #da2b3b;
}
#main-menu-wrapper li ul.sub-menu a.active, #main-menu-wrapper li ul.sub-menu a:hover {
  color: #ff9aa3;
}
#main-menu-wrapper li ul.sub-menu a.active::after, #main-menu-wrapper li ul.sub-menu a:hover::after {
  background-color: #ff9aa3;
}
#main-menu-wrapper li ul.sub-menu li.active > a::after {
  background-color: #ffebed;
}
#main-menu-wrapper li ul.sub-menu li ul.sub-menu {
  background-color: #e63040;
}
#main-menu-wrapper li a:hover .arrow:before {
  color: #ffd7da;
}
#main-menu-wrapper li.open a .arrow:before {
  color: #ffd7da;
}
#main-menu-wrapper ul li.open {
  background-color: #da2b3b;
}
#main-menu-wrapper ul li.open .sub-menu a {
  color: #ffd7da;
}
#main-menu-wrapper ul li.open .sub-menu a:hover {
  color: #ffebed;
}
#main-menu-wrapper ul li a {
  color: #ffebed;
}
#main-menu-wrapper ul li a .arrow:before {
  color: #ff9aa3;
}
#main-menu-wrapper ul li ul.sub-menu::before {
  border-left: 1px solid #ff5d6c;
}
#main-menu-wrapper ul li ul.sub-menu a::after {
  background-color: #ff9aa3;
  border: 1px solid #cc2a39;
}

.main-tab .nav-tabs {
  float: left;
}
.main-tab .nav-link {
  background-color: #ff3547;
}

.table td a {
  color: #ff3547;
}

.button-links .btn-primary,
.page_error_btn .btn-primary {
  background-color: #ff3547 !important;
}
.button-links .btn-primary:not([disabled]):not(.disabled):active,
.button-links .btn-primary:not([disabled]):not(.disabled).active,
.button-links .show > .btn-primary.dropdown-toggle,
.page_error_btn .btn-primary:not([disabled]):not(.disabled):active,
.page_error_btn .btn-primary:not([disabled]):not(.disabled).active,
.page_error_btn .show > .btn-primary.dropdown-toggle {
  background-color: #e63040 !important;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover a {
  background: #cc2a39;
  border-left-color: #cc2a39;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a:hover {
  border-left-color: #cc2a39;
}

/*# sourceMappingURL=theme-danger.css.map */
