@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "utilities";
html,
body,
form {
    height: 100%;
}

body {
    background: $white url(../img/Login_bg.jpg) center no-repeat;
    background-size: 100%;
    @media screen and (max-width: 1600px) {
        background-size: cover;
    }
    @media screen and (max-width: 1370px) {
        background-size: 100%;
    }
    @media screen and (max-width: 1152px) {
        background-size: cover;
    }
    @media screen and (max-width: 576px) {
        background-size: auto 100%;
    }
}

.indicates {
    margin-right: 67px;
    @media screen and (max-width: 1200px) {margin-right: 53px;}
    @media screen and (max-width: 768px) {margin-right: 35px;}
    @media screen and (max-width: 640px) {margin-right: 0px;}
}
@media screen and (max-width: 480px) {
    .custom-control.custom-radio.custom-control-inline {
        display: block;
    }
}



.head-sec {
    // text-align: center;
    .navbar {
        padding: 0.3rem 0 0.4rem 0;
        z-index: 0;
    }
    .header {
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2rem;
            width: 37%;
            height: 100%;
            background: $brown;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transform: skew(-45deg);
            -ms-transform: skew(-45deg);
            transform: skew(-45deg);
            z-index: -1;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
                display: inline-block;
                a:not(.btn) {
                    &:hover {
                        text-decoration: none;
                        color: $gray-600;
                    }
                }
            }
            &.top-link {
                font-size: .9rem;
                padding: 0;
                li {
                    padding: 0 .8rem .2rem .8rem;
                    border-bottom: solid 1px $gray-300;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
            &.contact-dtls {
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem;
                    i {
                        padding-top: .2rem;
                        color: $danger;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    h6 {
                        font-weight: bold;
                    }
                }
                .btn {
                    i {
                        font-size: 1rem;
                        color: $white;
                    }
                }
            }
        }
        .btn-warning {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .navbar {
        text-align: left;
        .navbar-brand {
            display: flex;
            align-items: center;
            color: $white;
            .login-logo {
                height: 60px;
                margin-right: .4rem;
            }
            h1 {
                font-size: 1.4rem;
                small {
                    padding: 0.2rem 0 0 0;
                    font-size: 72%;
                }
            }
        }
        // menu
        &.menu-bar {
            background-color: $dark;
            .dropdown-menu {
                padding: 0;
            }
            .navbar-nav {
                width: 100%;
                .nav-item {
                    .nav-link {
                        text-align: center;
                        font-weight: 500;
                        color: $white;
                        font-size: .95rem;
                        @media screen and (min-width: 992px) {
                            padding-right: 0.5rem;
                            padding-left: 0.5rem;
                        }
                        @media screen and (min-width: 1300px) {
                            padding-right: 0.6rem;
                            padding-left: 0.6rem;
                        }
                        @media screen and (min-width: 1400px) {
                            padding-right: 0.7rem;
                            padding-left: 0.7rem;
                        }
                        &.active,
                        &:hover {
                            color: $yellow;
                        }
                    }
                    &.dropdown {
                        &.show {
                            .nav-link {
                                color: $yellow;
                            }
                        }
                    }
                    .dropdown-menu {
                        font-size: .9rem;
                        max-width: 15rem;
                        min-width: 15rem;
                        .dropdown-item {
                            padding: 0.4rem 0.6rem;
                            border-bottom: solid 1px $gray-200;
                            white-space: pre-wrap;
                            &:hover {
                                color: $yellow;
                            }
                            &:focus,
                            &.active,
                            &:active {
                                background-color: $gray-300;
                                color: $red;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            .khanij-online {
                padding: 0;
                position: relative;
                font-size: .85rem;
                color: $white;
                width: 24%;
                margin: 0;
                &::before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    bottom: -6px;
                    right: -11rem;
                    width: 150%;
                    background: $brown;
                    -webkit-transform-origin: 0 100%;
                    -ms-transform-origin: 0 100%;
                    transform-origin: 0 100%;
                    -webkit-transform: skew(-20deg);
                    -ms-transform: skew(-20deg);
                    transform: skew(-20deg);
                    z-index: -1;
                }
                img {
                    height: 42px;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    &::before {
                        right: -1.5rem;
                        width: 113%;
                    }
                }
            }
        }
    }
   
}


@media screen and (max-width: 1280px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    img {
                        height: 32px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) 
{
    .head-sec {
        .header {
            &::before {
                width: 40%;
            }
        }
    }

}

@media screen and (max-width: 1152px) {
    .head-sec {
        .header {
            &::before {
                width: 45%;
            }
        }
        .navbar {
            &.menu-bar {
                .khanij-online {
                    width: 45%;
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .head-sec {
        background-color: $white;
        .header {
            &::before {
                left: -10rem;
                width: 162%;
                height: 70px;
            }
            .toplnk-mobile {
                position: absolute;
                top: -43px;
                right: 0px;
                color: $white;
            }
            .navbar {
                .contact-culm {
                    padding: 0.7rem 0 0 0;
                    width: 100%;
                    position: relative;
                }
            }
            ul {
                justify-content: center;
                &.top-link {
                    //display: none;
                    position: absolute;
                    right: 0px;
                    top: 4px;
                    display: inherit;
                    background-color: #f8eeea;
                    box-shadow: 0 0.5rem 0.5rem 0 rgb(0 0 0 / 43%);
                    border-radius: .2rem;
                    li {
                        display: block;
                        padding: .2rem .6rem;
                        &:first-child {
                            padding-left: .6rem;
                        }
                    }
                }
                &.contact-dtls {
                    li {
                        i {
                            font-size: 1.2rem;
                        }
                        .btn {
                            padding: .15rem .75rem;
                        }
                    }
                }
            }
        }
        .navbar {
            &.menu-bar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-align: left;
                        }
                        .dropdown-menu {
                            background-color: transparent;
                            .dropdown-item {
                                min-width: inherit;
                                color: $gray-300;
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    border: 0;
                }
                .khanij-online {
                    display: block;
                    line-height: 1rem;
                }
            }
            .navbar-brand {
                padding: 0;
            }
        }
        .navbar-collapse {
            width: 300px;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 42px;
            padding: 1rem 1rem 1rem 2rem;
            background-color: #111111;
        }
        &.fix-header {
            .header {
                &::before {
                    height: 100%;
                    border-bottom: solid 2px $dark;
                }
                .navbar {
                    .contact-culm {
                        padding: 0;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        color: $white !important;
        border-color: transparent !important;
        display: flex;
        align-items: center;
        &:focus {
            border-color: $brown;
            i {
                color: $yellow;
            }
        }
        span {
            font-size: 1rem;
            text-transform: uppercase;
            padding-left: .5rem;
        }
    }
   
}


@media screen and (max-width: 992px) 
{
    .head-sec {
        .contact-culm
        {
            font-size:12px;

        }
    }

}

@media screen and (max-width: 576px) {
    .head-sec {
        .header {
            &::before {
                left: -2rem;
                height: 50px;
            }
            .toplnk-mobile {
                top: -30px;
            }
            ul {
                &.contact-dtls {
                    justify-content: space-around;
                    li {
                        border-radius: .2rem;
                        padding: .2rem .5rem;
                        //display: inline-block;
                        text-align: center;
                        //border: solid 1px $gray-400;
                        &:first-child {
                            padding-left: .2rem;
                        }
                        &.user-login {
                            border: 0;
                            padding: 0;
                            .btn {
                                display: flex;
                                height: 100%;
                                align-items: center;
                                padding: 0.2rem .4rem;
                                span {
                                    display: none;
                                }
                            }
                        }
                        i {
                            display: block;
                            padding: 0;
                            font-size: .9rem;
                        }
                        h6 {
                            font-size: 0.72rem;
                        }
                    }
                }
            }
        }
        .header {
            .navbar {
                .contact-culm {
                    padding-top: .6rem;
                }
            }
        }
        .navbar {
            .navbar-brand {
                h1 {
                    font-size: 1rem;
                }
                .login-logo {
                    height: 40px;
                }
            }
            &.menu-bar {
                .khanij-online {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .head-sec {
        .header {
            ul {
                &.contact-dtls {
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.contact-culm {
    .dropdown-item {
        position: relative;
        padding-left: 2rem;
        white-space: inherit;
        min-width: 17rem;
        font-size: .9rem;
        &.active,
        &:active {
            background-color: $gray-200;
            color: $red;
        }
        &::after {
            position: absolute;
            left: 15px;
            top: 9px;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            text-shadow: none;
            color: $gray-600;
        }
    }
    a:not(.btn) {
        color: $gray-900;
    }
}

.main-content {
    background: $white url(../img/landing_bg.jpg) center no-repeat;
    background-size: cover;
    color: $white;
    .state-map {
        position: relative;
        width: 92%;
        text-align: center;
        .dist-block {
            &:hover {
                fill: #2f2123;
                cursor: pointer;
            }
        }
        text {
            tspan {
                font-size: 11px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.info-tooltip {
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 82%;
    white-space: nowrap;
    border: solid 1px $yellow;
    background-color: rgba($black, .5);
    .dist-name {
        font-size: 1rem;
        padding: 0.1rem 0.8rem 0.4rem 0.8rem;
        background-color: $orange;
        font-weight: 500;
    }
    h6 {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
        display: flex;
        align-items: center;
        span {
            font-size: 140%;
            padding: 0 0 0 .5rem;
            color: $yellow;
        }
    }
}

.cm-profile {
    margin-bottom: 8rem;
    .profile-img {
        margin: 0 auto 0.8rem auto;
        box-shadow: 0px 8px $brown;
        width: 160px;
        height: 160px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    small {
        color: $gray-500;
    }
}

.national-award {
    width: 100%;
}

@media screen and (min-width: 1400px) {
    .cm-profile {
        .profile-img {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .info-tooltip {
        bottom: 25%;
        left: 65%;
    }
    .cm-profile {
        margin-bottom: 4.5rem;
    }
}

@media screen and (max-width:1152px) {
    .info-tooltip {
        left: 67%;
        bottom: 28%;
    }
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
        p {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:991px) {
    .info-tooltip {
        bottom: 11%;
        left: 65%;
        display: block;
    }
    .info-colum {
        margin-bottom: 1rem;
    }
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
    }
    .national-award {
        width: 90%;
    }
}

@media screen and (max-width:767px) {
    .national-award {
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    .main-content {
        .state-map {
            text {
                tspan {
                    font-size: 14px;
                }
            }
        }
    }
    .national-award {
        //margin: auto;
        display: block;
        width: 90%;
    }
    .cm-profile {
        .profile-img {
            width: 60px;
            height: 60px;
            box-shadow: 0px 4px #8d3610;
            margin-bottom: .4rem;
        }
    }
    .info-tooltip {
        .dist-name {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:400px) {
    .national-award {
        width: 96%;
    }
    .cm-profile {
        .profile-img {
            width: 50px;
            height: 50px;
        }
    }
}

.info-box {
    .cont-div {
        border-bottom: solid 1px $gray-900;
        padding: 1.8rem 0rem;
        position: relative;
        .h3 {
            margin-bottom: 0;
            small {
                font-size: 56%;
                color: $gray-500;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 70%;
            width: 1px;
            background-color: $gray-900;
        }
    }
    &:last-child {
        .cont-div {
            border-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
    &:nth-child(2),
    &:nth-child(4) {
        .cont-div {
            &::after {
                display: none;
            }
        }
    }
    i {
        color: $yellow;
    }
}

@media screen and (max-width: 1440px) {
    .info-box {
        .cont-div {
            padding: 1.2rem 0rem;
            .h3 {
                font-size: 1.5rem;
                small {
                    font-size: 50%;
                }
            }
        }
    }
}

.profile-row {
    margin-left: -18.8%;
    font-size: .9rem;
    margin-top: 3rem;
    .card {
        margin: 0 .4rem;
        &-header {
            padding: 0.4rem 0.5rem;
            font-weight: 500;
            //min-height: 69px;
            // display: flex;
            // height: 100%;
            // align-items: center;
            border-bottom: 0;
        }
        &-body {
            padding: 0.8rem;
        }
        .card-text {
            font-size: .9rem;
            small {
                color: $gray-500;
                padding: 0.2rem 0;
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .profile-row {
        .card-header {
            font-size: 0.85rem;
        }
    }
}

@media screen and (max-width:1280px) {
    .profile-row {
        .card-header {
            font-size: 0.8rem;
        }
    }
    .main-content {
        .state-map {
            svg {
                width: 100%;
            }
        }
    }
    .info-colum {
        >.row {
            margin-left: -5%;
        }
    }
}

@media screen and (max-width:1152px) {
    .profile-row {
        .card-header {
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
        }
        .card-body {
            padding: 0.3rem 0.8rem;
        }
    }
}

// @media screen and (max-width:992px) {
//     .profile-row {
//         .card-header {
//             min-height: initial;
//         }
//     }
// }
@media screen and (max-width: 991px) {
    // .container {
    //     max-width: 94%;
    // }
    .cm-profile {
        margin-bottom: 2rem;
    }
    .info-box {
        .cont-div {
            padding: 0.8rem 0.4rem;
            &::after {
                display: none;
            }
        }
        &:nth-child(4) {
            .cont-div {
                border-bottom: 0;
            }
        }
    }
    .profile-row {
        margin-left: initial;
        .card-header {
            min-height: initial;
        }
    }
    .main-content {
        .state-map {
            width: 100%;
            position: absolute;
            z-index: 1;
            svg {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .info-colum {
        margin-bottom: 9rem;
        &>.row {
            margin-left: initial;
        }
    }
    .main-content {
        .state-map {
            top: -70px;
            width: 108%;
        }
    }
    .info-tooltip {
        bottom: 16%;
        left: 70%;
    }
    .profile-row {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .main-content {
        .state-map {
            top: -120px;
            width: 90%;
        }
    }
    .info-colum {
        margin-bottom: 6rem;
    }
    .info-box {
        .cont-div {
            padding: 0.4rem 0.4rem;
            border-bottom: 0;
            .h3 {
                font-size: 1.2rem;
                small {
                    font-size: 60%;
                }
            }
            i {
                font-size: 1.5rem;
            }
        }
    }
    .info-tooltip {
        left: 66%;
        bottom: 23%;
    }
    .login-section {
        margin-bottom: 1rem;
    }
    .profile-row {
        .card {
            margin: inherit;
            margin-bottom: 0;
            &-header {
                min-height: inherit;
            }
        }
    }
    .cm-profile {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 400px) {
    .main-content {
        .state-map {
            width: 96%;
        }
    }
    .info-box {
        .cont-div {
            .h3 {
                font-size: 1rem;
                small {
                    font-size: 66%;
                }
            }
        }
    }
    .profile-row {
        .card {
            &-header {
                min-height: 44px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .main-content {
        .state-map {
            svg {
                width: 116%;
            }
        }
    }
    .info-colum {
        &>.row {
            margin-left: 1.4rem;
        }
    }
}

// Login section
.login-section {
    color: $gray-200;
    .form-control {
        background-color: transparent;
        border-color: $gray-600;
    }
    .forgot {
        color: $gray-200;
        font-size: .9rem;
    }
    .login-footer {
        font-size: .85rem;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    i {
        color: $yellow;
    }
}

@media screen and (max-width: 576px) {
    .login-section {
        i {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 99%;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 85%;
    }
    .head-sec {
        .header {
            &::before {
                left: -12rem;
                width: 44%;
            }
        }
        .navbar {
            &.menu-bar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 1rem;
                            padding-right: 1.2rem;
                            padding-left: 1.2rem;
                        }
                    }
                }
                .khanij-online {
                    li {
                        &::before {
                            right: -12rem;
                            width: 157%;
                        }
                    }
                }
            }
        }
    }
    .main-content {
        .state-map {
            width: 100%;
            svg {
                height: 62vh;
                width: auto;
            }
        }
    }
    .login-section {
        margin-left: 5rem;
    }
    .profile-row {
        margin-left: -12%;
        margin-top: 6rem;
        .card {
            margin: 0 .6rem;
            &-header {
                padding: .8rem 1rem;
            }
            &-body {
                padding: .8rem 1rem;
            }
            small {
                color: $gray-500;
            }
        }
    }
    .info-tooltip {
        bottom: 22%;
        left: 76%;
    }
    .info-colum {
        >.row {
            margin-right: -2%;
        }
    }
    .info-box {
        .cont-div {
            .h3 {
                font-size: 2rem;
            }
        }
    }
}

// Login section end
footer {
    padding: 1.5rem 0;
    border-top: solid 1px $gray-900;
    font-size: .9rem;
    background-color: $dark;
    color: $gray-400;
}

@media screen and (max-width: 1400px) {
    footer {
        padding: .5rem 0;
    }
}