
@{
    ViewData["Title"] = "Registration";
}

@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("","User Profile created successfully.","success");
        }
        else if (vv == 2) {
            swal("","User Profile already exists.","warning");
        }
        else if (vv == 3) {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="~/Website/UserProfile/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5>Personal Details</h5>
                        @using (Html.BeginForm("Add", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "signup-form" }))
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Name<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength = "150" />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Designation<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="150" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Department<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="150" />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Upload Photo</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Photo" name="Photo">
                                            <label class="custom-file-label" for="customFile">Choose Files</label>
                                            <small class="text-danger">
                                                (<strong>.jpeg, .jpg, .png</strong> file only, image size of <strong>100X200</strong>
                                                and <strong>max file size 100 KB</strong>)
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Contact Details</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Mobile No.</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="12" />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Office Ext. No.</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="30" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Email Id<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                            <h5>Login Details</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">User Id<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Password<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="15" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Confirm Password<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxlength="15" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <input type="submit" value='SAVE' name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="Submit" onclick="return Validate()">
                                    <a href="~/Website/UserProfile/Add" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">Cancel</a>
                                </div>
                            </div>

                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

