
#myScrollspy {
    position: fixed;
    z-index: 100;
    margin-top: -90px !important;
    top: 29%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

#myScrollspy.right {
    right: 0px;
}

#myScrollspy.left {
    left: 17px;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}

.fp-slidesNav.bottom {
    bottom: 17px;
}

.fp-slidesNav.top {
    top: 17px;
}

#myScrollspy ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
    position: relative;
    border-top-left-radius: 20px;
    background-color: #333;
    border-bottom-left-radius: 20px;
    padding: 14px 5px;
    flex-direction: column;
}
#myScrollspy ul:after {
    content: "";
    width: 2px;
    position: absolute;
    left: 21px;
    background: #d97721;
    top: 12px;
    bottom: 16px;
}
#myScrollspy ul li,
.fp-slidesNav ul li {
    display: block;
    width: 17px;
    height: 17px;
    margin: 7px;
    margin-bottom: 1rem;
    padding-top: 0px;
    position: relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#myScrollspy ul li a,
.fp-slidesNav ul li a {
        display: block;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #d97721;
    border-radius: 100%;
    background: #333333;
        padding: 0rem 0rem;
}
#myScrollspy ul li a.active {
    border-color: #d97721;
}
#myScrollspy ul li a span, .fp-slidesNav ul li a span {
   display:block;
}
#myScrollspy ul li a.active div{
    display:block;
}
#myScrollspy ul li a:not(.active) div{
    display:none;
}
#myScrollspy ul li a:hover div{
    display:block;
    color:#d56808!important;
   
}
#myScrollspy ul li a.active span,
#myScrollspy ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 8px;
    width: 8px;
    margin: -4px 0 0 -4px;
    border-radius: 100%;
    background: #d97721;
}
#myScrollspy ul li a.active .fp-tooltip.right,
#myScrollspy ul li a.fp-tooltip.right:hover,
.fp-slidesNav ul li:hover a .fp-tooltip {
        color: #ffffff!important;
    text-shadow: 2px 2px 2px #191818;
}
#myScrollspy ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border: 0;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#myScrollspy ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #d56808;
}
#myScrollspy ul li .fp-tooltip {
    position: absolute;
    top: -3px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    display: block;
    opacity: 1;
    width: auto;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 39%);
    text-align: right;
    padding: 0 2px;
    border-radius: 20px;
    text-transform: capitalize;
}
#myScrollspy ul li:hover .fp-tooltip,
#myScrollspy.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
    color: #d4d4d4;
}
#myScrollspy ul li .fp-tooltip.right {
    right: 23px;
    margin-right: .5rem;
}
#myScrollspy ul li.active .fp-tooltip.right,
.fp-tooltip.right:hover {
    color: #e0561a !important;
}
#myScrollspy ul li .fp-tooltip.left {
    left: 20px;
}
@media screen and (max-width: 1680px) 
{
   #myScrollspy {top: 35%;}
}

@media screen and (max-width: 1366px) 
{
   #myScrollspy {top: 37%;}
}
@media screen and (max-width: 576px) 
{
   #myScrollspy ul, .fp-slidesNav ul {
   
    background-color: #333333b5;
    
    box-shadow: 1px 1px 10px #000;
}

#myScrollspy {
   
    display: none;

}