
@{
    ViewData["Title"] = "AssessmentReportMI";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    $(document).ready(function () {
        loadNavigation('LabAnalysisReportNew', 'assrep', 'assreptwo', 'tl', 'Assessment Report', 'Assessment Report', ' ');
        $('.searchableselect').searchableselect();
       
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
       
        $(".datepickeryear").datetimepicker({
            format: "YYYY",
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                New Request
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">Assessment Year</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepickeryear">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">Sl#</th>
                                                <th>Application Number</th>
                                                <th>Lessee Name</th>
                                                <th>Lease Validity</th>
                                                <th>Mineral Name </th>
                                                <th>Applied On</th>
                                                <th>Status</th>
                                                <th>History</th>
                                                <th width="150" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application001</a></td>
                                                <td>Ziyauel khan</td>
                                                <td>01 Apr 2021 - 31 Mar 2021</td>
                                                <td>Agate</td>
                                                <td>02 Jan 2022</td>
                                                <td>
                                                    <span class="text-info">New Request 07 Jan 2022</span>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#History" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application001</a></td>
                                                <td>Rohit Sethi</td>
                                                <td>01 Apr 2021 - 31 Mar 2021</td>
                                                <td>Agate</td>
                                                <td>02 Jan 2022</td>
                                                <td>
                                                    <span class="text-warning">
                                                        Pending At DD/MO
                                                        <br />
                                                        <span class="text-dark font-italic font-weight-bold">since 2 days</span>
                                                    </span>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#History" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application003</a></td>
                                                <td>Rohit Sethi</td>
                                                <td>01 Apr 2021 - 31 Mar 2021</td>
                                                <td>Agate</td>
                                                <td>02 Jan 2022</td>
                                                <td>
                                                    <span class="text-danger">Rejected By DD/MO <br /> 04 Jan 2022  </span>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#History" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application003</a></td>
                                                <td>Rohit Sethi</td>
                                                <td>01 Apr 2021 - 31 Mar 2021</td>
                                                <td>Agate</td>
                                                <td>02 Aug 2021</td>
                                                <td>
                                                    <span class="text-success">Approved By DD/MO <br /> 04 Aug 2021  </span>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#History" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                               
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to submit the data ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assessment-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Ziyauel khan
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-lg-2 col-12 col-form-label">Assessment Year</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><strong>2022</strong></label>
                    </div>

                    <label class="col-lg-2 col-12 col-form-label">Assessment From</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><strong>January</strong></label>
                    </div>

                    <label class="col-lg-2 col-12 col-form-label">Assessment To</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><strong>June</strong></label>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <h6>Grade Wise Production</h6>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Grade Wise Production</th>
                                    <th>Mineral Name</th>
                                    <th>Mineral Form</th>
                                    <th>Grade</th>
                                    <th>Production</th>
                                    <th>Dispatch</th>
                                    <th>Closing Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="text-center" style="vertical-align: middle;">Jan</td>
                                    <td rowspan="3" class="text-center" style="vertical-align: middle;">Fines</td>
                                    <td rowspan="10" class="text-center" style="vertical-align: middle;">Agate</td>
                                    <td>59 to 60</td>
                                    <td class="text-right">400</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">200</td>
                                </tr>
                                <tr>

                                    <td>60 to 65</td>
                                    <td class="text-right">800</td>
                                    <td class="text-right">400</td>
                                    <td class="text-right">300</td>
                                </tr>
                                <tr>
                                    <td>67 to 83</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Feb</td>
                                    <td class="text-center">Fines</td>
                                    <td>67 to 83</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                                <tr>
                                    <td class="text-center">March</td>
                                    <td class="text-center">Lumps</td>
                                    <td>47 to 88</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                                <tr>
                                    <td rowspan="3" class="text-center" style="vertical-align: middle;">Apr</td>
                                    <td rowspan="3" class="text-center" style="vertical-align: middle;">Fines</td>
                                    <td>59 to 60</td>
                                    <td class="text-right">400</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">200</td>
                                </tr>
                                <tr>
                                    <td>60 to 65</td>
                                    <td class="text-right">800</td>
                                    <td class="text-right">400</td>
                                    <td class="text-right">300</td>
                                </tr>
                                <tr>
                                    <td>67 to 83</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                                <tr>
                                    <td class="text-center">May</td>
                                    <td class="text-center">Fines</td>
                                    <td>67 to 83</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Jun</td>
                                    <td class="text-center">Fines</td>
                                    <td>67 to 83</td>
                                    <td class="text-right">300</td>
                                    <td class="text-right">200</td>
                                    <td class="text-right">100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12">
                        <h6>Grade Wise Dispatch(Details)</h6>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mineral Name</th>
                                    <th>Mineral Form</th>
                                    <th>Grade</th>
                                    <th>No. of TP</th>
                                    <th>Transportation mode</th>
                                    <th>Rate of royalty</th>
                                    <th>NMET</th>
                                    <th>DMF</th>
                                    <th>Infra CESS</th>
                                    <th>Env. Cess</th>
                                    <th>TCS</th>
                                    <th>Total Payable Royalty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" class="text-center" style="vertical-align: middle;">Agate</td>
                                    <td>Fines</td>
                                    <td>59 to 60</td>
                                    <td>445566</td>
                                    <td>Road</td>
                                    <td>200</td>
                                    <td>600</td>
                                    <td>400</td>
                                    <td>200</td>
                                    <td>390</td>
                                    <td>240</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>Fines</td>
                                    <td>60 to 67</td>
                                    <td>445566</td>
                                    <td>Rail</td>
                                    <td>200</td>
                                    <td>600</td>
                                    <td>400</td>
                                    <td>200</td>
                                    <td>390</td>
                                    <td>240</td>
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-12">
                        <h6>Depositted Amount</h6>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sl#</th>
                                    <th>Date</th>
                                    <th>Challan No.</th>
                                    <th>Deposited Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>02 Jan 2022</td>
                                    <td>CH1236587</td>
                                    <td>600</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>02 Feb 2022</td>
                                    <td>CH1236587</td>
                                    <td>600</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="pt-3"><a href="#" class="text-primary">Assessment Report</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | APPLICANT001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <label class="col-lg-4 col-12 col-form-label">Lessee Name</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Ziyauel khan</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Lessee Validity</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>01 Apr 2021 - 31 Mar 2021</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Mineral Name</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Agate</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Applied on</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>06-Jan-2022</label>
                    </div>

                </div>
                <hr />
                <div class="row mt-3"><div class="col-lg-12"><h6>Upload any other document (If any)</h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Uploaded Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Verify & Forward</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="History" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Approved</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Lorem ipsum  <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">MI</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Lorem ipsum  <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">MI</span>
                        <span class="content_tag reject"><i class="icon-times-solid mr-2"></i>Rejected</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Lorem ipsum  <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#" data-original-title="" title=""><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Ziyauel khan <br> <small class="font-weight-bold"> (Lessee) </small></span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Assessment Report Applied</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Assessment Year</span> 2022
                            <span class="font-weight-bold d-block">Assessment From</span> January to June

                        </p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


















