
@{
    ViewData["Title"] = "AsstReptLessee";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('AssessmentReportLessee', 'assrep', 'assrepone', 'tl', 'Assessment Report', 'Assessment Report', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            //daysOfWeekDisabled: [0, 6],
            daysOfWeekDisabled: [],
        });
        $(".datepickermonth").datetimepicker({
            format: "MMM",
            daysOfWeekDisabled: [],
        });
        $(".datepickeryear").datetimepicker({
            format: "YYYY",
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="AsstReptLessee">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="AssessmentReportView">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="bg-light p-2 mb-4">
                            <div class="row">
                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Lessee Name </label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Ziyauel khan</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Lease Validity</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>01 Apr 2021 - 31 Mar 2021</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Mineral Name</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Agate</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Sail Bhilai Steel Plant Bilaspur</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Company Name</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>JK Lakshmi Cement Ltd</strong></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Assessment Year<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control datepickeryear" id="inputDate1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Assessment From<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control datepickermonth" id="inputDate1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Assessment To<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control datepickermonth" id="inputDate1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Grade Wise Production</h6>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Grade Wise Production<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepickermonth" id="inputDate1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Grade<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">

                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Production<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Dispatch<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Closing Stock<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3" style="margin-top: 39px;">
                                        <button type="button" class="btn btn-success"><i class="icon-plus-solid"></i>Add More</button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="table-responsive mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Grade Wise Production </th>
                                                <th>Mineral Form</th>
                                                <th>Grade</th>
                                                <th>Production</th>
                                                <th>Dispatch</th>
                                                <th>Closing Stock</th>
                                                <th width="100px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>January</td>
                                                <td>Fines</td>
                                                <td>59 to 60</td>
                                                <td>400</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>January</td>
                                                <td>Fines</td>
                                                <td>60 to 65</td>
                                                <td>800</td>
                                                <td>400</td>
                                                <td>300</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>

                                            </tr>
                                            <tr>
                                                <td>January</td>
                                                <td>Fines</td>
                                                <td>67 to 83</td>
                                                <td>300</td>
                                                <td>200</td>
                                                <td>100</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>February</td>
                                                <td>Fines</td>
                                                <td>67 to 83</td>
                                                <td>300</td>
                                                <td>200</td>
                                                <td>100</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>March</td>
                                                <td>Lumps</td>
                                                <td>47 to 88</td>
                                                <td>300</td>
                                                <td>200</td>
                                                <td>100</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>April</td>
                                                <td>Fines</td>
                                                <td>59 to 60</td>
                                                <td>400</td>
                                                <td>200</td>
                                                <td>200</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>

                                            <tr>
                                                <td>May</td>
                                                <td>Fines</td>
                                                <td>67 to 83</td>
                                                <td>300</td>
                                                <td>200</td>
                                                <td>100</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>June</td>
                                                <td>Fines</td>
                                                <td>67 to 83</td>
                                                <td>300</td>
                                                <td>200</td>
                                                <td>100</td>
                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-times-solid"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Grade Wise Dispatch(Details)</h6>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Grade<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">No. of TP<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Transportation mode<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select</option>
                                                <option>Road</option>
                                                <option>Rail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Dispatch<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Rate of royalty<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">NMET<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">DMF<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Infra Cess<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Env. Cess<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">TCS<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Total Payable Royalty<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 my-3">
                                        <button type="button" class="btn btn-success"><i class="icon-plus-solid"></i>Add More</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Deposited Amount</h6>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Date<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="inputDate1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Challan No.<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <label class="col-form-label">Amount (RS.)<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-3" style="margin-top: 39px;">
                                        <button type="button" class="btn btn-success"><i class="icon-plus-solid"></i>Add More</button>

                                    </div>
                                </div>
                            </div>

                        </div>




                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#security-msg">Submit</button>
                                    <button type="button" class="btn btn-danger">Reset</button>
                                </div>
                            </div>

                        </div>
</section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333; font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Your data has been saved.
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-danger" href="AssessmentReportView">Ok</a>
            </div>
        </div>
    </div>
</div>













