@{
    ViewData["Title"] = "Vehicle Dashboard";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <div class="bg-white imp-notice mb-3 d-flex ">
            <span class="bg-warning text-dark d-inline-block py-2 px-3 rounded-left"><i class="khanijicon-e-permit"></i> Important Notice</span>
            <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="5">
                <a href="#" class=" py-2 px-3 d-inline-block">All minor/storage license holder, please review your profile immediately. Anything required for updation is highlighted in red colour. Please update the required data and ensure the approval of concern district competent authority to make it effective in portal. Otherwise dispatch though portal may affect.   || Kindly pay Environmental Cess, Infrastructure &amp; Development Cess and TCS offline calculated by portal and update in Khanij Online Portal.</a>
            </marquee>
        </div>
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="form-container">
                    <div class="row">

                        <div class="col-xl-12 pr-xl-1 col-lg-12">
                            <div class="row">
                                <div class="col-xl-6 pr-xl-1 col-lg-6 pr-lg-1 col-12">
                                    <div class="card border shadow-sm">
                                        <div class="card-header  d-flex align-items-center justify-content-between">
                                            <i class="khanijicon-Head-Wise-Revenue mr-3"></i>
                                            <span class="font-weight-bold">Registered Vehicles</span> <a href="#" class="ml-auto" title="Refresh"><i class="khanijicon-refresh text-dark font-weight-bold"></i> </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6 pr-xl-1">
                                                    <div class="bg-primary-light custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block">Financial Year (20-21)</small>
                                                                6.75 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">Year 2019-20</a>
                                                            <a class="dropdown-item" href="#">Year 2018-19</a>
                                                            <a class="dropdown-item" href="#">Year 2017-18</a>
                                                            <a class="dropdown-item" href="#">Year 2016-17</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 pl-xl-1">
                                                    <div class="bg-primary-light custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center justify-content-between px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block"> Month (Dec)</small>
                                                                1.00 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">January</a>
                                                            <a class="dropdown-item" href="#">February</a>
                                                            <a class="dropdown-item" href="#">March</a>
                                                            <a class="dropdown-item" href="#">April</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-scroll portle1 mt-3">
                                                <div class="mr-2">
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-border mb-0 table-fixed">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th>Heads</th>
                                                                    <th class="text-right">Financial Year <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                    <th class="text-right">Month <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Royalty</td>
                                                                    <td class="text-right">15415671591.00	</td>
                                                                    <td class="text-right">1223912662.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>DMF</td>
                                                                    <td class="text-right">4447762294.00</td>
                                                                    <td class="text-right">342640633.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>NMET</td>
                                                                    <td class="text-right">304344387.00</td>
                                                                    <td class="text-right">24182560.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Infrastructure & Development Cess	</td>
                                                                    <td class="text-right">731311273.00</td>
                                                                    <td class="text-right">71490765.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Environmental Cess	</td>
                                                                    <td class="text-right">731291667.00</td>
                                                                    <td class="text-right">71490765.00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="m-0  more">
                                                <a href="#" class="btn btn-sm  border shadow-sm">View All <i class="fas fa-arrow-right"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 pl-xl-1 col-lg-6 pl-lg-1 col-12">
                                    <div class="card border shadow-sm">
                                        <div class="card-header  d-flex align-items-center justify-content-between">
                                            <i class="khanijicon-Head-Wise-Revenue mr-3"></i><span class="font-weight-bold"> Vehicle Trips</span> <a href="#" class="ml-auto" title="Refresh"><i class="khanijicon-refresh text-dark font-weight-bold"></i> </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6 pr-xl-1">
                                                    <div class="bg-primary-light custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block">Financial Year (20-21)</small>
                                                                6.75 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">Year 2019-20</a>
                                                            <a class="dropdown-item" href="#">Year 2018-19</a>
                                                            <a class="dropdown-item" href="#">Year 2017-18</a>
                                                            <a class="dropdown-item" href="#">Year 2016-17</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 pl-xl-1">
                                                    <div class="bg-primary-light custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center justify-content-between px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block"> Month (Dec)</small>
                                                                1.00 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">January</a>
                                                            <a class="dropdown-item" href="#">February</a>
                                                            <a class="dropdown-item" href="#">March</a>
                                                            <a class="dropdown-item" href="#">April</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-scroll portle1 mt-3">
                                                <div class="mr-2">
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-border  mb-0">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th>Minerals</th>
                                                                    <th class="text-right">Quantity <small>(unit)</small></th>
                                                                    <th class="text-right">Royalty <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                    <th class="text-right">DMF <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                    <th class="text-right">NMET <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Iron ore</td>
                                                                    <td class="text-right">1318711.220	</td>
                                                                    <td class="text-right">559003245.00</td>
                                                                    <td class="text-right">167424686.00</td>
                                                                    <td class="text-right">11180067.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Coal</td>
                                                                    <td class="text-right">4447762294.00</td>
                                                                    <td class="text-right">342640633.00</td>
                                                                    <td class="text-right">118712726.00</td>
                                                                    <td class="text-right">9420838.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Limestone</td>
                                                                    <td class="text-right">304344387.00	</td>
                                                                    <td class="text-right">24182560.00</td>
                                                                    <td class="text-right">48152000.00</td>
                                                                    <td class="text-right">3329601.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Dolomite</td>
                                                                    <td class="text-right">731311273.00</td>
                                                                    <td class="text-right">71490765.00</td>
                                                                    <td class="text-right">3329601.00</td>
                                                                    <td class="text-right">0.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bauxite</td>
                                                                    <td class="text-right">731291667.00</td>
                                                                    <td class="text-right">71490765.00</td>
                                                                    <td class="text-right">3780823.00</td>
                                                                    <td class="text-right">252054.00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="m-0  more">
                                                <a href="#" class="btn btn-sm  border shadow-sm">View All <i class="fas fa-arrow-right"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 pr-xl-1 col-lg-6 pr-lg-1 col-12">
                                    <div class="card border shadow-sm">
                                        <div class="card-header  d-flex align-items-center justify-content-between">
                                            <i class="khanijicon-DMF mr-3"></i>
                                            <span class="font-weight-bold">Alerts</span> <a href="#" class="ml-auto" title="Refresh"><i class="khanijicon-refresh text-dark font-weight-bold"></i> </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6 pr-xl-1">
                                                    <div class="custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block">Financial Year (20-21)</small>
                                                                6.75 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">Year 2019-20</a>
                                                            <a class="dropdown-item" href="#">Year 2018-19</a>
                                                            <a class="dropdown-item" href="#">Year 2017-18</a>
                                                            <a class="dropdown-item" href="#">Year 2016-17</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 pl-xl-1">
                                                    <div class="custom-dropdown dropdown rounded">
                                                        <a class="d-flex align-items-center justify-content-between px-2 py-2 text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-rupee-sign pr-2"></i>
                                                            <h6 class="m-0 text-white">
                                                                <small class="d-block"> Month (Dec)</small>
                                                                1.00 Lakh
                                                            </h6>
                                                            <i class="fas fa-caret-down text-white ml-auto"></i>
                                                        </a>

                                                        <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">January</a>
                                                            <a class="dropdown-item" href="#">February</a>
                                                            <a class="dropdown-item" href="#">March</a>
                                                            <a class="dropdown-item" href="#">April</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-scroll portle2 mt-3">
                                                <div class="mr-2">
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-border mb-0">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th>District</th>
                                                                    <th class="text-right">Total Amount <small>(<i class="fas fa-rupee-sign"></i>)</small></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Dantewada (Dakshin Bastar)</td>
                                                                    <td class="text-right">15415671591.00	</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Korba</td>
                                                                    <td class="text-right">4447762294.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Balodabazar-Bhatapara</td>
                                                                    <td class="text-right">304344387.00	</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Raigarh</td>
                                                                    <td class="text-right">731311273.00	</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Kanker (Uttar Bastar)</td>
                                                                    <td class="text-right">731291667.00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="m-0  more">
                                                <a href="#" class="btn btn-sm  border shadow-sm">View All <i class="fas fa-arrow-right"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>
@Html.Partial("_footer")
<script>
    $(document).ready(function () {
        loadNavigation('Dashboard', 'gldashboard', 'plLnk', 'tl', 'Dashboard', '', '');
    });
</script>