
@{
    ViewData["Title"] = "SubordinateNew";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('SubordinateNew', 'cgd', 'cgdthree', 'tl', 'Coal Grade Declaration', 'Annual Grade Declaration', ' ');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                New Request
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Application No.(Annexture B )</th>
                                            <th>Name of Mine Owner & Colliery </th>
                                            <th>Name of seam & Thickness</th>
                                            <th>Applied on</th>
                                            <th>Status</th>
                                            <th>History</th>
                                            <th width="100" class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application001</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>05-Jan-2022</td>
                                            <td class="text-info">New Request <br /> <strong>Annexture B</strong> on 06 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application002</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>03-Jan-2022</td>
                                            <td>
                                                <span class="text-info">
                                                    New Request <br />
                                                    <a class="text-primary" data-toggle="modal" data-target="#Annexture-D-details">Annexture D</a>
                                                    on 09 Jan 2022
                                                </span>
                                            </td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application003</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>04-Jan-2022</td>
                                            <td class="text-warning">Pending At Regional Head Geology <br /> <strong>Annexture B</strong> from  8 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application004</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>02-Jan-2022</td>
                                            <td class="text-warning">Pending At Lab Analysist <br /> <strong>Annexture D</strong> from  12 Jan 2022</td>

                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application005</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>02-Jan-2022</td>
                                            <td class="text-success">Approved By DGM <br /> <strong>Annexture B </strong> on 15 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application006</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>02-Jan-2022</td>
                                            <td class="text-warning">Pending At Regional Head Geology <br /> <a class="text-primary" data-toggle="modal" data-target="#Annexture-D-details">Annexture D</a> from  16 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application007</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>02-Jan-2022</td>
                                            <td class="text-warning">Pending At DGM <br /> <a class="text-primary" data-toggle="modal" data-target="#Annexture-D-details">Annexture D</a> from  16 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>8</td>
                                            <td><a class="text-primary" data-toggle="modal" data-target="#Annexture-B-details">Application008</a></td>
                                            <td>
                                                Sarda Energy & Mineral Limited
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br>
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br>
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>06-Jan-2022</td>
                                            <td class="text-danger">Rejected By DGM <br /> <strong>Annexture B </strong> on 12 Jan 2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Annexture-D-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Annexture D | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion mb-3">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                Seam IX
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">

                            <div class="row">
                                <label class="col-lg-5 col-12 col-form-label">Sample No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ACLS-II(Dip) and ACLS -II(Raise)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Date of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>	01 Jan 2022</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of colliery</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Gare Pelma IV/8 coal Mine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of owner/company</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>M/S Ambuja cemout hel</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Pit/Incline/Quarry</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Indine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Place of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Undergroud Mine site (U/G)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Wagon / Trucks No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>OD-JH-2643</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Consignee & Destination</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>-</label>
                                </div>

                                <div class="col-12 mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Sl#</th>
                                                <th colspan="2">Inculding all bands</th>
                                                <th colspan="2">Excluding pickable bands of 10cm & above</th>
                                            </tr>
                                            <tr>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>5423</td>
                                                <td>4326</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>64376</td>
                                                <td>3534</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Provisional / approved declared grade</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>G-10 (as approved by Nominated owner of the company)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Size fraction (ROM / STM / SLK)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ROM</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of loading</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mechanical</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of drawl of samples <br /> (revised procedure laid down by coal controll / BIS)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>As per of DGM , C.G</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name & Designation</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mr. B.N. Singh(Mines Manager)</label>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" href="#collapse2" aria-expanded="true">
                            <a class="card-title">
                                Seam VIII
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-5 col-12 col-form-label">Sample No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ACLS-II(Dip) and ACLS -II(Raise)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Date of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>	01 Jan 2022</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of colliery</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Gare Pelma IV/8 coal Mine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of owner/company</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>M/S Ambuja cemout hel</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Pit/Incline/Quarry</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Indine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Place of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Undergroud Mine site (U/G)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Wagon / Trucks No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>OD-JH-2643</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Consignee & Destination</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>-</label>
                                </div>

                                <div class="col-12 mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Sl#</th>
                                                <th colspan="2">Inculding all bands</th>
                                                <th colspan="2">Excluding pickable bands of 10cm & above</th>
                                            </tr>
                                            <tr>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>5423</td>
                                                <td>4326</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>64376</td>
                                                <td>3534</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Provisional / approved declared grade</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>G-10 (as approved by Nominated owner of the company)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Size fraction (ROM / STM / SLK)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ROM</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of loading</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mechanical</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of drawl of samples <br /> (revised procedure laid down by coal controll / BIS)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>As per of DGM , C.G</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name & Designation</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mr. B.N. Singh(Mines Manager)</label>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" href="#collapse3" aria-expanded="true">
                            <a class="card-title">
                                Seam VII
                            </a>
                        </div>
                        <div id="collapse3" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-5 col-12 col-form-label">Sample No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ACLS-II(Dip) and ACLS -II(Raise)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Date of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>	01 Jan 2022</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of colliery</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Gare Pelma IV/8 coal Mine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name of owner/company</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>M/S Ambuja cemout hel</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Pit/Incline/Quarry</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Indine</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Place of sampling</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Undergroud Mine site (U/G)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Wagon / Trucks No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>OD-JH-2643</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Consignee & Destination</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>-</label>
                                </div>

                                <div class="col-12 mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Sl#</th>
                                                <th colspan="2">Inculding all bands</th>
                                                <th colspan="2">Excluding pickable bands of 10cm & above</th>
                                            </tr>
                                            <tr>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                                <th>Site No. 1</th>
                                                <th>Site No. 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>5423</td>
                                                <td>4326</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>64376</td>
                                                <td>3534</td>
                                                <td>3723 </td>
                                                <td>5723</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Provisional / approved declared grade</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>G-10 (as approved by Nominated owner of the company)</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Size fraction (ROM / STM / SLK)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ROM</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of loading</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mechanical</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Method of drawl of samples <br /> (revised procedure laid down by coal controll / BIS)</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>As per of DGM , C.G</label>
                                </div>

                                <label class="col-lg-5 col-12 col-form-label">Name & Designation</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Mr. B.N. Singh(Mines Manager)</label>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="pt-3"><a href="../CoalGradeDeclaration/DAnnextureDownload" class="text-primary"> Annexture D   </a> <span class="icon-download-solid"></span></div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Annexture-B-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Annexture B | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>1</td>
                            <td width="50%">Name of the Mine Owner / Company</td>
                            <td>Sarda Energy & Mineral Limited</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Name of the Colliery / Siding / CHP</td>
                            <td>Gare Palma</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Name of seam</td>
                            <td>IX , VIII ,VII</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Thickness of seam</td>
                            <td>
                                Seam IX - 4.20 to 5.40 m <br />
                                Seam VIII - 2.23 to 6.38 m <br />
                                Seam VII - 1.34 to 6.86 m
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Height of working section</td>
                            <td>
                                Seam IX - 4.20 to 5.40 m <br />
                                Seam VIII - 2.23 to 6.38 m <br />
                                Seam VII - 1.34 to 6.86 m
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                Vertical section of seam showing all bands indicating nature and thickness <br />
                                (Working section should be indicated by Arrow). <br>
                                This section should be given for each mine in a standard paper of 29 cm  * 23 cm size)
                            </td>
                            <td>
                                <a class="text-primary">Attached as Annexture - I</a>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="11">7</td>
                            <td colspan="2">Analysis of seam samples (Equilibrated basis)</td>
                        </tr>
                        <tr>
                            <td>Ash%</td>
                            <td>
                                Seam IX - 4.60 & 40.21 <br />
                                Seam VIII - 49.38 & 46.39 <br />
                                Seam VI - 60.25 & 60.75
                            </td>
                        </tr>
                        <tr>
                            <td>Moist% </td>
                            <td>
                                Seam IX - 5.99 & 6.14 <br />
                                Seam VIII - 5.01 & 5.70 <br />
                                Seam VI - 5.37 & 5.06
                            </td>
                        </tr>
                        <tr>
                            <td>VM%</td>
                            <td>
                                Seam IX - 25.15 & 25.12 <br />
                                Seam VIII - 22.10 & 22.82 <br />
                                Seam VI - 18.78 & 19.00
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">GCV by Bomb Calorimeter in K.Cal/kg on air dry basis, i.e samples equilibrated at 40 degrees C and 60% Relative Humidity</td>
                        </tr>
                        <tr>
                            <td colspan="2">1. Inculding all bands</td>
                        </tr>
                        <tr>
                            <td>Site No. 1</td>
                            <td>
                                Seam IX - 3723 <br />
                                Seam VIII - 3188 <br />
                                Seam VI - 2215
                            </td>
                        </tr>
                        <tr>
                            <td>Site No. 2</td>
                            <td>
                                Seam IX - 3728 <br />
                                Seam VIII - 3366 <br />
                                Seam VI - 2090
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">2. Excluding pickable bands (of 10cm & above)</td>
                        </tr>
                        <tr>
                            <td>Site No. 1</td>
                            <td rowspan="2">Not Applicable </td>
                        </tr>
                        <tr>
                            <td>Site No. 2</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">8</td>
                            <td colspan="9">
                                Additional analysis result for cooking properties <br />
                                (from Govt. Institution / NABL Accredited laboratory preferably CIMFR, IITs, IIEST, NML-Jamshedpur, IICT- Hyderabad IMMT - Bhubaneshwar etc.
                            </td>
                        </tr>
                        <tr>
                            <th>Sample Details</th>
                            <th>Mean Random Reflectance percent (RO) </th>
                            <th>LTGK</th>
                            <th>CSN</th>
                            <th>GCV(done by Bomb Calorimeter in kcal / kg on dmf basis)</th>
                            <th>VM % on dmf basis</th>
                            <th>Carbon % (dmf)</th>
                            <th>Hydrogen % (dmf)</th>
                            <th>Moisture % (60% R.H) parts/100 parts unit coal</th>
                        </tr>
                        <tr>
                            <td colspan="9">Not Applicable</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">9</td>
                            <td colspan="8">
                                Analysis results of Wagon samples/ Truck sample / Belt Conveyor sample / Ropeway sample / Third party /Joint sample (on equillibrated conditions basis)
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Consignee/ Destination </th>
                            <th>Wagon No./ Truck No./ Belt No.</th>
                            <th>Ash %</th>
                            <th>Moist %</th>
                            <th>VM %</th>
                            <th>GCV Kcal/Kg</th>
                            <th>Grade / Quality</th>
                        </tr>
                        <tr>
                            <td colspan="8">Not Applicable</td>
                        </tr>

                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">10</td>
                            <td colspan="8">
                                Analysis Results of Joint Samples
                            </td>
                        </tr>
                        <tr>
                            <th>Consignee</th>
                            <th>Sample No.</th>
                            <th>Sample Date</th>
                            <th>Ash %</th>
                            <th>Moist %</th>
                            <th>VM % on dmf basis</th>
                            <th>GCV Kcal/Kg</th>
                            <th>Grade / Quality</th>
                        </tr>
                        <tr>
                            <td colspan="8">Not Applicable</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3">11</td>
                            <td colspan="3">
                                Composite grade of CHP/CSP/Siding with mention of proportions of seams
                                and grade wise despatches in tonnes certifying the maintenance of proportion of mixing of coal from feeder streams of collieries and distances
                                from colliery end to the dispatch points by the nominated owner, Agent or Manager of the coal company
                            </td>
                        </tr>
                        <tr>
                            <th>Mine</th>
                            <th>Seam</th>
                            <th>Grade / Quality Proposed for each such qty loaded through CHP/CSP/Siding</th>
                        </tr>
                        <tr>
                            <td colspan="3">Not Applicable</td>
                        </tr>

                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td width="30px">12</td>
                            <td width="50%">
                                Weather steam , slack are suitably graded(the arrangement for segregation should be mentioned along with likely % of
                                steam and slack in each grade/Quality included & be declared)
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>
                                In ROM coal , where average are 60% steam , 40% slack, specify the arrangement for limiting the top size of coal to 200-250 mm
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>
                                Distance between Railway siding to Pit- Head where surface transportation charges are
                                levied and the name of the siding from where the coal will be dispatched by rail/trucks
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                Grade Proposed for the year
                            </td>
                            <td>
                                ROM <br />
                                Seam IX - G12 <br />
                                Seam VIII - G14 <br />
                                Seam IX - G17
                            </td>
                        </tr>


                    </table>
                </div>

                <div class="pt-3"><a href="../CoalGradeDeclaration/BAnnextureDownload" class="text-primary">Annexture Form B</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">

                <div class="row">
                    <label class="col-lg-4 col-12 col-form-label">Name of the Mine Owner</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Sarda Energy & Mineral Limited</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Name of the Colliery</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Gare Palma</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Name of seam</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Seam IX , Seam VIII , Seam VII</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Thickness of seam</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            <span>Seam IX - 4.20 to 5.40 m</span>
                            <br>
                            <span>Seam VIII - 2.23 to 6.38 m</span>
                            <br>
                            <span>Seam VII - 1.34 to 6.86 m</span>
                        </label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Applied on</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>06-Jan-2022</label>
                    </div>

                </div>



                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-3 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Verified & Forwarded</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Approved Annexture B & D</span>
                        <span class="content_date">15 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Regional Head Geology</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded Annexture D</span>
                        <span class="content_date">11 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Subordinate Geology</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded Annexture D</span>
                        <span class="content_date">09 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Lab Analysist</span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Annexture D Submitted</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Name of Colliery &amp; Name of Mine Owner  </span> adakalapudi Railway Siding &amp;  The federal and state level
                            <span class="font-weight-bold d-block">Sample No. &amp; Date of sampling </span> Sample456783 &amp; 05-Jan-2022
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Subordinate Geology</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded Annexture B</span>
                        <span class="content_date">04 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Regional Head Geology</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded Annexture B</span>
                        <span class="content_date">03 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Regional Head Geology</span>
                        <span class="content_tag reject"><i class="icon-times-solid mr-2"></i>Rejected Annexture B</span>
                        <span class="content_date">03 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Amit Rajan <br> <small class="font-weight-bold"> (Coal Lessee) </small></span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Annexture B Submitted</span>
                        <span class="content_date">02 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Name of Mine Owner &amp; Name of Colliery </span> The federal and state level &amp; adakalapudi Railway Siding
                            <span class="font-weight-bold d-block">Name of seam &amp; Thickness </span> Coal Seam (30)
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





















