@*@using userregistrationEF;
@model userregistrationEF.EndUserModel;*@
@{
    ViewData["Title"] = "ProfileView";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="box form-container">
    <div class="content-body">
        @using (Html.BeginForm("VerifyProfile", "EndUser", FormMethod.Post, new { id = "form1" }))
        {
            @*@if (Model != null && !String.IsNullOrEmpty(Model.StateId.ToString()))
            {
                if (Convert.ToString(Model.StateId) == "7")
                {
                    <h1>Profile 
                        <span class="text-danger">Pending at @Model.DistrictName Mining Office</span>, Chhattisgarh for approval.
                    </h1>
                }
                else
                {
                    <h1>
                Profile  <span class="text-danger">
                Pending at Directorate of Geology & Mining</span>, 
                Chhattisgarh for approval.</h1>
                }
            }*@
            <div class="col-xs-12 text-center py-5">
                <h1>Profile <span class="text-danger">Pending at Mining Office</span>, Chhattisgarh for approval.</h1>

            </div>

        }
    </div>
</section>