@using MasterEF;
@using MasterApp.Web;
@using Microsoft.AspNetCore.Mvc;
@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
    //UserLoginSession profile = HttpContextAccessor.HttpContext.Session.Get<UserLoginSession>(KeyHelper.UserKey);
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*  <uc1:navigation runat="server" ID="navigation" />*@
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0"> Licensee Details</h5>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/UserInformationLiensee/IBMDetails">IBM Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeIBMProfileRequests"> IBM Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/UserInformationLiensee/CTEDetails">CTE Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeCTEProfileRequests"> CTE Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/CTODetail/Create">CTO Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeCTEProfileRequests">CTO Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/GrantDetails/Create">Grant Order Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeGrantProfileRequests">Grant Order Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/EnvrinmentClearance/ECDetail">EC Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeECProfileRequests">EC Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/AreaDetails/Create">Area Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeAreaProfileRequests">Area Details Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/OfficeDetails/Create">Office Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeOfficeProfileRequests">Office Details Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/ApplicationDetails/Create">Application Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeApplicatinProfileRequests">Office Details Profile Requests</a>
                        </div>
                        <div class="row">
                            <a class="nav-link " href="~/Licensee/Mineralinfo/Create">Mineral Details</a>
                            <a class="nav-link " href="~/DMO/LicenseeProfile/ViewLicenseeMineralProfileRequests">Mineral Details Profile Requests</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>