@*// *********************************************************************************************************
    //  View Name                : GrantQuarryPermitView
    //  Desciption               : View MPR details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 14 April 2022
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "GrantQuarryPermitView";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('GrantQuarryPermitView', 'gl', 'pl', 'tl', 'Geology Report', 'MPR ', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Geology/CoalGradeDeclaration/GrantQuarryPermit">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Geology/CoalGradeDeclaration/GrantQuarryPermitView">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Application No.</th>
                                            <th>Applied on</th>
                                            <th>Status</th>
                                            <th>History</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#exampleModal" class="text-primary">Application001</a><br />
                                                <a href="GrantQuarryPermitDownload" class="text-primary">MPR <span class="icon-download-solid text-danger"></span></a>
                                            </td>
                                            <td>22-jan-2022</td>
                                            <td>
                                                <span class="text-danger">1. Not Forwaded</span>
                                                <br />
                                                <span class="text-success">2. Approved by <strong>OIC Geology</strong> on 08-Jan-2019</span>
                                                <br />
                                                <span class="text-warning">3. Pending at <strong>Regeneral Head</strong> <span class="text-dark font-italic font-weight-bold">since 2 days</span></span>
                                                <br />
                                                <span class="text-danger">4. Objection by <strong>Regeneral Head</strong> on 12-Jan-2022</span>
                                                <br />
                                                <span class="text-danger">5. Rejected by <strong>OIC Geology</strong> on 12-Jan-2022</span>
                                            </td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a href="#" class="text-success btn-sm" title="Edit"> <i class="icon-pencil-alt-solid"></i></a>
                                                <a class="btn btn-success btn-sm text-capitalize mb-2">Forward</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    View Details | Application001
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                General Details
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Objective</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Lorem Ipsum dollar sit</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Camp Name</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>J.S Pratwi</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label"> Village</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label"> Post Office</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Tahsil</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>



                                <label class="col-lg-6 col-12 col-form-label">District</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Pincode</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>227494</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Telephone No. </label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>8537347543</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>9937347543</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Name of the Camp in Charge</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Prakash singh</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Designation</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Joint Ofiicer Head</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Date of commencement of the investigation</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>22-Jan-2022</label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                            <a class="card-title">
                                Expenditure incurred
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Up to the last month</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>34000</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">During the month</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>11000</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                            <a class="card-title">
                                Detail of During the month
                            </a>
                        </div>
                        <div id="collapse3" class="card-body  collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Labour</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>1000</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">P.O.L</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>1000</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Others</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>1000</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Repairs and Maintenance</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>2000</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Total</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5000</label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
                            <a class="card-title">
                                Exploration data (in metric units)
                            </a>
                        </div>
                        <div id="collapse4" class="card-body collapse" data-parent="#accordion">

                            <div class="row">

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Progress in respect of</th>
                                                    <th>Target</th>
                                                    <th>Work done up to the last month</th>
                                                    <th>Work done during the month</th>
                                                    <th>Total work done at the end of current month</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>A. Reco. Geological Survey</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Scale - 1:50,000
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> B. Reco. Geological Survey</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Scale - 1:4,000
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> C. Pitting</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Nos.
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Volume (cu. m.)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th> D. Trenching</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Nos.
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Volume (cu. m)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th>  E. Drilling</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        B.H. Completed

                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Meterage
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        B.H. Under Progress

                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Total Meterage
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        F. Geochemical sampling
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        G. Geophysical Survey
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> H. Photogeological Survey</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Pre field interpretation (Km2 on scale)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Post field interpretation (Km2 on scale)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Field Check (Km2 on scale)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> I. Sampling (Survey/ core sample)</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Samples Drawn
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Samples prepared
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Samples sent for Chemical
                                                        analysis
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Samples sent for Petrography
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> J. RESERVES</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Inferred (Million Tonnes)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Estimated (Million Tonnes)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Proved (Million Tonnes)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>K. Topographical Survey</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Laying of base line (km.) 1:4000
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Laying of grids (km2)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        No. of Pits/B.H. Points Located
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        R.L./ Co-ordinates of pits/B.H.
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Contouring (km2)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Plotting of village boundary
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Plotting of road/ nala (km)
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false">
                            <a class="card-title">
                                Other Information (If Any)
                            </a>
                        </div>
                        <div id="collapse5" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">Lorem ipsum dollar sit lorem ipsum dollar sit  lorem ipsum dollar sit</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false">
                            <a class="card-title">
                                Halt at Camps for Officers (For staffs attached separate leaf)
                            </a>
                        </div>
                        <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive mt-3">
                                        <table class="table table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th width="30px">Sl#</th>
                                                    <th>Name &amp; Designation</th>
                                                    <th>No. of  Days</th>
                                                    <th>Remark <small>(If Any)</small></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false">
                            <a class="card-title">
                                Remark & Upload Document(Multiple)
                            </a>
                        </div>
                        <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">Lorem ipsum dollar sit lorem ipsum dollar sit  lorem ipsum dollar sit</label>
                                </div>
                                <div class="col-lg-12">
                                    <div class="table-responsive mt-3">
                                        <table class="table table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th width="30px">Sl#</th>
                                                    <th>Document Name</th>
                                                    <th>Download Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Lorem Ipsum</td>
                                                    <td><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">

                    <div class="timeline__content">
                        <span class="content_degination">OIC Geology</span>
                        <span class="content_tag reject"><i class="icon-trash-alt-solid mr-2"></i>Reject</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>



                    <div class="timeline__content">
                        <span class="content_degination">OIC Geology</span>
                        <span class="content_tag approve">
                            <i class="icon-check-double-solid mr-2"></i>
                            Approved
                        </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Regional Head</span>
                        <span class="content_tag reject"><i class="icon-times-solid mr-2"></i>Objection</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Regional Head</span>
                        <span class="content_tag verify">
                            <i class="icon-check-solid mr-2"></i>
                            Verified & Forwarded
                        </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Field Officer</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Add Monthly Progress Report(MPR)</span>
                        <span class="content_date">02 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Objective </span> Lorem Ipsum
                            <span class="font-weight-bold d-block">Camp Name</span> J.S Pratwi
                            <span class="font-weight-bold d-block">District</span> Bijapur
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





