
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'CMS', 'Set Permission', ' ');
        $('.searchableselect').searchableselect();
    });
</script>
<style>
    .form-check {
        display: flex;
        align-items: center;
    }
    .form-check-label {
        padding-left: 0.3rem;
    }
    input[type=checkbox], input[type=radio]
    {
        width: 18px;
        height: 18px;
    }
    .accordion .card-header:after {
        font-family: 'icons';
        content: "\e923";
        float: right;
    }

    .accordion .card-header.collapsed:after {
        content: "\e926";
    }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                               Set Permission
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row mb-3">
                            <label class="col-form-label col-md-2">User Name<span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-md-4">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected>Select</option>
                                        <option>Ajay Kumar</option>
                                        <option>Vijay Das</option>
                                        <option>Rahul Singh</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        

                        <div id="accordion" class="accordion">
                            <div class="card border-bottom">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                                    <a class="card-title">
                                        Manage User
                                    </a>
                                </div>
                                <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">
                                    <div class="row">
                                        <div class="col-lg-10 col-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th width="200px" class="bg-white">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="all1">
                                                                    <label class="form-check-label" for="all1">
                                                                        All
                                                                    </label>
                                                                </div>
                                                            </th>
                                                            <th class="bg-white">Author Rights</th>
                                                            <th class="bg-white">Editor Rights</th>
                                                            <th class="bg-white">Publisher Rights</th>
                                                            <th class="bg-white">Manager Rights</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        User Profile
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox1" value="option1">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox2" value="option2">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox3" value="option3">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox4" value="option4">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="defaultCheck2">
                                                                    <label class="form-check-label" for="defaultCheck2">
                                                                        Set Permission
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox5" value="option1">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox6" value="option2">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox7" value="option3">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox8" value="option4">
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-bottom">
                                <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                                    <a class="card-title">
                                        Manage Pages
                                    </a>
                                </div>
                                <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                                    <div class="row">
                                        <div class="col-lg-10 col-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th width="200px" class="bg-white">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="all2">
                                                                    <label class="form-check-label" for="all2">
                                                                        All
                                                                    </label>
                                                                </div>
                                                            </th>
                                                            <th class="bg-white">Author Rights</th>
                                                            <th class="bg-white">Editor Rights</th>
                                                            <th class="bg-white">Publisher Rights</th>
                                                            <th class="bg-white">Manager Rights</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Pages
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox1" value="option1">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox2" value="option2">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox3" value="option3">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox4" value="option4">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="defaultCheck2">
                                                                    <label class="form-check-label" for="defaultCheck2">
                                                                        Global Link
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox5" value="option1">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox6" value="option2">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox7" value="option3">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox8" value="option4">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="defaultCheck2">
                                                                    <label class="form-check-label" for="defaultCheck2">
                                                                        Primary Link
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox9" value="option1">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox10" value="option2">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox11" value="option3">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input position-static" type="checkbox" id="Checkbox12" value="option4">
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-bottom">
                                <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                                    <a class="card-title">
                                        Manage CMS
                                    </a>
                                </div>
                                <div id="collapse3" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-10 col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="200px" class="bg-white">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="all3">
                                                                        <label class="form-check-label" for="all3">
                                                                            All
                                                                        </label>
                                                                    </div>
                                                                </th>
                                                                <th class="bg-white">Author Rights</th>
                                                                <th class="bg-white">Editor Rights</th>
                                                                <th class="bg-white">Publisher Rights</th>
                                                                <th class="bg-white">Manager Rights</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1">
                                                                        <label class="form-check-label" for="defaultCheck1">
                                                                            Notification
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox1" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox2" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox3" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox4" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck2">
                                                                        <label class="form-check-label" for="defaultCheck2">
                                                                            Tender
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox5" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox6" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox7" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox8" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck3">
                                                                        <label class="form-check-label" for="defaultCheck3">
                                                                            Staff Directory
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox9" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox10" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox11" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox12" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck4">
                                                                        <label class="form-check-label" for="defaultCheck4">
                                                                            Testimonial
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox13" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox14" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox15" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox16" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck5">
                                                                        <label class="form-check-label" for="defaultCheck5">
                                                                            Banner
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox17" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox18" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox19" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox20" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck6">
                                                                        <label class="form-check-label" for="defaultCheck6">
                                                                            Gallery
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox21" value="option1">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox22" value="option2">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox23" value="option3">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input position-static" type="checkbox" id="Checkbox24" value="option4">
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                            <div class="row mt-4">
                                <div class="col-md-12 col-sm-12">
                                    <input type="submit" value="Submit" name="cmd" class="btn btn-success btn-md">
                                    <input type="button" value="Cancel" class="btn btn-danger btn-md">
                                </div>
                            </div>

                        </div>
</section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>




