<div class="page-sidebar-wrapper" id="main-menu-wrapper">
    <nav class="navbar">
        <div class="left-user-details">
            <div class="img-div">
                <img src='@Url.Content("~/img/profile.jpg")' alt="user-image" class="">
            </div>
            <p>Administrator </p>
        </div>
        <div class="navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav" id="menu">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index?MMenuId=31"><i class="icon-chalkboard-solid"></i><span>Dashboard</span></a>
                </li>
            </ul>
        </div>
        @*<div class="navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html"><i class="icon-newspaper-solid"></i><span>Dashboard</span></a>
                </li>

                <li class="nav-item dropdown mmc">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Mineral Concession</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item mmccl" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i> Major Mineral Coal (CL)
                        </a>
                        <a class="dropdown-item mmcql" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i> Major Mineral Coal (QL)
                        </a>
                        <a class="dropdown-item mmccl" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i> Major Mineral Non-Coal (CL)
                        </a>
                        <a class="dropdown-item mmcql" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i> Major Mineral Non-Coal (QL)
                        </a>
                        <a class="dropdown-item mmone" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i>31 Minor Mineral  CL e-Auction , Govt. land
                        </a>
                        <a class="dropdown-item mmtwo" href="#">
                            <i class="icon-long-arrow-alt-right-solid"></i>31 Minor Mineral QL e-Auction , Govt. land
                        </a>
                        <a class="dropdown-item mmthreeone" href="../PrivateLand/CLAdd">
                            <i class="icon-long-arrow-alt-right-solid"></i>31 Minor Mineral CL Non-Auction , Pvt. land
                        </a>
                        <a class="dropdown-item mmfour" href="../PrivateLand/QLAdd">
                            <i class="icon-long-arrow-alt-right-solid"></i>31 Minor Mineral QL Non-Auction , Pvt. land
                        </a>
                        <a class="dropdown-item ommql" href="../OtherMineral/QLEAuction">
                            <i class="icon-long-arrow-alt-right-solid"></i>Other Minor Mineral QL e-Auction , Govt. land
                        </a>
                        <a class="dropdown-item ommcl" href="../OtherMineral/QLNonAuction">
                            <i class="icon-long-arrow-alt-right-solid"></i>Other Minor Mineral QL Non-Auction , Pvt. land
                        </a>
                    </div>
                </li>


                <li class="nav-item dropdown mccl">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>31 Minor Mineral  CL e-Auction , Govt. land</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item dgmoperator" href="../Home/IndexTwo">
                            <i class="icon-long-arrow-alt-right-solid"></i> DGM Operator
                        </a>
                        <a class="dropdown-item mccldgm" href="../DGM/CompositeViewList">
                            <i class="icon-long-arrow-alt-right-solid"></i> DGM
                        </a>
                        <a class="dropdown-item mcclmrd" href="../MRD/CompositeViewList">
                            <i class="icon-long-arrow-alt-right-solid"></i> MRD
                        </a>
                        <a class="dropdown-item mcclddmo" href="../DDMO/CompositeViewList ">
                            <i class="icon-long-arrow-alt-right-solid"></i> DD/MO
                        </a>
                        <a class="dropdown-item mcclbidder" href="../Bidder/Add">
                            <i class="icon-long-arrow-alt-right-solid"></i>  Bidder
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown mcql">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>31 Minor Mineral QL e-Auction , Govt. land</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item mcqlbidder" href="../Home/Index">
                            <i class="icon-long-arrow-alt-right-solid"></i> Bidder
                        </a>
                        <a class="dropdown-item mcqlddmo" href="../DDMO/QuarryLeaseNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> DD/MO
                        </a>
                        <a class="dropdown-item mcqlmiro" href="../MIRO/QuarryLeaseNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> MI/RO
                        </a>
                        <a class="dropdown-item mcqldgm" href="../DGM/QuarryLeaseNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> DGM
                        </a>
                        <a class="dropdown-item mcqlmrd" href="../MRD/QuarryLeaseNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> MRD
                        </a>
                    </div>
                </li>


                <li class="nav-item dropdown weigbrig">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Weigh Bridge</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item weigbrigone" href="../WeighBridge/IndividualRegistration">
                            <i class="icon-long-arrow-alt-right-solid"></i> Individual Registration
                        </a>
                        <a class="dropdown-item weigbrigtwo" href="../WeighBridge/IndividualRegistrationRequestNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> DD Approve
                        </a>
                        <a class="dropdown-item weigbrigthree" href="../WeighBridge/UpdateWBValidity">
                            <i class="icon-long-arrow-alt-right-solid"></i> Update WB validity
                        </a>
                        <a class="dropdown-item weigbrigfour" href="../WeighBridge/OutsideRegistration">
                            <i class="icon-long-arrow-alt-right-solid"></i> Independent Registration
                        </a>
                        <a class="dropdown-item weigbrigfive" href="../WeighBridge/OutsideRegistrationRequestDD">
                            <i class="icon-long-arrow-alt-right-solid"></i> DD Verify & Forward
                        </a>
                        <a class="dropdown-item weigbrigsix" href="../WeighBridge/OutsideRegistrationRequestDGM">
                            <i class="icon-long-arrow-alt-right-solid"></i> DGM Forward
                        </a>
                        <a class="dropdown-item weigbrigseven" href="../WeighBridge/OutsideRegistrationRequestMRD">
                            <i class="icon-long-arrow-alt-right-solid"></i> MRD Approve
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown cgd">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Coal Grade Declaration</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item cgdone" href="../CoalGradeDeclaration/AddCoalLessee">
                            <i class="icon-long-arrow-alt-right-solid"></i> Annual Grade Declaration (Coal Lessee)
                        </a>
                        <a class="dropdown-item cgdtwo" href="../CoalGradeDeclaration/RHGNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> Annual Grade Declaration (Regional Head Geology)
                        </a>
                        <a class="dropdown-item cgdthree" href="../CoalGradeDeclaration/SubordinateNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> Annual Grade Declaration (Subordinate Geology)
                        </a>
                        <a class="dropdown-item cgdfour" href="../CoalGradeDeclaration/LabAnalysisReportNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> Annual Grade Declaration (Lab Analysist)
                        </a>
                        <a class="dropdown-item cgdfive" href="../CoalGradeDeclaration/DGMNew">
                            <i class="icon-long-arrow-alt-right-solid"></i> Annual Grade Declaration (DGM)
                        </a>
                        <a class="dropdown-item cgdsix" href="../CoalGradeDeclaration/GrantQuarryPermit">
                            <i class="icon-long-arrow-alt-right-solid"></i> Grant Quarry Permit
                        </a>
                        <a class="dropdown-item cgdseven" href="../CoalGradeDeclaration/MineralSample">
                            <i class="icon-long-arrow-alt-right-solid"></i> Analysis of Mineral Sample
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown wfe">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Work Flow Enginee</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item wfeone" href="../WorkFlowEnginee/ModuleMaster">
                            <i class="icon-long-arrow-alt-right-solid"></i> Module Master
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown assrep">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Assessment Report</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item assrepone" href="../AssessmentReport/AsstReptLessee">
                            <i class="icon-long-arrow-alt-right-solid"></i> Assessment Report (Lessee)
                        </a>
                        <a class="dropdown-item assreptwo" href="../AssessmentReport/AssessmentReportMI">
                            <i class="icon-long-arrow-alt-right-solid"></i> Assessment Report (MI)
                        </a>
                        <a class="dropdown-item assrepthree" href="../AssessmentReport/AssessmentReportDDMO">
                            <i class="icon-long-arrow-alt-right-solid"></i> Assessment Report (DD/MO)
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown qryplnapvl">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-arrow-alt-circle-right"></i><span>Quarry Plan Approval</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item qryplnapvlone" href="../QuarryPlanApproval/QuarryPlanApprovalLessee">
                            <i class="icon-long-arrow-alt-right-solid"></i> Quarry Plan Approval (Lessee)
                        </a>
                        <a class="dropdown-item qryplnapvltwo" href="../QuarryPlanApproval/QuarryPlanApprovalDDMO">
                            <i class="icon-long-arrow-alt-right-solid"></i> Quarry Plan Approval (DD/MO)
                        </a>
                        <a class="dropdown-item qryplnapvlthree" href="../QuarryPlanApproval/QuarryPlanApprovalMI">
                            <i class="icon-long-arrow-alt-right-solid"></i> Quarry Plan Approval (MI)
                        </a>
                        <a class="dropdown-item qryplnapvlfour" href="../QuarryPlanApproval/QuarryPlanApprovalDGM">
                            <i class="icon-long-arrow-alt-right-solid"></i> Quarry Plan Approval (DGM)
                        </a>
                    </div>
                </li>

            </ul>
        </div>*@
    </nav>
</div>
@*<script>
    $.ajax({
        url: '/Home/getcmsmenu',
        dataType: 'json',
        type: 'post',
        success: function (data) {
            console.log(data);
            var s = "";
            $("#menu").append(data);
        },
        error: function (err) {
        }
    });
</script>*@

