/*----------------------------------------
Page Top Bar
------------------------------------------*/

.page-topbar {
    min-height: 74px;
    position: fixed;
    width: 100%;
    background-color: $primary;
    // border-bottom: solid 1px $primary-border;
    top: 0px;
    left: 0px;
    z-index: 1000;
    max-height: 74px;
    -webkit-box-shadow: 1px 1px 10px rgb(58 59 69);
    box-shadow: 1px 1px 10px rgb(58 59 69);
}

.page-topbar .logo-area {
    //width: 260px;
    color: #fff;
    display: block;
    min-height: 74px;
    padding: 0 0 0 0.5rem;
    float: left;
    display: flex;
    align-items: center;
    .title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -30px;
            height: 76px;
            width: 1px;
            background-color: #ea9e9c;
        }
    }
}

.page-topbar {
    .logo-area {
        h1 {
            color: #fff;
            font-size: 1.1rem;
            font-weight: 700;
            margin: 0 0 0.1rem 0.3rem;
        }
        small {
            display: block;
            white-space: nowrap;
            padding-top: .3rem;
        }
    }
    .khanij-online {
        span {
            line-height: 1.2rem;
            font-weight: bold;
        }
        img {
            height: 35px;
        }
    }
    .quick-area {
        .info-menu {
            height: 74px;
            margin: 0;
            line-height: 74px;
            padding: 0 15px;
            li {
                position: relative;
                &.logout-lnk {
                    a {
                        &.toggle {
                            background-color: $white;
                            border-color: $red;
                            color: $danger;
                        }
                    }
                }
                a {
                    &.toggle,
                    &.setting-show,
                    &.sidebar_toggle {
                        width: 30px;
                        height: 30px;
                        line-height: 31px;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        font-size: 17px;
                        background-color: rgba($black, .15);
                        //border: solid 1px $primary;
                        color: $white;
                        position: relative;
                        &:hover {
                            background-color: rgba($white, .3);
                            //border-color: $gray-400;
                            color: $white
                        }
                    }
                }
                &:hover {
                    background-color: transparent;
                }
                li {
                    padding: 0;
                    li {
                        padding: .45rem 1rem;
                        line-height: 18px;
                        &.unread {
                            background-color: $gray-100;
                        }
                        &.unread {
                            .small,
                            small {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
    &.sidebar_shift {
        .logo-area {
            h1 {
                display: none;
            }
        }
        .quick-area .info-menu li {
            &.sidebar-toggle-wrap {
                left: -5px;
            }
        }
    }
    .quick-area .info-menu li a.sidebar_toggle {
        padding: 0;
        color: $white;
        border-color: transparent;
    }
}

@media (max-width:1152px) {
    .page-topbar {
        .khanij-online {
            span {
                line-height: 1rem;
                font-size: 0.8rem;
                font-weight: normal !important;
            }
            img {
                height: 32px;
            }
        }
    }
}

.page-topbar .quick-area .info-menu li a.toggle .badge,
.page-topbar .quick-area .info-menu li a.setting-show .badge,
.page-topbar .quick-area .info-menu li a.sidebar_toggle .badge {
    position: absolute;
    font-size: 10px;
    padding: 4px;
    margin: 10px 0 0 -5px;
    width: 18px;
    height: 18px;
}

.page-topbar .quick-area .info-menu li a.setting-show i {
    font-size: 18px;
}

.page-topbar .quick-area .info-menu li.profile {
    padding-left: 0.5rem;
    a {
        &.toggle {
            border-radius: 2rem;
            padding: 0 0.6rem 0 0;
            span {
                padding: 0 0 0 6px;
            }
        }
    }
}

.page-topbar .quick-area .info-menu li.profile a {
    width: auto;
    text-decoration: none;
}

.page-topbar .quick-area .info-menu li.profile img {
    height: 36px;
    width: 36px;
    position: relative;
    background-color: #999999;
    left: 2px;
    top: -2px;
}

.page-topbar .message-toggle-wrapper,
.page-topbar .notify-toggle-wrapper,
.page-topbar .searchform,
.page-topbar li.profile {
    opacity: 0;
}

.page-topbar .message-toggle-wrapper.showopacity,
.page-topbar .notify-toggle-wrapper.showopacity,
.page-topbar .searchform.showopacity,
.page-topbar li.profile.showopacity {
    opacity: 1 !important;
}


/*------- Drop Down ----------*/

.page-topbar .quick-area .info-menu li .dropdown-menu {
    width: 18rem;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 23px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -o-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    margin-top: -1px;
    padding-top: 0px;
    top: 21px !important;
    //left: -15px !important;
}


/*---- top arrow - start ----- */

.page-topbar .dropdown-menu {
    background: #ffffff;
    border: 1px solid #f5f5f5;
}


/*---- dropdown list ----- */

.page-topbar li .dropdown-menu li.list {
    padding: 0;
    overflow: auto;
    max-height: 300px;
    height: 300px;
}

.page-topbar li .dropdown-menu li li {
    width: 100%;
    display: block;
    position: relative;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.page-topbar li .dropdown-menu li li:last-child {
    border-bottom: 0px;
}

.page-topbar li .dropdown-menu li a {
    text-decoration: none;
    color: #717171;
}

.page-topbar li .dropdown-menu li .name,
.page-topbar li .dropdown-menu li .desc {
    display: block;
    position: relative;
}

.page-topbar li .dropdown-menu li .user-img img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 15px 0 0;
    opacity: 0.8;
}

.page-topbar li .dropdown-menu li .profile-status {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.page-topbar li .dropdown-menu li .name {
    color: #aaaaaa;
}

.page-topbar li .dropdown-menu li .desc {
    color: #999999;
}

.page-topbar li .dropdown-menu li.unread .user-img img {
    opacity: 1;
    margin-bottom: 20px;
}

.page-topbar li .dropdown-menu li.unread .name {
    color: #717171;
}

.page-topbar li .dropdown-menu li.unread .desc {
    color: #777777;
}

.page-topbar li .dropdown-menu li.external a:hover,
.page-topbar li .dropdown-menu li.external {
    height: auto;
    background: #eeeeee;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.page-topbar li .dropdown-menu li.external a {
    display: block;
    padding: 5px 8px;
    color: $danger;
    font-size: 8px;
    line-height: 0rem;
}


/* ---- notifications page top bar ----- */

.page-topbar li .dropdown-menu.notifications li .name .time {
    display: block;
    position: relative;
}

.page-topbar li .notifications .notice-icon i {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    color: #ffffff;
    margin-top: 5px;
}

.page-topbar li .notifications .total {
    padding: 0px 30px 0px 30px;
}

.page-topbar li .notifications .total span {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eaeaea;
    display: block;
}

.page-topbar li .notifications .available .notice-icon i {
    background-color: #4CAF50;
}

.page-topbar li .notifications .busy .notice-icon i {
    background-color: rgba(240, 80, 80, 1);
}

.page-topbar li .notifications .away .notice-icon i {
    background-color: rgba(255, 193, 7, 1);
}

.page-topbar li .notifications .idle .notice-icon i {
    background-color: rgba(250, 133, 100, 1);
}

.page-topbar li .notifications .offline .notice-icon i {
    background-color: rgba(169, 169, 169, 1);
}


/*---- profile drop down -----*/

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0px;
}

.page-topbar li .dropdown-menu.profile li {
    line-height: 32px;
    display: block;
    height: 40px;
    margin: 0px;
    padding: 0.25rem 1rem;
}

.page-topbar li .dropdown-menu.profile li:hover {
    background: #eeeeee;
}

.page-topbar li .dropdown-menu.profile li i {
    margin-right: 10px;
    line-height: 36px;
    height: 36px;
    width: auto;
    text-align: center;
}

.page-topbar li .dropdown-menu.profile li a {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.page-topbar li .dropdown-menu.profile li.last a,
.page-topbar li .dropdown-menu.profile li a:hover {
    background: transparent;
}

@media (max-width: 1152px) {
    .page-topbar {
        .logo-area {
            h1 {
                font-size: 1rem;
            }
            small {
                padding-top: .2rem;
            }
            // img {
            //     height: 50px;
            // }
        }
    }
}

@media (max-width: 576px) {
    .profile .toggle span {
        display: none;
    }
    .page-topbar .quick-area .info-menu li .dropdown-menu {
        left: -10px !important;
    }
    .page-topbar {
        .quick-area {
            .info-menu {
                li {
                    &.profile {
                        a {
                            background-color: transparent;
                            border-color: transparent;
                            img {
                                border: solid 1px $gray-300;
                            }
                            &:hover {
                                background-color: transparent;
                                border-color: transparent;
                            }
                        }
                        img {
                            right: 0px;
                            height: 32px;
                            width: 32px;
                        }
                        .dropdown-menu {
                            right: auto;
                            left: -122px;
                        }
                    }
                }
            }
        }
    }
    .page-topbar .profile .dropdown-menu:after,
    .page-topbar .profile .dropdown-menu:before {
        right: 22px;
        left: auto;
    }
}

@media (max-width: 680px) {
    .profile .toggle span {
        display: none;
    }
    .page-topbar .quick-area .info-menu li.profile img {
        right: 0px;
    }
    .page-topbar .quick-area .pull-left ul.info-menu {
        padding-right: 0px;
    }
    .page-topbar .quick-area .pull-right ul.info-menu {
        padding-left: 0px;
    }
}

@media (max-width: 245px) {
    .page-topbar .quick-area .pull-left {
        display: none;
    }
}


/*--- Search Form ----*/

.page-topbar li.searchform {
    margin-left: 15px;
    height: 34px;
}

.page-topbar li.searchform .input-group {
    top: 6px;
    width: 30px;
    cursor: hand;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.page-topbar li.searchform .input-group-addon {
    border: none;
    margin-left: 30px;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    min-width: 10px;
    padding: 0px;
    border-bottom: 5px solid transparent;
}

.page-topbar li.searchform.focus .input-group-addon {
    border-bottom: 0px solid transparent;
}

.page-topbar li.searchform .form-control {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    width: 0px;
    color: #ffffff;
}

.page-topbar li.searchform.focus .form-control {
    display: inline-block;
    width: 100%;
}

.page-topbar li.searchform.focus .input-group {
    width: 260px;
    top: 3px;
    border-bottom: 2px solid transparent;
    height: 34px;
}

.page-topbar li.searchform.focus .input-group {
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    height: 34px;
}

.page-topbar li.searchform input[type="submit"] {
    display: none;
}

.page-topbar li.searchform form {
    display: inline-block;
    height: 34px;
    top: 8px;
    position: relative;
}


/*----------------------------------------
Sidebar Main Menu
------------------------------------------*/

.page-sidebar {
    height: auto;
    width: 260px;
    position: fixed;
    padding: 0px;
    //background-color: #ffffff;
    background: $gray-900;
    //background: linear-gradient(0deg, rgba(71, 53, 247, 1) 0%, rgba(62, 44, 236, 1) 100%);
    margin-top: 74px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -o-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    min-height: 100%;
    height: auto;
    .ps__thumb-x {
        background-color: rgba($white, .36);
    }
    .ps__thumb-y {
        background-color: rgba($white, .36);
    }
}

.page-sidebar.fixedscroll {
    position: fixed;
}

.page-sidebar.pagescroll {
    position: absolute;
}


/*---------------------------------------------
Navigation Bars
--------------------------------------------*/

.navbar form {
    display: inline;
    text-align: right;
}


/* .navbar-nav {
width: 100%;
} */

.navbar-light.text-light .navbar-brand,
.navbar-light.text-light .navbar-nav .nav-link,
.navbar-light.text-light .navbar-nav .nav-link:focus,
.navbar-light.text-light .navbar-nav .nav-link:hover,
.navbar-light.text-light .navbar-nav .active>.nav-link,
.navbar-light.text-light .navbar-nav .nav-link.active,
.navbar-light.text-light .navbar-nav .nav-link.show,
.navbar-light.text-light .navbar-nav .show>.nav-link {
    color: #ffffff;
}

.navbar-light.text-light .form-inline .form-control {
    border: none;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.navbar-light.text-light .btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: transparent;
    padding: 5px 8px;
}


/*-----------------------------------------------------------
Logo
----------------------------------------------------------*/

.page-topbar .logo-area {
    img {
        height: 62px;
        &.main-logo {
            display: block;
        }
        &.mobile-screen-logo {
            display: none;
        }
    }
}

.page-topbar.sidebar_shift .logo-area {
    background-image: url('../img/logo-folded.png');
    background-repeat: no-repeat;
    background-position: right top;
    img {
        height: 52px;
        margin-left: -6px;
    }
}

.page-topbar.chat_shift .logo-area {
    background-image: url('../img/logo-folded.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.page-topbar.sidebar_shift .logo-area {
    background-color: $primary;
}

.page-topbar.chat_shift .logo-area {
    background-color: $primary;
}

.chatapi-windows.hideit {
    bottom: -300px;
}

.chatapi-windows.showit {
    height: 300px;
    bottom: 0px !important;
}

@media (max-width: 1152px) {
    .page-topbar .logo-area {
        img {
            height: 50px;
        }
    }
}


/*----------------------------------------
Sidebar User Profile
------------------------------------------*/

.page-sidebar .profile-info {
    background: $primary-profile;
    padding-top: 15px;
    padding-bottom: 10px;
    //padding-left: 20px;
    padding-right: 15px;
    text-align: center;
}

.page-sidebar .profile-image {
    display: inline-block;
}

.profile-info .profile-image img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    background-color: #777777;
}

.profile-info .profile-details {
    white-space: nowrap;
    font-weight: 500;
    line-height: 18px;
    color: $white;
}

.profile-info .profile-details h3 a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
}

.profile-info .profile-details .profile-title {
    color: $gray-400;
    font-size: .8rem;
    font-weight: 400;
}

.profile-info .profile-details .profile-status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    font-weight: normal;
}

.profile-status.available,
.uprofile-status.available {
    background-color: #4CAF50;
}

.profile-status.busy,
.uprofile-status.busy {
    background-color: #f44336;
}

.profile-status.idle,
.uprofile-status.idle {
    background-color: #E91E63;
}

.profile-status.away,
.uprofile-status.away {
    background-color: #FFC107;
}

.profile-status.offline,
.uprofile-status.offline {
    background-color: #9e9e9e;
}

#main-menu-wrapper {
    .logout-section {
        background: $primary-profile;
        border-top: solid 1px $primary-border;
        li {
            display: inline-flex;
            &:last-child {
                a {
                    border-right: 0;
                }
            }
            a {
                color: #f2fa6e;
                line-height: 35px;
                min-height: 35px;
                padding: 0 1rem;
                border-right: $primary-border solid 1px;
                &:hover {
                    background-color: $primary-header;
                }
            }
        }
    }
}

.page-sidebar.collapseit {
    .logout-section {
        display: none;
    }
}


/*----------------------------------------
Mobile Menu 
------------------------------------------*/

.page-topbar .chat-toggle-wrapper .fa-times {
    display: none;
}

.page-setting.hideit {
    width: 0px;
    height: 658px;
}

.page-setting.showit {
    width: 260px;
    height: 100%;
}

.page-setting.hideit .contact-list .user-status {
    display: none;
}

.page-setting {
    height: auto;
    position: fixed;
    padding: 0px;
    background-color: #ffffff;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -o-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
    .setting-close {
        font-size: 1.4rem;
        display: inline-block;
        color: $gray-600;
        padding-right: 1rem;
        &:hover {
            color: $red;
        }
        i {
            padding: .8rem;
        }
    }
    .setting-color {
        padding: 0 5px;
        position: relative;
        line-height: 38px;
        text-align: center;
        color: $white;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 30%;
            height: 100%;
            right: 0;
            top: 0;
            background-color: rgba($white, .4);
        }
        &:not(.theme-default) {
            span {
                opacity: 0;
            }
        }
    }
    .theme-option {
        padding: 0;
        list-style: none;
        // display: flex;
        // justify-content: space-around;
        li {
            display: inline-block;
            padding: 0 .2rem;
            .setting-color {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                line-height: 18px;
                span {
                    font-size: .65rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        padding: 15px 0 0 0px;
    }
    .page-topbar {
        &.sidebar_shift {
            .quick-area .info-menu li a.sidebar_toggle {
                left: -15px;
            }
        }
        .quick-area .info-menu li a.sidebar_toggle {
            left: -15px;
        }
    }
    .page-topbar .quick-area .info-menu li.profile a.toggle {
        padding-right: 0rem;
        background-color: transparent;
        border-color: transparent;
    }
   

    
    .page-topbar .quick-area .pull-right {
        position: fixed;
        top: 0px;
        right: 30px;
    }
    .page-topbar .quick-area .info-menu li.message-toggle-wrapper {
        position: fixed;
        top: 0px;
        right: 115px;
    }
    .page-topbar .quick-area .info-menu li.profile {
        position: fixed;
        top: 0px;
        right: 95px;
        padding-left: 0;
        border-left: 0;
    }
    .page-sidebar {
        z-index: 5;
    }
    #main-content {
        margin-left: 60px;
        z-index: 2;
    }
    #main-content.chat_shift {
        margin-left: 60px !important;
        margin-right: 0px !important;
    }
    .page-topbar.chat_shift {
        margin-left: 0px !important;
    }
    .page-topbar.chat_shift .quick-area .pull-right {
        margin-right: 0px !important;
    }
    .page-topbar.chat_shift .chat-toggle-wrapper {
        position: fixed;
        right: 260px;
    }
    #main-content,
    .page-setting,
    .page-topbar,
    .page-sidebar,
    .page-topbar .logo-area,
    .page-topbar .quick-area .pull-right,
    .collapse-wraplist,
    .profile-info,
    .wraplist,
    .chatapi-windows {
        -webkit-transition: 0ms;
        -moz-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .page-topbar.chat_shift .chat-toggle-wrapper .badge,
    .page-topbar.chat_shift .chat-toggle-wrapper .fa-comments {
        display: none;
    }
    .page-topbar.chat_shift .chat-toggle-wrapper .fa-times {
        display: inline-block;
    }
    .page-topbar .logo-area {
        background-image: url('../img/logo-folded.png');
        background-repeat: no-repeat;
        background-position: left top;
    }
    .page-topbar .quick-area .info-menu li .dropdown-menu {
        width: 280px;
        left: -120px;
    }
    .page-topbar .quick-area .info-menu li.open {
        background-color: #ffffff;
    }
    .page-topbar .quick-area .info-menu li.open a {
        color: $primary;
    }
    .page-topbar .quick-area .info-menu li .dropdown-menu:before,
    .page-topbar .quick-area .info-menu li .dropdown-menu:after {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .page-topbar {
        
        .logo-area {
            h1 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .page-topbar .quick-area .info-menu li.message-toggle-wrapper {
        left: 100px;
    }
}

@media screen and (max-width: 375px) {
    .page-topbar {
        &.sidebar_shift {
            .quick-area .info-menu li a.sidebar_toggle {
                left: -5px;
            }
            .logo-area {
                background-color: $white;
            }
        }
        .logo-area {
            
            img {
                height: 45px;
                &.main-logo {
                    display: none;
                }
                &.mobile-screen-logo {
                    display: block;
                }
            }
        }
        .quick-area .info-menu li a.sidebar_toggle {
            left: -5px;
        }
    }
}