
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-page">
    <div class="logo-section">
        <a class="navbar-brand" href="Default.aspx">
            <img src="~/img/govt-logo.png" class="login-logo" alt="Logo" />
            <h4>
                Mineral Resources Department
                <small class="d-block">Government of Chhattisgarh</small>
            </h4>
        </a>
    </div>
    <div class="login-box">
        <div class="left-sec-img">
            <img src="~/img/crane.png" class="left-sec-img-bg" alt="login-image" />
            <img src="~/img/ores.png" class="ore-img" alt="login-image" />
            <div class="welcome-text">
                <h2 class="mb-0">

                    <small>Welcome to </small>
                    Khanij Online Portal
                </h2>

            </div>
        </div>

        <div class="right-sec-content">
            @*<div class="home"> <a href="/Website/Website/home" title="Go to Website " class="text-brown"><i class="fas fa-home fa-1x"></i></a></div>*@
            <img src="~/img/khanijonline22.png" class="khanij-mineral-logo" alt="login-image" />
            <div class="login-body">
                <h2 class="mb-3">Change Password</h2>
                <div class="form-group">
                    <div class="input-group">

                        <div class="addon"><i class="fas fa-lock"></i></div>

                        <input type="text" class="form-control" placeholder="Current Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="addon"><i class="fas fa-lock"></i></div>
                        <input type="text" class="form-control" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="addon"><i class="fas fa-lock"></i></div>
                        <input type="text" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>

                <a href="dashboard/Dashboard" class="log-link">Submit</a>
            </div>

        </div>
    </div>
</div>
<p class="copy-right">© 2021 Khanij. All rights reserved.</p>

