@{
    ViewData["Title"] = "contactus";
    Layout = "~/Views/Shared/_WebHeaderLayout.cshtml";
}

<div class="inner-naviagtion">
    <div class="container">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="home.aspx"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">Contact us</li>
                </ol>
            </nav>
    </div>
</div>
<div class="inner-content py-5 contact-us">
    <div class="container">
        <h3 class="heading text-dark mb-4 font-weight-bold text-uppercase">Contact us</h3>
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box shadow-sm wow fadeInLeft" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInLeft;">
                    <div class="address-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.90220096491!2d81.7946215153335!3d21.156289988787385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c695f3d7d5d1%3A0xe23796cb5bbee93f!2sIndravati%20Bhawan!5e0!3m2!1sen!2sin!4v1615887183862!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <h6 class="text-dark mb-3 font-weight-bold">Head Office Raipur</h6>
                    <ul class="list-unstyled mb-0 ">
                        <li>Indravati Bhavan, Block-4 , Second Floor, Nawa Raipur Atal Nagar, Chhattisgarh, India</li>
                        <li><a href="#">xxxxgmail.com</a></li>
                        <li><a href="#">+91-771-2221840, 2221844, 2221849</a></li>
                        <li><a href="#">+91-771-2221841</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-box shadow-sm wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;">

                    <div class="address-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3696.9922678804855!2d82.12068901534346!3d22.088112256144584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a280c839af8861d%3A0x157488ee745e8bed!2sAmeri%20Rd%2C%20Chhattisgarh%20495001!5e0!3m2!1sen!2sin!4v1615886994160!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <h6 class="text-dark mb-3 font-weight-bold">Regional Office Bilaspur</h6>
                    <ul class="list-unstyled mb-0 ">
                        <li>Shanti Nagar, Ameri Road, BILASPUR – 495001</li>
                        <li><a href="#">xxxxgmail.com</a></li>
                        <li><a href="#">+91-771-2221840, 2221844, 2221849</a></li>
                        <li><a href="#">+91-771-2221841</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box shadow-sm wow fadeInRight" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInRight;">

                    <div class="address-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15083.671272906593!2d82.0562744356657!3d19.067350573965648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a300d9bf8b8a9f9%3A0x3e0b1e0dc0fabd4d!2sAdawal%2C%20Chhattisgarh%20494001!5e0!3m2!1sen!2sin!4v1615887082309!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <h6 class="text-dark mb-3 font-weight-bold">Regional Office Jagdalpur</h6>
                    <ul class="list-unstyled mb-0 ">
                        <li>Aadawal, Near Forest Naka, Halba Kachora, JAGDALPUR–494001</li>
                        <li><a href="#">xxxxgmail.com</a></li>
                        <li><a href="#">+91-771-2221840, 2221844, 2221849</a></li>
                        <li><a href="#">+91-771-2221841</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
