@{
    ViewData["Title"] = "eTpVerfication";
    Layout = "~/Views/Shared/_WebHeaderLayout.cshtml";
}
<div class="inner-naviagtion">
    <div class="container">
        <div class="pt-lg-5 pt-md-4 pt-3">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Website/Website/Home" class="text-white"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item text-white" aria-current="page">e-TP-Verification</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="inner-section e-Tp-verification">
    <div class="container">
        <h4 class="heading text-dark mb-4 font-weight-bold text-uppercase">e-TP-verification</h4>
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 pr-lg-2">
                        <div class="form-content-box">
                            <div class="col-12 form-group">
                                <label class="col-form-label font-weight-bolder">Select Transit Pass Type<span class="text-danger">*</span></label>
                                <div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="radio1" name="radio-iRequirement" value="1" checked>
                                        <label class="custom-control-label" for="radio1">TP</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="radio2" name="radio-iRequirement" value="2">
                                        <label class="custom-control-label" for="radio2">RPTP</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="radio3" name="radio-iRequirement" value="2">
                                        <label class="custom-control-label" for="radio3">LTP</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="radio4" name="radio-iRequirement" value="2">
                                        <label class="custom-control-label" for="radio4">RTP</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label class="col-form-label font-weight-bolder">Enter Transit Pass Number<span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-12 form-group mt-3">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#e-Tp-vertication-modal">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../img/i3msePass.gif" class="w-100 d-lg-block d-none" alt="e-Transit passs verfication image" />
                    </div>
                </div>
            </div>
        </div>




        <div class="modal fade" id="e-Tp-vertication-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable e-tp-modal">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white" id="exampleModalLabel">E-Tp-Verification Details</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="heading">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p class=" text-dark">FORM-1 See Rule 4 (1) <br /> Mineral Transit Pass <small>(for Mineral Concession Holders)</small></p>
                                </div>
                                <div class="col-lg-4">

                                    <svg style="height: 70px;width:100%; overflow: hidden;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><defs></defs><g><path d="M0 0 L 300 0 300 60 0 60Z" stroke="none" fill="white"></path><g><text style="font:16px Consolas, Monaco, Sans Mono, monospace, sans-serif;" x="119" y="56" stroke="none" fill="black" fill-opacity="1">TP_NO_3</text></g><g><path d="M22.727 0 L 27.273 0 27.273 41 22.727 41Z" stroke="none" fill="black"></path><path d="M29.545 0 L 31.818 0 31.818 41 29.545 41Z" stroke="none" fill="black"></path><path d="M36.364 0 L 38.636 0 38.636 41 36.364 41Z" stroke="none" fill="black"></path><path d="M47.727 0 L 52.273 0 52.273 41 47.727 41Z" stroke="none" fill="black"></path><path d="M54.545 0 L 61.364 0 61.364 41 54.545 41Z" stroke="none" fill="black"></path><path d="M68.182 0 L 70.455 0 70.455 41 68.182 41Z" stroke="none" fill="black"></path><path d="M72.727 0 L 79.545 0 79.545 41 72.727 41Z" stroke="none" fill="black"></path><path d="M81.818 0 L 88.636 0 88.636 41 81.818 41Z" stroke="none" fill="black"></path><path d="M90.909 0 L 95.455 0 95.455 41 90.909 41Z" stroke="none" fill="black"></path><path d="M97.727 0 L 100 0 100 41 97.727 41Z" stroke="none" fill="black"></path><path d="M102.273 0 L 104.545 0 104.545 41 102.273 41Z" stroke="none" fill="black"></path><path d="M109.091 0 L 113.636 0 113.636 41 109.091 41Z" stroke="none" fill="black"></path><path d="M122.727 0 L 125 0 125 41 122.727 41Z" stroke="none" fill="black"></path><path d="M127.273 0 L 134.091 0 134.091 41 127.273 41Z" stroke="none" fill="black"></path><path d="M140.909 0 L 145.455 0 145.455 41 140.909 41Z" stroke="none" fill="black"></path><path d="M147.727 0 L 150 0 150 41 147.727 41Z" stroke="none" fill="black"></path><path d="M156.818 0 L 163.636 0 163.636 41 156.818 41Z" stroke="none" fill="black"></path><path d="M165.909 0 L 170.455 0 170.455 41 165.909 41Z" stroke="none" fill="black"></path><path d="M172.727 0 L 175 0 175 41 172.727 41Z" stroke="none" fill="black"></path><path d="M177.273 0 L 179.545 0 179.545 41 177.273 41Z" stroke="none" fill="black"></path><path d="M184.091 0 L 188.636 0 188.636 41 184.091 41Z" stroke="none" fill="black"></path><path d="M197.727 0 L 202.273 0 202.273 41 197.727 41Z" stroke="none" fill="black"></path><path d="M206.818 0 L 209.091 0 209.091 41 206.818 41Z" stroke="none" fill="black"></path><path d="M211.364 0 L 218.182 0 218.182 41 211.364 41Z" stroke="none" fill="black"></path><path d="M222.727 0 L 227.273 0 227.273 41 222.727 41Z" stroke="none" fill="black"></path><path d="M234.091 0 L 238.636 0 238.636 41 234.091 41Z" stroke="none" fill="black"></path><path d="M240.909 0 L 245.455 0 245.455 41 240.909 41Z" stroke="none" fill="black"></path><path d="M247.727 0 L 252.273 0 252.273 41 247.727 41Z" stroke="none" fill="black"></path><path d="M259.091 0 L 265.909 0 265.909 41 259.091 41Z" stroke="none" fill="black"></path><path d="M268.182 0 L 270.455 0 270.455 41 268.182 41Z" stroke="none" fill="black"></path><path d="M272.727 0 L 277.273 0 277.273 41 272.727 41Z" stroke="none" fill="black"></path></g></g></svg>

                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">E-Permit Number</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext"><span class="text-primary font-weight-bold"> EP_NO_0000011</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">District</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Date & Time of Mineral Issue</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">
                                            <span><i class="far fa-calendar-alt text-primary"></i> 21-06-2017</span><br />
                                            <span><i class="far fa-clock text-primary"></i> 12:48:15</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">D.O Number / Date <small>(If Applicable)</small></label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Vehicle Type</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext"> Haiwa</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Vehicle No</small></label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">CG07CB0205</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">License / Mining Area Details</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Village / Tehsil / District</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Lease Validity Period</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Mineral Name</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Limestone</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Grade</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Cement</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Sale value of the Mineral <small>(MT)</small></label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">237.000 Rs Per <small>(MT)</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Tare Weight of the Vehicle</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">13.64 <small>(MT)</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Gross Weight of the Vehicle</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">33.64 <small>(MT)</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Net Weight of Mineral being transported</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">20 <small>(MT)</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Mineral Purchaser / Recipient’s Name</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">JK LAKSHMI CEMENT LTD.-3100000002 <small>(Within State)</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Owner (Vehicle) Name & Contact Number</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext"> JK LAKSHMI CEMENT LTD.8966909194</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Driver Name & Contact Number</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Arun Munda ( 9179540665 )</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Mode of Transportation</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext"> Road</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-6">
                                <div class="row">
                                    <label class="col-lg-6 col-md-6 col-12 col-form-label font-weight-bolder">Route</label>
                                    <div class="col-lg-6 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <label class="col-lg-3 col-md-6 col-12 col-form-label font-weight-bolder">Destination</label>
                                    <div class="col-lg-9 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">K Lakshmi Cement Ltd. Vill-Malpuri Khurd, Khasadih, PO-Ahiwara, Dist-Durg, Chhattisgarh-490036.,Durg,Chhattisgarh -490036</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <label class="col-lg-3 col-md-6 col-12 col-form-label font-weight-bolder">Category of the Mineral being transported <small>(Mineral form viz. lump/ fines/ steam/ slack etc.)</small></label>
                                    <div class="col-lg-9 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">Not Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <label class="col-lg-3 col-md-6 col-12 col-form-label font-weight-bolder">Portal Registration No. of Vehicle</label>
                                    <div class="col-lg-9 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">JK Lakshmi Cement Ltd.- Area : 267.695 (semariya, ghikudiya, nandni khudani) JK Lakshmi Cement Ltd. Vill-Malpuri Khurd, Khasadih, PO-Ahiwara, Dist-Durg, Chhattisgarh-490036.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-dotted"></div>
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <label class="col-lg-3 col-md-6 col-12 col-form-label font-weight-bolder">Remarks</label>
                                    <div class="col-lg-9 col-md-5 col-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">This e-TP closed, received by the destination</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>

<script type="text/javascript">
         $(document).ready(function () {
             $('.etpver').addClass('active');
         })
</script>