@using Microsoft.AspNetCore.Mvc.Localization
@using HomeEF;
@using Microsoft.Extensions.Options;
@using HomeApp.Services;
@using HomeApp;
@inject IOptions<KeyList> _objKeyList
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject CommonLocalizationService commonlocalizer
@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_WebHeaderLayout.cshtml";
}

<div class="inner-naviagtion">
    <div class="container">
        <div class="">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@_objKeyList.Value.HomeUrl"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">About Us</a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">@SharedLocalizer["Introduction"]</li>
                </ol>
            </nav>

        </div>
    </div>
</div>
<div class="inner-content">
    <div class="container">
        <h3 class="heading">Introduction</h3>
        <img src="~/img/gallery-img1.jpg" class="img-right" alt="mineral resource department jcp" />
        <p>Ever since the commencement of the planning process in India, concerted efforts have been made to systematically explore and develop the mineral resources in the country. Mineral, being finite and non-renewable natural resources, require special attention so that these are exploited and utilized in an optimal manner. These are our 'source of treasure' and constitute the backbone of the industrial development of the nation.</p>

        <p>Bountiful nature has bestowed Chhattisgarh with vast reserves of all important minerals. Recognizing the pivotal role of mineral in the industrialization of the state, the government of Chhattisgarh has taken a number of policy decisions to eliminate procedural hindrances and to create the necessary environment, to allow entrepreneurship to grow, to develop and to thrive in this state.</p>

        <p>The State of Chhattisgarh in Mid Eastern India , bounded between North latitude 170 46' to 240 06' and East Longitude 800 15' to 84025' covering an area of about 135153 sq. km., divided into 18 districts and surrounded by 6 states,is geologically one of the most important terrains in the Indian shield comprising of litho logical sequence ranging in age from Archaen to Recent. It comprises parts of Bastar and Singhbhum Cratons that are surrounded by mobile belts and major rifts. The area has witnessed multiple tectonic and thermal events of various episodes. Hence it is no wonder that the state. One of the rarest gemstone, Alexandrite, is found in Raipur and workable deposits of corundum are widespread in southern Chhattisgarh.</p>

        <p>Directorate of Geology and Mining, Chhattisgarh is the State agency engaged in exploration of the mineral resources of the state. It has dedicated and skilled, teams of geoscientists, chemists, surveyors and drillers, who are engaged in various qualitative & quantitative aspects of mineral investigation in the State. The Directorate has been instrumental in locating important mineral deposits in various part of the State notably the diamondiferous kimberlite in Mainpur, gold in Sonakhan, iron ore in Kawardha District.</p>
        <blockquote>
            <p>
                Bountiful nature has bestowed Chhattisgarh with vast reserves of all important minerals. Recognizing
                the pivotal role of mineral in the industrialization of the state, the government of Chhattisgarh has taken a
                number of policy decisions to eliminate procedural hindrances and to create the necessary environment,
                to allow entrepreneurship to grow, to develop and to thrive in this state.
            </p>
        </blockquote>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="40px">Sl#</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@@mdo</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@@fat</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@@twitter</td>
                </tr>
            </tbody>
        </table>

        <ul class="list">

            <li>Bountiful nature has bestowed Chhattisgarh with vast reserves of all important minerals</li>
            <li>Directorate of Geology and Mining, Chhattisgarh is the State agency engaged in exploration of the mineral resources of the state</li>
            <li>The State of Chhattisgarh in Mid Eastern India , bounded between North latitude 170 46' to 240 06' and East Longitude 800 15' to 84025' covering an area of about 135153 sq. km.</li>
            <li>Bountiful nature has bestowed Chhattisgarh with vast reserves of all important minerals</li>
            <li>Directorate of Geology and Mining, Chhattisgarh is the State agency engaged in exploration of the mineral resources of the state</li>
            <li>The State of Chhattisgarh in Mid Eastern India , bounded between North latitude 170 46' to 240 06' and East Longitude 800 15' to 84025' covering an area of about 135153 sq. km.</li>
            <li>Bountiful nature has bestowed Chhattisgarh with vast reserves of all important minerals</li>
        </ul>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.about').addClass('active');
    })
</script>