
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-page">
    <div class="login-box logout-box">
        <a class="navbar-brand" href="Default.aspx" style="margin-bottom:2rem">
            <img src="~/img/govt-logo.png" class="login-logo" alt="Logo" width="100" />
        </a>
        <h4>You have been logged out successfully.</h4>
        <p>Kindly close the window or <a href="/Home/Index" style="color:dodgerblue">Login again</a></p>
    </div>


</div>