$primary-hover: #cc9629 !default;
$primary-header:#f5bb07!default;
$primary-border: #edb508 !default;
$primary-light: #f8c629 !default;
$primary-icon: #ffe4ad !default;
$primary:#ffc100 !default;
$menu-link:#fff8eb !default;
$submenu-link:#fff1d6 !default;
$btn-hover:#e6a82e !default;