
<div class="page-sidebar-wrapper" id="main-menu-wrapper">


    <ul class="wraplist" id="menu">
        <!--<ul class="wraplist">
            <li class="ligrievance">
                <a href="javascript:;">
                    <i class="fa fa-columns"></i>
                    <span class="title">Grievance</span>
                    <span class="arrow "></span>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a href="/Grievance/Grievance/PublicGrievance">
                            <span>Public Complaint Register</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Grievance/Grievance/Register">
                            <span>Complaint Registration</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Grievance/Grievance/GrievanceComplaint_List">
                            <span>Complaint List</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Grievance/Grievance/GetGrievanceComplaint_List_For_DD">
                            <span>Generated Complaint</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Grievance/Grievance/Mining_Inspector_GrievanceComplaint_List">
                            <span>Pendency Complaints</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Grievance/Grievance/Submission_Of_Complaint">
                            <span>Submission Of Complaints</span>
                        </a>
                    </li>-->
        @*<li>
                <a href="/KhanijTest/TailingDam/Registration/TailingDamApproval">
                    <span>Tailing Dam Approval</span>
                </a>
            </li>*@
        <!--</ul>
        </li>

        <li class="ligrievance">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Inspection</span>
                <span class="arrow "></span>
            </a>

            <ul class="sub-menu">
                <li>
                    <a href="/Inspection/Inspection/SubmitedInspectionReportList">
                        <span>Submitted Inspection Report</span>
                    </a>
                </li>
                <li>
                    <a href="/Inspection/Inspection/SubmitInspectionReport">
                        <span>Submit Inspection Report</span>
                    </a>
                </li>

            </ul>
        </li>-->
    </ul>

</div>
<script>
    /* $(document).ready(function () {*/
        //$.ajax({
        //    url:'/Home/getmenu',

        //    dataType: 'json',
        //    type: 'post',
        //    success: function (data) {
        //        console.log(data);
        //        var s = "";
        //        $.each(data, function (ind, item) {

        //            s += "<li class='";
        //            s += item.menuId
        //            s += "'>";
        //            s += "<a href = 'javascript:void(0);'>";
        //            s += "<i class='fa fa-columns'></i ><span class='title'>";
        //            s += item.menuName + "</span><span class='arrow' ></span ></a >";
        //            s += "<ul class='sub-menu' >";
        //            $.each(item.childMenuList, function (ind, items) {
        //                s += "<li>";
        //                s += "<a class='plUser' href='http://" + items.url + ".ko2home.in/" + items.area + "/" + items.controller + "/" + items.actionName + "'>";
        //                s += items.menuName;
        //                s += "</a>";
        //                s += "</li>";
        //            });
        //            s += "</ul >";
        //            s += "</li > ";
        //        });
        //        $("#menu").append(s);

        //    },
        //    error: function (err) {
        //    }
        //});
    /* });*/


</script>

