
@*<div class="util-group d-flex align-items-center float-right">
    <span class="text-danger" id="indicate">(*) Indicate mandatory </span>
    <a href="javascript:PrintPage();void(0)" class="btn-floating btn-sm btn-outline-primary" title="Print" id="printIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-print"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-danger" title="Delete" id="deleteIcon" data-toggle="tooltip" data-placement="top" onClick="gotoDelete('D');"><i class="icon-trash-alt-solid"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-info" title="Download" id="downloadIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-download"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-success" title="Export to excel" id="excelIcon" data-toggle="tooltip" data-placement="top"><i class="far fa-file-excel"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-danger" title="Export to pdf" id="pdfIcon" data-toggle="tooltip" data-placement="top"><i class="far fa-file-pdf"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-secondary" onClick="goBack();" title="Back" id="backIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-arrow-left"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-success" title="Active" id="activeIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-check"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-warning" title="In Active" id="inactiveIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-times"></i></a>
    <a href="javascript:void(0);" class="btn-floating btn-sm btn-outline-primary" title="Refresh" id="refreshIcon" data-toggle="tooltip" data-placement="top"><i class="fas fa-sync-alt"></i></a>
</div>
<div class="clearfix"></div>*@
<div class="util-group d-flex align-items-center float-right">
    <small class="text-danger" id="indicate">(*) Indicate mandatory </small>
    <a href="javascript:PrintPage();void(0)" id="printIcon" data-toggle="tooltip" data-placement="top" data-original-title="Print"><i class="icon-print-solid"></i></a>
    <a href="javascript:void(0);" id="deleteIcon" data-toggle="tooltip" data-placement="top" onclick="gotoDelete('D');" data-original-title="Delete"><i class="icon-trash-alt-solid"></i></a>
    <a href="javascript:void(0);" id="downloadIcon" data-toggle="tooltip" data-placement="top" data-original-title="Download"><i class="icon-file-download-solid"></i></a>
    <a href="javascript:void(0);" id="excelIcon" data-toggle="tooltip" data-placement="top" data-original-title="Export to excel"><i class="icon-file-excel"></i></a>
    <a href="javascript:void(0);" id="pdfIcon" data-toggle="tooltip" data-placement="top" onclick="datatableexcel()" data-original-title="Export to pdf"><i class="icon-file-pdf"></i></a>
    <a href="javascript:void(0);" id="backIcon" onclick="goBack();" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left-solid"></i></a>
    <a href="javascript:void(0);" id="activeIcon" data-toggle="tooltip" data-placement="top" data-original-title="Active"><i class="icon-check-solid"></i></a>
    <a href="javascript:void(0);" id="inactiveIcon" data-toggle="tooltip" data-placement="top" data-original-title="Inactive"><i class="icon-times-solid"></i></a>
    <a href="javascript:void(0);" id="publishedIcon" data-toggle="tooltip" data-placement="top" data-original-title="Publish"><i class="icon-volume-up-solid"></i></a>
    <a href="javascript:void(0);" id="unpublishedIcon" data-toggle="tooltip" data-placement="top" data-original-title="Unpublish"><i class="icon-volume-mute-solid"></i></a>
    <a href="javascript:void(0);" id="archiveIcon" data-toggle="tooltip" data-placement="top" data-original-title="Archive"><i class="icon-trash-restore-solid"></i></a>
    <a href="javascript:void(0);" id="refreshIcon" data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="icon-redo-alt-solid"></i></a>
</div>
