@*// *********************************************************************************************************
    //  View Name                : ApplyRenewal
    //  Desciption               : Apply For License Renewal
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 April 2022
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <a class="btn btn-success" href="/Licensee/LicenseeRenewal/Apply">Apply For Renewal</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        loadNavigation('AddUser', 'glRoleRes', 'plUser', 'tl', 'Licensee', 'Apply For Renewal', ' ');
    });
</script>