@*// *********************************************************************************************************
    //  View Name                : ViewStatus
    //  Desciption               : Status of License Renewal
    //  Created By               : Akshaya Dalei
    //  Created On               : 27 April 2022
    // ********************************************************************************************************
*@ 
@{
    ViewData["Title"] = "ViewStatus";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="~/Licensee/LicenseeRenewal/Apply">
                                Apply
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                               View Status
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Applicant Name</th>
                                            <th>Reference ID</th>
                                            <th>Date of Submission</th>
                                            <th>Storage Capacity</th>
                                            <th>Mineral Name</th>
                                            <th>Application Details</th>
                                            <th>Security Details</th>
                                            <th>Lease Details</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>
</section>


<script>
    $(document).ready(function () {
        loadNavigation('AddUser', 'glRoleRes', 'plUser', 'tl', 'Licensee', 'Renewal Status', ' ');
    });
</script>