
@{
    ViewData["Title"] = "ViewCoalLessee";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<script>
    $(document).ready(function () {
        loadNavigation('ViewCoalLessee', 'cgd', 'cgdone', 'tl', 'Coal Grade Declaration', 'Annual Grade Declaration', ' ');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="AddCoalLessee">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="ViewCoalLessee">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Name of Mine Owner & Colliery </th>
                                            <th>Name of seam & Thickness</th>
                                            <th>Status</th>
                                            <th>Applied On</th>
                                            <th>Approved On</th>
                                            <th width="150" class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#coal-lesse-details" class="text-primary">Sarda Energy & Mineral Limited </a>
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br />
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br />
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>

                                            <td>
                                                <span class="text-danger">Pending At Regional Head Geology</span>
                                            </td>
                                            <td>02 Jan 2022</td>
                                            <td></td>
                                            <td class="text-center noprint">
                                                <a href="AddCoalLessee" class="text-success btn-lg" title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                <a href="#" class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#security-msg">Forward</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#coal-lesse-details" class="text-primary">Sarda Energy & Mineral Limited </a>
                                                <br />
                                                <span>Gare Palma</span>
                                            </td>
                                            <td>
                                                <span>Seam IX - 4.20 to 5.40 m</span>
                                                <br />
                                                <span>Seam VIII - 2.23 to 6.38 m</span>
                                                <br />
                                                <span>Seam VII - 1.34 to 6.86 m</span>
                                            </td>
                                            <td>
                                                <span class="text-success">Approved By DGM</span>
                                            </td>
                                            <td>01 Apr 2021</td>
                                            <td>18 May 2021</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="coal-lesse-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Annexture B | FY : 01 Apr 2021
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>1</td>
                            <td width="50%">Name of the Mine Owner / Company</td>
                            <td>Sarda Energy & Mineral Limited</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Name of the Colliery / Siding / CHP</td>
                            <td>Gare Palma</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Name of seam</td>
                            <td>IX , VIII ,VII</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Thickness of seam</td>
                            <td>
                                Seam IX - 4.20 to 5.40 m <br />
                                Seam VIII - 2.23 to 6.38 m <br />
                                Seam VII - 1.34 to 6.86 m
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Height of working section</td>
                            <td>
                                Seam IX - 4.20 to 5.40 m <br />
                                Seam VIII - 2.23 to 6.38 m <br />
                                Seam VII - 1.34 to 6.86 m
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                Vertical section of seam showing all bands indicating nature and thickness <br />
                                (Working section should be indicated by Arrow). <br>
                                This section should be given for each mine in a standard paper of 29 cm  * 23 cm size)
                            </td>
                            <td>
                                <a class="text-primary">Attached as Annexture - I</a>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="11">7</td>
                            <td colspan="2">Analysis of seam samples (Equilibrated basis)</td>
                        </tr>
                        <tr>
                            <td>Ash%</td>
                            <td>
                                Seam IX - 4.60 & 40.21 <br />
                                Seam VIII - 49.38 & 46.39 <br />
                                Seam VI - 60.25 & 60.75
                            </td>
                        </tr>
                        <tr>
                            <td>Moist% </td>
                            <td>
                                Seam IX - 5.99 & 6.14 <br />
                                Seam VIII - 5.01 & 5.70 <br />
                                Seam VI - 5.37 & 5.06
                            </td>
                        </tr>
                        <tr>
                            <td>VM%</td>
                            <td>
                                Seam IX - 25.15 & 25.12 <br />
                                Seam VIII - 22.10 & 22.82 <br />
                                Seam VI - 18.78 & 19.00
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">GCV by Bomb Calorimeter in K.Cal/kg on air dry basis, i.e samples equilibrated at 40 degrees C and 60% Relative Humidity</td>
                        </tr>
                        <tr>
                            <td colspan="2">1. Inculding all bands</td>
                        </tr>
                        <tr>
                            <td>Site No. 1</td>
                            <td>
                                Seam IX - 3723 <br />
                                Seam VIII - 3188 <br />
                                Seam VI - 2215
                            </td>
                        </tr>
                        <tr>
                            <td>Site No. 2</td>
                            <td>
                                Seam IX - 3728 <br />
                                Seam VIII - 3366 <br />
                                Seam VI - 2090
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">2. Excluding pickable bands (of 10cm & above)</td>
                        </tr>
                        <tr>
                            <td>Site No. 1</td>
                            <td rowspan="2">Not Applicable </td>
                        </tr>
                        <tr>
                            <td>Site No. 2</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">8</td>
                            <td colspan="9">
                                Additional analysis result for cooking properties <br />
                                (from Govt. Institution / NABL Accredited laboratory preferably CIMFR, IITs, IIEST, NML-Jamshedpur, IICT- Hyderabad IMMT - Bhubaneshwar etc.
                            </td>
                        </tr>
                        <tr>
                            <th>Sample Details</th>
                            <th>Mean Random Reflectance percent (RO) </th>
                            <th>LTGK</th>
                            <th>CSN</th>
                            <th>GCV(done by Bomb Calorimeter in kcal / kg on dmf basis)</th>
                            <th>VM % on dmf basis</th>
                            <th>Carbon % (dmf)</th>
                            <th>Hydrogen % (dmf)</th>
                            <th>Moisture % (60% R.H) parts/100 parts unit coal</th>
                        </tr>
                        <tr>
                            <td colspan="9">Not Applicable</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">9</td>
                            <td colspan="8">
                                Analysis results of Wagon samples/ Truck sample / Belt Conveyor sample / Ropeway sample / Third party /Joint sample (on equillibrated conditions basis)
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Consignee/ Destination </th>
                            <th>Wagon No./ Truck No./ Belt No.</th>
                            <th>Ash %</th>
                            <th>Moist %</th>
                            <th>VM %</th>
                            <th>GCV Kcal/Kg</th>
                            <th>Grade / Quality</th>
                        </tr>
                        <tr>
                            <td colspan="8">Not Applicable</td>
                        </tr>

                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3" width="30px">10</td>
                            <td colspan="8">
                                Analysis Results of Joint Samples
                            </td>
                        </tr>
                        <tr>
                            <th>Consignee</th>
                            <th>Sample No.</th>
                            <th>Sample Date</th>
                            <th>Ash %</th>
                            <th>Moist %</th>
                            <th>VM % on dmf basis</th>
                            <th>GCV Kcal/Kg</th>
                            <th>Grade / Quality</th>
                        </tr>
                        <tr>
                            <td colspan="8">Not Applicable</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3">11</td>
                            <td colspan="3">
                                Composite grade of CHP/CSP/Siding with mention of proportions of seams
                                and grade wise despatches in tonnes certifying the maintenance of proportion of mixing of coal from feeder streams of collieries and distances
                                from colliery end to the dispatch points by the nominated owner, Agent or Manager of the coal company
                            </td>
                        </tr>
                        <tr>
                            <th>Mine</th>
                            <th>Seam</th>
                            <th>Grade / Quality Proposed for each such qty loaded through CHP/CSP/Siding</th>
                        </tr>
                        <tr>
                            <td colspan="3">Not Applicable</td>
                        </tr>

                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td width="30px">12</td>
                            <td width="50%">
                                Weather steam , slack are suitably graded(the arrangement for segregation should be mentioned along with likely % of
                                steam and slack in each grade/Quality included & be declared)
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>
                                In ROM coal , where average are 60% steam , 40% slack, specify the arrangement for limiting the top size of coal to 200-250 mm
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>
                                Distance between Railway siding to Pit- Head where surface transportation charges are
                                levied and the name of the siding from where the coal will be dispatched by rail/trucks
                            </td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                Grade Proposed for the year
                            </td>
                            <td>
                                ROM <br />
                                Seam IX - G12 <br />
                                Seam VIII - G14 <br />
                                Seam IX - G17
                            </td>
                        </tr>


                    </table>
                </div>

                <div class="pt-3"><a href="#" class="text-primary">Annexture Form B</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

















