/*Home page start*/
body {
    color: #ffffff;
}

.top-menu {
    background: #161414;
}

.top-menu .header ul.top-link {
    border-bottom: 1px solid #f0efef85;
}

.mineral-revenue-section {
    background: #161414a8 url(../img/headerbg.png);
}

.mineral-revenue-section .revenue-portlet {
    background: #333333;
}

.mineral-revenue-section .revenue-portlet h2 {  
    color: #ffffff;
}

.bg-light-gray {
    background: #333333;
}

.mineral-resources-section {
    background: #161414;
}

.reg-appl-sec {
    background: #161414!important;
}

.reg-card {
    background: #333333;
}

.reg-card p {
    color: #fff;
}

.statistics-sec {
    background: #161414!important;
}

.portals-sec {
    background: #333333;
}

.portal-sec {
    border: 1px solid rgb(255 233 224 / 15%);
}

.imp-links {
    background: #161414;
}

.imp-content {
    border: 1px solid rgb(255 233 224 / 15%);
}

ul.tender li {
    background: #161414;
}

ul.tender li .tender-description a {
    color: #fff;
}
.circular-portlet .tender-date {
    background: #333333;
}

.tender-date {
    background: #333333;
}

ul.tender li:hover {
    background: #161414ab;
}
/*Home page end*/

.testimonial .card {
    box-shadow: 0 0 4px #333333;
}
.tender-sec .bg-light {
    background-color: #141414 !important;
}
.tender-sec .tender-card {
    box-shadow: 0 0 4px #333333; 
}

.contact-culm a:not(.btn) {
    color: #ffffff;
}

.resource-mineral-sec {
    background: #333333;
}

.filter-box {
    border: 1px solid #5f5c5c;
    background-color: #333;
}

.sec-heading {
    color: #fff !important;
}

.card {
    border: 1px solid #5f5c5c;
    background-color: #1d1e26;
}

.card-header.bg-white {
    background-color: #04050d !important;
    border-bottom: 1px solid #3b3b3b;
}

.text-dark {
    color: #fff !important;
}

.info-box-leases:first-child:after, .info-box-leases:nth-child(2):after, .info-box-leases:nth-child(4):after {
    background-color: #3b3b3b;
}

.portals-sec .portal-border-right:first-child:after, .portals-sec .portal-border-right:nth-child(2):after, .portals-sec .portal-border-right:nth-child(4):after {
    background-color: #3b3b3b;
}

.border-bottom {
    border-bottom: 1px solid #3b3b3b !important;
}

.highcharts-legend-item text {
    fill: #fff !important;
    color: #fff !important;
}

.tender-noti-reg-sec .card {
    background-color: rgb(29 30 38);
}

.tender-noti-reg-sec .card .card-header.bg-transparent {
    background-color: #04050d !important;
}

.icon-contribution:before, .icon-sanctioned_work:before, .icon-completed_work:before {
    color: #8d3610;
}

.bg-blue {
    background-color: #d56808 !important;
}

.registration .btn-secondary {
    background-color: #d56808 !important;
    border-color: rgb(213 105 9 / 14%) !important;
}

.gallery-sec .btn-primary {
    background-color: #d56808;
    border-color: rgb(213 105 9 / 14%) !important;
}


.border-brown-900 {
    border-color: #585859 !important;
}

.highcharts-axis-labels text {
    fill: #868585 !important;
    stroke-width: 0;
}

.contact-culm .border-bottom {
    border-bottom: 1px solid #545453 !important;
}

.icon-total:before {
    content: "\e9e1";
    color: #e1e4e83b;
}

.owl-slider .item .card {
    border: 1px solid #5f5c5c;
}

.resource-mineral-sec .bg-blue, .resource-mineral-sec .bg-brown-900 {
    background-color: #69676545 !important;
}

.tender-noti-reg-sec {
    background-image: none;
    background-color: #333333;
}

.contact-dtls li small {
    color: rgb(221 221 221 / 75%);
}

.login-section .form-control, .login-section .forgot {
    color: #fff;
}

.inner-content {
    background-color: #000;
}

.inner-content blockquote {
    color: #fff;
}

.inner-content table th, .inner-content table td {
    color: #f7f1f1;
}

.Staff-Directory .bg-light {
    background-color: #333333 !important;
}

.Staff-Directory .alpha-search li a {
    background-color: #161414;
}

.Staff-Directory .alpha-search li a:hover {
    background-color: #ffffff;
    color: #000;
}

.inner-content a.text-dark:hover, a.text-dark:focus {
    color: #ffc107 !important;
}

.Gallery-sec .nav-tabs .nav-link.active, .Gallery-sec .nav-tabs .nav-item.show .nav-link {
    color: #161414;
    background-color: #ffffff;
    border-color: #ffffff #ffffff #ffffff;
}

.Gallery-sec .nav-tabs .nav-link {
    border: 1px solid #5f5c5c;
    color: #fff;
}

.inner-content .bd-callout-danger {
    border-left-color: #f44336 !important;
    border-left-width: 0.25rem;
}

.contact-us ul li {
    color: #ffffff;
}

.contact-us ul li a {
    color: #fff;
}

.Staff-Directory .emp-content {
    background: #333;
}

.emp-card {
    border: 1px solid #d8d8d870;
}

.Staff-Directory .nav-pills.parent-div a {
    border-bottom: 1px solid rgb(221 221 221 / 18%);
}

.inner-content img.img-left, .inner-content img.img-right {
    box-shadow: 0em 0em 1em #33333340;
}

/*white color*/
.inner-content .arrow li {
    color: rgb(255 255 255 / 82%);
}

.inner-content .text-dark {
    color: #ffffff !important;
}

.Staff-Directory .staff-list li {
    color: #ffffff !important;
}

.Staff-Directory .text-dark {
    color: #ffffff !important;
}

.Staff-Directory .text-primary {
    color: #ffffff !important;
}

.feedback .fas.fa-sync {
    color: #ffffff;
}

/*border color*/
.inner-content .bd-callout {
    border: 1px solid #5f5c5c;
}

.contact-us .contact-box {
    border: 1px solid #5f5c5c;
}

.Gallery-sec .nav-tabs {
    border-bottom: 1px solid #5f5c5c;
}

.inner-content .table-bordered th, .table-bordered td {
    border: 1px solid #5f5c5c;
    color: #fff;
}

.notification .table th, .table td {
    border-top: 1px solid #5f5c5c;
}

.notification .table .thead-dark th {
    color: #fff;
    background-color: #333333;
    border-color: #5f5c5c;
}

.border {
    border: 1px solid #1d1e26 !important;
}


@media screen and (max-width: 768px) {
    .contact-culm .border-bottom {
        border-bottom: 0px solid #545453 !important;
    }
}
