@font-face {
    font-family: 'khanijicomoon';
    src: url('../fonts/khanijicomoon.eot?cpw6iu');
    src: url('../fonts/khanijicomoon.eot?cpw6iu#iefix') format('embedded-opentype'), 
        url('../fonts/khanijicomoon.ttf?cpw6iu') format('truetype'),
        url('../fonts/khanijicomoon.woff?cpw6iu') format('woff'),
        url('../fonts/khanijicomoon.svg?cpw6iu#khanijicomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="khanijicon-"],
[class*=" khanijicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'khanijicomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.khanijicon-call:before {
    content: "\e900";
}

.khanijicon-Dispatch-Quantity:before {
    content: "\e901";
}

.khanijicon-e-permit:before {
    content: "\e902";
}

.khanijicon-eTransit-Pass:before {
    content: "\e903";
}

.khanijicon-mail:before {
    content: "\e904";
}

.khanijicon-Permitted-Qty:before {
    content: "\e905";
}

.khanijicon-Revenue:before {
    content: "\e906";
}

.khanijicon-user-login:before {
    content: "\e907";
}

.khanijicon-Acknowledgement-Issued:before {
    content: "\e908";
}

.khanijicon-Admin-Utility:before {
    content: "\e909";
}

.khanijicon-clock:before {
    content: "\e90a";
}

.khanijicon-Configuration:before {
    content: "\e90b";
}

.khanijicon-Data-Digitization:before {
    content: "\e90c";
}

.khanijicon-Demand-Note:before {
    content: "\e90d";
}

.khanijicon-DMF:before {
    content: "\e90e";
}

.khanijicon-EC-Caping-Approval:before {
    content: "\e90f";
}

.khanijicon-EC-Caping:before {
    content: "\e910";
}

.khanijicon-End-User:before {
    content: "\e911";
}

.khanijicon-e-Permit:before {
    content: "\e912";
}

.khanijicon-e-Return:before {
    content: "\e913";
}

.khanijicon-e-TP:before {
    content: "\e914";
}

.khanijicon-Geology:before {
    content: "\e915";
}

.khanijicon-Grant-Order-Issued:before {
    content: "\e916";
}

.khanijicon-Grievance:before {
    content: "\e917";
}

.khanijicon-Head-Wise-Revenue:before {
    content: "\e918";
}

.khanijicon-HelpDesk:before {
    content: "\e919";
}

.khanijicon-Important-notice:before {
    content: "\e91a";
}

.khanijicon-Lessee-profile-request:before {
    content: "\e91b";
}

.khanijicon-lessee:before {
    content: "\e91c";
}

.khanijicon-Lessee-Working:before {
    content: "\e91d";
}

.khanijicon-licensing:before {
    content: "\e91e";
}

.khanijicon-login-user:before {
    content: "\e91f";
}

.khanijicon-logout:before {
    content: "\e920";
}

.khanijicon-Masters:before {
    content: "\e921";
}

.khanijicon-Mineral-Receive-other-than-e-TP:before {
    content: "\e922";
}

.khanijicon-Mining-Lease:before {
    content: "\e923";
}

.khanijicon-MIS-reports:before {
    content: "\e924";
}

.khanijicon-New-License-Application:before {
    content: "\e925";
}

.khanijicon-Notice-Letter:before {
    content: "\e926";
}

.khanijicon-notification-bell:before {
    content: "\e927";
}

.khanijicon-Payment:before {
    content: "\e928";
}

.khanijicon-Pendency:before {
    content: "\e929";
}

.khanijicon-refresh:before {
    content: "\e92a";
}

.khanijicon-Registered-Vehicle:before {
    content: "\e92b";
}

.khanijicon-Registered-Vehicles:before {
    content: "\e92c";
}

.khanijicon-Report:before {
    content: "\e92d";
}

.khanijicon-Roles--Responsibity:before {
    content: "\e92e";
}

.khanijicon-Security-Deposit-Received:before {
    content: "\e92f";
}

.khanijicon-Super-User:before {
    content: "\e930";
}

.khanijicon-Through-licensee:before {
    content: "\e931";
}

.khanijicon-TP-Cancellation:before {
    content: "\e932";
}

.khanijicon-TP:before {
    content: "\e933";
}

.khanijicon-User-Information-System:before {
    content: "\e934";
}

.khanijicon-Vehicle-Owner:before {
    content: "\e935";
}