.message-highlighter {
    padding: 0.5rem 1rem;
    background-color: #8d36101a;
    margin-bottom: 3rem;
    border-left: 4px solid #8d3610;
    box-shadow: 1px 1px 5px rgba(58, 59, 69, 0.41);
}

.timeline {
    padding: 0;
    margin-bottom: 0;
    margin-left: -25px;
    list-style: none;
    margin-top: 1rem;
    max-height: 264px;
}

    .timeline .timeline-item:not(:last-child) {
        margin-bottom: 2.3rem;
    }

    .timeline .timeline-item {
        position: relative;
        padding-left: 95px;
        margin-right: 10px;
    }

    .timeline .message-highlighter {
        padding: 0.5rem 1rem;
        background-color: #fff;
        margin-bottom: 0rem;
        border-left: 0px solid #8d3610;
        box-shadow: 1px 1px 5px rgba(58, 59, 69, 0.41);
        position: relative;
        overflow: hidden;
    }

    .timeline li:last-child .message-highlighter {
        margin-bottom: 1rem;
    }

    .timeline .message-highlighter.approved:before {
        position: absolute;
        font-weight: 600;
        padding: 0 25px;
        transform: rotate(45deg);
        right: -33px;
        top: 18px;
        content: "Approved";
        background: #00c851;
        color: #fff;
        box-shadow: 1px 1px 7px #3a3b45;
    }


    .timeline .message-highlighter.draft:before {
        position: absolute;
        font-weight: 600;
        padding: 0 25px;
        transform: rotate(45deg);
        right: -23px;
        top: 11px;
        content: "Draft";
        background: #c93063;
        color: #fff;
        box-shadow: 1px 1px 7px #3a3b45;
    }

    .timeline .message-highlighter.forwarded:before {
        position: absolute;
        font-weight: 600;
        padding: 0 25px;
        transform: rotate(45deg);
        right: -33px;
        top: 23px;
        content: "Forwarded";
        background: #2561c3;
        color: #fff;
        box-shadow: 1px 1px 7px #3a3b45;
    }

    .timeline .message-highlighter.rejected:before {
        position: absolute;
        font-weight: 600;
        padding: 0 25px;
        transform: rotate(45deg);
        right: -27px;
        top: 17px;
        content: "Rejected";
        background: #f44336;
        color: #fff;
        box-shadow: 1px 1px 7px #3a3b45;
    }


    .timeline .timeline-item::before {
        content: "";
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background-color: #e91e63;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }



    .timeline .date-box {
        position: absolute;
        left: 18px;
        display: flex;
        align-items: center;
        color: #e91e63;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }



        .timeline .date-box p {
            margin-bottom: 0rem;
        }



            .timeline .date-box p .date {
                font-size: 32px;
                display: flex;
                justify-content: center;
            }



    .timeline .message-highlighter {
        padding: 0.5rem 1rem;
        background-color: #fff;
        margin-bottom: 0rem;
        border-left: 0px solid #8d3610;
        box-shadow: 1px 1px 5px rgba(58, 59, 69, 0.41);
        position: relative;
        overflow: hidden;
    }

    .timeline li:last-child .message-highlighter {
        margin-bottom: 1rem;
    }

   

   


.custom-scroll {
    overflow: auto;
}

    .custom-scroll::-webkit-scrollbar {
        width: 0.6em;
        height: 0.6em;
    }

    .custom-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: #b7b9cc;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }



@media only screen and (max-width: 768px) {
    .timeline .timeline-item {
        padding-left: 30px;
    }

    .timeline .date-box p {
        font-size: 20px;
    }

        .timeline .date-box p .date {
            display: inline-flex;
            font-size: inherit;
        }

    .timeline .date-box {
        position: unset;
    }

    .timeline .timeline-item::before {
        bottom: unset;
    }
}

@media only screen and (max-width: 375px) {
    .timeline .message-highlighter.approved:before {
        position: unset;
        display: block;
        margin-bottom: 1rem;
        padding: 4px 25px;
        transform: rotate(0deg);
    }

    .timeline .message-highlighter.draft:before {
        position: unset;
        display: block;
        margin-bottom: 1rem;
        padding: 4px 25px;
        transform: rotate(0deg);
    }

    .timeline .message-highlighter.approved:before {
        position: unset;
        display: block;
        margin-bottom: 1rem;
        padding: 4px 25px;
        transform: rotate(0deg);
    }

    .timeline .message-highlighter.draft:before {
        position: unset;
        display: block;
        margin-bottom: 1rem;
        padding: 4px 25px;
        transform: rotate(0deg);
    }
}
