/*dark theme color start*/
.card {
    background: var(--white);
    border: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey) !important;
}

.card-header {
    background: var(--light-gray);
}
/*end*/

.accordion .card-header:after {
    font-family: 'icons';
    content: "\e923";
    float: right;
}

.accordion .card-header.collapsed:after {
    content: "\e926";
}

.bg-light-yellow {
    background-color: var(--bg-light-yellow);
}

.border-dotted {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1rem;
    display: none;
}

.extra-information {
    position: absolute;
    right: 18px;
    font-size: 1.3rem;
    color: rgb(10 11 20);
}

/*Stepper css start*/
.step-container {
    padding-top: 1rem;
}

    .step-container .tab-content .tab-pane h6 {
        padding-bottom: 1rem;
    }

.wizard .nav-tabs {
    width: auto;
    position: relative;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 70px;
    text-align: center;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 26px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: rgb(14 33 75 / 64%);
    font-weight: 500;
    border: 2px solid #ddd;
}

.wizard li.active span.round-tab {
    background: #ffffff;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed span.round-tab {
    background: #92c755;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
    font-family: 'icons';
}

.wizard li.completed:after {
    background: rgb(146 199 85);
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

.wizard li.completed.active span.round-tab {
    background: #ffffff;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed.active .round-tab::after {
    display: none;
}

/*.wizard li.active:last-child .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
    font-family: 'icons';
}
.wizard li.active:last-child span.round-tab {
    background: #92c755;
    color: #92c755;
    border-color: #92c755;
}*/

.wizard .nav-tabs > li {
    width: 19%;
    position: relative;
}

.wizard li:after {
    content: '';
    position: absolute;
    background: #f1f1f1;
    display: block;
    width: 100%;
    height: 2px;
    top: 14px;
    left: 52%;
    z-index: 1;
}

.wizard li:last-child:after {
    display: none;
}

.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.list-inline {
    margin-top: 2.5rem;
}

    .list-inline li {
        display: inline-block;
    }
/*Stepper css end*/


/*show more information css start*/
#Extra-Remark .text {
    margin-bottom: 0.5rem;
}

#Extra-Remark .show-more {
    margin-bottom: 1rem;
}

#Extra-Remark .show-more-height {
    height: 258px;
    overflow: hidden;
}
/*show more information css end*/

.timeline {
    max-width: 830px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #848892;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.timeline__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 386px;
    box-shadow: 0 2px 8px 0 #242e4c59;
}

.timeline__content::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.timeline__content::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #848892;
    border-radius: 50%;
    transform: translateY(-50%);
}

.timeline__content:nth-child(odd) {
    margin-left: auto;
}

.timeline__content:nth-child(odd) .content_tag {
    right: 5px;
}

.timeline__content:nth-child(odd)::after {
    left: -10px;
}

.timeline__content:nth-child(odd)::before {
    top: 50%;
    left: -39px;
}

.timeline__content:nth-child(even) {
    align-items: flex-end;
}

.timeline__content:nth-child(even) .content_p {
    text-align: right;
}

.timeline__content:nth-child(even)::after {
    right: -10px;
}

.timeline__content:nth-child(even)::before {
    top: 50%;
    right: -39px;
}

.timeline__content:nth-child(even) .content_tag {
    left: 5px;
}

.content_tag {
    position: absolute;
    top: 5px;
    padding: 6px 10px;
    background-color: rgb(204 204 204 / 22%);
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(84 81 81);
}

.content_tag.verify {
    background-color: rgb(252 243 227);
    color: rgb(255 152 0);
}

.content_tag.approve {
    background-color: rgb(139 195 74 / 22%);
    color: rgb(76 175 80);
}

.content_tag.reject {
    background-color: rgb(244 67 54 / 18%);
    color: rgb(244 67 54 / 75%);
}

.content_degination {
    position: absolute;
    top: 47%;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: #1f1f1f;
}

.timeline__content:nth-child(odd) .content_degination {
    right: 390px;
    margin-right: 47px;
    width: 321px;
    text-align: right;
}

.timeline__content:nth-child(even) .content_degination {
    right: -100px;
    left: 390px;
    margin-left: 47px;
    width: 321px;
    text-align: left;
}


.content_date {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #848892;
    margin-top: 1.2rem;
}

.content_p {
    color: #242e4c;
}

.mineral-concesion-details .colon {
    left: 0;
    position: absolute;
    display: block;
}

.mineral-concesion-details .col-form-label {
    font-weight: 500;
}

.accordion .card-header:after {
    font-family: 'icons';
    content: "\e923";
    float: right;
}

.accordion .card-header.collapsed:after {
    content: "\e926";
}

.tooltip {
    pointer-events: none;
}



@media screen and (max-width: 1366px) {
    .step-container .tab-content .tab-pane .col-lg-3 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .step-container .tab-content .tab-pane .col-lg-3.d-lg-block {
        display: none !important;
    }
}



@media screen and (max-width: 768px) 
{
    .mineral-concesion-details .colon {
        display: none;
    }

    .step-container .tab-content .tab-pane .col-lg-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    /*Card table in responsive start*/
    .card-table .table.table-bordered {
        border: 0px solid var(--input-border) !important;
        border-bottom: 1px solid var(--input-border) !important
    }

    .card-table td {
        display: block;
        width: 100%;
        border-bottom: 0px solid var(--input-border) !important;
    }

    .card-table.one tr td:nth-child(2),
    .card-table.two tr td:nth-child(2),
    .card-table.three tr td:nth-child(2),
    .card-table.four tr td:nth-child(2),
    .card-table.one tr td:nth-child(5),
    .card-table.two tr td:nth-child(5),
    .card-table.three tr td:nth-child(5),
    .card-table.four tr td:nth-child(5) {
        display: none;
    }

    .card-table.five tr td:nth-child(2),
    .card-table.five tr td:nth-child(3),
    .card-table.five tr td:nth-child(5),
    .card-table.five tr td:nth-child(6) {
        display: none;
    }

    .card-table.six tr td:nth-child(2),
    .card-table.six tr td:nth-child(3),
    .card-table.six tr td:nth-child(5),
    .card-table.six tr td:nth-child(6) {
        display: none;
    }

    .card-table.five tr th:nth-child(1), .card-table.six tr th:nth-child(1) {
        vertical-align: middle;
    }

    .card-table tr td:nth-child(1), .card-table tr td:nth-child(4) {
        font-weight: 600;
    }
    /*Card table in responsive end*/
}

@media (max-width: 640px) 
{
    .step-container .tab-content .tab-pane .col-lg-3 
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    } 
}

@media screen and (max-width: 600px) 
{
    .timeline {
        gap: 15px;
        padding: 10px;
    }

    .timeline::after {
        display: none;
    }

    .timeline__content {
        width: 100%;
    }

    .timeline__content::after {
        display: none;
    }

    .timeline__content::before {
        display: none;
    }
}


