body:before {
    border-color: rgb(255 255 255 / 0%) transparent transparent transparent;
}
.menu-section {
    /* left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    top: 75px;*/
    margin-top: 76px;
    min-height: 100vh;
    background: url(../CMSimg/subdashboard-bg.jpg);
}

.menu-content-sec {
    color: #fff;
    padding: 2rem 3rem 3rem 3rem;
}

.menu-content-sec .dropdown {
    margin-bottom: 1rem;
}

.menu-box {
    height: 100px;
    width: 130px;
    position: relative;
}

.menu-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.menu-link:hover {
    background-color: rgb(25 24 24 / 30%);
}


.menu-box p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    color: #f7f4f4;
}

.icon-box {
    background-color: #711519;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-box i {
    font-size: 3.1rem;
}


.search-pannel {
    margin: 0 auto;
    width: 60%;
}


.gap-5 {
    gap: 3rem;
}

.form-control:focus, .form-control:hover, .custom-file-input:focus, .custom-file-input:hover, .custom-file-input:focus ~ .custom-file-label, .custom-file-input:hover ~ .custom-file-label {
    background-color: #fff;
}

.menu-box.one .icon-box {
    background-color: #d9a720;
}
.menu-box.two .icon-box {
    background-color: #5c6bc0;
}
.menu-box.three .icon-box {
    background-color: #ee534f;
}
.menu-box.four .icon-box {
    background-color: #d4863c;
}
.menu-box.five .icon-box {
    background-color: #f03e7a;
}
.menu-box.six .icon-box {
    background-color: #a42327;
}
.menu-box.seven .icon-box {
    background-color: #2f96a5;
}
.menu-box.eight .icon-box {
    background-color: #b0254e;
}
.menu-box.nine .icon-box {
    background-color: #7e57c2;
}
.menu-box.ten .icon-box {
    background-color: #c3b548;
}
.menu-box.eleven .icon-box {
    background-color: #d36625;
}
.menu-box.twelve .icon-box {
    background-color: #408e7e;
}
.menu-box.thirteen .icon-box {
    background-color: #fe5a59;
}
.menu-box.fourteen .icon-box {
    background-color: #fd9a19;
}
.menu-box.fifteen .icon-box {
    background-color: #686fa4;
}
.menu-box.sixteen .icon-box {
    background-color: #6899aa;
}
.menu-box.seventeen .icon-box {
    background-color: #76af62;
}
.menu-box.eighteen .icon-box {
    background-color: #5e6dd2;
}
.menu-box.ninetheen .icon-box {
    background-color: #854e9f;
}
.menu-box.twenty .icon-box {
    background-color: #ce4d25;
}
.menu-box.twentyone .icon-box {
    background-color: #ce5f80;
}
.menu-box.twentytwo .icon-box {
    background-color: #00bcd4;
}

@media only screen and (max-width: 1366px) 
{ 
    .menu-content-sec {
        padding: 2rem 3rem 5rem 3rem;
    }

}

@media only screen and (max-width: 768px) 
{
    .menu-box {
        width: 120px;
    }

    .menu-content-sec {
        padding: 2rem 3rem 4rem 3rem;
    }
}

@media only screen and (max-width: 640px) 
{
    .gap-5 {
        gap: 2rem;
    }

    .menu-content-sec {
        padding: 2rem 3rem 2rem 3rem;
    }

    .menu-section {
        padding-bottom: 2.5rem;
    }

    .menu-box {
        height: 120px;
        width: 170px;
    }
    
    .gap-5 {
        gap: 3rem;
        justify-content: center !important;
    }

    .search-pannel {
        width: 74%;
    }
}






