.bg-danger {
    background-color: $danger !important;
}

.bg-purple {
    background-color: $purple !important;
}

.bg-khaki {
    background-color: $khaki;
}

.border-khaki {
    border-color: rgba($khaki, 1) !important;
}

.bg-brown {
    background-color: $brown !important;
}
.bg-brown-900 {
    background-color: #5c3222 !important;
}
.bg-brown-950 {
    background-color: #6a2d12 !important;
}

.bg-blue
{
    background-color: #417cdd !important;   
}


.btn.bg-blue{
    &:hover{
        color: #ffffff!important;
        background-color: #8d3610 !important;
    }
   
}


.btn-blue
{
    color: #417cdd !important;
    &:hover{
        color:#417cdd!important;
        background-color:#fff!important;
    }   
}

.border-brown-900 {
    border-color: #5c3222  !important;
}


.bg-gray {
    background-color: $gray-900 !important;
}

.border-primary-dark {
    border-color: $primary-color-dark !important;
}