<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="width: 98%">
        <tr style="background-color: #73a1c8;">
            <td colspan="2">
                <div style="text-align: center; padding: 10px">
                    <!-- <img alt="" src="{LogoPath}" />-->
                </div>
            </td>
        </tr>
        <tr style="background-color: #bce3f8;">
            <td>
                <div style="padding: 10px">
                    <span style="font-family: Source Sans Pro; font-size: 10pt">Dear {UserName},<br />
                        <br />
                        <br />
                        Your payment process has been completed & your payment is awaited. 
                        <br />
                        Your <b>Transaction Reference ID :- </b>{TransactionReffId} .
                        <br />
                        <br />
                        <br />
                        Use this for check payment status.
                        <br />
                        <b>NOTE :</b> This is system generated mail. Please do not replay.
                        <br />
                        Thank You,
                        <br />
                        Khanij Online Portal
                    </span>
                    <br />
                </div>
            </td>
        </tr>
        <tr style="background-color: #73a1c8;">
            <td colspan="2">
                <div style="text-align: center; padding: 10px">
                    <!--<img alt="" src="{infiLogoPath}" />-->
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
