<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="width: 98%">
        <tr style="background-color: #73a1c8;">
            <td colspan="2">
                <div style="text-align: center; padding: 10px">
                    <!-- <img alt="" src="{LogoPath}" />-->
                </div>
            </td>
        </tr>
        <tr style="background-color: #bce3f8;">
            <td>
                <div style="padding: 10px">
                    <span style="font-family: Source Sans Pro; font-size: 10pt">Dear {ApplicantName},<br />
                        You have successfully registered with Khanij Online Portal and Your Registration Number is <b>{UserRegNumber}</b> Dated {CreatedDate}.
                        <br />
                        <br />
                        You can login into <a href="https://khanijonline.cgstate.gov.in/">Khanij Online</a> Portal using below login credential.
                        <br />
                        <br />
                        <b>User Name : </b>{UserName}<br />
                        <b>Password : </b>{Password}<br />
                        <br />
                        <br />
                        <b>NOTE :</b> This is system generated mail. Please do not replay.
                        <br />
                        Thank You,
                        <br />
                        Khanij Online Portal
                    </span>

                    <br />


                </div>
            </td>
        </tr>
        <tr style="background-color: #73a1c8;">
            <td colspan="2">
                <div style="text-align: center; padding: 10px">
                    <!--<img alt="" src="{infiLogoPath}" />-->
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
