.btn {
    border-radius: 0;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3);
}

.btn.btn-sm {
    padding: .3rem 1rem;
    font-size: 0.8rem;
}

.btn-primary {
    background-color: $primary !important;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: $primary-color-dark !important;
}