:root {
    --primary-color: #711519;
    --brown: #610e11;
    --header-color: #711519;
    --light-gray: #f1f1f1;
    --font-color: #212529;
    --shadow-light: #d6d6d6;
    --light-pink: #fff4f4;
    --text-dark-font: #1e1e2d;
    --trans: transparent;
    --input-border: #dadada;
    --input-border-hover: rgb(0 0 0 / 38%);
    --light-red: #fff4f4;
    --brown-font: #8d3610;
    --tabs-active: #711519;
    --toggle-color: #da7276;
    --toggle-color-slide: #fbabae;
    --dark-warning: #ff9800;
}

.theme-light {
    --primary-color: #711519;
    --brown: #610e11;
    --header-color: #711519;
    --light-gray: #f1f1f1;
    --font-color: #212529;
    --white: #fff;
    --shadow-light: #d6d6d6;
    --light-pink: #fff4f4;
    --text-dark-font: #1e1e2d;
    --trans: transparent;
    --input-border: #dadada;
    --input-border-hover: rgb(0 0 0 / 38%);
    --light-red: #fff4f4;
    --brown-font: #8d3610;
    --tabs-active: #711519;
    --toggle-color: #da7276;
    --toggle-color-slide: #fbabae;
    --dark-warning: #ff9800;
    --border-grey: #dee2e6;
    --bg-light: #f8f9fa;
}

.theme-dark {
    --primary-color: #282b3c;
    --brown: #1d1f2d;
    --header-color: #242631;
    --light-gray: #232533;
    --font-color: #a7a7a7;
    --white: #1d1f2d;
    --shadow-light: transparent;
    --light-pink: #242738;
    --text-dark-font: #646479;
    --trans: transparent;
    --input-border: #404251;
    --input-border-hover: rgb(0 0 0 / 38%);
    --light-red: #242738;
    --brown-font: #d0d0d0;
    --tabs-active: rgba(255, 255, 255, 0.2);
    --toggle-color: #4e5269;
    --toggle-color-slide: #777a92;
    --dark-warning: #404251;
    --border-grey: #3f404a;
    --bg-light: #3f404a;
}

.bg-light {
    background-color: var(--bg-light)!important;
}


body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 16px;
}

body:before, body:after {
    content: '';
    position: absolute;
    top: 0;
}

body:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 630px 500px 0 0;
    border-color: rgb(255 255 255 / 8%) transparent transparent transparent;
}

a,
a:focus {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: var(--text-dark-font);
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus:hover {
    color: #646479;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    line-height: 1.6em;
}

.administrator {
    color: #fff;
    font-size: .8rem;
    margin-left: -8px;
}

.page-topbar {
    border-bottom: 1px solid rgb(255 255 255 / 12%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    transition: all ease-in-out .5s;
}

.page-topbar.active {
    background: var(--header-color);
}

.nav-toggle-btn {
    position: fixed;
    height: 22px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    z-index: 999;
    overflow: hidden;
    top: 28px;
    left: 610px;
}

.nav-toggle-btn span {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 2px;
    width: 26px;
    display: block;
    border-radius: 14px;
    background: var(--light);
}

.nav-toggle-btn:hover span:first-child, .nav-toggle-btn:hover span:last-child {
    width: 18px
}

.logo-area {
    display: flex;
    padding: .5rem 1rem;
    border-right: 1px solid rgb(255 255 255 / 12%);
    align-items: center;
    flex: 0 0 390px;
}

.logo-area img {
    height: 58px;
    margin-right: .6rem;
}

.logo-area h1 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0;
}

.logo-area h1 small {
    display: block;
    margin-top: .2rem;
}


.quick-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 calc(100% - 390px);
    padding: 0rem 1rem;
}

.khanij-online {
    border-right: 1px solid rgb(255 255 255 / 12%);
    padding: .5rem;
    padding-left: 0;
}


.khanij-online span {
    display: none
}

.top-menu-section ul {
    display: flex;
    margin: 0;
    align-items: center;
}

.top-menu-section ul li {
    position: relative;
}

.top-menu-section ul li img {
    height: 2rem;
    margin-top: -12px;
}

.top-menu-section ul li a {
    font-size: 2rem;
    position: relative;
    padding: 0 1rem;
    color: #fff;
    display: inline-block;
}

.top-menu-section ul li a .badge {
    font-size: .8rem;
    position: absolute;
    padding: 0;
    background: #ffd66b;
    top: 0;
    right: 9px;
    padding: 3px 5px;
    color: #000;
}

.top-menu-section ul ul.dropdown-menu {
    display: none;
    right: 0;
    left: auto;
    min-width: 220px;
    max-width: 290px;
    box-shadow: 0px 0px 10px var(--shadow-light);
    padding: 0;
    border: 0;
    overflow: hidden;
    background: var(--white);
}

.top-menu-section ul ul.dropdown-menu.messages {
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.top-menu-section ul li ul.dropdown-menu li {
    font-size: 1rem;
    color: var(--font-color);
}

.top-menu-section ul li ul.dropdown-menu li:hover {
    background: var(--trans)
}

.top-menu-section ul li ul.dropdown-menu li a {
    color: var(--font-color);
    font-size: 1rem;
    padding: .3rem 1rem;
    display: block;
}

.top-menu-section ul li ul.dropdown-menu li a i {
    margin-right: .4rem
}

.top-menu-section ul li ul.dropdown-menu li a:hover {
    background: var(--light-gray);
    color: var(--text-dark-font);
}

.top-menu-section ul li:hover ul.dropdown-menu {
    display: block;
}

.top-menu-section ul ul.dropdown-menu.messages li.unread a {
    background: var(--light-gray);
}

.top-menu-section ul ul.dropdown-menu.messages li a {
    border-bottom: 1px solid var(--input-border);
    padding: .6rem 1rem;
}

.top-menu-section ul ul.dropdown-menu.messages li a .time {
    font-weight: 700;
    color: var(--gray);
}      

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
    margin: 0;
    margin-right: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7d4d6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "\ee13";
    height: 27px;
    width: 28px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53%;
    font-family: icons;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brown);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    background: var(--toggle-color-slide);
}

.top-menu-section ul li input:checked + .slider {
    background-color: var(--toggle-color);
}

.top-menu-section ul li input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.top-menu-section ul li input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-repeat: no-repeat;
    background-position: center;
    content: "\ecaa";
}



.page-container {
    background: var(--brown);
    margin: 1.5rem;
    position: relative;
    border-radius: 20px;
    min-height: calc(100vh - 125px );
    display: flex;
    padding-left: 280px;
    margin-top: .5rem;
    transition: all ease-in-out .5s;
}

.page-container.full {
    padding-left: 0;
}

.page-container:before {
    content: '';
    position: absolute;
    left: 4rem;
    right: 6rem;
    height: 0;
    top: -17px;
    z-index: -1;
    border-radius: 16px;
}

.page-sidebar {
    position: absolute;
    left: 0;
    background: var(--brown);
    width: 280px;
    bottom: 0;
    z-index: 1;
    top: 0;
    border-radius: 20px 0 0 20px;
    transition: all ease-in-out .5s;
}

.page-container.full .page-sidebar {
    left: -350px;
}

#main-content {
    background: var(--light-gray);
    border-radius: 20px;
    padding: 1.5rem;
    flex: 0 0 100%;
    overflow-x: hidden;
}

footer {
    position: absolute;
    right: 1.5rem;
    bottom: .5rem;
    font-size: .8rem;
}

.page-sidebar-wrapper {
    margin: 0;
    padding: 0
}

.page-sidebar-wrapper ul {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

.page-sidebar-wrapper ul li {
    margin: 0;
    padding: 0
}


.page-sidebar-wrapper ul li .sub-menu {
    display: none
}

.page-sidebar-wrapper .navbar {
    padding: 1rem;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item {
    margin-bottom: 3px;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.65rem 1rem;
    color: #dedede;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-left: 0px solid #fff;
    position: relative;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link span {
    display: inline-block;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link i {
    margin-right: .6rem;
    display: inline-block;
    font-size: 1.6rem;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link:hover, .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link:focus {
    color: #ececec;
    background: rgba(255, 255, 255, 0.2);
    border-left-color: #108fbb;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
    position: relative;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
    content: "\e925";
    position: absolute;
    right: 3px;
    font-family: icons;
    font-size: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link {
    color: #ececec;
    background: rgba(255, 255, 255, 0.2);
    border-left-color: #108fbb;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link:before {
    content: '';
    height: 50px;
    width: 24px;
    position: absolute;
    background: var(--light-gray);
    right: -40px;
    border-radius: 50px 0 0 50px;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link i {
    color: #ececec;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    opacity: 0;
    position: relative;
    display: none;
    border-bottom: 0px solid #f2f2f2;
    border-left: 0px solid #108fbb;
    background: rgba(255,255,255,.13);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 4px;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    margin-bottom: 0px;
    position: relative;
    font-size: 0.9rem;
    color: #dedede;
    border-radius: 3px;
    display: flex;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item i {
    font-size: 1.1rem;
    margin-right: 13px;
    margin-top: 3px;
    display: inline-block;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item span {
    display: inline-block;
    margin-right: 15px;
    width: 26px;
    text-align: center;
    font-weight: 600;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover, .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
    color: #ececec;
    background: rgba(255, 255, 255, 0.2);
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
    background: #f0d89a;
    color: #111110;
}


.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child {
    margin-top: 0px;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu.show {
    display: inherit !important;
    max-height: 300px;
    overflow-y: auto;
    opacity: 1;
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show {
    background: rgba(242, 242, 242, 0);
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .nav-link {
    color: #ececec;
    background: rgba(255,255,255,.13);
}

.page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .nav-link.dropdown-toggle:after {
    transform: rotate(88deg) translateY(13%) translateX(-8px);
}

.breadcrumb-nav {
    margin-top: 82px;
    padding: 0 2rem;
}

.breadcrumb-nav .breadcrumb-item {
    color: #c7c7c7;
    font-size: .9rem;
}

.breadcrumb-nav .breadcrumb-item a {
    color: #c7c7c7;
    font-size: 1rem;
}

.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before {
    font-family: icons;
    content: "\e925";
    color: #c7c7c7;
    font-size: 13px;
    line-height: 22px;
}

.breadcrumb-nav .breadcrumb-item:last-child {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 18px;
}

.breadcrumb {
    margin-left: 295px;
    justify-content: flex-start;
}
.breadcrumb.full {
    margin-left: 0px;
}


#main-content .breadcrumb-nav {
    display: none;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
}

.dropdown-toggle:after {
    border: 0px;
    margin: 0px;
}

.colon {
    left: 0;
    position: absolute;
}


.form-group label, .col-form-label {
    color: var(--font-color) !important;
}

.common-table-search {
    width: 250px;
    display: none;
}

.form-control, .custom-file-label {
    border-radius: 4px;
    border: 1px solid var(--input-border);
    color: var(--font-color);
    background: var( --white);
}

.form-control.bordered {
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--input-border);
    border-radius: 3px;
}

.form-control.danger {
    border-color: #f44336;
}

.form-control.success {
    border-color: #92c755;
}

.form-control:focus, .form-control:hover, .custom-file-input:focus, .custom-file-input:hover, .custom-file-input:focus ~ .custom-file-label, .custom-file-input:hover ~ .custom-file-label {
    border-color: var(--input-border-hover);
    box-shadow: none;
    background-color: var(--trans)
}

.form-control-plaintext {
    color: var(--font-color);
}

.control-group {
    position: relative;
}

.control-group label {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

.control-group label.input-group-label {
    left: 45px;
}

.control-group .form-group {
    margin-bottom: 2rem;
}

.control-group.focused label {
    top: -1.3rem;
    font-size: 0.8rem;
}

.control-group.focused label.input-group-label {
    left: 0;
}

.control-group .form-control {
    border: 0;
    border-bottom: 1px solid #dadada;
}

.control-group .input-group-text {
    border: 0;
    border-bottom: 1px solid #ced4da;
}

.control-label {
    margin-bottom: 0.1rem;
}

.input-group-text {
    border-radius: 2px;
    background-color: rgba(233, 236, 239, 0);
    border: 1px solid #ced4da;
}

.datepicker {
    border-radius: 2px;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop 0.5s linear;
}

.btn {
    cursor: pointer;
    padding: 0.35rem 1rem;
    border-radius: 2px;
    transition: all 0.25s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    text-transform: uppercase;
}

.btn:focus {
    box-shadow: none;
}

.btn.btn-default, .btn.btn-default:focus {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.07) !important;
    color: #7a878e;
}

.btn.btn-primary, .btn.btn-primary:focus {
    background-color: #0099ad;
    border-color: #0099ad !important;
    color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:focus:hover {
    background-color: #028394;
    border-color: #028394;
}

.btn.btn-primary.bordered, .btn.btn-primary:focus.bordered {
    background-color: transparent;
    color: #028394;
}

.btn.btn-primary.bordered:hover, .btn.btn-primary:focus.bordered:hover {
    background-color: #028394;
    color: #fff;
}

.btn.btn-info, .btn.btn-info:focus {
    background-color: #0ab1fc;
    border-color: #03a9f4 !important;
    color: #fff;
}

.btn.btn-info:hover, .btn.btn-info:focus:hover {
    background-color: #06a3d2;
    border-color: #269abc;
}

.btn.btn-info.bordered, .btn.btn-info:focus.bordered {
    background-color: transparent;
    color: #03a9f4;
}

.btn.btn-info.bordered:hover, .btn.btn-info:focus.bordered:hover {
    background-color: #03a9f4;
    color: #fff;
}

.btn.btn-success, .btn.btn-success:focus {
    background-color: #92c755;
    border-color: #8bc34a !important;
    color: #fff;
}

.btn.btn-success:hover, .btn.btn-success:focus:hover {
    background-color: #2d942d;
    border-color: #2d942d;
}

.btn.btn-success.bordered, .btn.btn-success:focus.bordered {
    background-color: transparent;
    color: #8bc34a;
}

.btn.btn-success.bordered:hover, .btn.btn-success:focus.bordered:hover {
    background-color: #8bc34a;
    color: #fff;
}

.btn.btn-mint, .btn.btn-mint:focus {
    background-color: #29b2a6;
    border-color: #26a69a !important;
    color: #fff;
}

.btn.btn-mint:hover, .btn.btn-mint:focus:hover {
    background-color: #1da79a;
    border-color: #29b2a6;
}

.btn.btn-mint.bordered, .btn.btn-mint:focus.bordered {
    background-color: transparent;
    color: #26a69a;
}

.btn.btn-mint.bordered:hover, .btn.btn-mint:focus.bordered:hover {
    background-color: #26a69a;
    color: #fff;
}

.btn.btn-warning, .btn.btn-warning:focus {
    background-color: #ffb80f;
    border-color: #ffb300 !important;
    color: #fff;
}

.btn.btn-warning:hover, .btn.btn-warning:focus:hover {
    background-color: #fbb100;
    border-color: #d58512;
}

.btn.btn-warning.bordered, .btn.btn-warning:focus.bordered {
    background-color: transparent;
    color: #ffb300;
}

.btn.btn-warning.bordered:hover, .btn.btn-warning:focus.bordered:hover {
    background-color: #ffb300;
    color: #fff;
}

.btn.btn-danger, .btn.btn-danger:focus {
    background-color: #f55145;
    border-color: #f44336 !important;
    color: #fff;
}

.btn.btn-danger:hover, .btn.btn-danger:focus:hover {
    background-color: #e82517;
    border-color: #e82517;
}

.btn.btn-danger.bordered, .btn.btn-danger:focus.bordered {
    background-color: transparent;
    color: #f44336;
}

.btn.btn-danger.bordered:hover, .btn.btn-danger:focus.bordered:hover {
    background-color: #f44336;
    color: #fff;
}

.btn.btn-pink, .btn.btn-pink:focus {
    background-color: #f1709c;
    border-color: #f06292 !important;
    color: #fff;
}

.btn.btn-pink:hover, .btn.btn-pink:focus:hover {
    background-color: #f14b84;
    border-color: #f1709c;
}

.btn.btn-pink.bordered, .btn.btn-pink:focus.bordered {
    background-color: transparent;
    color: #f06292;
}

.btn.btn-pink.bordered:hover, .btn.btn-pink:focus.bordered:hover {
    background-color: #f06292;
    color: #fff;
}

.btn.btn-purple, .btn.btn-purple:focus {
    background-color: #b052c0;
    border-color: #ab47bc !important;
    color: #fff;
}

.btn.btn-purple:hover, .btn.btn-purple:focus:hover {
    background-color: #a638b9;
    border-color: #b052c0;
}

.btn.btn-purple.bordered, .btn.btn-purple:focus.bordered {
    background-color: transparent;
    color: #ab47bc;
}

.btn.btn-purple.bordered:hover, .btn.btn-purple:focus.bordered:hover {
    background-color: #ab47bc;
    color: #fff;
}

.btn.btn-dark, .btn.btn-dark:focus {
    background-color: #414c57;
    border-color: #3a444e !important;
    color: #fff;
}

.btn.btn-dark:hover, .btn.btn-dark:focus:hover {
    background-color: #323e4a;
    border-color: #414c57;
}

.btn.btn-dark.bordered, .btn.btn-dark:focus.bordered {
    background-color: transparent;
    color: #3a444e;
}

.btn.btn-dark.bordered:hover, .btn.btn-dark:focus.bordered:hover {
    background-color: #3a444e;
    color: #fff;
}

.btn.btn-sm {
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.indicatorslist {
    padding-left: 1rem;
}

.indicatorslist a {
    display: inline-block;
    padding: 0.2rem 0.7rem;
    border-radius: 0;
    margin-left: -1px;
    color: #a6a6a6;
    font-size: 1.1rem;
    border: 0px solid #e4e4e4;
    border-radius: 0px;
}

.indicatorslist a:hover {
    color: #108fbb;
    border-color: #108fbb;
}

.indicatorslist p {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0.35rem 0;
}

.nav-tabs {
    float: none;
    margin-bottom: 0;
    border-bottom: 0;
    width: auto;
}

.nav-tabs .nav-link {
    margin-right: 0.3rem;
    border-radius: 6px;
    border: 1px solid var(--input-border);
    padding: .3rem 1.5rem;
}

.nav-tabs .nav-link.active {
    background-color: var(--tabs-active);
    border-color: var(--tabs-active);
    color: #fff;
    position: relative
}

.nav-tabs .nav-link.active:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent var(--white) transparent;
    border-style: solid;
    bottom: -16px;
    left: 50%;
    transform: translateX(-57%);
}

.form-container {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0px 10px var(--shadow-light);
}

.main-tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction:row;
}

.input-group-text {
    background-color: var(--white);
    border: 1px solid var(--input-border);
    border-radius: 0 .25rem .25rem 0 !important;
    border-left: 0;
}
.util-group a {
       
    margin-left: 5px;
    display: inline-block;
    padding: .3rem .4rem;
    line-height: 1;
    border-radius: 5px;
    color: var(--font-color);
    font-size: 1.3rem;
    background: var( --white);
}

.util-group a:hover {
    box-shadow: 0 0 4px var(--shadow-light);
    background: var(--dark-warning);
    color: #fff;
}

.searchform {
    background-color: var(--light-pink);
    border-bottom: 0px solid #812f32;
    border-radius: 10px;
}

.searchform .form-group {
    margin-bottom: 0.5rem;
}

.searchform .col-form-label {
    text-align: left;
}

.searchbtn {
    background-color: var(--light-pink);
    margin: 0;
    border-radius: 0 0 2px 2px;
    color: var(--font-color);
}

.searchbtn i {
    margin-right: 5px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    font-size: 0.9rem;
}

.table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pagination .page-link {
    border: 0;
    color: var(--gray);
    font-weight: 600;
    padding: .4rem .7rem;
    border-radius: 5px !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background: var( --trans);
}

.page-item.disabled .page-link {
    background: var( --trans);
    color: var(--gray);
}

.pagination .page-item.active .page-link {
    background: var(--dark-warning);
}

.table {
    color: var(--text-dark-font);
    font-size: .9rem;
}

.table.table-bordered {
    border: 1px solid var(--input-border) !important
}


.table-bordered td, .table-bordered th {
    border: 1px solid var(--input-border) !important
}

.table tbody + tbody {
    border-top: 0px solid #dee2e6;
}

.table-bordered th {
    background-color: var(--light-gray);
    color: var(--text-dark-font)
}

.no-content {
    text-align: center;
    color: #d4d4d4;
    padding: 3rem 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.left-user-details {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: none;
}

.left-user-details:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 205px 180px 0 0;
    border-color: rgb(255 255 255 / 6%) transparent transparent transparent;
    left: 0;
    top: 0;
}

.left-user-details .img-div {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    margin-bottom: .6rem;
    border-radius: 100%;
    overflow: hidden;
}

.left-user-details img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.left-user-details p {
    margin: 0;
    color: var(--light);
}

.legend-box {
    margin: 0px 0px 10px 0px;
}

.legend-box li {
    display: flex;
    align-items: center;
}

.legend-box li span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 0.2rem 0 0.8rem;
    display: inline-block;
}

.legend-box .bg-warning {
    background-color: #fd7e14 !important;
}

.inactive-row td:first-child,
.active-row td:first-child,
.reject-row td:first-child {
    position: relative;
    padding-left: 10px;
}

.inactive-row td:first-child::before,
.active-row td:first-child::before,
.reject-row td:first-child::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0%;
    width: 3px;
}

.inactive-row td:first-child::before {
    background-color: #fd7e14;
}

.active-row td:first-child::before {
    background-color: #00c851;
}

.progressbar {
    overflow: hidden;
    counter-reset: step;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 20px 0px 8px;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 600;
    font-size: 0.8rem;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 39px;
    display: block;
    font-size: 1em;
    color: #8d3610;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 0px auto;
    z-index: 1;
    position: relative;
    font-weight: 600;
    border: 2px solid #8d3610;
}

.progressbar li a {
    color: #000;
}

.progressbar li a:hover {
    color: #8d3610;
}

.progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #d9dce0c9;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: 0;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    background: #8d3610;
    color: white;
    border: 2px solid #8d3610;
}

.progressbar li.active:before, .progressbar li.active:after {
    background: #8d3610;
}

/*complete */
.progressbar li.complete:before {
    background: #00e600;
    color: white;
    border: 2px solid #00e600;
}

.progressbar li.complete:before, .progressbar li.complete:after {
    background: #00e600;
}

/*incomplete */
.progressbar li.incomplete:before {
    background: #ff9900;
    color: white;
    border: 2px solid #ff9900;
}

.progressbar li.incomplete:before, .progressbar li.incomplete:after {
    background: #ff9900;
}

.ereturncoalyear.progressbar li {
    width: 14%;
}

.message-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.message-heading h5 {
    margin-bottom: 0rem;
}

li.profile {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1440px) 
{
    body {
        font-size: .9rem;
    }

    .page-container {
        margin: 1rem;
        margin-top: 5px;
    }

    #main-content {
        padding: 1rem;
    }

    .form-container {
        padding: 1rem;
    }

    footer {
        right: 1rem;
        bottom: .0rem;
    }

    .logo-area img {
        height: 50px;
    }

    .khanij-online img {
        height: 49px;
    }

    .nav-toggle-btn {
        top: 24px;
        left: 588px;
    }

    .breadcrumb-nav {
        margin-top: 72px;
        padding: 0 1.5rem;
        display: block;
    }
}

@media screen and (max-width: 1366px) {
    .page-sidebar-wrapper .navbar {
       height: 531px;
    }
}

@media screen and (max-width: 992px) 
{
    .page-container {
        padding-left: 0;
        margin: .5rem;
        margin-top: 75px;
    }

    .page-sidebar {
        position: fixed;
        left: -350px;
    }

    .page-container.full .page-sidebar {
        left: 0px;
        position: fixed;
        z-index: 999;
        border-radius: 0;
        top: 0;
        bottom: 0;
    }

    .page-container.full:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.7);
        transition: all ease-in-out .5s;
    }

    footer {
        position: relative;
        padding: 1rem;
    }

    .logo-area h1 {
        display: none
    }

    .logo-area {
        flex: 0 0 80px;
    }

    .logo-area img {
        margin-right: 0
    }

    .quick-area {
        flex: 0 0 calc(100% - 80px);
    }

    .nav-toggle-btn {
        top: 24px;
        left: 288px;
    }

    .page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link:before {
        width: 0px;
    }
}

@media (max-width: 768px) 
{

    .breadcrumb {
        justify-content: flex-end;
        margin-left: 0px;
    }
    .administrator {
        display: none;
    }

    .page-container {
        margin-top: 10px;
    }

    .main-tab {
        flex-direction: column;
    }
    .nav-tabs {
        margin-bottom: 1rem;
    }

    .nav-tabs .nav-link.active:after {
        display:none;
    }
    .colon {
        display: none;
       
    }
}


@media (max-width: 640px) 
{
    .progressbar li a {
        display: none;
    }
}


@media screen and (max-width: 576px) 
{
    body:before {
        border-width: 300px 300px 0 0;
    }

    .khanij-online {
        display: none;
    }

    .nav-toggle-btn {
        left: 100px;
    }

    .quick-area {
        justify-content: flex-end;
    }

    .switch {
        margin-right: 0rem;
    }
}


@media only screen and (max-width: 530px) 
{
    .message-heading {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
    }

    .message-heading h5 {
        margin-bottom: 0.7rem;
    }
}
