
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'Configuration', 'Add Mineral Transportation', ' ');
    });
   
    function TripConfigurationChange(e) {
        if ($("input[name='TripConfigurationReg']:checked").val() == "1") {
            $(".Registered").show();
            $(".UnRegistered").hide();
        }
        else if ($("input[name='TripConfigurationReg']:checked").val() == "2") {
            $(".UnRegistered").show();
            $(".Registered").hide();
        }
        else {
            $(".Registered").show();
            $(".UnRegistered").show();
        }
    }
    function RegTripChange(e) {
        if ($("input[name='CloseTrip']:checked").val() == "1") {
            $(".RegisteredTrip").show();
        }
        else {
            $(".RegisteredTrip").hide();
        }
    }
    function UnRegTripChange(e) {
        if ($("input[name='UnregCloseTrip']:checked").val() == "1") {
            $(".UnRegisteredTrip").show();
        }
        else {
            $(".UnRegisteredTrip").hide();
        }
    }
    function UnRegTripChangeDur(e) {
        if ($("input[name='UnregCloseTripDur']:checked").val() == "1") {
            $(".UnRegisteredTripDur").show();
        }
        else {
            $(".UnRegisteredTripDur").hide();
        }
    }
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Configuration/MineralTransportation/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0"> Mineral Transportation Details</h5>
                        @using (Html.BeginForm("Add", "MineralTransportation", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-group row">
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <label class="col-form-label pt-0 font-weight-bolder">Mineral Name <span class="text-danger">*</span></label>
                                    <select id="MineralId" class="form-control searchableselect" autofocus="autofocus">
                                        <option value="">--Select--</option>
                                        <option value="1">Agate</option>
                                        <option value="2">Asbestos</option>
                                        <option value="3">Ball Clay</option>
                                        <option value="4">Barytes</option>
                                        <option value="5">Bauxite</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">Transportation Mode <span class="text-danger">*</span></label>
                            <select multiple class="form-control" id="TransportationModeId">
                                <option value="">--Select--</option>
                                <option value="1">By Rail</option>
                                <option value="2">By Road</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group row">
                                <div class="col-lg-9 col-md-7 col-sm-12">
                                    <label class="col-form-label pt-0 font-weight-bolder">Trip Configuration <span class="text-danger">*</span></label>
                                    <div class="py-3">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="TripConfigurationReg" name="TripConfigurationReg" value="1" onchange="TripConfigurationChange(this)">
                                            <label class="custom-control-label" for="TripConfigurationReg">Registered</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="TripConfigurationUnReg" name="TripConfigurationReg" value="2" onchange="TripConfigurationChange(this)">
                                            <label class="custom-control-label" for="TripConfigurationUnReg">Unregistered</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="TripConfigurationBoth" name="TripConfigurationReg" value="3" onchange="TripConfigurationChange(this)">
                                            <label class="custom-control-label" for="TripConfigurationBoth">Both</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Registered col-lg-4 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label font-weight-bolder">Registered Close Trip <span class="text-danger">*</span></label>
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="CloseTripYes" name="CloseTrip" value="1" onchange="RegTripChange(this)">
                                    <label class="custom-control-label" for="CloseTripYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="CloseTripNo" name="CloseTrip" value="2" onchange="RegTripChange(this)" checked="checked">
                                    <label class="custom-control-label" for="CloseTripNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="RegisteredTrip col-lg-3 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label pt-0 font-weight-bolder">Trip Closed By <span class="text-danger">*</span></label>
                            <select class="form-control">
                                <option value="">--Select--</option>
                                <option value="1">Source</option>
                                <option value="2">Destination</option>
                                <option value="3">Trader</option>
                            </select>
                        </div>
                        <div class="Registered col-lg-4 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label font-weight-bolder">Vehicle To be Blocked <span class="text-danger">*</span></label>
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="TripClosedByYes" name="TripClosedBy" value="1">
                                    <label class="custom-control-label" for="TripClosedByYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="TripClosedByNo" name="TripClosedBy" value="2" checked="checked">
                                    <label class="custom-control-label" for="TripClosedByNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="Registered col-lg-4 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label font-weight-bolder">Vehicle To be Tracked <span class="text-danger">*</span></label>
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="VehicleTrackedYes" name="VehicleTracked" value="1">
                                    <label class="custom-control-label" for="VehicleTrackedYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="VehicleTrackedNo" name="VehicleTracked" value="2" checked="checked">
                                    <label class="custom-control-label" for="VehicleTrackedNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="UnRegistered col-lg-4 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label font-weight-bolder">Unregistered Close Trip <span class="text-danger">*</span></label>
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="UnregCloseTripYes" name="UnregCloseTrip" value="1" onchange="UnRegTripChange(this)">
                                    <label class="custom-control-label" for="UnregCloseTripYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="UnregCloseTripNo" name="UnregCloseTrip" value="2" onchange="UnRegTripChange(this)" checked="checked">
                                    <label class="custom-control-label" for="UnregCloseTripNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="UnRegisteredTrip col-lg-3 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label pt-0 font-weight-bolder">Duration <span class="text-danger">*</span></label>
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="UnregCloseTripDurSystem" name="UnregCloseTripDur" value="1" onchange="UnRegTripChangeDur(this)" checked="checked">
                                    <label class="custom-control-label" for="UnregCloseTripDurSystem">System</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="UnregCloseTripDurUser" name="UnregCloseTripDur" value="2" onchange="UnRegTripChangeDur(this)">
                                    <label class="custom-control-label" for="UnregCloseTripDurUser">User</label>
                                </div>
                            </div>
                        </div>
                        <div class="UnRegisteredTripDur col-lg-3 col-md-6 col-sm-12 form-group" style="display:none;">
                            <label class="col-form-label pt-0 font-weight-bolder">Duration <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <input type="submit" value="Submit" name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="Submit">
                                <a href="~/Configuration/MineralTransportation/Add" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">Cancel</a>
                            </div>
                        </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

