
@{
    ViewData["Title"] = "QuarryLeaseGrant";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('QuarryLeaseGrant', 'mcql', 'mcqldgm', 'tl', 'Mineral Concension', '31 Minor Mineral  QL e-Auction , Govt. land', ' ');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="QuarryLeaseNew">
                                New
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="QuarryLeaseGrant">
                                Grant Approval
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px" class="text-center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox1">
                                                    <label class="custom-control-label" for="checkbox1"></label>
                                                </div>
                                            </th>
                                            <th width="20px">Sl#</th>
                                            <th>Bidder Name</th>
                                            <th>Mobile No.</th>
                                            <th>E-mail</th>
                                            <th>Agreement <br> <small>Uploaded On</small></th>
                                            <th>History</th>
                                            <th class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center noprint">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                    <label class="custom-control-label" for="checkbox2"></label>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Nitish Dwivedi</a></td>
                                            <td>9473568634</td>
                                            <td>anilkumarsahoo@gmail.com</td>
                                            <td>30 Nov 2021</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a href="#" class="btn btn-dark btn-sm text-capitalize" data-toggle="modal" data-target="#exampleModal2">Verify</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center noprint">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                    <label class="custom-control-label" for="checkbox2"></label>
                                                </div>
                                            </td>
                                            <td>2</td>
                                            <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Amit Kumar Nayak</a></td>
                                            <td>9973588634</td>
                                            <td>pratikjeenao@gmail.com</td>
                                            <td>25 Nov 2021</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a href="#" class="btn btn-dark btn-sm text-capitalize" data-toggle="modal" data-target="#exampleModal2">Verify</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Applicant Quarry Lease Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                General Details
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">

                            <div class="row">


                                <label class="col-lg-6 col-12 col-form-label">District</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Grant / Renewal of Quarry Lease <small>(Years)</small></label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5 years</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Grant / Renewal of Quarry Lease <small>(hectares)</small></label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>343600 hectares</label>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                            <a class="card-title">
                                Details of Particulars
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of applicant</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Anil Kumar Sahoo</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Nationality of the applicant</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>India</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Place of registration</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Profession of individual</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Businessman</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Complete postal address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>246, Landmark Arcade, Lusiwadi Highway Service Rd, Nr Nitin Company Jtn, Chhattisgarh</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Pin Code</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5643</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mobile No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>9435764355</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">E-mail</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>anilkumarsahoo@gmail.com</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Identity Proof</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Caste</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>General</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Educational qualification</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Graduate</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Age</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>39</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Residential Address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>246, Landmark Arcade, Lusiwadi Highway Service Rd, Nr Nitin Company Jtn, Chhattisgarh</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Directors / Partners / Members</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Financial Status</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Articles of memorandum</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Details of Previous lease held</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Applicant Minerals</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Period / Renewal of Quarry Lease</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Description</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Grant Order No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>546743</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Grant Order Date</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>23 Dec 2021</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Report Details</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Reserve and grade report</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mineral Raised utilized</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                            <a class="card-title">
                                Details of plants owned
                            </a>
                        </div>
                        <div id="collapse3" class="card-body  collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Manufacture  industries</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>yes
                                    </label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">
                                    A statement supported by a affidavit showing all the areas mineral wise in
                                    each district of the State
                                </label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Already applied for but not yet granted</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label"> An affidavit of obtaining surface rights</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">No dues certificate in Form II</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Upload six copies of plan</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Khasrapanchsala</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The plan should indicate important features, viz</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>if a road, whether village or public works department or cart track. , Burningghat or burial ground, etc.</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">In case the renewal applied for is only for part of the lease hold</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The area applied for renewal</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The area applied for renewal</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Upload Document</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Description</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Means by which mineral is to be raised</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Hand</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Preferential right sought for (mention sub-rule/rules)</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Hand</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Any other particulars which the applicant wishes to furnish</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Articles of memorandum</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
                            <a class="card-title">
                                Details of Area Applied
                            </a>
                        </div>
                        <div id="collapse4" class="card-body collapse" data-parent="#accordion">

                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of village</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Gram Panchayat and Police Station</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Khashra No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>100/1
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Area of each field (Hectares)</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>5465433 Hectares
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Full description of the area</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Block</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Vidhansabha</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Tehsil</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Patwari circle number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>6543465
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">District </label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false">
                            <a class="card-title">
                                List of Enclosure & No Dues certificate
                            </a>
                        </div>
                        <div id="collapse5" class="card-body collapse" data-parent="#accordion">
                            <div class="row">

                                <div class="col-12">
                                    <label class="form-control-plaintext">Lorem Ipsum is simply dummy <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>


                                <div class="col-12">
                                    <label class="form-control-plaintext"> Neque porro quisquam est qui  <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">No Dues certificate <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false">
                            <a class="card-title">
                                Doc (EC, MP, GP, NOC )
                            </a>
                        </div>
                        <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">Environment Clearance (EC)  <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext">Mining Plan (MP) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext"> Gram Panchayat (GP) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext"> No objection certificate (NOC) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3"><a href="ApplicationForm" class="text-primary">Mineral Concession (31 Minor Mineral) Quarry Lease </a> <span class="icon-download-solid"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade take-action-model" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Nitish Dwivedi

                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion2" class="accordion">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false">
                            <a class="card-title">
                                General Details
                            </a>
                        </div>
                        <div id="collapse11" class="card-body collapse  show" data-parent="#accordion2">

                            <div class="row">


                                <label class="col-lg-6 col-12 col-form-label">District</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bijapur</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Grant / Renewal of Quarry Lease <small>(Years)</small></label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5 years</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Grant / Renewal of Quarry Lease <small>(hectares)</small></label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>343600 hectares</label>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion2" href="#collapse22" aria-expanded="true">
                            <a class="card-title">
                                Details of Particulars
                            </a>
                        </div>
                        <div id="collapse22" class="card-body collapse" data-parent="#accordion2">
                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of applicant</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Anil Kumar Sahoo</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Nationality of the applicant</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>India</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Place of registration</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Profession of individual</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Businessman</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Complete postal address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>246, Landmark Arcade, Lusiwadi Highway Service Rd, Nr Nitin Company Jtn, Chhattisgarh</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Pin Code</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5643</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mobile No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>9435764355</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">E-mail</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>anilkumarsahoo@gmail.com</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Identity Proof</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Caste</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>General</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Educational qualification</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Graduate</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Age</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>39</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Residential Address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>246, Landmark Arcade, Lusiwadi Highway Service Rd, Nr Nitin Company Jtn, Chhattisgarh</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Directors / Partners / Members</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Financial Status</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Articles of memorandum</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Details of Previous lease held</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Applicant Minerals</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Period / Renewal of Quarry Lease</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Description</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Grant Order No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>546743</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Grant Order Date</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>23 Dec 2021</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Report Details</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Reserve and grade report</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mineral Raised utilized</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion2" href="#collapse33" aria-expanded="false">
                            <a class="card-title">
                                Details of plants owned
                            </a>
                        </div>
                        <div id="collapse33" class="card-body  collapse" data-parent="#accordion2">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Manufacture  industries</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>yes
                                    </label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">
                                    A statement supported by a affidavit showing all the areas mineral wise in
                                    each district of the State
                                </label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Already applied for but not yet granted</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label"> An affidavit of obtaining surface rights</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">No dues certificate in Form II</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Upload six copies of plan</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Khasrapanchsala</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The plan should indicate important features, viz</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>if a road, whether village or public works department or cart track. , Burningghat or burial ground, etc.</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">In case the renewal applied for is only for part of the lease hold</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The area applied for renewal</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">The area applied for renewal</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Upload Document</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Description</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>XYZ</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Means by which mineral is to be raised</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Hand</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Preferential right sought for (mention sub-rule/rules)</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Hand</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Any other particulars which the applicant wishes to furnish</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Articles of memorandum</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Yes</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion2" href="#collapse44" aria-expanded="false">
                            <a class="card-title">
                                Details of Area Applied
                            </a>
                        </div>
                        <div id="collapse44" class="card-body collapse" data-parent="#accordion2">

                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of village</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Gram Panchayat and Police Station</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Khashra No.</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>100/1
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Area of each field (Hectares)</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>5465433 Hectares
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Full description of the area</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Block</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Vidhansabha</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Tehsil</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Patwari circle number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>6543465
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">District </label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion2" href="#collapse55" aria-expanded="false">
                            <a class="card-title">
                                List of Enclosure & No Dues certificate
                            </a>
                        </div>
                        <div id="collapse55" class="card-body collapse" data-parent="#accordion2">
                            <div class="row">

                                <div class="col-12">
                                    <label class="form-control-plaintext">Lorem Ipsum is simply dummy <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>


                                <div class="col-12">
                                    <label class="form-control-plaintext"> Neque porro quisquam est qui  <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">No Dues certificate <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion2" href="#collapse66" aria-expanded="false">
                            <a class="card-title">
                                Doc (EC, MP, GP, NOC )
                            </a>
                        </div>
                        <div id="collapse66" class="card-body collapse" data-parent="#accordion2">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-control-plaintext">Environment Clearance (EC)  <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext">Mining Plan (MP) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext"> Gram Panchayat (GP) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                                <div class="col-12">
                                    <label class="form-control-plaintext"> No objection certificate (NOC) <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 mb-4"><a href="ApplicationForm" class="text-primary">Mineral Concession (31 Minor Mineral) Quarry Lease </a> <span class="icon-download-solid"></span></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-3 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#security-msg" data-dismiss="modal">Verified & Forward</button>
                <button type="button" class="btn btn-outline-danger">Reject</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Nitish Dwivedi

                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">Nitish Dwivedi <br> <small class="font-weight-bold"> (Bidder) </small></span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                        <p class="mb-0">
                            Agreement / Registry Form 13 <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            Lease Deed   <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>

                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">MRD</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">28 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                        <p class="mb-0">
                            Grant order <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            Map of lease  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>

                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag verify"><i class="icon-check-double-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">28 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">28 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Nitish Dwivedi <br> <small class="font-weight-bold"> (Bidder) </small></span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                        <p class="mb-0">
                            EC <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            MP  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            GP  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>,
                            NOC  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>, <br />
                            Tahasildar Report <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">MRD</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                        <p class="mb-0">
                            LOI <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>

                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>

                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">MI/RO</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Letter Submitted</span>
                        <span class="content_date">29 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.  </p>
                        <p class="mb-0">
                            GP  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            Forest  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            Environment  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>

                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">28 Nov 2021</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to submit the data ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>








