
@{
    ViewData["Title"] = "AddProject";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('AddProject', 'gl', 'pl', 'tl', 'Royalty Clearance', 'Project', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="AddProject">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="ViewProject">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Project Name<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Type<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control">
                                        <option>Govertment</option>
                                        <option>Private</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">District<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Block<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Project Address / Location<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Start Date<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">End Date<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    <h5 class="mb-3">Mineral Name and Estimated Quantity</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"> </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Estimated Mineral consumption quantity<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>

                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sl#</th>
                                            <th>Project Name</th>
                                            <th>Type</th>
                                            <th>District</th>
                                            <th>Block</th>
                                            <th>Project Address / Location</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Mineral Name</th>
                                            <th>Estimated Mineral consumption quantity</th>
                                            <th width="100px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">1</td>
                                            <td rowspan="2">Indravati Raipur</td>
                                            <td rowspan="2">Govertment</td>
                                            <td rowspan="2">Raipur</td>
                                            <td rowspan="2">Raipur</td>
                                            <td rowspan="2">NH</td>
                                            <td rowspan="2">12-Feb-2022</td>
                                            <td rowspan="2">23-Feb-2022</td>
                                            <td>Sand</td>
                                            <td>1000 CFT</td>
                                            <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                                        </tr>
                                        <tr>
                                            
                                            <td>Stone</td>
                                            <td>1000 CFT</td>
                                            <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>








                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <input type="button" value="Submit" class="btn btn-success" data-toggle="modal" data-target="#security-msg">
                                <input type="button" value="Reset" class="btn btn-danger">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333; font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Your data has been saved.
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-danger" href="ViewProject">Ok</a>
            </div>
        </div>
    </div>
</div>















