
@{
    ViewData["Title"] = "DDViewProject";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
   
    $(document).ready(function () {
        loadNavigation('DDViewProject', 'gl', 'pl', 'tl', 'Royalty Clearance', 'Take Action Project', ' ');
        $('.searchableselect').searchableselect();
       
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>



<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                New Request
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                               
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">Sl#</th>
                                                <th>Application Number</th>
                                                <th>Project Name</th>
                                                <th>Mineral Name </th>
                                                <th>Project Address / Location</th>
                                                <th>Applied On</th>
                                                <th>Status</th>
                                                <th>History</th>
                                                <th width="150" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application001</a></td>
                                                <td>Indravati Raipur</td>
                                                <td>Sand,Stone</td>
                                                <td>NH</td>
                                                <td>02 Jan 2022</td>
                                                <td>
                                                    <span class="text-info">New Request for <br> <strong>Verification of Project Details</strong> <br>  on   09-Jan-2022 </span>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#History" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                              
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to submit the data ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assessment-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Project Details | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Sl#</th>
                                <th>Project Name</th>
                                <th>Type</th>
                                <th>District</th>
                                <th>Block</th>
                                <th>Project Address / Location</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Mineral Name</th>
                                <th width="200px">Estimated Mineral consumption quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">1</td>
                                <td rowspan="2">Indravati Raipur</td>
                                <td rowspan="2">Govertment</td>
                                <td rowspan="2">Raipur</td>
                                <td rowspan="2">Raipur</td>
                                <td rowspan="2">NH</td>
                                <td rowspan="2">12-Feb-2022</td>
                                <td rowspan="2">23-Feb-2022</td>
                                <td>Sand</td>
                                <td>1000 CFT</td>
                            </tr>
                            <tr>
                                <td>Stone</td>
                                <td>1000 CFT</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <label class="col-lg-4 col-12 col-form-label">Project Name</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Indravati Raipur</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Mineral Name</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Stone</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Project Address / Location</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>NH</label>
                    </div>


                    <label class="col-lg-4 col-12 col-form-label">Applied on</label>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>06-Jan-2022</label>
                    </div>

                </div>
                <hr />
                <div class="row"><div class="col-lg-12"><h6>Upload any other document (If any)</h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Uploaded Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Approve</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="History" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Approved</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Lorem ipsum  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="timeline__content">
                        <span class="content_degination">Amit Das <br /> <small class="font-weight-bold"> (Contractor) </small></span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Assessment Report Applied</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Project Name</span> Indravati Raipur
                            <span class="font-weight-bold d-block">Mineral Name</span> Sand

                        </p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
























