
@{
    ViewData["Title"] = "ViewProject";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<script>
    
    $(document).ready(function () {
        loadNavigation('ViewProject', 'gl', 'pl', 'tl', 'Royalty Clearance', 'Project', ' ');
        $('.searchableselect').searchableselect();
        
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="AddProject">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="ViewProject">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                               
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">Sl#</th>
                                                <th>Application No.</th>
                                                <th>Project Name</th>
                                                <th>Mineral Name</th>
                                                <th>Project Address / Location</th>
                                                <th>Applied On</th>
                                                <th>Status</th>
                                                <th width="150" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="4">1</td>
                                                <td rowspan="4"><a class="text-primary" data-toggle="modal" data-target="#assessment-details">Application001</a></td>

                                                <td rowspan="4">Indravati Raipur</td>
                                                <td rowspan="4">Sand,Stone</td>
                                                <td rowspan="4">NH</td>
                                                <td rowspan="4">02-Sep-2022</td>
                                                <td>
                                                    <span class="text-danger">Not yet Forwaded</span>
                                                </td>
                                                <td class="text-center noprint">
                                                    <a href="AddProject" class="text-success btn-lg" title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#security-msg">
                                                        Forward
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                
                                                
                                                <td>
                                                    <span class="text-info">Action to be taken By DD/MO</span>
                                                </td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                

                                                <td>
                                                    <span class="text-danger">Objection By DD/MO  on 12-Jan-2022</span><br />
                                                    <a data-toggle="modal" data-target="#History" class="text-primary">View Details</a>
                                                    
                                                </td>

                                                <td class="text-center noprint">
                                                    <a href="AddProject" class="text-success btn-lg" title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                    <a href="#" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#security-msg">
                                                        Forward
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                

                                                <td>
                                                    <span class="text-danger">Rejected By DD/MO  on 12-Jan-2022</span><br />
                                                    <a data-toggle="modal" data-target="#History" class="text-primary">View Details</a>

                                                </td>

                                                <td class="text-center noprint">
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                               
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assessment-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                   Project Details
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Sl#</th>
                                    <th>Project Name</th>
                                    <th>Type</th>
                                    <th>District</th>
                                    <th>Block</th>
                                    <th>Project Address / Location</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Mineral Name</th>
                                    <th width="200px">Estimated Mineral consumption quantity</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">1</td>
                                    <td rowspan="2">Indravati Raipur</td>
                                    <td rowspan="2">Govertment</td>
                                    <td rowspan="2">Raipur</td>
                                    <td rowspan="2">Raipur</td>
                                    <td rowspan="2">NH</td>
                                    <td rowspan="2">12-Feb-2022</td>
                                    <td rowspan="2">23-Feb-2022</td>
                                    <td>Sand</td>
                                    <td>1000 CFT</td>
                                </tr>
                                <tr>
                                    <td>Stone</td>
                                    <td>1000 CFT</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="History" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    View Details
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag reject"><i class="icon-times-solid mr-2"></i>Objection</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Amit Das <br> <small class="font-weight-bold"> (Contractor) </small></span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Project Details Submitted</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Project Name</span> Indravati Raipur
                            <span class="font-weight-bold d-block">Mineral Name</span> Sand

                        </p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



















