.fixedscroll #main-menu-wrapper {
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}

#main-menu-wrapper ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    li {
        position: relative;
        &.open {
            background-color: rgba($black, 0.2);
        }
    }
}

#main-menu-wrapper ul.wraplist {
    padding-bottom: 0px;
}

#main-menu-wrapper li ul.sub-menu {
    padding-left: 0px;
}

#main-menu-wrapper li ul {
    &.sub-menu {
        display: none;
        list-style-type: none;
        font-size: 14px;
        width: 100%;
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            left: 1.5625rem;
            top: 44px;
            bottom: 0;
            border-left: 1px solid rgba($white, 0.15);
        }
        li {
            &.active {
                >a {
                    background-color: rgba($black, .15);
                    &::after {
                        border-color: transparent;
                        background-color: #9995ff;
                    }
                }
            }
            ul {
                &.sub-menu {
                    background-color: $menu-secondary;
                    padding-left: 0px;
                    &::before {
                        display: none;
                    }
                    a {
                        position: relative;
                        padding-left: 50px;
                        &::after {
                            left: 1.4rem;
                            top: calc(50% - 0rem);
                            width: 20px;
                            height: 1px;
                            border-left: 1px solid $light-blue;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

#main-menu-wrapper li a {
    display: block;
    line-height: 46px;
    min-height: 46px;
    height: auto;
    color: $gray-500;
    border-top: solid rgba($white, 0.08) 1px;
    text-decoration: none;
    padding-left: 5px;
    clear: both;
    white-space: nowrap;
}

#main-menu-wrapper li .sub-menu a {
    line-height: 40px;
    min-height: 40px;
    color: rgba(174, 178, 183, 1.0);
    // margin-bottom: 1px;
    padding-left: 40px;
    border-left: 4px solid transparent;
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: .4rem;
        height: .4rem;
        background-color: $gray-800;
        left: 1.151rem;
        top: calc(50% - .3rem);
        border: 1px solid $gray-900;
        border-radius: 50%;
        z-index: 1;
    }
    &:hover,
    &.active {
        &::after {
            border-color: transparent;
            background-color: $gray-700;
        }
    }
}

// #main-menu-wrapper li.open .sub-menu a.active,
#main-menu-wrapper li.open .sub-menu a:hover,
#main-menu-wrapper li .sub-menu a:hover {
    // background-color: $menu-primary;
    color: $gray-300;
}

#main-menu-wrapper li.open .sub-menu a.active {
    color: $gray-300;
    font-weight: bold;
    // background-color: rgb(0 0 0 / 08%);
}

#main-menu-wrapper li.open .sub-menu a {
    border-left: 4px solid transparent;
    position: relative;
}

#main-menu-wrapper li a:hover {
    background-color: rgb(39 40 47 / 33%);
}

#main-menu-wrapper li.open a {
    background-color: rgba($black, 0.15);
    color: $gray-200;
}

#main-menu-wrapper li a:hover .arrow:before,
#main-menu-wrapper li.open a .arrow:before {
    color: $gray-600;
}

// #main-menu-wrapper li .sub-menu a:hover .arrow:before,
// #main-menu-wrapper li.open .sub-menu a .arrow:before {
//     color: rgba(194, 198, 203, 0.65);
// }
#main-menu-wrapper li.open .sub-menu a {
    background-color: transparent;
    color: $gray-600;
    border-top: 0;
}

#main-menu-wrapper li a i {
    display: inline-block;
    width: 36px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: 0px;
    position: relative;
   
}
#main-menu-wrapper li a:hover i {box-shadow: 1px 1px 14px #9a9a9a;}

#main-menu-wrapper li a .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: auto;
    content: "\f054";
    text-shadow: none;
    color: $gray-700;
}

#main-menu-wrapper li.open a .arrow.open:before {
    content: "\f078";
}

#main-menu-wrapper li a .arrow {
    float: right;
    position: absolute;
    right: 0px;
}

#main-menu-wrapper .fa {
    font-size: 14px;
}

#main-menu-wrapper li .badge {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 7px;
    float: right;
    margin: 15px 15px 0 0;
    position: absolute;
    right: 30px;
    border-radius: 0px;
}

#main-menu-wrapper li .badge.nosubmenu {
    right: 25px;
    margin-top: 13px;
}

.page-sidebar.chat_shift #main-menu-wrapper li .badge,
.page-sidebar.collapseit #main-menu-wrapper li .badge {
    display: none;
}

.page-sidebar.chat_shift #main-menu-wrapper li:hover .badge,
.page-sidebar.collapseit #main-menu-wrapper li:hover .badge {
    display: inline-block;
    margin-top: 13px;
    right: 0px;
}

.page-sidebar .menustats {
    padding: 15px 15px 15px 20px;
}

.page-sidebar .menustats h5 {
    font-size: 13px;
}

.page-sidebar .menustats .progress {
    height: 5px;
    background-color: #eeeeee;
    margin-bottom: 25px;
}

.page-sidebar.chat_shift .menustats,
.page-sidebar.collapseit .menustats {
    content: " ";
    height: 50px;
    overflow: hidden;
    color: transparent;
    opacity: 0;
}


/*--------------------------------------------
  COLLAPSED MENU
---------------------------------------------*/


/*
.page-sidebar.chat_shift .wraplist, .page-sidebar.chat_shift .profile-info,
.page-sidebar.collapseit .wraplist, .page-sidebar.collapseit .profile-info{
  visibility: hidden;
  margin-left:-300px !important;
}

.page-sidebar .collapse-wraplist{
  margin-left:-300px;
  visibility: hidden;
}

.page-sidebar.chat_shift .collapse-wraplist,
.page-sidebar.collapseit .collapse-wraplist{
  margin-left:0px;
  visibility: visible;
  background-color: #FFC107;
  height: 598px;
  width:60px;
  float:right;
}
*/

.page-sidebar.chat_shift .wraplist,
.page-sidebar.collapseit .wraplist {
    //background-color: #ffffff;
    width: 60px;
}

.page-sidebar.chat_shift .wraplist .sub-menu,
.page-sidebar.collapseit .wraplist .sub-menu {
    display: none;
}

.page-sidebar.chat_shift .wraplist li,
.page-sidebar.collapseit .wraplist li {
    position: relative !important;
}

.page-sidebar.chat_shift .wraplist li .title,
.page-sidebar.collapseit .wraplist li .title,
.page-sidebar.chat_shift .wraplist li .arrow,
.page-sidebar.collapseit .wraplist li .arrow {
    display: none;
}

.page-sidebar.chat_shift .wraplist li:hover,
.page-sidebar.collapseit .wraplist li:hover {
    background: rgba(33, 33, 33, 0.1);
}

.page-sidebar.chat_shift .wraplist .sub-menu li:hover,
.page-sidebar.collapseit .wraplist .sub-menu li:hover {
    background: transparent;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li a:hover {
    background-color: #212026;
    border-left: 3px solid #3f51b5;
    color: rgba(174, 178, 183, 1.0);
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li.open a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li.open a,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li.open .sub-menu a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li.open .sub-menu a {
    background-color: transparent;
    border-left: 3px solid transparent;
    color: rgba(174, 178, 183, 1.0);
}

.page-sidebar.chat_shift .profile-info,
.page-sidebar.collapseit .profile-info {
    width: 60px;
    margin: 0;
    padding: 10px 0 0px 0;
}

.page-sidebar.chat_shift .profile-info .profile-image,
.page-sidebar.collapseit .profile-info .profile-image {
    width: 100%;
    padding: 0;
    flex: auto;
    max-width: 100%;
}

.page-sidebar.chat_shift .profile-info .profile-image img,
.page-sidebar.collapseit .profile-info .profile-image img {
    height: 40px;
    width: 40px;
    top: 10px;
}

.page-sidebar.chat_shift .profile-details,
.page-sidebar.collapseit .profile-details {
    display: none;
}

.page-sidebar.chat_shift .project-info,
.page-sidebar.collapseit .project-info {
    display: none;
}


/*
#main-menu-wrapper li a:hover, 
#main-menu-wrapper li.open a {
background-color: rgba(63,81,181,1);
}
#main-menu-wrapper li .sub-menu a {
color: rgba(174,178,183,1.0);
margin-bottom: 2px;
padding-left: 15px;
border-left: 3px solid transparent;
}

*/

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu {
    display: block;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu .sub-menu,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu .sub-menu {
    display: none;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu {
    position: absolute;
    left: 60px;
    top: 0px;
    width: 200px !important;
    background: #eeeeee;
    box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -o-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    position: relative;
    left: 0px;
    top: 0px;
    width: auto !important;
    background: #ffffff;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    position: relative;
    margin-top: 0px;
}

.page-sidebar.chat_shift,
.page-sidebar.collapseit,
.page-sidebar.chat_shift #main-menu-wrapper,
.page-sidebar.collapseit #main-menu-wrapper {
    overflow: hidden !important;
}

.page-sidebar.chat_shift .ps-scrollbar-y-rail,
.page-sidebar.collapseit .ps-scrollbar-y-rail {
    display: none;
}

// .page-sidebar.chat_shift,
// .page-sidebar.collapseit {
//     position: absolute !important;
// }
.page-sidebar.chat_shift #main-menu-wrapper,
.page-sidebar.collapseit #main-menu-wrapper,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist,
.page-sidebar.collapseit #main-menu-wrapper .wraplist {
    /*height: 3000px !important;*/
}

.page-sidebar.chat_shift #main-menu-wrapper,
.page-sidebar.collapseit #main-menu-wrapper {
    padding-top: 0px;
    /*top: -79px;*/
}

.page-sidebar.chat_shift .wraplist li:hover .title,
.page-sidebar.collapseit .wraplist li:hover .title {
    float: left;
    padding-left: 15px;
    width: 196px;
    background: transparent;
    display: inline-block !important;
    position: relative;
    z-index: 2;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .title,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .title {
    padding-left: 0px;
    background: transparent;
    display: inline-block;
    width: auto;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .arrow,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .arrow {
    display: inline-block;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li i,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li i {
    float: left;
    font-size: 17px;
    height: 42px;
    line-height: 42px;
    width: 53px;
    top: 0px;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover a {
    width: 260px;
    background: $dark;
    box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -o-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 0 20px 0 rgba(33, 33, 33, .2);
    position: relative;
    z-index: 2;
    border-left-color: #3f51b5;
}

.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover ul a,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover ul a {
    border-left-color: transparent;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li a {
    padding-left: 0px;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a {
    padding-left: 20px;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu {
    padding-top: 42px !important;
    padding-left: 0px !important;
    background: #ffffff;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu,
.page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    margin-top: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    display: none;
    left: 0px;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu a {
    width: 200px;
    color: #616161;
    background: #ffffff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    &::after {
        display: none;
    }
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a:hover {
    background-color: #e5e5e5;
    border-left: 3px solid $gray-700;
    color: #616161;
    padding-left: 21px;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu li,
.page-sidebar.collapseit .wraplist li:hover .sub-menu li {
    padding-left: 0px !important;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu li .title,
.page-sidebar.collapseit .wraplist li:hover .sub-menu li .title {
    padding-left: 0px !important;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li .title,
.page-sidebar.collapseit .wraplist li:hover .sub-menu li li .title {
    padding-left: 15px !important;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li li .title,
.page-sidebar.collapseit .wraplist li:hover .sub-menu li li li .title {
    padding-left: 30px !important;
}

.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li li li .title,
.page-sidebar.collapseit .wraplist li:hover .sub-menu li li li li .title {
    padding-left: 45px !important;
}