@*// *********************************************************************************************************
    //  View Name                : ManageVehicle
    //  Desciption               : To Manage Vehicle
    //  Created By               : Akshaya Dalei
    //  Created On               : 18 July 2021
    // ********************************************************************************************************
*@

@{
    ViewBag.Title = "Manage Vehicle";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('Manage Vehicle', 'ql', 'pl', 'tl', 'Vehicle Owner', 'Manage Vehicle', ' ');
    });
</script>

<style>
    a.reg-form-box {
        height: 200px;
        background-color: #71151914;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #244ee3;
        box-shadow: 1px 1px 10px rgb(113 21 25 / 20%);
        border-radius: 5px;
    }

        a.reg-form-box:hover {
            background-color: #711519ba;
            color: #fff;
            box-shadow: 1px 1px 3px rgb(113 21 25);
        }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Vehicle Registration Form
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col">
                                <a href="/VehicleOwner/Vehicle/AddVehicle" class="reg-form-box">Add Vehicle</a>
                            </div>
                            <div class="col">
                                <a href="/VehicleOwner/Vehicle/VehicleTrips" class="reg-form-box">Vehicle Trips</a>
                            </div>
                            <div class="col">
                                <a href="/VehicleOwner/Vehicle/VehicleBreakDown" class="reg-form-box">Manage Breakdown</a>
                            </div>
                            <div class="col">
                                <a href="/VehicleOwner/Vehicle/VehicleDetails" class="reg-form-box">Vehicle Details</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>