@*// *********************************************************************************************************
    //  View Name                : VehicleBreakDown
    //  Desciption               : To Create Vehicle BreakDown
    //  Created By               : Akshaya Dalei
    //  Created On               : 25 July 2021
    // ********************************************************************************************************
*@
@{
    ViewBag.Title = "Vehicle Breakdown";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    backMe = "yes";
    $(document).ready(function () {
        loadNavigation('Vehicle Breakdown', 'ql', 'pl', 'tl', 'Vehicle Owner', 'Vehicle BreakDown', ' ');
        
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")

        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Manage BreakDown
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Enter Tp No.</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="TP_NO_3425922" placeholder="Transit Pass No" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <a href="javascript:void(0);" id="btnGetData" class="btn btn-primary btn-md ml-0 waves-effect waves-light">Get Data</a>

                            </div>
                            <div id="IdDIVDetail">
                                <div class="col-lg-12">
                                    <div class="row">


                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">User Name <span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">South Eastern Coalfileds Limited- Area : 1230.245(chirmiri kurasiya kalri u.g./o.c )(3181008910)</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">End User Name <span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">AFGDFG(1234)</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label font-weight-bolder">Sources Address<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">AFGDFG fghyyyd</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Destination Address<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">AFGDFG fghyyyd rtttrtr</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="dropdownDepart" class="col-sm-4 col-form-label font-weight-bolder">Vehicle Number<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" value="1234567" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label font-weight-bolder">Change Vehicle Number<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control form-control-sm searchableselect">
                                                        <option>Select Vehicle</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Gross Weight<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" value="15.000" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Reason Of BreakDown<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">gfghuytuyuyfghfgg vgfd</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Location Of BreakDown<span class="text-danger">*</span></label>
                                                <div class="col-sm-7">
                                                    <textarea class="form-control">gfghuytuyuyfghfgg vgfd</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <a href="javascript:void(0);" class="btn btn-success btn-md">Submit</a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>
