
@{
    ViewData["Title"] = "CLAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('Index', 'minormineralone', 'mmthreeone', 'tl', '31 Minor Mineral', 'CL Non-Auction , Pvt. land', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });
    });
</script>
<style>
    .btn-add {
        margin-top: 39px;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 2px;
    }
    .wizard .nav-tabs > li {
        width: 24%;
    }

    @@media screen and (max-width: 768px) {
        .btn-add {
            margin-top: 0px;
        }
    }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center">
                            <h5 class="mb-4">
                                Mineral Concession <small>(31 Minor Mineral)</small>
                                <small class="d-block">
                                    <small class="h6 mb-0">Composite License </small>
                                    <small>(Non-Auction , Private land)</small>
                                </small>
                            </h5>
                        </div>
                        <section class="step-container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <div class="wizard">
                                        <div class="wizard-inner">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false">
                                                        <span class="round-tab">1</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                                        <span class="round-tab">2</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">
                                                        <span class="round-tab">3</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab">
                                                        <span class="round-tab">4</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step2">
                                        <h5 class="text-center"> Particulars Details</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">District</label>
                                                <div class="form-group">
                                                    <select class="form-control" readonly>
                                                        <option>Raipur</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Name of applicant<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Nationality of the applicant<span class="text-danger">*</span>
                                                    <a href="#" class="extra-information" data-toggle="tooltip" data-placement="top" title="(Applicant, Partners, Directors, Members)">
                                                        <i class="icon-info-circle-solid"></i>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>Indian</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Place of registration<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>Bilaspur</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Profession of individual<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>Businessman</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12">
                                                <label class="col-form-label">Complete postal address<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Pin Code <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Mobile No.<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">E-mail<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Identity Proof
                                                    <span class="text-danger">*</span>
                                                    <a href="#" class="extra-information" data-toggle="tooltip" data-placement="top" title="PAN Card / voter ID / Driving Licence / Aadhar Card">
                                                        <i class="icon-info-circle-solid"></i>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Caste<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>General</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Educational qualification<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>10th</option>
                                                        <option>Diploma</option>
                                                        <option>Graduate</option>
                                                        <option>Post-graduate</option>
                                                        <option>Doctorate</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Age<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-12">
                                                <label class="col-form-label">Residential Address<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Directors / Partners / Members <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Registration / in-corporation certificate <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Financial Status<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Articles of memorandum <span class="text-danger">*</span>
                                                    <a href="#" class="extra-information" data-toggle="tooltip" data-placement="top" title="Articles of memorandum / partnership deed / bye-laws">
                                                        <i class="icon-info-circle-solid"></i>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Applicant Minerals <small>intends to prospect</small> <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Period / Prospecting licence  <span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h5 class="text-center">Details of plant owned</h5>
                                        <div class="row">
                                           
                                            <div class="col-12">
                                                <label class="col-form-label">
                                                    A statement supported by a affidavit showing all the areas mineral wise in
                                                    each district of the State<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="option1" name="exampleRadios" id="defaultCheck1" checked>
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Already held by me
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="option2" name="exampleRadios" id="defaultCheck2">
                                                        <label class="form-check-label" for="defaultCheck2">
                                                            Already applied for but not yet granted
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="option3" name="exampleRadios" id="defaultCheck3">
                                                        <label class="form-check-label" for="defaultCheck3">
                                                            Being applied for simultaneously
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    An affidavit of obtaining surface rights<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="exampleRadios2" id="defaultCheck4" checked>
                                                        <label class="form-check-label" for="defaultCheck4">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="exampleRadios2" id="defaultCheck5">
                                                        <label class="form-check-label" for="defaultCheck5">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    No dues certificate in Form II<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="exampleRadios3" id="defaultCheck6" checked>
                                                        <label class="form-check-label" for="defaultCheck6">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="exampleRadios3" id="defaultCheck7">
                                                        <label class="form-check-label" for="defaultCheck7">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-lg-block d-none"></div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Upload six copies of plan<span class="text-danger">*</span>
                                                    <a href="#" class="extra-information" data-toggle="tooltip" data-placement="top" title="Showing the situation and boundaries of the area / Areas applied for and concession if any , adjoining is / are enclosed. (If this plan / these plans be considered insufficient, I / we request that the necessary plan / plans of the area / areas may be prepared in duplicate in your office at my/ our cost.)">
                                                        <i class="icon-info-circle-solid"></i>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Khasrapanchsala <span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">
                                                    The plan should indicate important features, viz<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck8" checked>
                                                        <label class="form-check-label" for="defaultCheck8">
                                                            if a 	railway, its full details i.e. whether South East Central Railway or
                                                            East Coast Railway, whether a branch line or a main line or colliery
                                                            tramway
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck9">
                                                        <label class="form-check-label" for="defaultCheck9">
                                                            if a road, whether village or public works department or cart track.
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck10">
                                                        <label class="form-check-label" for="defaultCheck10">
                                                            wells
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck11">
                                                        <label class="form-check-label" for="defaultCheck11">
                                                            Temples or mosques
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck12">
                                                        <label class="form-check-label" for="defaultCheck12">
                                                            Burningghat or burial ground, etc.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-12">
                                                <label class="col-form-label">
                                                    Preferential right sought for (mention sub-rule/rules) <span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">
                                                    Any other particulars which the applicant wishes to furnish.  <span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="Radios2" id="r3" checked>
                                                        <label class="form-check-label" for="r3">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="Radios2" id="r4">
                                                        <label class="form-check-label" for="r4">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                         
                                           

                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <h5 class="text-center">Details of Area Applied </h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Name of village <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Gram Panchayat<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Khashra No. <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Area of each field <small>(Hectares)</small>  <span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12">
                                                <label class="col-form-label">
                                                    Full description of the area <span class="text-danger">*</span>
                                                    <a href="#" class="extra-information" data-toggle="tooltip" data-placement="top" title="Full description of the area applied for with regard to natural feature">
                                                        <i class="icon-info-circle-solid"></i>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Block <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Vidhansabha <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Tehsil <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Patwari circle number  <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">District  <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step5">
                                        <h5 class="text-center">List of Enclosure & No Dues certificate  </h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4">
                                                <label class="col-form-label">Document Name<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-5">
                                                <label class="col-form-label">Upload Document<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a class="bg-success text-white btn-add"><i class="icon-plus-solid"></i> Add More</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-5">
                                                <label class="col-form-label">Upload No Dues Certificate<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step finish" data-toggle="modal" data-target="#exampleModal">Submit</button></li>
                                        </ul>
                                    </div>
                                  
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333;font-size:8rem;"></i>
                <h5 class=" mt-3">Successfully Submitted <br> Application for Composite License </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    // ------------step-wizard js-------------
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var $target = $(e.target);

            if (!$target.parent().hasClass('active, disabled')) {
                $target.parent().prev().addClass('completed');
            }
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        });

        $(".prev-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            prevTab(active);

        });

    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    })
</script>

