
@{
    ViewData["Title"] = "QuarryPlanApprovalLesseeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    pdfMe = "yes";
    excelMe = "yes";
    printMe = "yes";
    $(document).ready(function () {
        loadNavigation('QuarryPlanApprovalLesseeView', 'qryplnapvl', 'qryplnapvlone', 'tl', 'Quarry Plan Approval', 'Quarry Plan Approval', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="QuarryPlanApprovalLessee">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="QuarryPlanApprovalLesseeView">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">Sl#</th>
                                                <th>Lessee/ Applicant Name</th>
                                                <th>Phone No.</th>
                                                <th>Quarry Plan</th>
                                                <th>Applied on</th>
                                                <th>Status</th>
                                                <th>Certificate</th>
                                                <th>Payment Status</th>
                                                <th width="150" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Ziyauel khan</a>
                                                </td>
                                                <td>9090564576</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>05-Jun-2022</td>
                                                <td class="text-danger">Not Forwaded</td>
                                                <td class="text-center">
                                                </td>
                                                <td class="text-danger">Not Started</td>
                                                <td class="text-center noprint">
                                                    <a href="QuarryPlanApprovalLessee" class="text-success btn-lg" title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                    <a href="#" class="btn btn-dark btn-sm text-capitalize  mb-2" data-toggle="modal" data-target="#security-msg">Pay</a>
                                                    <a href="#" class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#security-msg">Forward</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Ziyauel khan</a>
                                                    
                                                </td>
                                                <td>9090564576</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>05-Jan-2022</td>
                                                <td class="text-warning">Pending at DD/MO from 12 Jan 2022</td>
                                                <td class="text-center">

                                                </td>
                                                <td class="text-success">Success</td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Ziyauel khan</a>
                                                   
                                                </td>
                                                <td>9090564576</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>05-Jan-2019</td>
                                                <td>
                                                    <span class="text-success">Approved by DGM on 08-Jan-2019</span>
                                                </td>
                                                <td class="text-center">
                                                    
                                                    <a href="../QuarryPlanApproval/QuarryPlanCertificate" class="text-danger h4" title="Quarry Plan Approval Certificate">
                                                    <span class="icon-certificate-solid"></span></a>
                                                </td>
                                                <td class="text-success">Success</td>
                                                <td class="text-center noprint">
                                                    <a href="QuarryPlanApprovalLessee" class="btn btn-success btn-sm text-capitalize">Modify</a>
                                                </td>
                                            </tr>






                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Quarry-plan-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                   Quarry Plan  Details | Applied on : 02-Jan-2022
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                Lessee/Applicant Details
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">

                            <div class="row">

                                <label class="col-lg-5 col-12 col-form-label">Lessee/ Applicant Name</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Ziyauel khan</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Lessee/ Applicant Id</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Lesse-06456</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Mines Address</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Sail Bhilai Steel Plant Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Village</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Panchyat</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Teshil</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Police Station</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">District</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                               
                                <label class="col-lg-5 col-12 col-form-label">Email Id</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ziyauelkhan12@gmail.com</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Phone No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>9090564576</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Total Lease Area Hectares</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>1200</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Khasra No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>901/A , 901/B</label>
                                </div>

                                <div class="col-lg-12 mt-3">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th>Co-ordinates of Lease Boundary</th>
                                                    <th>Latitude</th>
                                                    <th>longitude</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>x</td>
                                                    <td>23</td>
                                                    <td>57</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>x</td>
                                                    <td>23</td>
                                                    <td>57</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                            <a class="card-title" >
                                Representative Details
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Name of Applicant Representative</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Anil Kumar Sahoo</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Designation of Representative</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Officer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                            <a class="card-title" >
                                Quarry Plan Details
                            </a>
                        </div>
                        <div id="collapse3" class="card-body  collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th>Financial Year</th>
                                                    <th>Mineral Quantity</th>
                                                    <th>Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2021-2022</td>
                                                    <td>2343</td>
                                                    <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>2021-2022</td>
                                                    <td>2343</td>
                                                    <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Uploaded Quarry Plan</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Other Supporting Documents</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
                            <a class="card-title">
                                RQP Details
                            </a>
                        </div>
                        <div id="collapse4" class="card-body collapse" data-parent="#accordion">

                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of the RQP</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Amit Das
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">District</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>9056346578
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Email Id</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>amitdas124@gmail.com
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Registration Number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>753567886
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Uploaded Certificate</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Validity upto</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>20-01-2022
                                    </label>
                                </div>

                               


                            </div>

                        </div>
                    </div>

                </div>
                
                <div class="pt-3"><a href="../QuarryPlanApproval/QuarryPlanDownload" class="text-primary">Quarry Plan Details</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


























