
@{
    ViewData["Title"] = "QuarryPlanDownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(document).ready(function () {
        loadNavigation('QuarryPlanCertificate', 'ql', 'pl', 'tl', 'Quarry Plan Approval', 'Quarry Plan Approval', ' ');
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">

                        <div style="width: 816px; margin: 0 auto;">

                            <h5 style="text-align: center;">Quarry Plan Details</h5>

                            <h6>Lessee/Applicant Details</h6>
                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lessee/ Applicant Name</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Ziyauel khan</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lessee/ Applicant Id</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lesse-06456</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Mines Address</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Sail Bhilai Steel Plant Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Village</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Panchyat</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Teshil</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Police Station</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">District</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Email Id</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">ziyauelkhan12@gmail.com</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Phone No.</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">9090564576</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Total Lease Area Hectares</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">1200</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Khasra No.</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">901/A , 901/B</td>
                                </tr>

                            </table>


                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Sl#</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Co-ordinates of Lease Boundary</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Latitude</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">longitude</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">x</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">23</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">27</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">y</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">23</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">27</td>
                                </tr>
                            </table>

                            <h6 style="margin-top: 40px;">Representative Details</h6>

                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Name of Applicant Representative</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Anil Kumar Sahoo</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Designation of Representative</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Officer</td>
                                </tr>
                            </table>

                            <h6 style="margin-top: 40px;">Quarry Plan Details</h6>
                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Sl#</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Financial Year</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mineral Quantity</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Remark</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2022</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2345</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2022</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2345</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                </tr>
                            </table>
                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Uploaded Quarry Plan</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;"><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Other Supporting Documents</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;"><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                </tr>
                            </table>

                            <h6 style="margin-top: 40px;">RQP Details</h6>
                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Name of the RQP</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Amit Das</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Address</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">District</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Mobile Number</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">9056346578</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Email Id</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">amitdas124@gmail.com</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Registration Number</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">753567886</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Uploaded Certificate</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;"><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Validity upto</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">20-01-2022</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>









