
@{
    ViewData["Title"] = "QuarryPlanApprovalLessee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('QuarryPlanApprovalLessee', 'qryplnapvl', 'qryplnapvlone', 'tl', 'Quarry Plan Approval', 'Quarry Plan Approval', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });

       
    });
</script>
<style>
    .wizard .nav-tabs > li {
        width: 25%;
    }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="QuarryPlanApprovalLessee">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="QuarryPlanApprovalLesseeView">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <section class="step-container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <div class="wizard">
                                        <div class="wizard-inner">
                                            <ul class="nav nav-tabs" role="tablist">
                                                 <li role="presentation" class="active">
                                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true">
                                                        <span class="round-tab">1</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" >
                                                        <span class="round-tab">2</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                                        <span class="round-tab">3</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">
                                                        <span class="round-tab">4</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <h5 class="text-center mb-3">Lessee/Applicant  Details</h5>
                                        <div class="bg-light p-3 mb-4">
                                            <div class="row">
                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Lessee/ Applicant Name </label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Ziyauel khan</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Lessee/ Applicant Id </label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Lesse-06456</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>ziyauelkhan12@gmail.com</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Phone No.</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>9090564576</strong></label>
                                                </div>


                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Mines Address</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Sail Bhilai Steel Plant Bilaspur</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Village</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Bilaspur</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Panchyat</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Bilaspur</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Teshil</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong> Bilaspur</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Police Station</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Bilaspur</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">District</label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Bilaspur</strong></label>
                                                </div>
                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Mineral Name </label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>Coal</strong></label>
                                                </div>

                                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Total Lease Area <small>(Hectares)</small> </label>
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>1200</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Khasra  No.<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="margin-top: 39px;">
                                                <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Co-ordinates of Lease Boundary<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Latitude<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">longitude<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3" style="margin-top: 39px;">
                                                <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="table-responsive mt-3">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Sl#</th>
                                                                <th>Co-ordinates of Lease Boundary</th>
                                                                <th>Latitude</th>
                                                                <th>longitude</th>
                                                                <th width="100px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Pillar 1</td>
                                                                <td>23.5436</td>
                                                                <td>57.8543</td>
                                                                <td><a class="btn btn-danger btn-sm" data-original-title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane " role="tabpanel" id="step2">
                                        <h5 class="text-center mb-3">Representative Details</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Name of Applicant Representative<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Designation of Representative<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h5 class="text-center mb-3">Quarry Plan Details</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Financial Year<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>2021-2022</option>
                                                        <option>2022-2023</option>
                                                        <option>2023-2024</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Mineral Quantity <small>(MT)</small><span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Remark<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>

                                            <div class="col-lg-3" style="margin-top: 39px;">
                                                <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>

                                            </div>
                                            <div class="col-lg-10">
                                                <div class="table-responsive mt-3">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Sl#</th>
                                                                <th>Financial Year</th>
                                                                <th>Mineral Quantity <small>(MT)</small></th>
                                                                <th>Remark</th>
                                                                <th width="100px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2021-2022</td>
                                                                <td>2343</td>
                                                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                                                <td><a class="btn btn-danger btn-sm" title="" data-original-title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Upload Quarry Plan<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Other Supporting Documents<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <h5 class="text-center mb-3">RQP Details</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Name of the RQP<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Registration Number <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Mobile Number <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Email Id<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Address<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label"> District<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Upload  Certificate <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Validity upto<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker" id="inputDate1">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step finish" data-toggle="modal" data-target="#security-msg">Finish</button></li>
                                        </ul>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </section>

                        



                        




                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333; font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Your data has been saved.
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-danger" href="QuarryPlanApprovalLesseeView">Ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    // ------------step-wizard js-------------
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var $target = $(e.target);

            if (!$target.parent().hasClass('active, disabled')) {
                $target.parent().prev().addClass('completed');
            }
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        });

        $(".prev-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            prevTab(active);

        });

    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    })
</script>









