
@{
    ViewData["Title"] = "QuarryPlanCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(document).ready(function () {
        loadNavigation('QuarryPlanCertificate', 'ql', 'pl', 'tl', 'Quarry Plan Approval', 'Quarry Plan Approval', ' ');
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">

                        <div style="width: 816px; margin: 0 auto; border: 2px dotted #dddd; padding: 20px;">

                            <h3 style="text-align: center;margin-bottom:10px">Certificate of </h3>
                            <h4 style="text-align: center;margin-bottom:30px">Quarry Plan Approval</h4>

                            <h6 style="margin-bottom:30px">
                                This is to be certify that the attached mining plan has been approved,
                                in exercise the powers conferred by rule 24 &26 CG Minor Mineral Rule -2015 with the below details:-
                            </h6>

                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;margin-bottom:30px; ">
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;" width="35%">Lessee/ Applicant Name</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Ziyauel khan</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Lessee/ Applicant Id</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Lesse-06456</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mines Address</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Sail Bhilai Steel Plant Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Village</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Panchyat</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Teshil</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Police Station</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">District</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Bilaspur</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Khasra No.</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">901/A , 901/B</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mineral Type</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Minor</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mineral</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Coal</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Total Lease Area Hectares</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">1200</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Approval Order Number</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">567543</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Approval Order Date & Time</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">05-Jan-2022 4.35 PM</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mining Plan</th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Page No. 1 to 8</td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;"> Remarks </th>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                                    </td>
                                </tr>
                            </table>

                          

                            <p style="text-align:right">Name of Authorized Officer ,DGM </p>
                            <p style="text-align:right">DSC Sign</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>







