
@{
    ViewData["Title"] = "QuarryPlanApprovalDDMO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    pdfMe = "yes";
    excelMe = "yes";
    printMe = "yes";
    $(document).ready(function () {
        loadNavigation('QuarryPlanApprovalDDMO', 'qryplnapvl', 'qryplnapvltwo', 'tl', 'Quarry Plan Approval', 'Quarry Plan Approval', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
        
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                New Request
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">Sl#</th>
                                                <th>Application No.</th>
                                                <th>Lessee/ Applicant Name</th>
                                                <th>Quarry Plan</th>
                                                <th>Applied on</th>
                                                <th>Status</th>
                                                <th>Field Verification Report</th>
                                                <th>Certificate</th>
                                                <th>History</th>
                                                <th width="100" class="text-center noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application001</a>
                                                </td>
                                                <td>Ziyauel khan</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>05-Jan-2022</td>
                                                <td class="text-info">New Request on 12 Jan 2022</td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application002</a>
                                                </td>
                                                <td>Mohan Das</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>12-Jan-2022</td>
                                                <td class="text-info">New Request on 12 Jan 2022</td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application003</a>

                                                </td>
                                                <td>Ramesh Singh</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>05-Jan-2022</td>
                                                <td class="text-warning">Pending at MI from 11 Jan 2022</td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application004</a>

                                                </td>
                                                <td>Prakash Das</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>07-Jan-2022</td>
                                                <td class="text-danger">Rejected by MI on 12 Jan 2022</td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application005</a>
                                                </td>
                                                <td>Rajan Mishra</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>09-Jan-2022</td>
                                                <td class="text-success">Approved by DGM on 07 Jan 2022</td>
                                                <td class="text-center"></td>
                                                <td class="text-center">
                                                    <a href="../QuarryPlanApproval/QuarryPlanCertificate" class="text-danger h4" title="Quarry Plan Approval Certificate">
                                                        <span class="icon-certificate-solid"></span>
                                                    </a>
                                                </td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>
                                                    <a class="text-primary" data-toggle="modal" data-target="#Quarry-plan-details">Application006</a>
                                                </td>
                                                <td>Ankit Das</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download Quarry Plan"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td>10-Jan-2022</td>
                                                <td class="text-warning">Forwaded by MI on 12 Jan 2022</td>
                                                <td class="text-center"><a href="#" class="text-danger h4" title="Download"><i class="icon-file-pdf-solid"></i></a></td>
                                                <td class="text-center">
                                                </td>
                                                <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                                <td class="text-center noprint">
                                                    <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action-two">Take Action</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Approved</span>
                        <span class="content_date">15 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <p class="mb-0">
                            Document  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>


                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">04 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <p class="mb-0">
                            Document  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">MI</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">03 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <p class="mb-0">
                            Field verification Report <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a> ,
                            Other Document  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag reject"><i class="icon-trash-alt-solid mr-2"></i>Rejected</span>
                        <span class="content_date">03 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <p class="mb-0">
                            Other Document  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">DD/MO</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Verified & Forwarded</span>
                        <span class="content_date">04 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </p>
                        <p class="mb-0">
                            Document  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </p>
                    </div>

                    <div class="timeline__content">
                        <span class="content_degination">Ziyauel khan <br> <small class="font-weight-bold"> (Lessee/ Applicant) </small></span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Submitted Quarry Plan</span>
                        <span class="content_date">02 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Lessee/ Applicant Name</span> Ziyauel khan
                            <span class="font-weight-bold d-block">Phone No. & Email Id </span> 9090564576 & ziyauelkhan12@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Quarry-plan-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Quarry Plan  Details | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                Lessee/Applicant Details
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">

                            <div class="row">

                                <label class="col-lg-5 col-12 col-form-label">Lessee/ Applicant Name</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Ziyauel khan</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Lessee/ Applicant Id</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Lesse-06456</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Mines Address</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Sail Bhilai Steel Plant Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Village</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Panchyat</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Teshil</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Police Station</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">District</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Bilaspur</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Email Id</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>ziyauelkhan12@gmail.com</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Phone No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>9090564576</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Total Lease Area Hectares</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>1200</label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Khasra No.</label>
                                <div class="col-lg-7 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>901/A , 901/B</label>
                                </div>

                                <div class="col-lg-12 mt-3">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th>Co-ordinates of Lease Boundary</th>
                                                    <th>Latitude</th>
                                                    <th>longitude</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>x</td>
                                                    <td>23</td>
                                                    <td>57</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>x</td>
                                                    <td>23</td>
                                                    <td>57</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                            <a class="card-title">
                                Representative Details
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-6 col-12 col-form-label">Name of Applicant Representative</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Anil Kumar Sahoo</label>
                                </div>

                                <label class="col-lg-6 col-12 col-form-label">Designation of Representative</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>Officer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
                            <a class="card-title">
                                Quarry Plan Details
                            </a>
                        </div>
                        <div id="collapse3" class="card-body  collapse" data-parent="#accordion">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th width="150px">Financial Year</th>
                                                    <th>Mineral Quantity</th>
                                                    <th>Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option>2022</option>
                                                            <option>2023</option>
                                                            <option>2024</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" value="2345"></td>
                                                    <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option>2022</option>
                                                            <option>2023</option>
                                                            <option>2024</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" value="2345"></td>
                                                    <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Uploaded Quarry Plan</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>
                                <label class="col-lg-5 col-12 col-form-label">Other Supporting Documents</label>
                                <div class="col-lg-6 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
                            <a class="card-title">
                                RQP Details
                            </a>
                        </div>
                        <div id="collapse4" class="card-body collapse" data-parent="#accordion">

                            <div class="row">
                                <label class="col-lg-4 col-12 col-form-label">Name of the RQP</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Amit Das
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Address</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">District</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>Bilaspur
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>9056346578
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Email Id</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>amitdas124@gmail.com
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Registration Number</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>753567886
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Uploaded Certificate</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>

                                <label class="col-lg-4 col-12 col-form-label">Validity upto</label>
                                <div class="col-lg-8 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>20-01-2022
                                    </label>
                                </div>

                            </div>

                        </div>
                    </div>



                </div>

                <div class="pt-3"><a href="../QuarryPlanApproval/QuarryPlanDownload" class="text-primary">Quarry Plan Details</a> <span class="icon-download-solid"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" >Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">

                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Lessee/ Applicant Name & Id</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Ziyauel khan & 06456</label>
                    </div>
                   
                    <label class="col-lg-4 col-12 col-form-label">Mines Address</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            Sail Bhilai Steel Plant Bilaspur , Village (Bilaspur) , Panchyat (Bilaspur) , Teshil (Bilaspur) , Police Station (Bilaspur) , District (Bilaspur)
                        </label>
                    </div>
                    
                    <label class="col-lg-4 col-12 col-form-label">Email Id</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>ziyauelkhan12@gmail.com</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Phone No.</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>9090564576</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Total Lease Area Hectares</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>1200</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Khasra No.</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>901/A , 901/B</label>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Uploaded Document </label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger"><strong>(.pdf , .docx)</strong> with max size<strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Verified & Forwarded</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="take-action-two" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | Application006
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">

                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Lessee/ Applicant Name & Id</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Ziyauel khan & 06456</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Mines Address</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            Sail Bhilai Steel Plant Bilaspur , Village (Bilaspur) , Panchyat (Bilaspur) , Teshil (Bilaspur) , Police Station (Bilaspur) , District (Bilaspur)
                        </label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Email Id</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>ziyauelkhan12@gmail.com</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Phone No.</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>9090564576</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Total Lease Area Hectares</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>1200</label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Khasra No.</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>901/A , 901/B</label>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Uploaded Document </label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger"><strong>(.pdf , .docx)</strong> with max size<strong>2MB</strong></small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Forward To <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <select class="form-control">
                            <option>Select </option>
                            <option>Regional Head</option>
                            <option>DGM</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Verified & Forwarded</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>

















