:root {
    --primary-color: #711519;
    --brown: #610e11;
    --header-color: #711519;
    --light-gray: #f1f1f1;
    --font-color: #212529;
    --shadow-light: #d6d6d6;
    --light-pink: #fff4f4;
    --text-dark-font: #1e1e2d;
    --trans: transparent;
    --input-border: #dadada;
    --input-border-hover: #000;
    --light-red: #fff4f4;
    --brown-font: #8d3610;
    --tabs-active: #711519;
    --toggle-color: #da7276;
    --toggle-color-slide: #fbabae;
    --dark-warning: #ff9800;
}

.theme-light {
    --primary-color: #711519;
    --brown: #610e11;
    --header-color: #711519;
    --light-gray: #f1f1f1;
    --light-grey-transperent: #fff;
    --font-color: #212529;
    --white: #fff;
    --shadow-light: #d6d6d6;
    --light-pink: #fff4f4;
    --text-dark-font: #1e1e2d;
    --trans: transparent;
    --input-border: #dadada;
    --input-border-hover: #000;
    --light-red: #fff4f4;
    --brown-font: #8d3610;
    --tabs-active: #711519;
    --toggle-color: #da7276;
    --toggle-color-slide: #fbabae;
    --dark-warning: #ff9800;
    --border-grey: #00000020;
    --bg-light-yellow: rgb(255 193 7 / 9%);
}

.theme-dark {
    --primary-color: #282b3c;
    --brown: #1d1f2d;
    --header-color: #242631;
    --light-gray: #232533;
    --light-grey-transperent: #232533;
    --font-color: #a7a7a7;
    --white: #1d1f2d;
    --shadow-light: transparent;
    --light-pink: #242738;
    --text-dark-font: #646479;
    --trans: transparent;
    --input-border: #404251;
    --input-border-hover: #9699af;
    --light-red: #242738;
    --brown-font: #d0d0d0;
    --tabs-active: rgba(255, 255, 255, 0.2);
    --toggle-color: #4e5269;
    --toggle-color-slide: #777a92;
    --dark-warning: #404251;
    --border-grey: #424554;
    --bg-light-yellow: rgb(210 209 207 / 9%);
}

body {
    background-color: var(--primary-color);
    color: var(--font-color)
}

.modal-content {
    background: var(--light-grey-transperent);
}

.modal-header {
    border-bottom: 1px solid var(--border-grey);
}

.modal-footer {
    border-top: 1px solid var(--border-grey);
}

    body:before, body:after {
        content: '';
        position: absolute;
        top: 0;
    }

    body:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 630px 500px 0 0;
        border-color: rgb(255 255 255 / 8%) transparent transparent transparent;
    }

/*    body:after {
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 100vh 640px;
        border-color: transparent transparent rgb(255 255 255 / 2%) transparent;
    }*/

a,
a:focus {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: var(--text-dark-font);
    text-decoration: none;
    cursor: pointer;
}

    a:hover,
    a:focus:hover {
        color: #646479;
        text-decoration: none;
    }

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

/*h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}
    */

p {
    line-height: 1.6em;
}

.page-topbar {
    border-bottom: 1px solid rgb(255 255 255 / 12%);
    display: flex;
    justify-content: space-between;
    position: fixed;
   
    left: 0;
    right: 0;
    top: 0;
    transition: all ease-in-out .5s;
}

    .page-topbar.active {
        background: var(--header-color);
    }

.nav-toggle-btn {
    position: fixed;
    height: 22px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    z-index: 999;
    overflow: hidden;
    top: 28px;
    left: 610px;
    /* display: none; */
}

    .nav-toggle-btn span {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        height: 2px;
        width: 26px;
        display: block;
        border-radius: 14px;
        background: var(--light);
    }

    .nav-toggle-btn:hover span:first-child, .nav-toggle-btn:hover span:last-child {
        width: 18px
    }

.logo-area {
    display: flex;
    padding: .5rem 1rem;
    border-right: 1px solid rgb(255 255 255 / 12%);
    align-items: center;
    flex: 0 0 390px;
}

    .logo-area img {
        height: 58px;
        margin-right: .6rem;
    }

    .logo-area h1 {
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: 0;
    }

        .logo-area h1 small {
            display: block;
            margin-top: .2rem;
        }


.quick-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 calc(100% - 390px);
    padding: 0rem 1rem;
}

.khanij-online {
    border-right: 1px solid rgb(255 255 255 / 12%);
    padding: .5rem;
    padding-left: 0;
}

    .khanij-online img {
    }

    .khanij-online span {
        display: none
    }


.top-menu-section {
}

    .top-menu-section ul {
        display: flex;
        margin: 0;
        align-items: center;
    }

        .top-menu-section ul li {
            position: relative;
        }

            .top-menu-section ul li img {
                height: 2rem;
                margin-top: -12px;
            }

            .top-menu-section ul li a {
                font-size: 2rem;
                position: relative;
                padding: 0 1rem;
                color: #fff;
                display: inline-block;
            }

                .top-menu-section ul li a .badge {
                    font-size: .8rem;
                    position: absolute;
                    padding: 0;
                    background: #ffd66b;
                    top: 0;
                    right: 9px;
                    padding: 3px 5px;
                    color: #000;
                }


                .top-menu-section ul li a:hover {
                }

        .top-menu-section ul ul.dropdown-menu {
            display: none;
            right: 0;
            left: auto;
            min-width: 220px;
            max-width: 290px;
            box-shadow: 0px 0px 10px var(--shadow-light);
            padding: 0;
            border: 0;
            overflow: hidden;
            background: var(--white);
        }

            .top-menu-section ul ul.dropdown-menu.messages {
                min-width: 300px;
                height: 300px;
                overflow: hidden;
                overflow-y: auto;
            }

        .top-menu-section ul li ul.dropdown-menu li {
            font-size: 1rem;
            color: var(--font-color);
        }

            .top-menu-section ul li ul.dropdown-menu li:hover {
                background: var(--trans)
            }

            .top-menu-section ul li ul.dropdown-menu li a {
                color: var(--font-color);
                font-size: 1rem;
                padding: .3rem 1rem;
                display: block;
            }

                .top-menu-section ul li ul.dropdown-menu li a i {
                    margin-right: .4rem
                }

                .top-menu-section ul li ul.dropdown-menu li a:hover {
                    background: var(--light-gray);
                    color: var(--text-dark-font);
                }

        .top-menu-section ul li:hover ul.dropdown-menu {
            display: block;
        }

        .top-menu-section ul ul.dropdown-menu.messages li.unread a {
            background: var(--light-gray);
        }

        .top-menu-section ul ul.dropdown-menu.messages li a {
            border-bottom: 1px solid var(--input-border);
            padding: .6rem 1rem;
        }

            .top-menu-section ul ul.dropdown-menu.messages li a .time {
                font-weight: 700;
                color: var(--gray);
            }

        .top-menu-section ul ul.dropdown-menu.messages li:last-child a {
        }

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
    margin: 0;
    margin-right: 1rem;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7d4d6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "\ee13";
        height: 27px;
        width: 28px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 53%;
        font-family: icons;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--brown);
    }

.top-menu-section ul li input:checked + .slider {
    background-color: var(--toggle-color);
}

.top-menu-section ul li input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.top-menu-section ul li input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-repeat: no-repeat;
    background-position: center;
    content: "\ecaa";
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
        background: var(--toggle-color-slide);
    }




.page-container {
    background: var(--brown);
    margin: 1.5rem;
    position: relative;
    border-radius: 20px;
    min-height: calc(100vh - 125px );
    display: flex;
    padding-left: 280px;
    margin-top: .5rem;
    transition: all ease-in-out .5s;
}

    .page-container.full {
        padding-left: 0;
    }

    .page-container:before {
        content: '';
        position: absolute;
        /* background: rgb(255 255 255 / 11%); */
        left: 4rem;
        right: 6rem;
        height: 0;
        top: -17px;
        z-index: -1;
        border-radius: 16px;
    }

.page-sidebar {
    position: absolute;
    left: 0;
    background: var(--brown);
    width: 280px;
    bottom: 0;
    z-index: 1;
    top: 0;
    border-radius: 20px 0 0 20px;
    transition: all ease-in-out .5s;
}

.page-container.full .page-sidebar {
    left: -350px;
}

#main-content {
    background: var(--light-gray);
    border-radius: 20px;
    padding: 1.5rem;
    flex: 0 0 100%;
}

footer {
    position: absolute;
    right: 1.5rem;
    bottom: .5rem;
    font-size: .8rem;
}

.page-sidebar-wrapper {
    margin: 0;
    padding: 0
}

.page-sidebar-wrapper ul {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

.page-sidebar-wrapper ul li {
    margin: 0;
    padding: 0
}

            

.page-sidebar-wrapper ul li .sub-menu {
    display: none
}

    .page-sidebar-wrapper .navbar {
        padding: 1rem;
    }

        .page-sidebar-wrapper .navbar .navbar-nav .nav-item {
            margin-bottom: 3px;
        }

            .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link {
                padding: 0.65rem 1rem;
                color: #dedede;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-left: 0px solid #fff;
                position: relative;
            }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link span {
                    display: inline-block;
                }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link i {
                    margin-right: .6rem;
                    display: inline-block;
                    font-size: 1.6rem;
                }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link:hover, .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link:focus {
                    color: #ececec;
                    background: rgba(255, 255, 255, 0.2);
                    border-left-color: #108fbb;
                }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
                    position: relative;
                }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
                        content: "\e925";
                        position: absolute;
                        right: 15px;
                        font-family: icons;
                        font-size: 0.8rem;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 0;
                    }

            .page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link {
                color: #ececec;
                background: rgba(255, 255, 255, 0.2);
                border-left-color: #108fbb;
            }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link:before {
                    content: '';
                    height: 50px;
                    width: 24px;
                    position: absolute;
                    background: var(--light-gray);
                    right: -33px;
                    border-radius: 50px 0 0 50px;
                }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link i {
                    color: #ececec;
                }

            .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu {
                margin: 0;
                padding: 0;
                border-radius: 0;
                border: 0;
                opacity: 0;
                position: relative;
                display: none;
                border-bottom: 0px solid #f2f2f2;
                border-left: 0px solid #108fbb;
                background: rgba(255,255,255,.13);
                border-radius: 10px;
                overflow: hidden;
                margin-top: 4px;
            }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
                    padding: 0.5rem 1rem;
                    margin-bottom: 0px;
                    position: relative;
                    font-size: 0.9rem;
                    color: #dedede;
                    border-radius: 3px;
                    display: flex;
                }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item i {
                        font-size: 1.4rem;
                        margin-right: 13px;
                        display: inline-block;
                    }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item span {
                        display: inline-block;
                        margin-right: 15px;
                        width: 26px;
                        text-align: center;
                        font-weight: 600;
                    }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover, .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
                        color: #ececec;
                        background: rgba(255, 255, 255, 0.2);
                    }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
                        background: #108fbb;
                    }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child {
                        margin-top: 0px;
                    }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu.show {
                    display: inherit !important;
                    max-height: 300px;
                    overflow-y: auto;
                    opacity: 1;
                }

            .page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show {
                background: rgba(242, 242, 242, 0);
            }

                .page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .nav-link {
                    color: #ececec;
                    background: rgba(255,255,255,.13);
                }

                    .page-sidebar-wrapper .navbar .navbar-nav .nav-item.dropdown.show .nav-link.dropdown-toggle:after {
                        transform: rotate(88deg) translateY(13%) translateX(-8px);
                    }

.breadcrumb-nav {
    margin-top: 82px;
    padding: 0 2rem;
}

    .breadcrumb-nav .breadcrumb-item {
        color: #c7c7c7;
        font-size: .9rem;
    }

        .breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before {
            font-family: icons;
            content: "\e925";
            color: #c7c7c7;
        }

        .breadcrumb-nav .breadcrumb-item:last-child {
            font-weight: 600
        }

.breadcrumb {
    justify-content: flex-end;
}

#main-content .breadcrumb-nav {
    display: none;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
}

.dropdown-toggle:after {
    border: 0px;
    margin: 0px;
}

.colon {
    display: none;
}

.form-group {
    margin-bottom: 1rem;
}

    .form-group label, .col-form-label {
        /* margin-bottom: 0.2rem; */
        /* margin-top: 0.3rem; */
        color: var(--font-color) !important;
    }

.common-table-search {
    width: 250px;
    display: none;
}

.form-control, .custom-file-label {
    border-radius: 4px;
    border: 1px solid var(--input-border);
    color: var(--font-color);
    background: var( --white);
}

    .form-control.bordered {
        padding: 0.375rem 0.75rem;
        border: 1px solid var(--input-border);
        border-radius: 3px;
    }

    .form-control.danger {
        border-color: #f44336;
    }

    .form-control.success {
        border-color: #92c755;
    }

    .form-control:focus, .form-control:hover, .custom-file-input:focus, .custom-file-input:hover, .custom-file-input:focus ~ .custom-file-label, .custom-file-input:hover ~ .custom-file-label {
        border-color: var(--input-border-hover);
        box-shadow: none;
        background-color: var(--trans)
    }

.form-control-plaintext {
    color: var(--font-color);
}

.control-group {
    position: relative;
}

    .control-group label {
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 2;
    }

        .control-group label.input-group-label {
            left: 45px;
        }

    .control-group .form-group {
        margin-bottom: 2rem;
    }

    .control-group.focused label {
        top: -1.3rem;
        font-size: 0.8rem;
    }

        .control-group.focused label.input-group-label {
            left: 0;
        }

    .control-group .form-control {
        border: 0;
        border-bottom: 1px solid #dadada;
    }

    .control-group .input-group-text {
        border: 0;
        border-bottom: 1px solid #ced4da;
    }

.control-label {
    margin-bottom: 0.1rem;
}

.input-group-text {
    border-radius: 2px;
    background-color: rgba(233, 236, 239, 0);
    border: 1px solid #ced4da;
}

.datepicker {
    border-radius: 2px;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop 0.5s linear;
}

.btn {
    cursor: pointer;
    padding: 0.35rem 1rem;
    border-radius: 2px;
    transition: all 0.25s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    text-transform: uppercase;
}

    .btn:focus {
        box-shadow: none;
    }

    .btn.btn-default, .btn.btn-default:focus {
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e;
    }

    .btn.btn-primary, .btn.btn-primary:focus {
        background-color: #0099ad;
        border-color: #0099ad !important;
        color: #fff;
    }

        .btn.btn-primary:hover, .btn.btn-primary:focus:hover {
            background-color: #028394;
            border-color: #028394;
        }

        .btn.btn-primary.bordered, .btn.btn-primary:focus.bordered {
            background-color: transparent;
            color: #028394;
        }

            .btn.btn-primary.bordered:hover, .btn.btn-primary:focus.bordered:hover {
                background-color: #028394;
                color: #fff;
            }

    .btn.btn-info, .btn.btn-info:focus {
        background-color: #0ab1fc;
        border-color: #03a9f4 !important;
        color: #fff;
    }

        .btn.btn-info:hover, .btn.btn-info:focus:hover {
            background-color: #06a3d2;
            border-color: #269abc;
        }

        .btn.btn-info.bordered, .btn.btn-info:focus.bordered {
            background-color: transparent;
            color: #03a9f4;
        }

            .btn.btn-info.bordered:hover, .btn.btn-info:focus.bordered:hover {
                background-color: #03a9f4;
                color: #fff;
            }

    .btn.btn-success, .btn.btn-success:focus {
        background-color: #92c755;
        border-color: #8bc34a !important;
        color: #fff;
    }

        .btn.btn-success:hover, .btn.btn-success:focus:hover {
            background-color: #2d942d;
            border-color: #2d942d;
        }

        .btn.btn-success.bordered, .btn.btn-success:focus.bordered {
            background-color: transparent;
            color: #8bc34a;
        }

            .btn.btn-success.bordered:hover, .btn.btn-success:focus.bordered:hover {
                background-color: #8bc34a;
                color: #fff;
            }

    .btn.btn-mint, .btn.btn-mint:focus {
        background-color: #29b2a6;
        border-color: #26a69a !important;
        color: #fff;
    }

        .btn.btn-mint:hover, .btn.btn-mint:focus:hover {
            background-color: #1da79a;
            border-color: #29b2a6;
        }

        .btn.btn-mint.bordered, .btn.btn-mint:focus.bordered {
            background-color: transparent;
            color: #26a69a;
        }

            .btn.btn-mint.bordered:hover, .btn.btn-mint:focus.bordered:hover {
                background-color: #26a69a;
                color: #fff;
            }

    .btn.btn-warning, .btn.btn-warning:focus {
        background-color: #ffb80f;
        border-color: #ffb300 !important;
        color: #fff;
    }

        .btn.btn-warning:hover, .btn.btn-warning:focus:hover {
            background-color: #fbb100;
            border-color: #d58512;
        }

        .btn.btn-warning.bordered, .btn.btn-warning:focus.bordered {
            background-color: transparent;
            color: #ffb300;
        }

            .btn.btn-warning.bordered:hover, .btn.btn-warning:focus.bordered:hover {
                background-color: #ffb300;
                color: #fff;
            }

    .btn.btn-danger, .btn.btn-danger:focus {
        background-color: #f55145;
        border-color: #f44336 !important;
        color: #fff;
    }

        .btn.btn-danger:hover, .btn.btn-danger:focus:hover {
            background-color: #e82517;
            border-color: #e82517;
        }

        .btn.btn-danger.bordered, .btn.btn-danger:focus.bordered {
            background-color: transparent;
            color: #f44336;
        }

            .btn.btn-danger.bordered:hover, .btn.btn-danger:focus.bordered:hover {
                background-color: #f44336;
                color: #fff;
            }

    .btn.btn-pink, .btn.btn-pink:focus {
        background-color: #f1709c;
        border-color: #f06292 !important;
        color: #fff;
    }

        .btn.btn-pink:hover, .btn.btn-pink:focus:hover {
            background-color: #f14b84;
            border-color: #f1709c;
        }

        .btn.btn-pink.bordered, .btn.btn-pink:focus.bordered {
            background-color: transparent;
            color: #f06292;
        }

            .btn.btn-pink.bordered:hover, .btn.btn-pink:focus.bordered:hover {
                background-color: #f06292;
                color: #fff;
            }

    .btn.btn-purple, .btn.btn-purple:focus {
        background-color: #b052c0;
        border-color: #ab47bc !important;
        color: #fff;
    }

        .btn.btn-purple:hover, .btn.btn-purple:focus:hover {
            background-color: #a638b9;
            border-color: #b052c0;
        }

        .btn.btn-purple.bordered, .btn.btn-purple:focus.bordered {
            background-color: transparent;
            color: #ab47bc;
        }

            .btn.btn-purple.bordered:hover, .btn.btn-purple:focus.bordered:hover {
                background-color: #ab47bc;
                color: #fff;
            }

    .btn.btn-dark, .btn.btn-dark:focus {
        background-color: #414c57;
        border-color: #3a444e !important;
        color: #fff;
    }

        .btn.btn-dark:hover, .btn.btn-dark:focus:hover {
            background-color: #323e4a;
            border-color: #414c57;
        }

        .btn.btn-dark.bordered, .btn.btn-dark:focus.bordered {
            background-color: transparent;
            color: #3a444e;
        }

            .btn.btn-dark.bordered:hover, .btn.btn-dark:focus.bordered:hover {
                background-color: #3a444e;
                color: #fff;
            }

    .btn.btn-sm {
        padding: 0.2rem 1rem;
        font-size: 0.9rem;
        line-height: 1.5;
    }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.indicatorslist {
    padding-left: 1rem;
}

    .indicatorslist a {
        display: inline-block;
        padding: 0.2rem 0.7rem;
        border-radius: 0;
        margin-left: -1px;
        color: #a6a6a6;
        font-size: 1.1rem;
        border: 0px solid #e4e4e4;
        border-radius: 0px;
    }

        .indicatorslist a:hover {
            color: #108fbb;
            border-color: #108fbb;
        }

    .indicatorslist p {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 0.9em;
        padding: 0.35rem 0;
    }

.nav-tabs {
    float: none;
    margin-bottom: 0;
    border-bottom: 0;
    width: 50%;
}

    .nav-tabs .nav-link {
        margin-right: 0.3rem;
        border-radius: 6px;
        border: 1px solid var(--input-border);
        padding: .3rem 1.5rem;
    }

        .nav-tabs .nav-link.active {
            background-color: var(--tabs-active);
            border-color: var(--tabs-active);
            color: #fff;
            position: relative
        }

            .nav-tabs .nav-link.active:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 0 12px 12px 12px;
                border-color: transparent transparent var(--white) transparent;
                border-style: solid;
                bottom: -16px;
                left: 50%;
                transform: translateX(-57%);
            }

.form-container {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0px 10px var(--shadow-light);
}

.main-tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-info-detilas {
    background: var(--light-red);
    padding: 1rem;
    border-radius: 10px;
    color: #464646;
}

    .user-info-detilas .right-section {
        text-align: right
    }

    .user-info-detilas h4 {
        font-size: 1.1rem;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--input-border);
        padding-bottom: .6rem;
        color: var(--brown-font);
        text-transform: uppercase;
        font-weight: 550;
    }

    .user-info-detilas h6 {
        font-weight: 600;
        font-size: 1rem;
        color: #c34b17;
    }

.summary-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

    .summary-cards .sum-details {
        flex: 0 0 calc(100%/5 - 1rem);
        text-align: center;
        border: 1px solid var(--light-gray);
        margin: 0 10px 10px 10px;
        padding: .4rem 1rem;
        border-radius: 3px;
    }

        .summary-cards .sum-details:first-child {
            margin-left: 0
        }

        .summary-cards .sum-details:last-child {
            margin-right: 0
        }

        .summary-cards .sum-details p {
            margin-bottom: .2rem;
            font-weight: 600;
        }

        .summary-cards .sum-details h4 {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 700;
        }

.input-group-text {
    background-color: var(--white);
    border: 1px solid var(--input-border);
    border-radius: 0 .25rem .25rem 0 !important;
    border-left: 0;
}

.util-group {
}

    .util-group a {
        /* border: 1px solid #d6d6d6; */
        margin-left: 5px;
        display: inline-block;
        padding: .3rem .4rem;
        line-height: 1;
        border-radius: 5px;
        color: var(--font-color);
        font-size: 1.3rem;
        background: var( --white);
    }

        .util-group a:hover {
            box-shadow: 0 0 4px var(--shadow-light);
            background: var(--dark-warning);
            color: #fff;
        }

.searchform {
    background-color: var(--light-pink);
    border-bottom: 0px solid #812f32;
    border-radius: 10px;
}

    .searchform .form-group {
        margin-bottom: 0.5rem;
    }

    .searchform .col-form-label {
        text-align: left;
    }

.searchbtn {
    background-color: var(--light-pink);
    margin: 0;
    border-radius: 0 0 2px 2px;
    color: var(--font-color);
}

    .searchbtn i {
        margin-right: 5px;
    }

.bootstrap-select .dropdown-toggle .filter-option {
    font-size: 0.9rem;
}

.histroy-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

    .histroy-section .histroy-section-user {
        flex: 0 0 130px;
        text-align: center;
    }

        .histroy-section .histroy-section-user .histroy-section-media-image {
            height: 40px;
            width: 40px;
            margin: 0 auto .5rem;
            overflow: hidden;
            border-radius: 100%;
        }

            .histroy-section .histroy-section-user .histroy-section-media-image img {
            }

        .histroy-section .histroy-section-user h4 {
            font-size: 12px;
            margin-bottom: 0;
            font-weight: 600;
            color: #5d5d5d;
            line-height: 18px;
        }




    .histroy-section .histroy-section-detail {
        flex: 0 0 calc(100% - 130px);
        padding: 0 1rem;
        border-left: 1px solid #dadada;
        color: #4e4e4e;
    }

.report-summary-card {
    border: 1px solid var(--input-border);
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.report-summary-card-header {
    padding: 10px 15px;
    border-bottom: 1px solid var(--input-border);
    /* background: #fff4f4; */
    color: #4e4e4e;
}

.report-summary-card h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    color: var(--gray);
}

.summary-details {
    height: 256px;
    overflow-y: auto;
    padding: 15px;
}

    .summary-details ul {
    }

        .summary-details ul li {
            list-style-type: none;
            padding: 10px 0;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed var(--input-border);
            color: var(--font-color);
        }

            .summary-details ul li a {
                font-size: 20px;
                font-weight: 700
            }

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.pagination .page-link {
    border: 0;
    color: var(--gray);
    font-weight: 600;
    padding: .4rem .7rem;
    border-radius: 5px !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background: var( --trans);
}

.page-item.disabled .page-link {
    background: var( --trans);
    color: var(--gray);
}

.pagination .page-item.active .page-link {
    background: var(--dark-warning);
}

.table {
    color: var(--text-dark-font);
    font-size: .9rem;
}

    .table.table-bordered {
        border: 1px solid var(--input-border) !important
    }


.table-bordered td, .table-bordered th {
    border: 1px solid var(--input-border) !important
}

.table tbody + tbody {
    border-top: 0px solid #dee2e6;
}

.table-bordered th {
    background-color: var(--light-gray);
    color: var(--text-dark-font)
}

.no-content {
    text-align: center;
    color: #d4d4d4;
    padding: 3rem 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.left-user-details {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

    .left-user-details:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 205px 180px 0 0;
        border-color: rgb(255 255 255 / 6%) transparent transparent transparent;
        left: 0;
        top: 0;
    }

    .left-user-details .img-div {
        height: 70px;
        width: 70px;
        margin: 0 auto;
        margin-bottom: .6rem;
        border-radius: 100%;
        overflow: hidden;
    }

    .left-user-details img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .left-user-details p {
        margin: 0;
        color: var(--light);
    }

.legend-box {
    margin: 0px 0px 10px 0px;
}
.legend-box li {
    display: flex;
    align-items: center;
}
.legend-box li span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 0.2rem 0 0.8rem;
    display: inline-block;
}
.legend-box .bg-warning {
    background-color: #fd7e14 !important;
}

.inactive-row td:first-child,
.active-row td:first-child,
.reject-row td:first-child {
    position: relative;
    padding-left: 10px;
}

    .inactive-row td:first-child::before,
    .active-row td:first-child::before,
    .reject-row td:first-child::before {
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        top: 0%;
        width: 3px;
    }

.inactive-row td:first-child::before {
    background-color: #fd7e14;
}

.active-row td:first-child::before {
    background-color: #00c851;
}

.card {
    background: var(--white);
    border: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey)!important;
}
.card-header {
    background: var(--light-gray);
}
.dragging-menu {
    padding-left: 0px;
}
    .dragging-menu li div {
        display: flex;
        justify-content: space-between;
        background-color: var(--light-gray);
        border: 1px solid var(--input-border);
        padding: 5px;
        border-radius: 5px;
        align-items: center;
        margin-bottom: .8rem;
    }
.dragging-menu li div span.icon-times-solid {
    cursor: pointer;
}

#datatable .icon-pencil-alt-solid, #datatable .icon-trash-alt-solid {
    font-size: 20px;
}

.accordion .card-header:after {
    font-family: 'icons';
    content: "\e923";
    float: right;
}

.accordion .card-header.collapsed:after {
    content: "\e926";
}

.bg-light-yellow {
    background-color: var(--bg-light-yellow);
}

.border-dotted {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1rem;
    display:none;
}

.extra-information {
    position: absolute;
    right: 18px;
    font-size: 1.3rem;
    color: rgb(10 11 20);
}

/*Stepper css start*/
.step-container 
{
    padding-top: 1rem;
}

.step-container .tab-content .tab-pane h6 
{
    padding-bottom: 1rem;
}

.wizard .nav-tabs 
{
    width: auto;
    position:relative;
}

.wizard > div.wizard-inner 
{
    position: relative;
    margin-bottom: 70px;
    text-align: center;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 26px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: rgb(14 33 75 / 64%);
    font-weight: 500;
    border: 2px solid #ddd;
}

.wizard li.active span.round-tab 
{
    background: #ffffff;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed span.round-tab 
{
    background: #92c755;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed .round-tab::after 
{
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
    font-family: 'icons';
}

.wizard li.completed:after {
    background: rgb(146 199 85);
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

.wizard li.completed.active span.round-tab {
    background: #ffffff;
    color: #92c755;
    border-color: #92c755;
}

.wizard li.completed.active .round-tab::after {
   display:none;
}

/*.wizard li.active:last-child .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
    font-family: 'icons';
}
.wizard li.active:last-child span.round-tab {
    background: #92c755;
    color: #92c755;
    border-color: #92c755;
}*/

.wizard .nav-tabs > li
{
    width: 19%;
    position: relative;
}

.wizard li:after {
    content: '';
    position: absolute;
    background: #f1f1f1;
    display: block;
    width: 100%;
    height: 2px;
    top: 14px;
    left: 52%;
    z-index: 1;
}

.wizard li:last-child:after 
{
    display:none;
}

.wizard .nav-tabs > li a 
{
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.wizard .nav-tabs > li a:hover 
{
    background: transparent;
}

.list-inline
{
    margin-top:2.5rem;
}
.list-inline li 
{
    display: inline-block;
}
/*Stepper css end*/


/*show more information css start*/
#Extra-Remark .text {
        margin-bottom: 0.5rem;
}

#Extra-Remark .show-more {
    margin-bottom: 1rem;
}
#Extra-Remark .show-more-height {
        height: 258px;
        overflow: hidden;
}
/*show more information css end*/

.timeline {
    max-width: 830px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #848892;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.timeline__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 386px;
    box-shadow: 0 2px 8px 0 #242e4c59;
}

.timeline__content::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.timeline__content::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #848892;
    border-radius: 50%;
    transform: translateY(-50%);
}

.timeline__content:nth-child(odd) {
    margin-left: auto;
}

.timeline__content:nth-child(odd) .content_tag {
    right: 5px;
}

.timeline__content:nth-child(odd)::after {
    left: -10px;
}

.timeline__content:nth-child(odd)::before {
    top: 50%;
    left: -39px;
}

.timeline__content:nth-child(even) {
    align-items: flex-end;
}

.timeline__content:nth-child(even) .content_p {
    text-align: right;
}

.timeline__content:nth-child(even)::after {
    right: -10px;
}

.timeline__content:nth-child(even)::before {
    top: 50%;
    right: -39px;
}

.timeline__content:nth-child(even) .content_tag {
    left: 5px;
}

.content_tag {
    position: absolute;
    top: 5px;
    padding: 6px 10px;
    background-color: rgb(204 204 204 / 22%);
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(84 81 81);
}
.content_tag.verify {
    background-color: rgb(252 243 227);
    color: rgb(255 152 0);
}
.content_tag.approve {
    background-color: rgb(139 195 74 / 22%);
    color: rgb(76 175 80);
}
.content_tag.reject {
    background-color: rgb(244 67 54 / 18%);
    color: rgb(244 67 54 / 75%);
}

.content_degination {
    position: absolute;
    top: 47%;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: #1f1f1f;
}
.timeline__content:nth-child(odd) .content_degination {
    right: 390px;
    margin-right: 47px;
    width: 321px;
    text-align: right;
}
.timeline__content:nth-child(even) .content_degination {
    right: -100px;
    left: 390px;
    margin-left: 47px;
    width: 321px;
    text-align: left;
}


.content_date {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #848892;
    margin-top: 1.2rem;
}

.content_p {
    color: #242e4c;
}

.mineral-concesion-details .colon {
    left: 0;
    position: absolute;
    display: block;
}

.mineral-concesion-details .col-form-label {
    font-weight: 500;
}



@media screen and (max-width: 1366px) {
    .step-container .tab-content .tab-pane .col-lg-3 
    {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .step-container .tab-content .tab-pane .col-lg-3.d-lg-block 
    {
        display: none!important;
    }
    
} 
@media screen and (max-width: 1440px) {
        body {
            font-size: .9rem;
        }

        .page-container {
            margin: 1rem;
            margin-top: 82px;
        }

        #main-content {
            padding: 1rem;
        }

        .form-container {
            padding: 1rem;
        }

        footer {
            right: 1rem;
            bottom: .0rem;
        }

        .logo-area img {
            height: 50px;
        }

        .khanij-online img {
            height: 49px;
        }

        .nav-toggle-btn {
            top: 24px;
            left: 588px;
        }

        .breadcrumb-nav {
            margin-top: 72px;
            padding: 0 1.5rem;
            display: none;
        }
    }

@media screen and (max-width: 992px) {
        .page-container {
            padding-left: 0;
            margin: .5rem;
            margin-top: 75px;
        }

        .page-sidebar {
            position: fixed;
            left: -350px;
        }

        .page-container.full .page-sidebar {
            left: 0px;
            position: fixed;
            z-index: 999;
            border-radius: 0;
            top: 0;
            bottom: 0;
        }

        .page-container.full:after {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.7);
            transition: all ease-in-out .5s;
        }

        footer {
            position: relative;
            padding: 1rem;
        }

        .logo-area h1 {
            display: none
        }

        .logo-area {
            flex: 0 0 80px;
        }

            .logo-area img {
                margin-right: 0
            }

        .user-info-detilas {
            margin-bottom: 1rem;
        }

        .quick-area {
            flex: 0 0 calc(100% - 80px);
        }

        .nav-toggle-btn {
            top: 24px;
            left: 288px;
        }

        .page-sidebar-wrapper .navbar .navbar-nav .nav-item.active .nav-link:before {
            width: 0px;
        }
    }

@media screen and (max-width: 768px) 
{
    .step-container .tab-content .tab-pane .col-lg-3 
    {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    /*Card table in responsive start*/
    .card-table .table.table-bordered {
        border: 0px solid var(--input-border) !important;
        border-bottom: 1px solid var(--input-border) !important
    }
    .card-table td {
        display: block;
        width: 100%;
        border-bottom: 0px solid var(--input-border)!important;
    }
    .card-table.one   tr td:nth-child(2),
    .card-table.two   tr td:nth-child(2),
    .card-table.three tr td:nth-child(2),
    .card-table.four  tr td:nth-child(2),
    .card-table.one   tr td:nth-child(5),
    .card-table.two   tr td:nth-child(5),
    .card-table.three tr td:nth-child(5),
    .card-table.four  tr td:nth-child(5) 
    {
        display: none;
    }

    .card-table.five tr td:nth-child(2),
    .card-table.five tr td:nth-child(3),
    .card-table.five tr td:nth-child(5),
    .card-table.five tr td:nth-child(6) {
        display: none;
    }
    .card-table.six tr td:nth-child(2),
    .card-table.six tr td:nth-child(3),
    .card-table.six tr td:nth-child(5),
    .card-table.six tr td:nth-child(6) {
        display: none;
    }

    .card-table.five tr th:nth-child(1), .card-table.six tr th:nth-child(1)
    {
        vertical-align:middle;
    }
    .card-table tr td:nth-child(1), .card-table tr td:nth-child(4) {
        font-weight: 600;
    }
    /*Card table in responsive end*/

    
}
@media (max-width: 640px) 
{
    .step-container .tab-content .tab-pane .col-lg-3 
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mineral-concesion-details .colon {
       
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .timeline {
        gap: 15px;
        padding: 10px;
    }

        .timeline::after {
            display: none;
        }

    .timeline__content {
        width: 100%;
    }

        .timeline__content::after {
            display: none;
        }

        .timeline__content::before {
            display: none;
        }
}

@media screen and (max-width: 576px) {
        body:before {
            border-width: 300px 300px 0 0;
        }

        .khanij-online {
            display: none;
        }

        .nav-toggle-btn {
            left: 100px;
        }

        .quick-area {
            justify-content: flex-end;
        }

        .switch {
            margin-right: 0rem;
        }
    }
