
@{
    ViewData["Title"] = "OutsideStateMineralView";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    $(document).ready(function () {
        loadNavigation('OutsideStateMineralView', 'gl', 'pl', 'tl', 'Receive Mineral from outside state', 'Receive Mineral from outside state', ' ');
        $('.searchableselect').searchableselect();

        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="OutsideStateMineral">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="OutsideStateMineralView">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>State</th>
                                            <th>District </th>
                                            <th>Lessee/Licensee Name </th>
                                            <th>Lessee/Licensee Address </th>
                                            <th>TP Number</th>
                                            <th>TP Date </th>
                                            <th>Mineral Name</th>
                                            <th> Mineral Form</th>
                                            <th>Mineral Grade</th>
                                            <th>Mineral Quantity</th>
                                            <th>Vehicle Number</th>
                                            <th>District </th>
                                            <th>Licensee/End-User Name and KO Id</th>
                                            <th>Licensee/End User Address </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Chhattisgarh</td>
                                            <td>Baloda Bazar</td>
                                            <td>Sarda Energy & Mineral Limited</td>
                                            <td>Sail Bhilai Steel Plant Bilaspur</td>
                                            <td>TP65456701</td>
                                            <td>22-jan-2022</td>
                                            <td>Coal</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Grade II</td>
                                            <td>4678.00</td>
                                            <td>ODOR3554</td>
                                            <td>Lorem Ipsum Dollar sit</td>
                                            <td>Lorem Ipsum Dollar sit</td>
                                            <td>Lorem Ipsum Dollar sit</td>
                                            <td class="text-center noprint">
                                                <a href="#" class="text-success btn-sm" title="Edit"> <i class="icon-pencil-alt-solid"></i></a>
                                                <a href="#" class="text-danger btn-sm" title="Delete"> <i class="icon-trash-alt-solid"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Cancel TP
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-3 col-form-label">Upload Document </label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-3 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>





















































