
@{
    ViewData["Title"] = "IndexTwo";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('IndexTwo', ' mccl', 'dgmoperator', 'tl', 'Mineral Concension (CL)', 'DGM Operator', ' ');
        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                format: 'LT',
                format: 'DD-MM-YYYY',
                daysOfWeekDisabled: [0, 6],
            });
        });
    });
</script>


<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/MinorMineralCL/DGM/IndexTwoViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center">
                            <h5 class="mb-4">
                                Mineral Concession <small>(31 Minor Mineral)</small>
                                <small class="d-block">
                                    <small class="h6 mb-0">Composite License</small>
                                    <small>(e-Auction , Govt. land)</small>
                                </small>
                            </h5>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Preferred Bidder Name<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Auction No.<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Auction Type<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>e-Auction govt land</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">NIT Date<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Auction Date<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Starting Bid Amount<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Final Bid Amount<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Total Area<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"> Hect</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Bid Unit<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Percentage</option>
                                        <option>Rupee</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Lease Type<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Auction</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Location <small>(address)</small><span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <textarea class="form-control" rows="2"></textarea>
                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                </div>
                            </div>



                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">State<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">District<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Block Name<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>



                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Tehsil<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Village<span class="text-danger">*</span></label>
                                <select class="form-control">
                                    <option>Select</option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Minute with Bid sheet<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file...</label>
                                    </div>
                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Upload No Dues Certificate<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file...</label>
                                    </div>
                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                </div>
                            </div>


                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Submit</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333;font-size:8rem;"></i>
                <h5 class=" mt-3">Preferred Bidder Profile Created Successfully</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" href="../Home/IndexTwoViewList">Ok</a>
            </div>
        </div>
    </div>
</div>



