.bg-danger {
    background-color: $danger !important;
}

.bg-purple {
    background-color: $purple !important;
}

.bg-khaki {
    background-color: $khaki;
}

.border-khaki {
    border-color: rgba($khaki, 1) !important;
}

.bg-brown {
    background-color: $brown !important;
}

.border-brown {
    border-color: $brown !important;
}

.bg-gray {
    background-color: $gray-900 !important;
}

.border-primary-dark {
    border-color: $primary-color-dark !important;
}