
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    @if (TempData["msg"] != null)
    {
        <script>
        alert('@TempData["msg"]');
        </script>
    }
    @if (ViewBag.msg != null)
    {
        <script>
        alert('@ViewBag.msg');
        </script>
    }

    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <h3>User Request For Profile Verification</h3>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="search-box">
                        <div class="searchform px-3 pt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Registration Type<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Industry</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Industry Type<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Clinker Plant</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Registration No<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">EUP20210203001</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">User Type<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">Individual/Proprietor</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Applicant's Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Shantanu Pradhan</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">E-mail ID<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">singh.shantanu4@gmail.com</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Mobile Number<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">8886212434</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Designation</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">NA</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Mineral Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Limestone</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Use Of The Mineral</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Export</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Aadhaar Card Number<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">4234352345432345</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Upload Aadhaar Card<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <a class="col-sm-4" href="" style="pointer-events:initial">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">PAN Card Number<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">AA3423432</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Upload PAN Card<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <a class="col-sm-4" href="" style="pointer-events:initial">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Tin No.</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">TIN00255</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Upload Document for Tin</label>
                                        <div class="col-sm-8">
                                            <a class="col-sm-4" href="" style="pointer-events:initial">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">GST No.</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">DDE434323</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Upload Document for GST</label>
                                        <div class="col-sm-8">
                                            <a class="col-sm-4" href="" style="pointer-events:initial">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">IBM Registration No</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">IB12055478745</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div>


                    </div>
                    <h3>Plant Details:</h3>
                    <div class="search-box">
                        <div class="searchform px-3 pt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Address<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">At-Bhagalpur,Bihar</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">State<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Chhattisgarh</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">District<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">Raipur</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Pincode<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">754211</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <h3>Office Details:</h3>
                    <div class="search-box">
                        <div class="searchform px-3 pt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Address<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">At-NisPatna,Patna</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">State<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">Bihar</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">District<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">Patna</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Pincode<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label">754200</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="search-box">
                        <div class="searchform px-3 pt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-8 col-form-label">For use other than alumina and aluminium metal extraction</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Mineral Grade<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">Chemical</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label font-weight-bolder">Enter Remarks</label>
                                        <div class="col-sm-8">
                                            <label class="col-sm-4 col-form-label ">Ok</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>

                           

                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script>
    indicateMe = "yes"

    $(document).ready(function () {
        loadNavigation('AddUser', 'glRoleRes', 'plUser', 'tl', 'End User', 'User Request', ' ');
    });

    $("#btn_Download").click(function () {
        alert("Record Download Completed.");
    });
    $("#btn_Approve").click(function () {
        alert("Data Approved Successfully");
    });
    $("#btn_Reject").click(function () {
        alert("Data Rejected Successfully");
    });
</script>
