@*// *********************************************************************************************************
    //  View Name                : Payment
    //  Desciption               : Lab Analysis Payment details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 14 April 2022
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('TakeAction', 'gl', 'pl', 'tl', 'Commercial Lab Analysis', 'Make Payment', ' ');

        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Application No.</th>
                                            <th>Applied on</th>
                                            <th>Status</th>
                                            <th width="150" class="text-center">Action</th>
                                            <th>Report</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#coal-lesse-details" class="text-primary">Application001</a>

                                            </td>
                                            <td>04 Jan 2022</td>
                                            <td>
                                                <span class="text-info">1. Request to Pay <strong>Application Fee Rs 500</strong></span>
                                                <br />
                                                <span class="text-success">2. Approved by Joint Director/Chief Analyst on 08-Jan-2019</span>
                                                <br />
                                                <span class="text-warning">3. Pending at Joint Director/Chief Analyst <span class="text-dark font-italic font-weight-bold">since 2 days</span></span>
                                                <br />
                                                <span class="text-danger">4. Objection by <strong>Joint Director/Chief Analyst</strong> on 12-Jan-2022</span>
                                                <br />
                                                <span class="text-danger">5. Rejected by <strong>Joint Director/Chief Analyst</strong> on 12-Jan-2022</span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-dark btn-sm text-capitalize">Pay</a>
                                                <a href="#" class="btn btn-success btn-sm text-capitalize">Forward</a>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#coal-lesse-details" class="text-primary">Application001</a>

                                            </td>
                                            <td>04 Jan 2022</td>
                                            <td>
                                                <span class="text-success">Approved by Joint Director/Chief Analyst on 08-Jan-2019</span>
                                            </td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <a href="LabAnalysisReport"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="coal-lesse-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    View Details
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <div class="col-12"><h5>Applicant Details</h5></div>

                    <label class="col-lg-3 col-12 col-form-label">Applicant Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span> Amitabh Ishwarchandra Mishra</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Organization Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Phone No.</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">E-mail</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">District</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Block</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">State</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">
                        Pin Code
                    </label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            234547
                        </label>
                    </div>


                    <label class="col-lg-3 col-12 col-form-label">Complete postal address</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            CG Natural Resources Private Limited Adani Corporate House Shantigram,
                            S.G Highway Ahmedabad-382421
                        </label>
                    </div>


                    <label class="col-lg-3 col-12 col-form-label">Area in Hectares</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            1200
                        </label>
                    </div>

                    <div class="col-12"><h5>Sample Details</h5></div>

                    <div class="col-lg-12">
                        <div class="table-responsive mt-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sl#</th>
                                        <th>Sample No.</th>
                                        <th>Type of Sample</th>
                                        <th>Sample Description</th>
                                        <th>Desire Radical / Element in Sample</th>
                                        <th>Sample Received Place</th>
                                        <th>If Sample collected from any mines then( Order number and date/ Borehole /Pit /Trench)</th>
                                        <th>R.P / Gram/ Tahshil/ District/ Area</th>
                                        <th>Aim of research work/ Survey/ Mining</th>
                                        <th>Remarks</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>SB41/09</td>
                                        <td>Limestone</td>
                                        <td>Ca0</td>
                                        <td>Sahgoon Limestone mine (43184a) Teh-Dhamdha  Dist-Durga </td>
                                        <td>Sahgoon Limestone mine (43184a) Lessee-SMT-suman singh</td>
                                        <td>2244556/22-Jan-2022</td>
                                        <td>NA Granted Lease</td>
                                        <td>Exploration &amp; Reserve estimation</td>
                                        <td>-</td>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



















































