@*// *********************************************************************************************************
    //  View Name                : TakeAction
    //  Desciption               : Lab Analysis Action details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 14 April 2022
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "TakeAction";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('TakeAction', 'gl', 'pl', 'tl', 'Commercial Lab Analysis', 'New Request', ' ');

        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Application No.</th>
                                            <th>Applied on</th>
                                            <th>Status</th>
                                            <th width="150" class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#coal-lesse-details" class="text-primary">Application001</a>
                                                <small class="d-block">Amitabh Ishwarchandra Mishra</small>
                                            </td>
                                            <td>04 Jan 2022</td>
                                            <td>
                                                <span class="text-info">New Request for <strong>Upload Report in prescribed format with covering letter</strong></span>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-success btn-sm text-capitalize mb-2" data-toggle="modal" data-target="#take-action">Take Action</a>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="coal-lesse-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    View Details | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <div class="col-12"><h5>Applicant Details</h5></div>

                    <label class="col-lg-3 col-12 col-form-label">Applicant Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext"><span class="colon">:</span> Amitabh Ishwarchandra Mishra</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Organization Name</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Phone No.</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">E-mail</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">District</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Block</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">State</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            ...
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">
                        Pin Code
                    </label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            234547
                        </label>
                    </div>


                    <label class="col-lg-3 col-12 col-form-label">Complete postal address</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            CG Natural Resources Private Limited Adani Corporate House Shantigram,
                            S.G Highway Ahmedabad-382421
                        </label>
                    </div>


                    <label class="col-lg-3 col-12 col-form-label">Area in Hectares</label>
                    <div class="col-lg-3 col-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            1200
                        </label>
                    </div>

                    <div class="col-12"><h5>Sample Details</h5></div>

                    <div class="col-lg-12">
                        <div class="table-responsive mt-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sl#</th>
                                        <th>Sample No.</th>
                                        <th>Type of Sample</th>
                                        <th>Sample Description</th>
                                        <th>Desire Radical / Element in Sample</th>
                                        <th>Sample Received Place</th>
                                        <th>If Sample collected from any mines then( Order number and date/ Borehole /Pit /Trench)</th>
                                        <th>R.P / Gram/ Tahshil/ District/ Area</th>
                                        <th>Aim of research work/ Survey/ Mining</th>
                                        <th>Remarks</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>SB41/09</td>
                                        <td>Limestone</td>
                                        <td>Ca0</td>
                                        <td>Sahgoon Limestone mine (43184a) Teh-Dhamdha  Dist-Durga </td>
                                        <td>Sahgoon Limestone mine (43184a) Lessee-SMT-suman singh</td>
                                        <td>2244556/22-Jan-2022</td>
                                        <td>NA Granted Lease</td>
                                        <td>Exploration &amp; Reserve estimation</td>
                                        <td>-</td>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">
                    <label class="col-lg-4 col-12 col-form-label">Name of the applicant</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">Amitabh Ishwarchandra Mishra</label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">District</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            ....
                        </label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">State</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            ....
                        </label>
                    </div>

                    <label class="col-lg-4 col-12 col-form-label">Address</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            ....
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Covering letter <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="bg-light p-3 mb-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Sample No.</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Desire Radical /Element in Sample</label>
                        <div class="col-lg-5">
                            <select class="form-control">
                                <option>Select</option>
                                <option>Sio2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-4 col-form-label">Sample Percentage</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"></label>
                        <div class="col-lg-5">
                            <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                        </div>
                    </div>
                </div>



                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Sample No.</th>
                                <th>Desire Radical /Element in Sample</th>
                                <th>Sample Percentage</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SBH/01/01</td>
                                <td>Sio<sub>2</sub></td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>SBH/01/02</td>
                                <td>AI<sub>2</sub>O3%</td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>SBH/01/03</td>
                                <td>Fe<sub>2</sub>O3%</td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>SBH/01/04</td>
                                <td>CaO%</td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>SBH/01/05</td>
                                <td>MgO%</td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>SBH/01/06</td>
                                <td>LOI%</td>
                                <td>7.70%</td>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Approve</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>

























