<div class="page-sidebar-wrapper" id="main-menu-wrapper">

   
    <ul class="wraplist" id="menu">
    </ul>

</div>
<script>/* $(document).ready(function () {*/
    $.ajax({
        url: '/Home/getmenu',

        dataType: 'json',
        type: 'post',
        success: function (data) {
            console.log(data);
            var s = "";

            $("#menu").append(data);

        },
        error: function (err) {
        }
    });
   /* });*/</script>