<div class="page-sidebar-wrapper" id="main-menu-wrapper">

   
    <ul class="wraplist">
        <li class="gldashboard">
            <a href="../Dashboard/Dashboard.aspx">
                <i class="fas fa-tachometer-alt"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="glRoleRes">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Roles & Responsibity</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="plUser" href="../RolesResponsibity/ViewUser.aspx">
                        User
                    </a>
                </li>
                <li>
                    <a class="plAPermission" href="../RolesResponsibity/ViewAccessPermission.aspx">
                        Access Permission
                    </a>
                </li>

            </ul>
        </li>

        <li class="glTMng">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Masters</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);">
                        Designation
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Mineral Grade
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Department
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Payment Head
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Payment Type
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);">
                        WhatsApp Notifications
                    </a>
                </li>
            </ul>
        </li>
        <li class="glTMng">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Helpdesk</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="/Helpdesk/RaiseTicket/Add">
                        Raise Ticket
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/RaiseTicket/Nxtview">
                        Reported Ticket List
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/Report/ModulewiseTicketReport">
                        Modulewise Ticket Report
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/Report/IssueLogsummary">
                        Ageing Analysis Report
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/Report/DistrictWiseTicketReport">
                        Location Wise Report
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/Report/IssueReport">
                        Status Wise Report
                    </a>
                </li>
                <li>
                    <a href="/Helpdesk/Report/Summary">
                        Summary Report
                    </a>
                </li>
            </ul>
        </li>
        <li class="glUIS">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">User Information System</span>
                <span class="arrow "></span>
            </a>

            <ul class="sub-menu">
                <li>
                    <a href="/KhanijTest/Lessee/Profile/Dashboard">
                        <span>Lessee Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Licensee/Profile/Index">
                        <span>Licensee Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Lessee/Profile/CreateSubUser">
                        <span>Sub User</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Lessee/Profile/SubUserRights">
                        <span>Sub User Rights</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/TailingDam/Profile/Profile">
                        <span>Tailing Dam User Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/TailingDam/Registration/TailingDamApproval">
                        <span>Tailing Dam Approval</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</div>
@*<div class="page-sidebar-wrapper" id="main-menu-wrapper">


    <ul class="wraplist" id="menu">
</ul></div>
<script>
   
        $.ajax({
            url: '/Home/getmenu',

            dataType: 'json',
            type: 'post',
            success: function (data) {
                console.log(data);
                var s = "";
                $.each(data, function (ind, item) {

                    s += "<li class='";
                    s += item.menuId
                    s += "'>";
                    s += "<a href = 'javascript:void(0);'>";
                    s += "<i class='fa fa-columns'></i ><span class='title'>";
                    s += item.menuName + "</span><span class='arrow' ></span ></a >";
                    s += "<ul class='sub-menu' >";
                    $.each(item.childMenuList, function (ind, items) {
                        s += "<li>";
                        s += "<a class='plUser' href='http://" + items.url + ".ko2home.in/" + items.area + "/" + items.controller + "/" + items.actionName + "'>";
                        s += items.menuName;
                        s += "</a>";
                        s += "</li>";
                    });
                    s += "</ul >";
                    s += "</li > ";
                });
                $("#menu").append(s);

            },
            error: function (err) {
            }
        });
    


</script>*@