
@{
    ViewData["Title"] = "BAnnextureDownload";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<script>
    $(document).ready(function () {
        loadNavigation('BAnnextureDownload', 'cgd', 'cgd', 'tl', 'Coal Grade Declaration', 'Annual Grade Declaration', ' ');
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">

                        <div style="width: 816px; margin: 0 auto;">

                            <h5 style="text-align: center;">Annexture B</h5>

                           @* <h6 style="text-align: center;">
                                Data required for grade/ quality proposals for annual / 
                                interimlvrevised gradation / quality of coal seams of mines / siding / CHP / CSP
                            </h6>*@

                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" >Name of the Mine Owner / Company</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Sarda Energy & Mineral Limited</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Name of the Colliery / Siding / CHP</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Gare Palma</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">3</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Name of seam</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">IX , VIII ,VII</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">4</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Thickness of seam</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 4.20 to 5.40 m <br />
                                        Seam VIII - 2.23 to 6.38 m <br />
                                        Seam VII - 1.34 to 6.86 m
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">5</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Height of working section</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 4.20 to 5.40 m <br />
                                        Seam VIII - 2.23 to 6.38 m <br />
                                        Seam VII - 1.34 to 6.86 m
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">6</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Vertical section of seam showing all bands indicating nature and thickness <br />
                                        (Working section should be indicated by Arrow). <br>
                                        This section should be given for each mine in a standard paper of 29 cm  * 23 cm size)
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <a class="text-primary">Attached as Annexture - I</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="11">7</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="2">Analysis of seam samples (Equilibrated basis)</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Ash%</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 4.60 & 40.21 <br />
                                        Seam VIII - 49.38 & 46.39 <br />
                                        Seam VI - 60.25 & 60.75
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Moist% </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 5.99 & 6.14 <br />
                                        Seam VIII - 5.01 & 5.70 <br />
                                        Seam VI - 5.37 & 5.06
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">VM%</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 25.15 & 25.12 <br />
                                        Seam VIII - 22.10 & 22.82 <br />
                                        Seam VI - 18.78 & 19.00
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="2">GCV by Bomb Calorimeter in K.Cal/kg on air dry basis, i.e samples equilibrated at 40 degrees C and 60% Relative Humidity</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="2">1. Inculding all bands</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Site No. 1</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 3723 <br />
                                        Seam VIII - 3188 <br />
                                        Seam VI - 2215
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Site No. 2</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Seam IX - 3728 <br />
                                        Seam VIII - 3366 <br />
                                        Seam VI - 2090
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="2">2. Excluding pickable bands (of 10cm & above)</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Site No. 1</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="2">Not Applicable </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Site No. 2</td>
                                </tr>
                            </table>


                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="3" ">8</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="9">
                                        Additional analysis result for cooking properties <br />
                                        (from Govt. Institution / NABL Accredited laboratory preferably CIMFR, IITs, IIEST, NML-Jamshedpur, IICT- Hyderabad IMMT - Bhubaneshwar etc.
                                    </td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Sample Details</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mean Random Reflectance percent (RO) </th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">LTGK</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">CSN</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">GCV(done by Bomb Calorimeter in kcal / kg on dmf basis)</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">VM % on dmf basis</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Carbon % (dmf)</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Hydrogen % (dmf)</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Moisture % (60% R.H) parts/100 parts unit coal</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="9">Not Applicable</td>
                                </tr>
                            </table>

                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="3" ">9</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="8">
                                        Analysis results of Wagon samples/ Truck sample / Belt Conveyor sample / Ropeway sample / Third party /Joint sample (on equillibrated conditions basis)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Date</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Consignee/ Destination </th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Wagon No./ Truck No./ Belt No.</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Ash %</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Moist %</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">VM %</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">GCV Kcal/Kg</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Grade / Quality</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="8">Not Applicable</td>
                                </tr>

                            </table>


                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="3" ">10</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="8">
                                        Analysis Results of Joint Samples
                                    </td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Consignee</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Sample No.</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Sample Date</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Ash %</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Moist %</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">VM % on dmf basis</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">GCV Kcal/Kg</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Grade / Quality</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="8">Not Applicable</td>
                                </tr>
                            </table>


                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" rowspan="3">11</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="3">
                                        Composite grade of CHP/CSP/Siding with mention of proportions of seams
                                        and grade wise despatches in tonnes certifying the maintenance of proportion of mixing of coal from feeder streams of collieries and distances
                                        from colliery end to the dispatch points by the nominated owner, Agent or Manager of the coal company
                                    </td>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Mine</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Seam</th>
                                    <th style="border: 1px solid #ddd; padding: 10px;">Grade / Quality Proposed for each such qty loaded through CHP/CSP/Siding</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" colspan="3">Not Applicable</td>
                                </tr>

                            </table>


                            <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;" ">12</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;" >
                                        Weather steam , slack are suitably graded(the arrangement for segregation should be mentioned along with likely % of
                                        steam and slack in each grade/Quality included & be declared)
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Not Applicable</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">13</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        In ROM coal , where average are 60% steam , 40% slack, specify the arrangement for limiting the top size of coal to 200-250 mm
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Not Applicable</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">14</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Distance between Railway siding to Pit- Head where surface transportation charges are
                                        levied and the name of the siding from where the coal will be dispatched by rail/trucks
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">Not Applicable</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">15</td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        Grade Proposed for the year
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        ROM <br />
                                        Seam IX - G12 <br />
                                        Seam VIII - G14 <br />
                                        Seam IX - G17
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>





