
@{
    ViewData["Title"] = "DAnnextureDownload";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<script>
    $(document).ready(function () {
        loadNavigation('DAnnextureDownload', 'cgd', 'cgd', 'tl', 'Coal Grade Declaration', 'Annual Grade Declaration', ' ');
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div style="width: 816px; margin: 0 auto;">

                            <h5 style="text-align: center;">Annexture D</h5>

                            @* <h6 style="text-align: center;">
            Data required for grade/ quality proposals for annual /
            interimlvrevised gradation / quality of coal seams of mines / siding / CHP / CSP
        </h6>*@
                            <div>
                                <h6>Seam IX</h6>
                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse;width:100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Sample No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ACLS-II(Dip) and ACLS -II(Raise)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Date of sampling</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">01 Jan 2022</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of colliery</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Gare Pelma IV/8 coal Mine</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of owner/company</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> M/S Ambuja cemout hel </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Pit/Incline/Quarry</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Indine  </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Place of sampling </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Undergroud Mine site (U/G)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Wagon / Trucks No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">OD-JH-2643</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Consignee & Destination</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">--- </td>
                                    </tr>

                                </table>


                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="border: 1px solid #ddd; padding: 10px;">Sl#</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Inculding all bands</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Excluding pickable bands of 10cm &amp; above</th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5423</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">4326</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">64376</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3534</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Provisional / approved declared grade</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">G-10 (as approved by Nominated owner of the company)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Size fraction</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ROM</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Method of loading</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mechanical</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Method of drawl of samples
                                            (revised procedure laid down by coal controll / BIS)
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">As per of DGM , C.G</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Name & Designation
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mr. B.N. Singh(Mines Manager)</td>
                                    </tr>
                                </table>
                            </div>

                            <div>
                                <h6 style="margin-top: 30px;">Seam VIII</h6>
                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse;width:100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Sample No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ACLS-II(Dip) and ACLS -II(Raise)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Date of sampling</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">01 Jan 2022</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of colliery</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Gare Pelma IV/8 coal Mine</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of owner/company</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> M/S Ambuja cemout hel </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Pit/Incline/Quarry</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Indine  </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Place of sampling </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Undergroud Mine site (U/G)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Wagon / Trucks No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">OD-JH-2643</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Consignee & Destination</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">--- </td>
                                    </tr>

                                </table>


                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="border: 1px solid #ddd; padding: 10px;">Sl#</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Inculding all bands</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Excluding pickable bands of 10cm &amp; above</th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5423</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">4326</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">64376</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3534</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Provisional / approved declared grade</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">G-10 (as approved by Nominated owner of the company)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Size fraction</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ROM</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Method of loading</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mechanical</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Method of drawl of samples
                                            (revised procedure laid down by coal controll / BIS)
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">As per of DGM , C.G</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Name & Designation
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mr. B.N. Singh(Mines Manager)</td>
                                    </tr>
                                </table>
                            </div>

                            <div>
                                <h6 style="margin-top: 30px;"> Seam VII</h6>
                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse;width:100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Sample No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ACLS-II(Dip) and ACLS -II(Raise)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Date of sampling</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">01 Jan 2022</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of colliery</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Gare Pelma IV/8 coal Mine</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Name of owner/company</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> M/S Ambuja cemout hel </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Pit/Incline/Quarry</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Indine  </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> Place of sampling </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Undergroud Mine site (U/G)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Wagon / Trucks No.</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">OD-JH-2643</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Consignee & Destination</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">--- </td>
                                    </tr>

                                </table>


                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="border: 1px solid #ddd; padding: 10px;">Sl#</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Inculding all bands</th>
                                            <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Excluding pickable bands of 10cm &amp; above</th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 1</th>
                                            <th style="border: 1px solid #ddd; padding: 10px;">Site No. 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">1</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">2</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5423</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">4326</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">64376</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3534</td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">3723 </td>
                                            <td style="border: 1px solid #ddd; padding: 10px;">5723</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="border-left: 1px solid #dddd; border-right: 1px solid #dddd; border-top: 1px solid #dddd; border-collapse: collapse; width: 100%; ">
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Provisional / approved declared grade</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">G-10 (as approved by Nominated owner of the company)</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Size fraction</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">ROM</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Method of loading</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mechanical</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Method of drawl of samples
                                            (revised procedure laid down by coal controll / BIS)
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">As per of DGM , C.G</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            Name & Designation
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">Mr. B.N. Singh(Mines Manager)</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>







