body {
    padding: 15px;
}

.form-group {
    margin-bottom: 0rem;
}

.text-orange {
    color: #fd7e14 !important;
}

.noprint {
    display: none;
}

img {
    max-width: 100%;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    display: none;
}

