@{
    ViewData["Title"] = "Configuration";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('Configuration', 'glhelpdesk', 'plraiseticket', 'tl', 'Configuration', 'Add User Specific Tansit Pass', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">


        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Configuration/Home/ViewList">
                                View
                            </a>
                        </li>
                    </ul>

                </div>

                <section class="box form-container">

                    <h5 class="text-brown font-weight-bold mt-0">User Specific Tansit Pass Configuration</h5>

                    @using (Html.BeginForm("Configuration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">District <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Balod">Balod</option>
                                    <option value="Bilaspur">Bilaspur</option>
                                    <option value="Durg">Durg</option>
                                    <option value="Dhamtari">Dhamtari</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Lessee">Lessee</option>
                                    <option value="Licensee">Licensee</option>
                                    <option value="Enduser">Enduser</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Name <span class="text-danger">*</span></label>
                                <select name="username" id="username" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="1">Ambuja Cement Limited</option>
                                    <option value="2">A.K. Verma</option>
                                    <option value="3">Deepak Kumar Gupta</option>
                                    <option value="4">JK Lakshmi Cement Ltd</option>
                                </select>
                            </div>
                            @*<div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">Mineral Type <span class="text-danger">*</span></label>
                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                        <option value="Select">Select</option>
                                        <option value="Major">Major</option>
                                        <option value="Major">Minor</option>

                                    </select>
                                </div>*@
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mineral Name <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Iron">Iron Ore</option>
                                    <option value="Bauxsite">Bauxsite</option>
                                    <option value="Lime Stone">Lime Stone</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">User Name <span class="text-danger">*</span></label>
                                    <select name="username" id="username" class="form-control searchableselect">
                                        <option value="Select">Select</option>
                                        <option value="1">Ambuja Cement Limited</option>
                                        <option value="2">A.K. Verma</option>
                                        <option value="3">Deepak Kumar Gupta</option>
                                        <option value="4">JK Lakshmi Cement Ltd</option>
                                    </select>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">Mineral Name <span class="text-danger">*</span></label>
                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                        <option value="Select">Select</option>
                                        <option value="Iron">Iron</option>
                                        <option value="Bauxsite">Bauxsite</option>
                                        <option value="Lime Stone">Lime Stone</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Transporataion Mode<span class="text-danger">*</span></label><br />
                                <input type="checkbox" id="chkbyroad" value="By Road" />
                                <label for="chkbyroad"> By Road</label>
                                <input type="checkbox" id="chkbyrail" value="By Rail" />
                                <label for="chkbyrail">By Rail</label>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Weighing Machine Integration Required<span class="text-danger">*</span></label><br />
                                <input type="radio" id="radioyes" name="radioyesno" value="Yes" checked />
                                <label for="radioradioyes">Yes</label>
                                <input type="radio" id="radioNo" name="radioyesno" value="No" />
                                <label for="radioNo">No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Stamping validity of weighing machine Required<span class="text-danger">*</span></label><br />
                                <input type="radio" id="radioyes" name="radioyesno" value="Yes" checked />
                                <label for="radioradioyes">Yes</label>
                                <input type="radio" id="radioNo" name="radioyesno" value="No" />
                                <label for="radioNo">No</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">eTP Generation Mode<span class="text-danger">*</span></label><br />
                                <input type="radio" id="radiopaper" name="paperqr" value="paper" checked />
                                <label for="radiopaper">Paper</label>
                                <input type="radio" id="radioqr" name="paperqr" value="QR" />
                                <label for="radioqr">QR</label>
                                <input type="radio" id="radioboth" name="paperqr" value="both" />
                                <label for="radioboth">Both</label>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 text-center">

                                <input type="submit" id="Submit" value="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light btnsave">
                                <input type="submit" value="Cancel" class="btn btn-danger btn-md ml-0 waves-effect waves-light btnsave" id="Delete" name="delete" />

                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>