@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('Payment', 'glhelpdesk', 'plraiseticket', 'tl', 'Configuration', 'Add Payment', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">


        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Configuration/Home/PyamentView">
                                View
                            </a>
                        </li>
                    </ul>

                </div>

                <section class="box form-container">

                    <h5 class="text-brown font-weight-bold mt-0"> Payment Configuration</h5>
                    @using (Html.BeginForm("Configuration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">District <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Balod">Balod</option>
                                    <option value="Bilaspur">Bilaspur</option>
                                    <option value="Durg">Durg</option>
                                    <option value="Dhamtari">Dhamtari</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Lessee">Lessee</option>
                                    <option value="Licensee">Licensee</option>
                                    <option value="Enduser">Enduser</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Name <span class="text-danger">*</span></label>
                                <select name="username" id="username" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="1">Ambuja Cement Limited</option>
                                    <option value="2">A.K. Verma</option>
                                    <option value="3">Deepak Kumar Gupta</option>
                                    <option value="4">JK Lakshmi Cement Ltd</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mineral Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Major">Major</option>
                                    <option value="Major">Minor</option>

                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mineral Name <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Iron">Iron Ore</option>
                                    <option value="Bauxsite">Bauxsite</option>
                                    <option value="Lime Stone">Lime Stone</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mineral Form <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="1">CLO</option>
                                    <option value="2">Concentrates</option>
                                    <option value="3">Fines</option>
                                    <option value="4">Lumps</option>
                                    <option value="5">ROM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mineral Grade<span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">58% to below 60% </option>
                                    <option value="2">60% to below 62% </option>
                                    <option value="3">62% to below 65%</option>
                                    <option value="3">65% and above</option>
                                    <option value="3">Below 55% </option>
                                </select>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Mines Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Auction</option>
                                    <option value="2">WithoutAuction</option>

                                </select>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Captive Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Captive</option>
                                    <option value="2">Non Captive</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Company Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Govt</option>
                                    <option value="2">Private</option>
                                </select>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Lease Extended <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Fifth Schedule <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Sixth Schedule <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="0">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Payment Type</th>
                                                <th>Payment Head</th>
                                                <th>Calculation Type</th>
                                                <th>Adjustable</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="active-row">
                                                <td>
                                                    <input type="checkbox" id="Chktcs" name="Chktcs" value="TCS" />
                                                    <label for="Chktcs">TCS</label>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Royalty(Major Mineral)</option>
                                                        <option value="2">Royalty(Minor Mineral)</option>
                                                        <option value="3">Development Cess</option>
                                                        <option value="4">NMET</option>
                                                        <option value="5">DMF</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">%</option>
                                                        <option value="2">Rs/Unit</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr class="active-row">
                                                <td>
                                                    <input type="checkbox" id="Chktcs" name="Chktcs" value="TCS" />
                                                    <label for="Chktcs">Environmental Cess</label>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Royalty(Major Mineral)</option>
                                                        <option value="2">Royalty(Minor Mineral)</option>
                                                        <option value="3">Development Cess</option>
                                                        <option value="4">NMET</option>
                                                        <option value="5">DMF</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">%</option>
                                                        <option value="2">Rs/Unit</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr class="active-row">
                                                <td>
                                                    <input type="checkbox" id="Chktcs" name="Chktcs" value="TCS" />
                                                    <label for="Chktcs">NMET</label>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Royalty(Major Mineral)</option>
                                                        <option value="2">Royalty(Minor Mineral)</option>
                                                        <option value="3">Development Cess</option>
                                                        <option value="4">NMET</option>
                                                        <option value="5">DMF</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">%</option>
                                                        <option value="2">Rs/Unit</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                                        <option value="0">Select</option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>

                                                    </select>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 text-center">

                                <input type="submit" id="Submit" value="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light btnsave">
                                <input type="submit" value="Cancel" class="btn btn-danger btn-md ml-0 waves-effect waves-light btnsave" id="Delete" name="delete" />

                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>