@{
    ViewData["Title"] = "StatusUpdate";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('StatusUpdate', 'glhelpdesk', 'plraiseticket', 'tl', 'Configuration', 'Add Status Update', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">


        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Configuration/Home/StatusView">
                                View
                            </a>
                        </li>
                    </ul>

                </div>

                <section class="box form-container">

                    <h5 class="text-brown font-weight-bold mt-0"> User Status Updation</h5>
                    @using (Html.BeginForm("StatusUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">District <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Balod">Balod</option>
                                    <option value="Bilaspur">Bilaspur</option>
                                    <option value="Durg">Durg</option>
                                    <option value="Dhamtari">Dhamtari</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Type <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="Lessee">Lessee</option>
                                    <option value="Licensee">Licensee</option>
                                    <option value="Enduser">Enduser</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">User Name <span class="text-danger">*</span></label>
                                <select name="username" id="username" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="1">Ambuja Cement Limited</option>
                                    <option value="2">A.K. Verma</option>
                                    <option value="3">Deepak Kumar Gupta</option>
                                    <option value="4">JK Lakshmi Cement Ltd</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Status <span class="text-danger">*</span></label>
                                <select name="TPTypes" id="TPTypes" class="form-control searchableselect">
                                    <option value="Select">Select</option>
                                    <option value="1">Working</option>
                                    <option value="2">Non-Working</option>
                                    <option value="3">Suspended</option>
                                    <option value="4">Lapsed</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-sm-12 text-center">

                                <input type="submit" id="Update" value="Update" class="btn btn-success btn-md ml-0 waves-effect waves-light btnsave">
                                <input type="submit" value="Cancel" class="btn btn-danger btn-md ml-0 waves-effect waves-light btnsave" id="Delete" name="delete" />

                            </div>
                        </div>

                    }
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>