<div class="page-sidebar-wrapper" id="main-menu-wrapper">

   
    <ul class="wraplist">
        <li class="gldashboard">
            <a href="../Dashboard/Dashboard.aspx">
                <i class="fas fa-tachometer-alt"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="glRoleRes">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Roles & Responsibity</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="plUser" href="../RolesResponsibity/ViewUser.aspx">
                        User
                    </a>
                </li>
                <li>
                    <a class="plAPermission" href="../RolesResponsibity/ViewAccessPermission.aspx">
                        Access Permission
                    </a>
                </li>

            </ul>
        </li>

        <li class="glTMng">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Masters</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);">
                        Designation
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Mineral Grade
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Department
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Payment Head
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Payment Type
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);">
                        WhatsApp Notifications
                    </a>
                </li>
            </ul>
        </li>

        <li class="glUIS">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">User Information System</span>
                <span class="arrow "></span>
            </a>

            <ul class="sub-menu">
                <li>
                    <a href="/KhanijTest/Lessee/Profile/Dashboard">
                        <span>Lessee Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Licensee/Profile/Index">
                        <span>Licensee Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Lessee/Profile/CreateSubUser">
                        <span>Sub User</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/Lessee/Profile/SubUserRights">
                        <span>Sub User Rights</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/TailingDam/Profile/Profile">
                        <span>Tailing Dam User Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/KhanijTest/TailingDam/Registration/TailingDamApproval">
                        <span>Tailing Dam Approval</span>
                    </a>
                </li>
            </ul>
        </li>
        
    </ul>

</div>
