@{
    ViewData["Title"] = "ModuleMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('Index', 'wfe', 'wfeone', 'tl', 'WorkFlowEnginee', 'Module Master', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<style>
    .btn-add {
        margin-top: 39px;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 2px;
    }

    .wizard .nav-tabs > li {
        width: 33%;
    }

    @@media screen and (max-width: 768px) {
        .btn-add {
            margin-top: 0px;
        }
    }

    @@media screen and (max-width: 1366px) 
    {
        .step-container .tab-content .tab-pane .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                               Work Flow Enginee
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <section class="step-container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <div class="wizard">
                                        <div class="wizard-inner">
                                            <ul class="nav nav-tabs" role="tablist">
                                               @* <li role="presentation" class="active">
                                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true">
                                                        <span class="round-tab">1</span>
                                                    </a>
                                                </li>*@
                                                <li role="presentation" class="active">
                                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false">
                                                        <span class="round-tab">1</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                                        <span class="round-tab">2</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">
                                                        <span class="round-tab">3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                   @*<div class="tab-pane active" role="tabpanel" id="step1">
                                        <h5 class="text-center mb-3">Module Master</h5>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Enter Module Name</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"> 
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>*@
                                    <div class="tab-pane active" role="tabpanel" id="step2">
                                        <h5 class="text-center mb-3"> Sub Module Master</h5>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Select Module Name</label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">CMS</option>
                                                        <option value="">Master</option>
                                                        <option value="">Configuration</option>
                                                        <option value="">User Information</option>
                                                        <option value="">Registration</option>
                                                        <option value="">Permit</option>
                                                        <option value="">E-pass</option>
                                                        <option value="">Return</option>
                                                        <option value="">Star Rating</option>
                                                        <option value="">Grievance</option>
                                                        <option value="">Notice & Inspection</option>
                                                        <option value="">Helpdesk</option>
                                                        <option value="">Mineral Concession</option>
                                                        <option value="">Change Request</option>
                                                        <option value="">Establishment</option>
                                                        <option value="">Manage Work Flow</option>
                                                        <option value="">EC Caping</option>
                                                        <option value="">Geology</option>
                                                        <option value="">Inspection</option>
                                                        <option value="">Demand / Credit Note</option>
                                                        <option value="">Vehice Tracking System</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Enter Sub-Module Name<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                           

                                            

                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h5 class="text-center mb-3">Process / Activities Master</h5>

                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Select Module Name</label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">CMS</option>
                                                        <option value="">Master</option>
                                                        <option value="">Configuration</option>
                                                        <option value="">User Information</option>
                                                        <option value="">Registration</option>
                                                        <option value="">Permit</option>
                                                        <option value="">E-pass</option>
                                                        <option value="">Return</option>
                                                        <option value="">Star Rating</option>
                                                        <option value="">Grievance</option>
                                                        <option value="">Notice & Inspection</option>
                                                        <option value="">Helpdesk</option>
                                                        <option value="">Mineral Concession</option>
                                                        <option value="">Change Request</option>
                                                        <option value="">Establishment</option>
                                                        <option value="">Manage Work Flow</option>
                                                        <option value="">EC Caping</option>
                                                        <option value="">Geology</option>
                                                        <option value="">Inspection</option>
                                                        <option value="">Demand / Credit Note</option>
                                                        <option value="">Vehice Tracking System</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Sub-Module Name<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Major Mineral Non-Coal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Enter Process/ Activities<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Activity ID<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="1" readonly>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Linked with work Flow<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="Radi1" id="ra1" checked>
                                                        <label class="form-check-label" for="ra1">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="Radi1" id="ra2">
                                                        <label class="form-check-label" for="ra2">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Action<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Forward</option>
                                                        <option value="">Objection</option>
                                                        <option value="">Reject</option>
                                                        <option value="">Approve</option>
                                                        <option value="">Clarification</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Choose Specific<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option3" name="Radi2" id="ra3" checked>
                                                        <label class="form-check-label" for="ra3">
                                                            User Specific
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option4" name="Radi2" id="ra4">
                                                        <label class="form-check-label" for="ra4">
                                                            Office  Specific
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    If No, Status ID<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="1" readonly>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Required Notification<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option3" name="Radi3" id="ra5" checked>
                                                        <label class="form-check-label" for="ra5">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option4" name="Radi3" id="ra6">
                                                        <label class="form-check-label" for="ra6">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    If Yes<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Email</option>
                                                        <option value="">SMS</option>
                                                        <option value="">Other(Email & SMS)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Step<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="1" readonly>
                                                </div>
                                            </div>




                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step">Save and Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <h5 class="text-center mb-3">Work Flow Configuration </h5>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Select Module Name</label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">CMS</option>
                                                        <option value="">Master</option>
                                                        <option value="">Configuration</option>
                                                        <option value="">User Information</option>
                                                        <option value="">Registration</option>
                                                        <option value="">Permit</option>
                                                        <option value="">E-pass</option>
                                                        <option value="">Return</option>
                                                        <option value="">Star Rating</option>
                                                        <option value="">Grievance</option>
                                                        <option value="">Notice & Inspection</option>
                                                        <option value="">Helpdesk</option>
                                                        <option value="">Mineral Concession</option>
                                                        <option value="">Change Request</option>
                                                        <option value="">Establishment</option>
                                                        <option value="">Manage Work Flow</option>
                                                        <option value="">EC Caping</option>
                                                        <option value="">Geology</option>
                                                        <option value="">Inspection</option>
                                                        <option value="">Demand / Credit Note</option>
                                                        <option value="">Vehice Tracking System</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Sub-Module Name<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Major Mineral Non-Coal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Process/ Activities<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Issue QL- LOI-1</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Step<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="1" readonly>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Action Taking Authority Type<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="Radi11" id="ra11" checked>
                                                        <label class="form-check-label" for="ra11">
                                                            Single
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="Radi11" id="ra22">
                                                        <label class="form-check-label" for="ra22">
                                                            Multiple
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h6 class="pb-0">Single Action Authority (Primary)</h6>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Office Level<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Designation<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select User<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <h6 class="pb-0">Single Action Authority (Secondary)</h6>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Office Level<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select Designation<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">
                                                    Select User<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                <h6 class="pb-0">Multiple Action Authority</h6>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    No. of Action Authority<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-8 col-md-6">

                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Office Level<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Select Designation<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Select User<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <button type="button" class="btn btn-outline-success " style="margin-top: 37px;">
                                                    <i class="icon-plus-solid"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-danger ml-3" style="margin-top: 37px;"><i class="icon-times-solid"></i></button>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Excelation in Day<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="optiona" name="Radi15" id="ra15" checked>
                                                        <label class="form-check-label" for="ra15">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="optionb" name="Rad15" id="ra15">
                                                        <label class="form-check-label" for="ra15">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    If Yes, Select Day<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                        <option value="">4</option>
                                                        <option value="">5</option>
                                                        <option value="">6</option>
                                                        <option value="">7</option>
                                                        <option value="">8</option>
                                                        <option value="">9</option>
                                                        <option value="">10</option>
                                                        <option value="">11</option>
                                                        <option value="">12</option>
                                                        <option value="">13</option>
                                                        <option value="">14</option>
                                                        <option value="">15</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Required Notification<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option3" name="Radi3" id="ra5" checked>
                                                        <label class="form-check-label" for="ra5">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option4" name="Radi3" id="ra6">
                                                        <label class="form-check-label" for="ra6">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    If Yes<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="">Email</option>
                                                        <option value="">SMS</option>
                                                        <option value="">Other(Email & SMS)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Status<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option3" name="Radi33" id="ra55" checked>
                                                        <label class="form-check-label" for="ra55">
                                                            Active
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option4" name="Radi33" id="ra66">
                                                        <label class="form-check-label" for="ra66">
                                                           In-Active
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Progress in respect of</th>
                            <th>Target</th>
                            <th>Work done up to the last month</th>
                            <th>Work done during the month</th>
                            <th>Total work done at the end of current month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>A. Reco. Geological Survey</th>
                        </tr>
                        <tr>
                            <td>
                                Scale - 1:50,000
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th> B. Reco. Geological Survey</th>
                        </tr>
                        <tr>
                            <td>
                                Scale - 1:4,000
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th> C. Pitting</th>
                        </tr>
                        <tr>
                            <td>
                                Nos.
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Volume (cu. m.)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <th> D. Trenching</th>
                        </tr>
                        <tr>
                            <td>
                                Nos.
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Volume (cu. m)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <th>  E. Drilling</th>
                        </tr>
                        <tr>
                            <td>
                                B.H. Completed

                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Meterage
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                B.H. Under Progress

                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Meterage
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                F. Geochemical sampling
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                G. Geophysical Survey
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th> H. Photogeological Survey</th>
                        </tr>
                        <tr>
                            <td>
                                Pre field interpretation (Km2 on scale)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Post field interpretation (Km2 on scale)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Field Check (Km2 on scale)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th> I. Sampling (Survey/ core sample)</th>
                        </tr>
                        <tr>
                            <td>
                                Field Check (Km2 on scale)
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@


                                        </div>
                                        
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-outline-dark prev-step">Back</button></li>
                                            <li><button type="button" class="btn btn-success next-step finish" data-toggle="modal" data-target="#exampleModal">Finish</button></li>
                                        </ul>
                                    </div>                                   
                                    
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333;font-size:8rem;"></i>
                <h5 class=" mt-3">Successfully Submitted <br> Application for QL in Form-9</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" href="../Home/ViewList">Ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    // ------------step-wizard js-------------
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var $target = $(e.target);

            if (!$target.parent().hasClass('active, disabled')) {
                $target.parent().prev().addClass('completed');
            }
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        });

        $(".prev-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            prevTab(active);

        });

    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    })
</script>

