
@{
    ViewData["Title"] = "IndexTwoViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    pdfMe = "yes";
    excelMe = "yes";
    printMe = "yes";
    $(document).ready(function () {
        loadNavigation('IndexTwoViewList', 'mccl', 'dgmoperator', 'tl', 'Mineral Concension (CL)', 'DGM Operator', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="IndexTwo">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px" class="text-center">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox1">
                                                        <label class="custom-control-label" for="checkbox1"></label>
                                                    </div>
                                                </th>
                                                <th width="20px">Sl#</th>
                                                <th>Preferred Bidder Name</th>
                                                <th>Auction No.</th>
                                                <th>Auction Date</th>
                                                <th>Mineral Name</th>
                                                <th>Applied On</th>
                                                <th width="100" class="text-center noprint">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                        <label class="custom-control-label" for="checkbox2"></label>
                                                    </div>
                                                </td>
                                                <td>1</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Anil Kumar Sahoo</a></td>
                                                <td>1056785401</td>
                                                <td>28 Nov 2021</td>
                                                <td>Graphite</td>
                                                <td>30 Nov 2021</td>
                                                <td class="text-center noprint">
                                                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#security-msg">Forward</button>
                                                    <a href="IndexTwo" class="text-success btn-sm"> <i class="icon-pencil-alt-solid"></i></a>
                                                    <a href="#" class="text-danger btn-sm"> <i class="icon-trash-alt-solid"></i></a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox3">
                                                        <label class="custom-control-label" for="checkbox3"></label>
                                                    </div>
                                                </td>
                                                <td>2</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Pratik Jeena</a></td>
                                                <td>1056785402</td>
                                                <td>25 Nov 2021</td>
                                                <td>Agate</td>
                                                <td>01 Nov 2021</td>
                                                <td class="text-center noprint">
                                                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#security-msg">Forward</button>
                                                    <a href="IndexTwo" class="text-success btn-sm"> <i class="icon-pencil-alt-solid"></i></a>
                                                    <a href="#" class="text-danger btn-sm"> <i class="icon-trash-alt-solid"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox4">
                                                        <label class="custom-control-label" for="checkbox4"></label>
                                                    </div>
                                                </td>
                                                <td>3</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Anil Kumar Sahoo</a></td>
                                                <td>1056785403</td>
                                                <td>19 Nov 2021</td>
                                                <td>Oxides</td>
                                                <td>30 Nov 2021</td>
                                                <td class="text-center noprint">
                                                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#security-msg">Forward</button> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox5">
                                                        <label class="custom-control-label" for="checkbox5"></label>
                                                    </div>
                                                </td>
                                                <td>4</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Samrendra Kumar</a></td>
                                                <td>1056785404</td>
                                                <td>15 Nov 2021</td>
                                                <td>Sulfides</td>
                                                <td>01 Nov 2021</td>
                                                <td class="text-center noprint">
                                                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#security-msg">Forward</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center noprint">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox6">
                                                        <label class="custom-control-label" for="checkbox6"></label>
                                                    </div>
                                                </td>
                                                <td>5</td>
                                                <td><a data-toggle="modal" data-target="#exampleModal" class="text-primary">Bibhuti das</a></td>
                                                <td>1056785405</td>
                                                <td>08 Nov 2021</td>
                                                <td>Coal</td>
                                                <td>02 Nov 2021</td>
                                                <td class="text-center noprint">
                                                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#security-msg">Forward</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Applicant Composite License Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row">
                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Preferred Bidder Name</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Anil Kumar Sahoo</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Auction No.</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>1056785401</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Auction Type</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>e-Auction govt land</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">NIT Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Auction Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>24 Nov 2021</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Starting Bid Amount</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>78,00000</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Final Bid Amount</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>92,00000</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Total Area</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>12,00</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Bid Unit</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Percentage</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Lease Type</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Auction</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Mineral Name</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Graphite</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Location (address)</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>It is a long established fact that a reader will be distracted layout.</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">State</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">District</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Block Name</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Tehsil</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Village</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>long established</label>
                    </div>

                    <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Minute with Bid sheet</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></label>
                    </div>
                </div>

                    
                    <div class="pt-3"><a href="#" class="text-primary">Mineral Concession (31 Minor Mineral) Composite License</a> <span class="icon-download-solid"></span></div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to forward ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>