
@{
    ViewData["Title"] = "MineralSample";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('MineralSample', 'cgd', 'cgdseven', 'tl', 'Coal Grade Declaration', 'Analysis of Mineral Sample ', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center">
                            <h4 class="mb-5">Application for Analysis of Mineral Sample</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Name of the Applicant<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Name of the Organization<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Phone No.<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Date<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Email<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Address<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2"></textarea>
                                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="border p-3 mt-4">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Sample No.<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Type of Sample<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Select</option>
                                                            <option>Rock</option>
                                                            <option>Soil</option>
                                                            <option>Core</option>
                                                            <option>Pit</option>
                                                            <option>other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Sample Description<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Desire Radical /Element in Sample<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Sample Received Place<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">If Sample collected from any mines<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option1" name="exampleRadios2" id="defaultCheck4" checked="">
                                                        <label class="form-check-label" for="defaultCheck4">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" value="option2" name="exampleRadios2" id="defaultCheck5">
                                                        <label class="form-check-label" for="defaultCheck5">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Order No.<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Order Date<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">R.P / Gram/ Tahshil/ District/ Area <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">K.M</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Aim of research work/ Survey/ Mining<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Remarks<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <button type="button" class="btn btn-success"><i class="icon-plus-solid"></i>Add More</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row mt-4">
                            <div class="col-lg-12 ">
                                <button type="button" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-danger">Reset</button>
                            </div>
                        </div>

                        

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333;font-size:8rem;"></i>
                <h5 class=" mt-3">Successfully Submitted <br> Application for QL in Form-9</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" href="../Home/ViewList">Ok</a>
            </div>
        </div>
    </div>
</div>









