@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<section class="wrapper main-wrapper row">

    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">


                <section class="box form-container">
                    <div class="content-body">
                        <div class="bg-light mb-5 p-4">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">e-Transit Pass</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <select class="form-control">
                                        <option value="Select">Select</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-12">
                                    <a class="btn btn-primary btn-md m-0 waves-effect waves-light btnNext" data-original-title="" title="">Get Information</a>
                                </div>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Previous Net Weight</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>25 kg </label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Current Net Weight</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>30 kg</label>
                                </div>


                            </div>
                            <div class="row">

                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Difference</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>5</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Upcoming Trips</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>2456</label>
                                </div>

                            </div>

                        </div>

                    </div>

                </section>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")
<script>


    $(document).ready(function () {
        $(document).ready(function () {
            loadNavigation('EndUser', 'glereturncoal', 'plmonretcoal', 'tl', 'End User', 'End User Dashboard', ' ');
        });
    });


</script>


