<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/khanij-icon.css" rel="stylesheet" />

    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/homeicomoon.css" rel="stylesheet" />
    <link href="~/css/customBlack.css" rel="alternate stylesheet" type="text/css" media="screen" title="black" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/searchable-select.min.css">
    <script src="~/js/jquery.min.js"></script>  
</head>
<body class="landing-screen">

    <header class="head-sec fixed-top bg-white">
        <div class="container">
            <div class="header">
                <nav class="navbar">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="~/img/govt-logo.png" class="login-logo" alt="Logo" />
                        <h1 class="mb-1">
                            Mineral Resources Department
                            <small class="d-block">Government of Chhattisgarh</small>
                        </h1>
                    </a>
                    <div class="ml-lg-auto contact-culm">
                        <a href="javascript:void(0);" class="toplnk-mobile d-block d-lg-none"><i class="fas fa-ellipsis-v"></i> </a>
                        <ul class="top-link mb-2">
                            <li class="font-increase-decrease ">
                                <a href="javascript:decreaseFontSize();" class="fontresize" title="Decrease Font Size">A<sup>-</sup></a>
                                <a href="javascript:reSetFontSize();" class="fontresize" title="Normal Font Size">A</a>
                                <a href="javascript:increaseFontSize();" class="fontresize" title="Increase Font Size">A<sup>+</sup></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="chooseStyle('none', 60);" title="Normal View" class="white-theme"></a>
                                <a href="javascript:void(0)" onclick="chooseStyle('black', 60);" title="Contrast View" class="dark-theme  mr-2"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">RTI</a>
                            </li>

                            <li>
                                <a href="javascript:void(0);">Contact Us</a>
                            </li>
                        </ul>
                        <div class="border-bottom mb-2"></div>
                        <ul class="contact-dtls mb-0 align-items-sm-center">
                            <li>
                                <i class="icon-call mr-2"></i>
                                <h6 class="mb-0">
                                    <small class="d-block">Call Us</small>
                                    <a href="tel:1800 233 3767">1800 233 3767</a>
                                </h6>
                            </li>
                            <li>
                                <i class="icon-mail mr-2"></i>
                                <h6 class="mb-0">
                                    <small class="d-block">Mail Us</small>
                                    <a href="mailto:khanijonline@gmail.com">khanijonline@gmail.com</a>
                                </h6>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar shadow-sm">
            <div class="container">
                <a class="navbar-toggler" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i> <span>Menu</span>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-lg-center mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index" title="home"><span class="fas fa-home"></span><span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">User Manual</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle userregistration vehicleownerreg applicationstatchech" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User & Vehicle Owner
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item userregistration" href="/Home/UserRegistration">User Registration</a>
                                <a class="dropdown-item vehicleownerreg" href="/Home/vehicleownerRegistraion">Vehicle Owner Registration</a>
                                <a class="dropdown-item" href="#">Tailing Dam, Ashdyke, Mud Pond etc. Registration</a>
                                <a class="dropdown-item applicationstatchech" href="/Home/ApplicationStatusCheck">Application Status Check</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle newapplication" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                New Application
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item newapplication" href="/Home/LicenseApplication">License Application</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Digital Signature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Grievance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">e-TP Verification</a>
                        </li>



                    </ul>

                </div>
                <ul class="khanij-online d-flex list-type-none">
                    <li>
                        <a href="#" title="Web based mines & minerals management system"><img src="~/img/khanijonline22.png" alt="Khanij Online" class="mr-4" /></a>
                        <span class="web-based-title">Web based mines &amp; minerals <br /> management system</span></a>
                    </li>
                    <li>
                        <a href="#" title="MRD Dealing" class="text-uppercase text-white mrd-btn"><i class="icon-mrd_dealing mr-2"></i> mrd dealing</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>
                    Copyright
                    <script>document.write(new Date().getFullYear());</script> All rights reserved. Khanij Online
                </span>
            </div>
        </div>
    </footer>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/districtDetails.js"></script>
    <script src="~/js/distwiseactive.js"></script>
    <script src="~/js/styleswitch.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/searchable-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.head-sec .navbar-nav li.dropdown,.top-link li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });


            var hdrHeight = $('header').height();
            $('body').css('padding-top', hdrHeight - 2);
            var winHeight = $(window).height();
            if ($('.main-content').height() < winHeight) {
                $('.main-content').css({
                    "min-height": winHeight - 200
                })

            }
            if ($(window).width() < 992) {
                $('.main-content').css({
                    "min-height": "100%"
                })
                $('.top-link').hide();
                $('.toplnk-mobile').click(function () {
                    $('.top-link').fadeToggle();
                });
            }

            $('.selectpicker').selectpicker();
            $('.searchableselect').searchableselect();
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 80) {
                $('.head-sec').addClass('fix-header');
                if ($(window).width() < 992) {
                    $('.contact-dtls').hide();
                }
            } else {
                $('.head-sec').removeClass('fix-header');

                if ($(window).width() < 992) {
                    $('.contact-dtls').show();
                }
            }
        });
    </script>

    <script>
        //Start code: Add font size
        var min = 12;
        var max = 18;
        var reset = 15;

        function increaseFontSize() {
            var p = document.getElementsByTagName('body');
            for (i = 0; i < p.length; i++) {
                if (p[i].style.fontSize) {
                    var s = parseInt(p[i].style.fontSize.replace("px", ""));
                } else {
                    var s = 15;
                }
                if (s != max) {
                    s += 1;
                }
                p[i].style.fontSize = s + "px"
            }
        }

        function decreaseFontSize() {
            var p = document.getElementsByTagName('body');
            for (i = 0; i < p.length; i++) {
                if (p[i].style.fontSize) {
                    var s = parseInt(p[i].style.fontSize.replace("px", ""));
                } else {
                    var s = 15;
                }
                if (s != min) {
                    s -= 1;
                }
                p[i].style.fontSize = s + "px"
            }
        }

        function reSetFontSize() {
            var p = document.getElementsByTagName('body');
            for (i = 0; i < p.length; i++) {
                if (p[i].style.fontSize) {
                    var s = parseInt(p[i].style.fontSize.replace("px", ""));
                } else {
                    var s = 15;
                }
                if (s != reset) {
                    s = 15;
                }
                p[i].style.fontSize = s + "px"
            }
        }
        //End code: Add font size
    </script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                format: 'LT',
                format: 'DD-MM-YYYY',
                daysOfWeekDisabled: [0, 6],
            });
        });
    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
