
@{
    ViewData["Title"] = "GrantQuarryPermit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('GrantQuarryPermit', 'cgd', 'cgdthree', 'tl', 'Coal Grade Declaration', 'Grant Quarry Permit ', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center">
                            <h4 class="mb-5">Grant Quarry Permit</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Subject<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2"></textarea>
                                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Assignment and its object<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2"></textarea>
                                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Camp Address<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2"></textarea>
                                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Village<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Post Office<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Tahsil<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">District<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Pin Code<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Telephone No. (If any)<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Mobile Number<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Name of the Camp in Charge<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Designation<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>




                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Date of commencement of the investigation<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="mt-3">Expenditure incurred</h6>
                            </div>


                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Up to the last month<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">During the month<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <h6>Detail of During the month</h6>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <label class="col-form-label">
                                    Labour<span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <label class="col-form-label">
                                    P.O.L<span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <label class="col-form-label">
                                    Others<span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">Repairs and Maintenance<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label class="col-form-label">
                                    Total<span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-rupee-sign-solid"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <h6 class="mt-3">Exploration data (in metric units)</h6>
                            </div>

                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Progress in respect of</th>
                                                <th>Target</th>
                                                <th>Work done up to the last month</th>
                                                <th>Work done during the month</th>
                                                <th>Total work done at the end of current month</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>A. Reco. Geological Survey</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Scale - 1:50,000
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> B. Reco. Geological Survey</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Scale - 1:4,000
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> C. Pitting</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Nos.
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Volume (cu. m.)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <th> D. Trenching</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Nos.
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Volume (cu. m)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>  E. Drilling</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    B.H. Completed

                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Meterage
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    B.H. Under Progress

                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Total Meterage
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    F. Geochemical sampling
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    G. Geophysical Survey
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> H. Photogeological Survey</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Pre field interpretation (Km2 on scale)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Post field interpretation (Km2 on scale)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Field Check (Km2 on scale)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> I. Sampling (Survey/ core sample)</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Field Check (Km2 on scale)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333;font-size:8rem;"></i>
                <h5 class=" mt-3">Successfully Submitted <br> Application for QL in Form-9</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" href="../Home/ViewList">Ok</a>
            </div>
        </div>
    </div>
</div>







