
.user-manual ul {
    padding-left: 1rem;
}

.user-manual ul li {
    padding-bottom: 1rem;
    list-style-type: auto;
}


.modal-header .close {
    
    color: #f44336;
    opacity: 1;
}

.fix-module {
    height: 650px;
   
}

.fix-module .head {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    background-color: #f8f9fa;
}

.custom-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b7b9cc;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



#sustainable .separator {
    margin-top: 1rem;
}

.disable {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.checked 
{
    color: red;
}

i.fas.fa-file-pdf 
{
    font-size: 25px;
}
.fix-table
{
    height:150px;
}

.fix-table thead th {
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 999;
    right: 0;
    background-color: rgb(218 219 220);
}


.text-red {
    color: #f44336;
}

strong {
    font-weight: 700;
}







    
