
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('IntroductionAdd', 'glhelpdesk', 'plraiseticket', 'tl', 'Website', 'Introduction', ' ');
        $('.searchableselect').searchableselect();
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="~/Website/Introduction/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5>Add Pages</h5>
                        @using (Html.BeginForm("IntroductionAdd", "Home", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Page Name<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Page Alias<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Page Title<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Snippet</label>
                                    <div class="form-group">
                                        <textarea id="Text1" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Meta Title<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Meta Keyword<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Meta Description<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <textarea id="Text1" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Meta Image</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="selectedFile" name="selectedFile">
                                            <label class="custom-file-label" for="customFile">Choose Files</label>
                                            <small class="text-danger">(<strong>.jpeg, .jpg, .png</strong> file only, image size of <strong>500*400</strong> 
                                            and <strong>max file size 100 KB</strong>)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Featured Image<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="selectedFile" name="selectedFile">
                                            <label class="custom-file-label" for="customFile">Choose Files</label>
                                        </div>
                                        <small class="text-danger">
                                            (<strong>.jpeg, .jpg, .png</strong> file only, image size of <strong>1920*180</strong>
                                            and <strong>max file size 100 KB</strong>)
                                        </small>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Link Type<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                         <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1" checked>
                                                <label class="form-check-label" for="inlineRadio1">Internal</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">External</label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">URL<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <label class="col-form-label">Window Status<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3" checked>
                                            <label class="form-check-label" for="inlineRadio3">Same</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option4">
                                            <label class="form-check-label" for="inlineRadio4">New</label>
                                        </div>
                                    </div>
                                </div>

                               

                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Page Type<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio7" value="option7" checked>
                                            <label class="form-check-label" for="inlineRadio7">Content</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio8" value="option8">
                                            <label class="form-check-label" for="inlineRadio8">Plugin</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio9" value="option9">
                                            <label class="form-check-label" for="inlineRadio9">None</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label class="col-form-label">Select Plugin<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <select id="inputState" class="form-control">
                                            <option selected>select</option>
                                            <option>Tender</option>
                                            <option>Staff Directory</option>
                                            <option>Notification</option>
                                            <option>Testimonial</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-form-label">Content<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <p>Put here Ck editor</p>
                                        <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
                                        <script>
                                            CKEDITOR.replace('NoticeText');
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <input type="submit" value="Save" name="cmd" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="cmd">
                                    <input type="button" value="Cancel" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

