@import "variable-success";
.page-setting {
    .setting-color {
        span {
            opacity: 0;
        }
        &.theme-green {
            span {
                opacity: 1;
            }
        }
    }
}

a {
    color: $primary;
}

.imp-notice {
    a {
        &:hover {
            color: $primary-color-dark;
        }
    }
}

.page-topbar {
    background-color: $primary;
    &.sidebar_shift {
        .logo-area {
            background-color: $primary;
        }
    }
}

.main-tab {
    .nav-tabs {
        float: left;
    }
    .nav-link {
        background-color: $primary;
    }
}

.table {
    td {
        a {
            color: $primary;
        }
    }
}

.custom-dropdown {
    background-color: $primary-color-light;
    .dropdown-menu {
        border-top-color: $primary;
    }
}

.border-primary-dark {
    border-color: $primary-color !important;
}

.text-primary {
    color: $primary !important;
}

.bg-primary {
    background-color: $primary !important;
}

.btn-primary {
    background-color: $primary !important;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: $primary-color-dark !important;
}

.text-success {
    color: $success !important;
}

.btn-success {
    background-color: $success !important;
}

.btn-success:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    background-color: $success-color-dark !important;
}

.searchableselect-container--default .searchableselect-results__option--highlighted[aria-selected] {
    background-color: rgba($primary, .8) !important;
}