
@{
    ViewData["Title"] = "InitChangeRequest";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('CoalLessee', 'cgd', 'cgdone', 'tl', 'Change Request', 'Initiate Change Request', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ChangeRequest/Request/ViewInitChangeRequest">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Change Criticality <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option>select</option>
                                            <option>High</option>
                                            <option>medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Change Urgency<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">

                                        <div class="py-2">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="radiop" name="radio-iRequirement" value="1">
                                                <label class="custom-control-label" for="radiop">Emergency</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="radiopro" name="radio-iRequirement" value="2">
                                                <label class="custom-control-label" for="radiopro">Normal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Request Type<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="py-2">
                                            <div class="custom-control custom-radio  custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="radio1" name="radio-iRequirement" value="1" />
                                                <label class="custom-control-label" for="radio1">New</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="radio2" name="radio-iRequirement" value="2" />
                                                <label class="custom-control-label" for="radio2">Update</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Module <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <select class="form-control searchableselect">
                                            <option>select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Sub Module <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <select class="form-control searchableselect">
                                            <option>select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Upload Document</label>
                                    <div class="col-sm-7">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                                            <label class="custom-file-label" for="customFile">Choose Files</label>
                                        </div>
                                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Change Description <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="3"></textarea>
                                        <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownDist" class="col-sm-4 col-form-label">Remark <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="3"></textarea>
                                        <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <a href="#" class="btn btn-success btn-md" data-toggle="modal" data-target="#security-msg">Submit</a>
                                <a href="#" class="btn btn-danger btn-md">Reset</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-check-circle-solid" style="color: #76b333; font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Your data has been saved.
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-danger" href="ViewInitChangeRequest">Ok</a>
            </div>
        </div>
    </div>
</div>


