
@{
    ViewData["Title"] = "SRSApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/Department/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/Department/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">


                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Start Date<span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" id="inputDate1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS End Date<span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" id="inputDate2">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate2"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Total Days <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Remark  <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="1"></textarea>
                                        <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Document <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <a href="#"><i class="far fa-file-pdf h3"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Upload Date  <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" id="inputDate3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate3"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">SRS Status  <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option value="Select">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bolder">Remark  <span class="text-danger">*</span> </label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="1"></textarea>
                                        <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-12 offset-sm-2">
                                <a href="javascript:void(0);" class="btn btn-primary btn-md ml-0">Submit</a>
                                <a href="#" class="btn btn-danger btn-md">Reset</a>
                            </div>

                        </div>




                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('CoalLessee', 'cgd', 'cgdone', 'tl', 'Coal Grade Declaration', 'Annual Grade Declaration', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });
    });
</script>


