
@{
    ViewData["Title"] = "ViewSIProjectManager";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('ViewSIProjectManager', 'cgd', 'cgdone', 'tl', 'Change Request', 'Take Action', ' ');
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">

                    <div class="searchform px-3 py-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="inputText" class="col-sm-4 col-form-label">
                                        Criticality
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>select</option>
                                            <option>High</option>
                                            <option>medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="inputText" class="col-sm-4 col-form-label">
                                        Urgency
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>select</option>
                                            <option>Emergency</option>
                                            <option>Normal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="inputText" class="col-sm-4 col-form-label">
                                        Type
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>select</option>
                                            <option>New</option>
                                            <option>Update</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="inputText" class="col-sm-4 col-form-label">
                                        From Date
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" id="inputDate1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="inputText" class="col-sm-4 col-form-label">
                                        To Date
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" id="inputDate2">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate2"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-2">
                                <a href="#" class="btn btn-sm btn-success m-0 waves-effect waves-light"> Show </a>
                            </div>


                        </div>




                    </div>

                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30px">Sl#</th>
                                            <th>Change Request</th>
                                            <th>Module Details</th>
                                            <th>Applied on</th>
                                            <th>Proposed Solution</th>
                                            <th>MoM & Final Solution</th>
                                            <th>Final Approval </th>
                                            <th>Test Case</th>
                                            <th>Release Note</th>
                                            <th>Go Live</th>
                                            <th>Status</th>
                                            <th>History</th>
                                            <th width="100px" class="noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a class="text-primary" data-toggle="modal" data-target="#change-details">CR0001</a>
                                                <br />
                                                <span class="badge badge-danger p-1">High</span>
                                                <br />
                                                <span class="badge badge-danger p-1">Emergency</span>
                                                <br />
                                                <span class="badge badge-dark p-1">New</span>
                                            </td>
                                            <td>
                                                Master <i class="icon-arrow-right-solid"></i> Access Permission
                                            </td>
                                            <td>12-Jan-2022</td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td>
                                            </td>

                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td>
                                            </td>
                                            <td class="text-info">New Request for <br> <strong>Submittion of Proposed Solution & Effort Estimation</strong> <br> on 09-Jan-2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action">Take Action</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a class="text-primary" data-toggle="modal" data-target="#change-details">CR0001</a>
                                                <br />
                                                <span class="badge badge-danger p-1">High</span>
                                                <br />
                                                <span class="badge badge-danger p-1">Emergency</span>
                                                <br />
                                                <span class="badge badge-dark p-1">New</span>
                                            </td>
                                            <td>
                                                Master <i class="icon-arrow-right-solid"></i> Access Permission
                                            </td>
                                            <td>12-Jan-2022</td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download Proposed Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td >

                                            </td>

                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td>
                                            </td>
                                            <td class="text-warning">Forwaded by Department/DGM for<br> <strong>Submittion of MOM & Final Solution & Effort Estimation</strong> <br> on 09-Jan-2022</td>

                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action2">Take Action</a>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <a class="text-primary" data-toggle="modal" data-target="#change-details">CR0001</a>
                                                <br />
                                                <span class="badge badge-danger p-1">High</span>
                                                <br />
                                                <span class="badge badge-danger p-1">Emergency</span>
                                                <br />
                                                <span class="badge badge-dark p-1">New</span>
                                            </td>
                                            <td>
                                                Master <i class="icon-arrow-right-solid"></i> Access Permission
                                            </td>
                                            <td>12-Jan-2022</td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download Proposed Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download MOM">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <a href="#" class="text-danger h4" title="Download Final Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>
                                            <td class="text-success">
                                                Approved
                                            </td>
                                            <td class="text-center">
                                            </td>

                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                            </td>

                                            <td class="text-warning">Forwaded by Department/DGM for<br> <strong>UAT Request & Upload Test Case</strong> <br> on 09-Jan-2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">
                                                <a class="btn btn-success btn-sm text-capitalize mb-2" data-toggle="modal" data-target="#update-status">Update Status</a>
                                                <br />
                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action3">Take Action</a>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <a class="text-primary" data-toggle="modal" data-target="#change-details">CR0001</a>
                                                <br />
                                                <span class="badge badge-danger p-1">High</span>
                                                <br />
                                                <span class="badge badge-danger p-1">Emergency</span>
                                                <br />
                                                <span class="badge badge-dark p-1">New</span>
                                            </td>
                                            <td>
                                                Master <i class="icon-arrow-right-solid"></i> Access Permission
                                            </td>
                                            <td>12-Jan-2022</td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download Proposed Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>

                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download MOM">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <a href="#" class="text-danger h4" title="Download Final Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>
                                            <td class="text-success">
                                                Approved
                                            </td>

                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="" data-original-title="Download Test Case">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <small class="d-block">UAT Date<strong class="d-block">12-Jan-2022</strong></small>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-warning">Forwaded by Department/DGM for<br> <strong>Go Live with Release Note</strong> <br> on 09-Jan-2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">

                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action4">Take Action</a>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>
                                                <a class="text-primary" data-toggle="modal" data-target="#change-details">CR0001</a>
                                                <br />
                                                <span class="badge badge-danger p-1">High</span>
                                                <br />
                                                <span class="badge badge-danger p-1">Emergency</span>
                                                <br />
                                                <span class="badge badge-dark p-1">New</span>
                                            </td>
                                            <td>
                                                Master <i class="icon-arrow-right-solid"></i> Access Permission
                                            </td>
                                            <td>12-Jan-2022</td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download Proposed Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>

                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download MOM">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <a href="#" class="text-danger h4" title="Download Final Solution">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <br />
                                                <small>Estimated Effort  <strong class="d-block">12 days</strong></small>
                                            </td>
                                            <td class="text-success">
                                                Approved
                                            </td>

                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="" data-original-title="Download Test Case">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <small class="d-block">UAT Date<strong class="d-block">12-Jan-2022</strong></small>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="text-danger h4" title="Download Release Note">
                                                    <i class="icon-file-pdf-solid"></i>
                                                </a>
                                                <small class="d-block">Down Time<strong class="d-block">5 hrs</strong></small>
                                            </td>
                                            <td>
                                                12-Jan-2022
                                            </td>
                                            <td class="text-warning">Forwaded by DGM for<br> <strong>Update in Production</strong> <br> on 09-Jan-2022</td>
                                            <td><a data-toggle="modal" data-target="#ModalStatusHistory" class="text-primary">Log Details</a></td>
                                            <td class="text-center noprint">

                                                <a class="btn btn-success btn-sm text-capitalize" data-toggle="modal" data-target="#take-action5">Take Action</a>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<div class="modal fade" id="security-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="icon-exclamation-circle-solid" style="color: #ffc1077a;font-size: 8rem;"></i>
                <h5 class=" mt-3">
                    Are you sure you want to submit the data ?
                </h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="change-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Details
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div id="accordion" class="accordion mb-3">
                    <div class="card border-bottom">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <a class="card-title">
                                Change Request
                            </a>
                        </div>
                        <div id="collapse1" class="card-body collapse  show" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-2 col-12 col-form-label">Change Criticality</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        High
                                    </label>
                                </div>

                                <label class="col-lg-2 col-12 col-form-label">Change Urgency</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        Emergency
                                    </label>
                                </div>

                                <label class="col-lg-2 col-12 col-form-label">Request Type</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        New
                                    </label>
                                </div>

                                <label class="col-lg-2 col-12 col-form-label">Module</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        Master
                                    </label>
                                </div>

                                <label class="col-lg-2 col-12 col-form-label">Sub Module</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        Access Permission
                                    </label>
                                </div>




                                <label class="col-lg-2 col-12 col-form-label"> Document </label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        <a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a>
                                    </label>
                                </div>


                                <label class="col-lg-2 col-12 col-form-label">Change Description</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type a

                                    </label>
                                </div>

                                <label class="col-lg-2 col-12 col-form-label">Remark</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type a

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" href="#collapse2" aria-expanded="true">
                            <a class="card-title">
                                Schedule Date for Demostration & Invite Participants
                            </a>
                        </div>
                        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-2 col-12 col-form-label">Schedule Date</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        22-Jan-2022
                                    </label>
                                </div>
                                <label class="col-lg-2 col-12 col-form-label">Schedule Time</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        22-Jan-2022
                                    </label>
                                </div>


                                <label class="col-12 col-form-label font-weight-bold">Invite Participants</label>

                                <div class="col-12">
                                    <div class="table-responsive mt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th>Department</th>
                                                    <th>Choose Type</th>
                                                    <th>Designation</th>
                                                    <th>User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Geology</td>
                                                    <td>State</td>
                                                    <td>MI Officer</td>
                                                    <td>DGM</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Geology</td>
                                                    <td>District</td>
                                                    <td>MI Officer</td>
                                                    <td>Chips</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card border-bottom">
                        <div class="card-header" data-toggle="collapse" href="#collapse3" aria-expanded="true">
                            <a class="card-title">
                                Schedule Date for UAT & Invite Participants
                            </a>
                        </div>
                        <div id="collapse3" class="card-body collapse" data-parent="#accordion">
                            <div class="row">
                                <label class="col-lg-2 col-12 col-form-label">Any Changes during UAT</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        No
                                    </label>
                                </div>
                                <label class="col-lg-2 col-12 col-form-label">Schedule Date</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        22-Jan-2022
                                    </label>
                                </div>
                                <label class="col-lg-2 col-12 col-form-label">Schedule Time</label>
                                <div class="col-lg-10 col-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        22-Jan-2022
                                    </label>
                                </div>


                                <label class="col-12 col-form-label font-weight-bold">Invite Participants</label>

                                <div class="col-12">
                                    <div class="table-responsive mt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    <th>Department</th>
                                                    <th>Choose Type</th>
                                                    <th>Designation</th>
                                                    <th>User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Geology</td>
                                                    <td>State</td>
                                                    <td>MI Officer</td>
                                                    <td>DGM</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Geology</td>
                                                    <td>District</td>
                                                    <td>MI Officer</td>
                                                    <td>Chips</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>

                </div>

              
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Proposed Solution<span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label"> Effort Estimation<span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Man days</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3"><div class="col-lg-12"><h6>Upload any other document <small>(If any)</small></h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reset</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload MOM  <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Final Solution <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>
              
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label"> Effort Estimation<span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Man days</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3"><div class="col-lg-12"><h6>Upload any other document <small>(If any)</small></h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reset</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>
                </div>

              
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Test Case  <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Request UAT Date <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" id="Text2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div class="row mt-3"><div class="col-lg-12"><h6>Upload any other document <small>(If any)</small></h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reset</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>
                </div>

              
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Upload Release Note  <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Down Time Required ? <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="py-2">
                            <div class="custom-control custom-radio  custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="radio5" name="radio-iRequirement" value="1" />
                                <label class="custom-control-label" for="radio5">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="radio6" name="radio-iRequirement" value="2" />
                                <label class="custom-control-label" for="radio6">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">No. of  hrs <span class="text-danger">*</span></label>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control" id="Text2">
                        </div>
                    </div>
                </div>



                <div class="row mt-3"><div class="col-lg-12"><h6>Upload any other document <small>(If any)</small></h6></div></div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document Name</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Document</label>
                    <div class="col-lg-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <div class="col-lg-5">
                        <button type="button" class="btn btn-success"><i class="icon-plus-solid pr-1"></i>Add More</button>
                    </div>
                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="30px">Sl#</th>
                                <th>Document Name</th>
                                <th>Document</th>
                                <th width="100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="text-center"><a href="#" class="text-danger h4"><i class="icon-file-pdf-solid"></i></a>
                                <td><a class="btn btn-danger btn-sm" title="Remove Row"><i class="icon-trash-alt-solid"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reset</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Objection</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="take-action5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Close</button>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-status" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Take Action | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <div class="row mb-3">

                    <label class="col-lg-4 col-12 col-form-label">Criticality , Urgency , Type</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext">
                            <span class="badge badge-danger p-1">High</span>
                            <span class="badge badge-danger p-1">Emergency</span>
                            <span class="badge badge-dark p-1">New</span>
                        </label>
                    </div>
                    <label class="col-lg-4 col-12 col-form-label">Module Details</label>
                    <div class="col-lg-8 col-12">
                        <label class="form-control-plaintext font-weight-bold">
                            Master <i class="icon-arrow-right-solid"></i> Access Permission
                        </label>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-4 col-form-label">Remark <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3"></textarea>
                        <small class="text-danger">Maximum character should be <strong>500</strong></small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#security-msg">Update</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History | CR0001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline">
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Update in Production</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>

                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">DGM</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Schedule data for GO Live </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Schedule Date</span> 5-Jan-2022

                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Core Team</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Approve  & Forward Request Go Live  </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Request for Go Live</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>

                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Department / DGM</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Schedule data for UAT & Invite </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Schedule Date</span> 5-Jan-2022

                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Core Team</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Review & Forward UAT , Uploaded Test Case  </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Request UAT , Upload Test Case</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Test Case <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>

                            </li>
                            <li class="mb-1">
                                Final solution  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Update Status</span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>

                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Department / DGM</span>
                        <span class="content_tag approve"><i class="icon-check-solid mr-2"></i>Final Approval for Development </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.

                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Core Team</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Review & Forward MOM ,Final solution & Effort estimation </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Submitted MOM ,Final solution & Effort estimation </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                MOM <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>

                            </li>
                            <li class="mb-1">
                                Final solution  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Department / DGM</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Schedule data for demostration & Invite </span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Schedule Date</span> 5-Jan-2022

                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Core Team</span>
                        <span class="content_tag reject"><i class="icon-times-alt-solid mr-2"></i>Objection</span>
                        <span class="content_date">03 Jan 2022</span>
                        <p class="content_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Core Team</span>
                        <span class="content_tag verify"><i class="icon-check-solid mr-2"></i>Review & Forward Proposed solution & Effort estimation </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">SI Project Manager</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Submitted Proposed solution & Effort estimation </span>
                        <span class="content_date">06 Jan 2022</span>
                        <p class="content_p">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis
                        </p>
                        <ul class="pl-4" style="list-style:auto;">
                            <li class="mb-1">
                                Proposed solution  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>

                            </li>
                            <li class="mb-1">
                                Lorem ipsum  <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                            <li class="mb-1">
                                Lorem ipsum dolor <a href="#"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <span class="content_degination">Department / DGM</span>
                        <span class="content_tag approve"><i class="icon-check-double-solid mr-2"></i>Initiate Change Request Submitted</span>
                        <span class="content_date">05 Jan 2022</span>
                        <p class="content_p">
                            <span class="font-weight-bold d-block">Change Criticality</span> High
                            <span class="font-weight-bold d-block">Change Urgency</span> Emergency
                            <span class="font-weight-bold d-block">Request Type</span> New
                            <span class="font-weight-bold d-block">Module</span> Master
                            <span class="font-weight-bold d-block">Sub Module</span> Access permission
                        </p>
                    </div>








                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>