
@*<div class="page-sidebar-wrapper" id="main-menu-wrapper">


    <ul class="wraplist" id="menu">
    </ul>

</div>*@
<div class="page-sidebar-wrapper" id="main-menu-wrapper">
    <nav class="navbar">
        <div class="left-user-details">
            <div class="img-div">
                <img src='@Url.Content("~/CMSimg/profile.jpg")' alt="user-image" class="">
            </div>
            <p>Administrator </p>
        </div>
        <div class="page-sidebar-wrapper" id="main-menu-wrapper">
            <ul class="navbar-nav" id="menu">
                <li class="nav-item active">
                    <a class="nav-link" href="dashboard.html"><i class="icon-chalkboard-solid"></i><span>Dashboard</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script>
    /* $(document).ready(function () {*/
    $.ajax({
        url: '/Home/getcmsmenu',

        dataType: 'json',
        type: 'post',
        success: function (data) {
            console.log(data);
            var s = "";

            $("#menu").append(data);

        },
        error: function (err) {
        }
    });
   /* });*/
</script>