<link rel="stylesheet" href='@Url.Content("~/css/khanij-icon.css")' />
<div class="page-topbar ">
    <a class="nav-toggle-btn">

        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="logo-area">
        <img src='@Url.Content("~/img/govt-logo.png")' alt="Chhattishgarh Govt" class="main-logo">
       
        <h1>
            Mineral Resources Department
            <small>Govt. of Chhattisgarh</small>
        </h1>

    </div>

    <div class="quick-area">
        <div class="khanij-online">

            <img src='@Url.Content("~/img/khanij-online.png")' alt="Khanij Online" class="mr-2" />
            <span class="text-white font-weight-bold">A Web based mines & minerals<br /> management system</span>

        </div>

        <div class="top-menu-section">



            <ul class="">

                <li>
                    <label id="switch" class="switch">
                        <input type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="">
                    <a href="#" >
                        <i class="icon-bell-solid"></i>
                        <span class="badge badge-pill badge-accent">3</span>
                    </a>
                    <ul class="dropdown-menu messages">

                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">8th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>

                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">8th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">7th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">16th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">16th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">15th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="profile">
                    <a href="#" >
                        <img src='@Url.Content("~/img/profile.jpg")' alt="user-image" class="rounded-circle img-inline">
                        
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <span>Administrator </span>
                        </li>
                       
                        <li class="">
                            <a href="#" title="Profile">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" title="Change Password">
                                <i class="icon-key-solid"></i>
                                Change Password
                            </a>
                        </li>
                        
                        <li>
                            <a href="../Default.aspx" class="toggle">
                                <i class="icon-power-off-solid"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    // function to set a given theme/color-scheme
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
    }

    // function to toggle between light and dark theme
    function toggleTheme() {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-light');


        } else {
            setTheme('theme-dark');
        }
    }

    // Immediately invoked function to set the theme on initial load
    (function () {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-dark');
            document.getElementById('slider').checked = true;
           
        } else {
            setTheme('theme-light');
            
            document.getElementById('slider').checked = false;
        }
    })();
</script>
