
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
    }

    .center {
        text-align: center;
    }

    img {
        height: 250px;
    }

    .btn-custom {
        background-color: #8bc34a;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 1px 1px 3px rgb(84 82 82);
    }

    .text {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .btn-sec {
        margin-top: 2rem;
    }

    .btn-custom:hover {
        background-color: #4caf50;
    }
</style>

<html>
<head>
    <title>Khanij Online</title>
</head>
<body>
    <div class="center">
        <img src="~/CMSimg/error.png" alt="Error" />
        <div class="text">
            <span style="margin-bottom: 20px;display: block;">Oops Error!</span>
            <span style="margin-bottom: 20px; display: block; text-transform: initial; font-size: 1rem;">
                An error has occured while processing your request. The support
                team  will notified you.
            </span>
            <span style="display: block; text-transform: initial; font-size: 1rem;">
                Please contact us on khanijonline@gmail.com
            </span>
        </div>
        <div class="btn-sec">
            <a class="btn-custom" href="http://khanij.com/Website/Website/home">Back to Website</a>
        </div>
    </div>
</body>
</html>


