
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('Add', 'mccl', 'mcclbidder', 'tl', 'Mineral Concension', '31 Minor Mineral  CL e-Auction , Govt. land', ' ');
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });
    });
</script>
<style>
    .btn-add {
        margin-top: 39px;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 2px;
    }

    .wizard .nav-tabs > li {
        width: 25%;
    }

    @@media screen and (max-width: 768px) {
        .btn-add {
            margin-top: 0px;
        }
    }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center">
                            <h5 class="mb-4">
                                Mineral Concession <small>(31 Minor Mineral)</small>
                                <small class="h6 mb-0 d-block">Composite License</small>
                                <small> (e-Auction.Gov.land)</small>
                            </h5>
                        </div>
                        <section class="step-container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6">
                                    <div class="wizard">
                                        <div class="wizard-inner">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true">
                                                        <span class="round-tab">1</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false">
                                                        <span class="round-tab">2</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                                        <span class="round-tab">3</span>
                                                    </a>
                                                </li>
                                                <li role="presentation" class="disabled">
                                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">
                                                        <span class="round-tab">4</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <p class="font-weight-bold">Note : Upload Performance security within 15 days.</p>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Performance security<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>

                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <label class="col-form-label">Remark <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="3"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Submit</button></li>
                                            <li><button type="button" class="btn btn-danger">Reset</button></li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th width="180px" class="text-center">Performance security</th>
                                                            <th>Remark</th>
                                                            <th width="150px" class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td class="text-center"><a href="#"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis.</td>
                                                            <td class="text-center">
                                                                <a href="#" class="text-success btn-lg"> <i class="icon-pencil-alt-solid"></i></a>
                                                                <a href="#" class="text-danger btn-lg"> <i class="icon-trash-alt-solid"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">

                                        <p class="font-weight-bold">Note : Document (PC , GP , NOC and other document) has to upload within 1 year from issue of LOI, If not then you can extend the timeline.</p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Do you want to extend timeline ? <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="pt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" value="option1" name="Radi1" id="ra1">
                                                            <label class="form-check-label" for="ra1">
                                                                Yes
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" value="option2" name="Radi1" id="ra2">
                                                            <label class="form-check-label" for="ra2">
                                                                No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Extend Timeline<span class="text-danger">*</span>
                                                </label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-lg-block d-none"></div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Document Name<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Upload Document<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <button type="button" class="btn btn-success btn-add">Add More</button>
                                            </div>

                                            <div class="col-lg-6 col-md-12">
                                                <label class="col-form-label">Remark <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">Upload Tahasildar Report<span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input">
                                                        <label class="custom-file-label">Choose file...</label>
                                                    </div>
                                                    <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Submit</button></li>
                                            <li><button type="button" class="btn btn-danger">Reset</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <p class="font-weight-bold">Note : Upload document within 60 days</p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Upload Agreement Form-4 <span class="text-danger">*</span>
                                                </label>

                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input">
                                                    <label class="custom-file-label">Choose file...</label>
                                                </div>
                                                <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label class="col-form-label">Remark <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>

                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Submit</button></li>
                                            <li><button type="button" class="btn btn-danger">Reset</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step4">

                                        <p class="font-weight-bold">Note : Upload document within 90 days before 2 year of deed</p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Upload Prospecting Report <span class="text-danger">*</span>
                                                </label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input">
                                                    <label class="custom-file-label">Choose file...</label>
                                                </div>
                                                <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <label class="col-form-label">
                                                    Upload DGPS Report <span class="text-danger">*</span>
                                                </label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input">
                                                    <label class="custom-file-label">Choose file...</label>
                                                </div>
                                                <small class="text-danger">Files type <strong>(.pdf , .docx)</strong> with maximum <strong>2MB</strong></small>
                                            </div>
                                            <div class="col-lg-3 d-lg-block d-none"></div>
                                            <div class="col-lg-6 col-md-12">
                                                <label class="col-form-label">Remark <span class="text-danger">*</span></label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    <small class="text-danger">Maximum character should be <strong>500</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline text-center">
                                            <li><button type="button" class="btn btn-success next-step">Submit</button></li>
                                            <li><button type="button" class="btn btn-danger">Reset</button></li>
                                        </ul>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </section>






                       

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#Modalnotemsg').modal('show');
    });
</script>

<!-- Modal -->
<div class="modal fade" id="Modalnotemsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 2rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5 style="font-size: 22px; line-height: 33px; ">You need to <span class="text-danger">upload performance security  <br /> within 15 days</span> (22 Dec 2021)</h5>
            </div>
           
        </div>
    </div>
</div>

<script>
    // ------------step-wizard js-------------
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var $target = $(e.target);

            if (!$target.parent().hasClass('active, disabled')) {
                $target.parent().prev().addClass('completed');
            }
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        });

        $(".prev-step").click(function (e) {
            var active = $('.wizard .nav-tabs li.active');
            prevTab(active);

        });

    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    })
</script>
