@{
    ViewData["Title"] = "End User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href='@Url.Content("~/css/end-user-dashboard.css")' type="text/css" />

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="row mt-lg-2 top-total-section">
                    <div class="col">
                        <div class="top-card bg-light-blue">
                            <div class="top-card-header">
                                <h4 class="text-blue">Mineral Wise Received Quantity</h4>
                                <h3 class="text-blue"><small class="icon-rupee-sign-solid"></small>3,456 <small>Cr.</small></h3>
                            </div>
                            <div class="top-card-body">
                                <i class="icon-receipt-solid"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="top-card bg-light-purple">
                            <div class="top-card-header">
                                <h4 class="text-purple">Mineral Wise Dispatch Quantity </h4>
                                <h3 class="text-purple"><small class="icon-rupee-sign-solid"></small>1,375 <small>Cr.</small> </h3>
                            </div>
                            <div class="top-card-body">
                                <i class="icon-fast-forward-solid"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="top-card bg-light-red">
                            <div class="top-card-header">
                                <h4 class="text-red">e-Permit</h4>
                                <h3 class="text-red"><small class="icon-rupee-sign-solid"></small>1,27,213<small>Cr.</small>  </h3>
                            </div>
                            <div class="top-card-body">
                                <i class="icon-PERMIT"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="top-card bg-light-yellow">
                            <div class="top-card-header">
                                <h4 class="text-yellow">e-Transit Pass</h4>
                                <h3 class="text-yellow"><small class="icon-rupee-sign-solid"></small>12,622<small>Cr.</small>  </h3>
                            </div>
                            <div class="top-card-body">
                                <i class="icon-E-PASS"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="top-card bg-light-green">
                            <div class="top-card-header">
                                <h4 class="text-green">Through Licensee</h4>
                                <h3 class="text-green"><small class="icon-rupee-sign-solid"></small>10,522<small>Cr.</small>  </h3>
                            </div>
                            <div class="top-card-body">
                                <i class="icon-License-Type"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Mineral Wise Received / Dispatch Quantity</h5>
                                <div class="filter-section">
                                    <select class="form-control mr-2">
                                        <option>Major</option>
                                        <option>Minor</option>
                                    </select>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#graphview"><i class="icon-chart-pie-solid"></i></a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" data-toggle="tab" href="#listview"><i class="icon-list-solid"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="graphview">
                                        <div class="dashboard-portlet__content__chart" id="Major-Mineral-Recived-Dispatch"></div>

                                    </div>
                                    <div class="tab-pane fade" id="listview">

                                        <div class="table-responsive ">
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Mineral Name</th>
                                                        <th class="text-right">Received Qty</th>
                                                        <th class="text-right">Dispatch Qty</th>
                                                        <th>Seven days Trend</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Iron ore</td>
                                                        <td class="text-right">546840</td>
                                                        <td class="text-right">21458494</td>
                                                        <td><div class="last-seven-day-chart" id="last-seven-days1"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Coal</td>
                                                        <td class="text-right">546840</td>
                                                        <td class="text-right">21458494</td>
                                                        <td><div class="last-seven-day-chart" id="last-seven-days2"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bauxite</td>
                                                        <td class="text-right">514840</td>
                                                        <td class="text-right">12458494</td>
                                                        <td><div class="last-seven-day-chart" id="last-seven-days3"></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Manganese</td>
                                                        <td class="text-right">546840</td>
                                                        <td class="text-right">214512</td>
                                                        <td><div class="last-seven-day-chart" id="last-seven-days4"></div></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Limestone</td>
                                                        <td class="text-right">546840</td>
                                                        <td class="text-right">12458494</td>
                                                        <td><div class="last-seven-day-chart" id="last-seven-days5"></div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="btn btn-primary" title="View Details">
                                        <span class="icon-eye-solid"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>e-Transit Pass </h5>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="dashboard-portlet__content__chart" id="e-Transit-Pass">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Through Licensee <small>(e-Transit Pass)</small></h5>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="dashboard-portlet__content__chart" id="Through-Licensee">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script src="@Url.Content("~/js/highcharts.js")"></script>
<script>
    $(document).ready(function () {
        loadNavigation('lesseedashboard', 'gldashboard', 'plLnk', 'tl', 'End User Dashboard', '', '');
    });
</script>
<script type="text/javascript">
    var winwidth = $(window).width();
    var yside;
    if (winwidth > 1440) {
        yside = -30;

    } else if ((winwidth <= 1440) && (winwidth > 1050)) {
        yside = -30;

    } else if ((winwidth <= 1050) && (winwidth > 900)) {
        yside = -50;

    } else if ((winwidth <= 901) && (winwidth > 480)) {
        yside = -20;

    } else if ((winwidth <= 420) && (winwidth > 374)) {
        yside = -15;

    } else {
        yside = -10;

    }


    var isBig = $(window).width() > 1366;

    var legendBig = {
        align: 'center',
        verticalAlign: 'bottom',
        layout: 'horizontal'
        
    };

    var legendSmall = {
        align: 'center',
        verticalAlign: 'bottom',
        layout: 'horizontal',
        width: '200'
    }
    Highcharts.chart('Through-Licensee', {
        colors: ['#7367f0', '#ff9f43', '#28c76f'],
        chart: {
            type: 'pie',
            backgroundColor: "rgba(0,0,0,0)",
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            spacingTop: 0,
            spacingRight: 0,
            spacingBottom: 0,
            spacingLeft: 0
        },
        title: {
            text: ' '
        },
        /*legend: {
              align:'right',
                verticalAlign: 'middle',
                enabled: true,
                width:'200'
          },*/

        legend: isBig ? legendBig : legendSmall,
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45,
                dataLabels: {
                    distance: -40,
                    enabled: true,
                    style: {
                        fontSize: '14px',
                        fontFamily: 'Mulish, arial, sans-serif',
                        textShadow: false,
                        fontWeight: 'normal'
                    },
                    format: '{point.y}'
                }
            }
        },
        series: [{
            showInLegend: true,
            data: [
                ['Transit Pass', 10],
                ['Royality Paid Transit Pass', 5],
                ['Railway Transit Pass', 5]                
            ]
        }]
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        Highcharts.chart('last-seven-days1', {
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['01-Feb', '02-Feb', '03-Feb', '04-Feb', '05-Feb', '06-Feb',
                    '07-Feb']
            },
            yAxis: {
                title: {
                    text: ''
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Received',
                marker: {
                    symbol: 'square'
                },
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]

            }, {
                name: 'Dispatched',
                marker: {
                    symbol: 'diamond'
                },
                data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6]
            }]
        });
        Highcharts.chart('last-seven-days2', {
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['01-Feb', '02-Feb', '03-Feb', '04-Feb', '05-Feb', '06-Feb',
                    '07-Feb']
            },
            yAxis: {
                title: {
                    text: 'Mineral Qty'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Received',
                marker: {
                    symbol: 'square'
                },
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]

            }, {
                name: 'Dispatched',
                marker: {
                    symbol: 'diamond'
                },
                data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6]
            }]
        });
        Highcharts.chart('last-seven-days3', {
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['01-Feb', '02-Feb', '03-Feb', '04-Feb', '05-Feb', '06-Feb',
                    '07-Feb']
            },
            yAxis: {
                title: {
                    text: 'Mineral Qty'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Received',
                marker: {
                    symbol: 'square'
                },
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]

            }, {
                name: 'Dispatched',
                marker: {
                    symbol: 'diamond'
                },
                data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6]
            }]
        });
        Highcharts.chart('last-seven-days4', {
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['01-Feb', '02-Feb', '03-Feb', '04-Feb', '05-Feb', '06-Feb',
                    '07-Feb']
            },
            yAxis: {
                title: {
                    text: 'Mineral Qty'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Received',
                marker: {
                    symbol: 'square'
                },
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]

            }, {
                name: 'Dispatched',
                marker: {
                    symbol: 'diamond'
                },
                data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6]
            }]
        });
        Highcharts.chart('last-seven-days5', {
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['01-Feb', '02-Feb', '03-Feb', '04-Feb', '05-Feb', '06-Feb',
                    '07-Feb']
            },
            yAxis: {
                title: {
                    text: 'Mineral Qty'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Received',
                marker: {
                    symbol: 'square'
                },
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]

            }, {
                name: 'Dispatched',
                marker: {
                    symbol: 'diamond'
                },
                data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6]
            }]
        });
        Highcharts.chart('Major-Mineral-Recived-Dispatch', {
            colors: ['#92df9be0', '#f4433647'],
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)'
                
            },

            title: {
                text: ''
            },
            xAxis: {
                type: 'category',
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
                categories: ['Iron ore', 'Coal', 'Bauxite', 'Manganese', 'Limestone']
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Number of mineral'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',

            },
            

            

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>'

                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },


            series: [{
                name: 'Received Quantity',
                data: [5, 3, 4, 7, 2],
                stack: 'male'

            }, {
                name: 'Dispatch Quantity',
                data: [3, 4, 4, 2, 5],
                stack: 'male'

            }]
        });



        Highcharts.chart('e-Transit-Pass', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0d79d6', '#fe7211', '#ae84ff'],
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'e-Transit Pass'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10,

                },
                series: {
                    pointWidth: 20,
                    dataLabels: {

                        enabled: true,
                        align: 'center',

                        x: 0
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: "Total",
                    colorByPoint: true,
                    data: [
                        {
                            name: "Royalty Paid",
                            y: 62,

                        },
                        {
                            name: "Railway",
                            y: 43,

                        },
                        {
                            name: "Local",
                            y: 44,

                        }
                    ]
                }
            ]

        });



    });
</script>


