@model PermitEF.ePermitModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Permit/ePermit/RiderConfigMasterView">

                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0"> Rider Configuration Master</h5>
                        @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">District <span class="text-danger">*</span></label>
                            <select class="form-control" id="District" name="District">
                                <option>Select District</option>
                                <option>Balod</option>
                                <option>Bemetara</option>
                                <option>Bilaspur</option>
                                <option>Dhamtari</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">User Type <span class="text-danger">*</span></label>
                            <select class="form-control" id="Usertype" name="UserType">
                                <option>Select User type</option>
                                <option>Transporter/Vehicle Owner</option>
                                <option>Licensee</option>
                                <option>End User</option>
                                <option>Regional Office</option>
                                <option>Lessee</option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">User Name <span class="text-danger">*</span></label>
                            <select class="form-control" id="user" name="User">
                                <option>Select User Name</option>
                                <option>Shri Subodh Kumar Singh</option>
                                <option>Smt. Effat Ara</option>
                                <option>Sushri. Alarmelmangai D (I.A.S.)</option>
                                <option>Shri Jayant kumar Pashine</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">Mines Type<span class="text-danger">*</span></label>
                            <select class="form-control" id="Usertype" name="UserType">
                                <option>Select Mines type</option>
                                <option>ML/QL</option>

                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                            <label class="col-form-label pt-0 font-weight-bolder">Lease Grant Date<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" id="date" />
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="date"><i class="far fa-calendar"></i></label>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Location<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="location" />
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Lease Type<span class="text-danger">*</span></label>
                                <select class="form-control" id="Usertype" name="UserType">
                                    <option>Select Lease Type</option>
                                    <option>Auction</option>
                                    <option> NOn Auction</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Lease Extend<span class="text-danger">*</span></label>
                                <select class="form-control" id="Usertype" name="UserType">
                                    <option>Select Lease Extend</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Captive<span class="text-danger">*</span></label>
                                <select class="form-control" id="Usertype" name="UserType">
                                    <option>Select Captive</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="text-brown font-weight-bold mt-0">Payment Application</h5>
                                </div>
                                <div class="col-sm-12">
                                    <div class="table-responsive" id="viewtable">
                                        <table id="datatable" class="table table-sm table-bordered">
                                            <thead>
                                                <tr>

                                                    <th>Payment Head</th>
                                                    <th>Applicable</th>
                                                    <th>Percent </th>
                                                    <th>Make Payment</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>

                                                    <td>Royalty</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>DMF</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>30%</option>
                                                            <option>10%</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>NMET</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>2%</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>E.CESS</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control"  />
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Infra Cess</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>IT</td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="Usertype" name="UserType">
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Additional Amount Applicable<span class="text-danger">*</span></label>
                                <select class="form-control" id="Usertype" name="UserType">
                                    <option>Select</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <label class="col-form-label pt-0 font-weight-bolder">Premium Collection<span class="text-danger">*</span></label>
                                <select class="form-control" id="Premium" name="premium">
                                    <option>Select</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <input type="submit" value="@ViewBag.Button" name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="Submit">
                                    @*<a href="~/Configuration/ePermit/Add" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">Cancel</a>*@
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
@*<uc1:footer runat="server" ID="footer" />*@
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'E-Permit', 'Rider Master', ' ');
        $('.datetime').datetimepicker({
            format: "DD/MM/YYYY"
        }).keydown(false);
       

    });
</script>


