
.btn-primary {
    background-color: $primary !important;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: $primary-color-dark !important;
}
.btn-success {
    color: #fff;
    background-color: #2b802f !important;
}

.btn{ border-radius: 4px;}

.btn.btn-sm {
    padding: 0.4rem 1rem;
    font-size: 1rem;
}