/*----------------------------------------
  General Layout Style
------------------------------------------*/

html {
    font-size: 100%;
    background-color: #eeeeee;
}

html,
body,
form {
    height: 100%;
}

html.boxed {
    background: #E0E0E0;
}

body {
    background-color: #f0f1f3;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 23px;
    font-style: normal;
    color: $black;
    font-weight: 400;
}


/*----------------------------------------
    Page Title and Breadcrumb  
------------------------------------------*/

.page-title h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgba(118, 118, 118, 1.0);
    margin-bottom: 15px;
}

.page-title .breadcrumb {
    padding: 0px;
    margin: 15px 0;
}

.page-title {
    display: inline-block;
    width: 100%;
}

.loader-box {
    background-color: rgba($black, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 9991;
    i {
        color: #fff;
        font-size: 4rem;
        margin: auto;
    }
}


/*---------------------------------
    Typography
-----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    /*  font-family: Roboto, Helvetica, Arial, sans-serif;*/
    margin: 10px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    //color: #505458;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 400;
}

a {
    color: $danger;
}

a:hover,
a:focus {
    color: #333333;
}

img {
    max-width: 100%;
}

.bg-primary {
    background-color: $primary !important;
}

.custom-scroll {
    overflow: auto;
    &::-webkit-scrollbar {
        width: .6em;
        height: .6em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-500;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
}

.slideup-hvr {
    position: relative;
    .slideup-hvr-img {
        display: block;
        width: 100%;
        height: auto;
    }
    .slideup-hvr-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, .2);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    .slideup-hvr-text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &:hover {
        .slideup-hvr-overlay {
            height: 100%;
        }
    }
}
.text-blue {
    color: #2196f3;
}
.text-purple {
    color: #592bab;
}
.form-control-plaintext {
  
    color: #000;
   
}

.table input[type=checkbox], input[type=radio] {
   
    vertical-align: middle;
}

.notification-menu {
    right: -342px;
    color: #fff;
    z-index: 4;
    position: fixed;
    top: 90px;
    background: #ffffff;
    padding: 20px 20px;
    border-left: 2px solid #c62828;
    border-bottom: 2px solid #c62828;
    border-top: 2px solid #c62828;
    &.active {
        right: 0px;
    }
    .notification-body {
        width: 300px;
        height: 80vh;
        .notification-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 0px;
            padding-bottom: 20px;
            text-align: center;
            color: #c62828;
            border-bottom: 1px solid rgb(221 221 221 / 53%);
        }
        .notification-body p {
            color: rgba(255, 255, 255 ,.85);
        }
    }
       
    .notification-btn {
        color: #fff;
        background: #c62828;
        border-top-left-radius: 3px;
        text-align: center;
        border-bottom-left-radius: 3px;
        font-size: 20px;
        position: absolute;
        left: -39px;
        width: 37px;
        top: -2px;
        padding: 5px 5px;
        .notification-btn:hover, .notification-btn:focus {color: #fff;}
        .notification-btn i {padding: 7px;}
    }
}


.btn-danger {
    color: #fff;
    background-color: #f00 !important;
}

.alert-modal .modal-body {
    border: 4px solid #9c634a;
} 


.imp-msg
{
    list-style: none;
    margin-bottom: 0rem;
    padding: 0px;
    overflow-y: auto;
    max-height: 700px;
    ul{
        list-style: none;
        padding-left: 0px;
        margin-bottom:0px;
        margin-right: 5px;
        li{
            color: #000;
            margin: 0em;
            padding: 0.8em 0em 0em 1.7em;
            position: relative;
            &:before{
                    content: "\f005";
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    color: #c62828;
                    font-weight: 600;
                    left: 0;
                    font-size: 12px;
                }
                &:last-child()
                {
                    padding-bottom:0px;
                }
               
        }
    }
    
}
/*---------------------------------
  Section or Content Box
----------------------------------*/
.breadcrumb {margin: 15px 0px 20px 0px!important;}
.modal-header .close {
  
    font-size: 30px;
}
section.box {
    position: relative;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #313534;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 13px 0 rgba(62, 44, 90, .08);
    box-shadow: 0 0 13px 0 rgba(62, 44, 90, .08);
}

section header {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0.09);
    border-bottom: 0px solid transparent;
    vertical-align: top;
    position: relative;
    min-height: 50px;
}

section header .title {
    margin-top: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 30px;
    color: #676767;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
}

section .content-body {
    padding: 20px;
    background-color: #ffffff;
    border: 0px solid #e8e8e8;
    border-top: 0px;
    margin-top: -4px;
}

section.box.nobox {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

section.nobox header {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0px solid transparent;
}

section.nobox header .title {
    padding-left: 0px;
}

section.nobox .content-body {
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0 0px 0px 0px;
}

section.box .actions {
    margin: 10px 15px 0 15px;
    line-height: 36px;
    position: absolute;
    right: 0px;
    top: 0px;
}

section.box ul .actions {
    margin-left: 0px;
}

section.box .actions a {
    color: #bcbcbc;
    font-size: 12px;
    margin-left: 0px;
    padding: 5px;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

section.box .actions a:hover {
    color: #999999;
    text-decoration: none;
}

.db_box {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
    -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
    -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
    -o-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
    -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
}


/*--------ui panels section for different colors--------*/


/*transparent*/

section.box.transparent {
    background-color: transparent;
}

section.transparent header {
    background-color: transparent;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #3f51b5;
}

section.transparent .content-body {
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-top: 0px;
}


/*-----------------------------------------------------------
    Display Code Wrappers
----------------------------------------------------------*/

kbd {
    color: #fff;
    background-color: #555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, .25);
    -moz-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, .25);
    box-shadow: inset 0 -1px 0 rgba(100, 100, 100, .25);
}

pre {
    color: #555555;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #f44336;
    background-color: #f9f2f4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/*-----------------------------------------------------------
    Badges
----------------------------------------------------------*/

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: #777;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.badge.badge-md {
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.badge.badge-lg {
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.badge .fa {
    font-size: 12px;
}

.badge.badge-md .fa {
    font-size: 14px;
}

.badge.badge-lg .fa {
    font-size: 17px;
}

.badge-secondary {
    background-color: #9e9e9e;
    color: #ffffff;
}

.badge-primary {
    background-color: #3F51B5;
    color: #ffffff;
}

.badge-purple {
    background-color: #673AB7;
    color: #ffffff;
}

.badge-accent {
    background-color: #E91E63;
    color: #ffffff;
}

.badge-info {
    background-color: #03A9F4;
    color: #ffffff;
}

.badge-warning {
    background-color: #FFC107;
    color: #ffffff;
}

.badge-danger {
    background-color: #f44336;
    color: #ffffff;
}

.badge-success {
    background-color: #4CAF50;
    color: #ffffff;
}

.uibadges .badge {
    margin: 5px 5px 0 0;
}


/*-----------------------------------------------------------
  Page Layout - Sidebar, Chat API toggle interactions
-----------------------------------------------------------*/

.page-container {
    &.container-fluid {
        padding: 0px;
    }
}

#main-content,
.page-setting,
.page-topbar,
.page-sidebar,
.page-topbar .logo-area,
.page-topbar .quick-area .pull-right,
.collapse-wraplist,
.profile-info,
.wraplist,
.chatapi-windows {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.main-wrapper {
    margin-top: 68px;
    display: inline-block;
    width: 100%;
    padding: 15px 5px 0px 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.page-sidebar.collapseit {
    width: 0px;
    margin-left: 0px !important;
    z-index: 99;
}

.page-sidebar.chat_shift {
    width: 60px;
    margin-left: 0px !important;
    z-index: 99;
}

#main-content {
    margin-left: 260px;
    display: block;
}

#main-content.hor_menu {
    margin-left: 0px;
}

#main-content.chat_shift {
    margin-left: 60px !important;
    margin-right: 260px !important;
}

#main-content.sidebar_shift {
    margin-left: 0px;
    margin-right: 0px;
}

#main-content.sidebar_shift.hor_menu {
    margin-left: 0px;
}

.page-topbar.chat_shift {
    margin-left: -200px !important;
}

.page-topbar.chat_shift .quick-area .pull-right {
    margin-right: 60px !important;
}

// .page-topbar.sidebar_shift .logo-area {
//     width: 60px;
// }
.page-topbar.chat_shift .logo-area {
    width: 260px;
}

.boxed .page-topbar.chat_shift .logo-area {
    width: 60px;
}

// input focus effect
.input-effect {
    position: relative;
    z-index: 0;
    &.effect-19 {
        .form-control {
            transition: 0.4s;
            background: transparent;
            // &:focus {
            //     box-shadow: 0 0 0 0.2rem rgba(46, 82, 152, 0);
            // }
        }
        .form-control~.focus-border:before,
        .form-control~.focus-border:after {
            content: "";
            position: absolute;
            top: -1px;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $light-blue;
            transition: 0.4s;
            border-radius: 0.35rem;
        }
        .form-control~.focus-border:after {
            top: auto;
            bottom: 0;
        }
        .form-control:focus~.focus-border:before,
        .form-control:focus~.focus-border:after,
        .has-content.form-control~.focus-border:before,
        .has-content.form-control~.focus-border:after {
            left: 0;
            width: 100%;
            transition: 0.4s;
        }
        .form-control~label {
            position: absolute;
            left: 14px;
            width: 100%;
            top: 7px;
            color: $gray-700;
            transition: 0.3s;
            z-index: -1;
            letter-spacing: 0.5px;
        }
        .form-control:focus~label,
        .has-content.form-control~label {
            top: -12px;
            left: 8px;
            font-size: 12px;
            color: $light-blue;
            transition: 0.3s;
            z-index: 1;
            background-color: #fff;
            padding: 0 5px;
            width: auto;
        }
    }
}


/*-----------------------------------------------------------
    Notification Widget (Dashboard)
----------------------------------------------------------*/

.notification-widget {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 315px;
}

.notification-widget li {
    padding: 15px;
    overflow: hidden;
    height: auto;
    display: block;
    background: #f5f5f5;
    margin: 15px 0 0 0;
}

.notification-widget li a {
    text-decoration: none;
    color: #717171;
}

.notification-widget li .name,
.notification-widget li .desc {
    display: block;
    position: relative;
}

.notification-widget li .user-img img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 15px 0 0;
    opacity: 0.8;
}

.notification-widget li .profile-status {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.notification-widget li .name {
    color: #aaaaaa;
}

.notification-widget li .name .time {
    color: #cccccc;
}

.notification-widget li .desc {
    color: #999999;
}

.notification-widget li.unread .user-img img {
    opacity: 1;
}

.notification-widget li.unread .name {
    color: #717171;
}

.notification-widget li.unread .name .time {
    color: #aaaaaa;
}

.notification-widget li.unread .desc {
    color: #777777;
}

.notification-widget li.external a:hover,
.notification-widget li.external {
    height: auto;
    background: #eeeeee;
}

.notification-widget li.external a {
    display: block;
    padding: 15px 30px;
    color: #999999;
    font-size: 13px;
}

.wid-notification {
    padding: 15px;
    background: #ffffff;
    margin-bottom: 0px;
    min-height: 400px;
}

.notification-widget li.status-available {
    background-color: rgba(102, 189, 120, 0.1);
}

.notification-widget li.status-away {
    background-color: rgba(255, 193, 7, 0.1);
}

.notification-widget li.status-busy {
    background-color: rgba(240, 80, 80, 0.1);
}

.notification-widget li.status-idle {
    background-color: rgba(250, 133, 100, 0.1);
}

.notification-widget li.status-offline {
    background-color: rgba(169, 169, 169, 0.1);
}

.inviewport,
.hiddenthis {
    opacity: 0;
}

.inviewport.visible {
    opacity: 1;
}

.font-weight-550 {
    font-weight: 550!important;
}




/*-------------------------------------------------------------
  override css
---------------------------------------------------------------*/


/*------------------------------------------
  Error pages 404, 505
-------------------------------------------*/

.page_error_code {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 10rem;
    font-weight: 400;
    margin: 50px 0 0 0;
}

.page_error_info {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    color: #aaaaaa;
    font-weight: 400;
    margin: 15px 0;
}

.page_error_search {
    margin: 35px 0;
    input[type='text'] {
        margin: 0 auto;
        padding: 15px 15px;
        font-size: 16px;
        height: 47px;
        background-color: #f8f8f8;
    }
    input[type='submit'] {
        visibility: hidden;
        width: 0px;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px;
        margin: 0px;
    }
    .input-group.transparent .input-group-addon {
        background-color: $gray-300;
        padding: 10px 12px 6px 20px;
        border: solid 1px $gray-400;
        &:hover {
            background-color: $gray-100;
        }
    }
    .input-group.transparent {
        height: 47px;
    }
    .input-group.transparent span {
        height: 45px;
    }
}

.page_error_btn {
    margin: 30px 0 0 0;
}

// accordion css
.user-list {
    .userlist-scroll {
        max-height: 200px;
    }
    .activity-list {
        li {
            display: inline-block;
            width: 32%;
            position: relative;
            padding: 0.2rem .4rem;
            &::after {
                position: absolute;
                font-size: 12px;
                color: #7b8286;
                left: -22px;
                top: 4px;
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }
}

.custom-accordion {
    a {
        &.collapse {
            &:not(.btn) {
                display: block;
                color: $gray-600;
                &:hover {
                    color: $primary;
                }
            }
        }
        &.collapsed {
            color: #37517e;
            transition: 0.3s;
            &:hover {
                color: $primary;
            }
            .icon-show {
                display: inline-block;
            }
            .icon-close {
                display: none;
            }
        }
    }
    .icon-show,
    .icon-close {
        font-size: 16px;
    }
    .icon-show {
        display: none;
    }
}

// 

/*-------------------------------------------------------------
  override css
---------------------------------------------------------------*/

// .btn-primary {
//     background-color: $primary !important;
// }
// .btn-primary:not([disabled]):not(.disabled):active,
// .btn-primary:not([disabled]):not(.disabled).active,
// .show>.btn-primary.dropdown-toggle {
//     background-color: $primary-color-dark !important;
// }
table {
    td {
        font-weight: 400;
    }
}

.table {
    color: $gray-900;
    th {
        background-color: $gray-100;
        border-color: $gray-400;
        border-bottom: solid $gray-500 2px;
        font-weight: 600;
        vertical-align: middle !important;
    }
    td {
        a:not(.btn) {
            color: $info;
            &:hover {
                color: $gray-700;
                text-decoration: none;
            }
        }
    }
    // &.table-sm {
    //     th,
    //     td {
    //         padding-top: 0.4rem;
    //         padding-bottom: 0.4rem;
    //     }
    // }
    .btn-sm {
        padding: 0.10rem 0.4rem;
        font-size: .8rem;
        
    }
    .shorting-cell {
        position: relative;
        display: flex;
        white-space: nowrap;
        .btn-sm {
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
        }
        a:not(.btn) {
            color: $gray-500;
            padding-left: 5px;
            &:hover,
            &.active {
                color: $gray-800;
            }
            &.filter-lnk {
                color: $gray-700;
                display: inline-block;
                margin-left: auto;
                padding-left: 20px;
                &.active {
                    color: $gray-500;
                    &:hover {
                        color: $gray-500;
                    }
                }
            }
        }
    }
}

.filter-dropdown {
    background-color: $gray-100;
    min-width: 12rem;
}

.inactive-row,
.active-row,
.reject-row {
    td {
        &:first-child {
            position: relative;
            padding-left: 10px;
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 94%;
                left: 0;
                top: 3%;
            }
        }
    }
}

.inactive-row {
    td {
        &:first-child {
            &::before {
                background-color: $orange;
            }
        }
    }
}

.active-row {
    td {
        &:first-child {
            &::before {
                background-color: $green;
            }
        }
    }
}

.reject-row {
    td {
        &:first-child {
            &::before {
                background-color: $danger;
            }
        }
    }
}

.legend-box {
    margin-top: 5px;
    
      @media only screen and (max-width: 375px) {
        
    margin-bottom: 20px; 
      }
    
    ul {
        display: inline-block;
    }
    li {
        display: flex;
        align-items: center;
        span {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 .2rem 0 .8rem;
            display: inline-block;
        }
    }
}

// nav tab
.main-tab {
    .nav-tabs {
        float: left;
        border:0px;
    }
    .nav-link {
        background-color: $primary;
        color: $white;
        
        @media only screen and (max-width: 640px) {
           margin-top:5px;
          }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        
        border-color: #ffffff #ffffff #fff;
    }
    .nav-tabs .nav-item {
        margin-bottom: 1px;
    }
}

.util-group {
    min-height: 40px;
    a {
        margin: 0 0 0 5px;
        padding: .25rem 0.45rem;
        font-size: .87rem;
        line-height: 1.2;
        &:hover {
            background-color: $white !important;
        }
    }
}

.button-links {
    // position: absolute;
    // right: 0;
    // top: 0;
    margin-bottom: .4rem;
    .btn {
        margin: 0 .1rem;
    }
}

// form control


.btn {
    text-transform: inherit;
    &.btn-md {
        padding: .5rem 1.2rem;
        font-size: 1rem;
    }
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #8d3610;
    background-color: #8d3610;
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(141, 54, 16, 0.25);
  }
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #e86b34;
  }
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #ed8d62;
    border-color: #ed8d62;
  }
  .custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
    color: #858796;
  }
  .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #eaecf4;
  }
  
.form-control {
 
    height: calc(1.6em + .75rem + 2px);
}

.col-form-label {
    @media (min-width: 577px) {
        text-align: left;
    }
}

.custom-radio {
    border: 0;
    width: auto;
    margin: 0;
}

.custom-radio td,
.custom-radio th {
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.custom-radio td label {
    margin: 0 15px 0 5px;
}

.popover {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3);
    border: 0;
    .popover-header {
        margin-top: 0;
    }
}

.table td {
    font-size: 1rem;
    font-weight: 300;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8d36104d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(141 54 16 / 9%);
}

.searchform {
    background-color: $gray-100;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0rem;
    padding: 1.5rem 1rem 1rem 1rem;
    .form-group {
        margin-bottom: 0.5rem;
    }
    .col-form-label {
        text-align: left;
    }
}
.searchbtn i{
    border-radius: 50%;
    background-color: rgb(240 241 243);
    padding: 5px 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 10px rgb(58 59 69 / 22%);
}
.searchbtn span{
    color: #8d3610 !important;
    font-weight:bold;
}

.pagination .page-item.active .page-link {
    background-color: #8d3610;
}
.pagination .page-item.active .page-link:hover {
    background-color: #3a3b45;
}
.message-highlighter {
    padding: .5rem 1rem;
    background-color: #8d36101a;
    margin-bottom: 3rem;
    border-left: 4px solid #8d3610;
    box-shadow: 1px 1px 5px rgb(58 59 69 / 41%);
}

.searchbtn {
    background-color: $gray-100;
    margin: 0;
}

.bootstrap-select {
    .dropdown-toggle {
        .filter-option {
            font-size: .9rem;
        }
    }
    .btn {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0);
        margin: 0;
    }
}

.rights-accordion {
    .panel {
        padding: 0.4rem 0.6rem 0.1rem 1.1rem;
        .form-check-input {
            margin-top: 0.05rem;
        }
        .panel-heading {
            display: flex;
            align-items: center;
            a {
                font-size: 0.7rem;
                margin-left: -1rem;
                padding: 0 0.6rem 0 0;
                color: $gray-600;
            }
        }
        .panel-title {
            &.trigger:before {
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                vertical-align: text-bottom;
            }
            &.trigger.collapsed:before {
                content: "\f054";
            }
        }
        .panel-body {
            padding-left: 2.5rem;
        }
    }
}

.rights-chkbox-list {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 0;
    }
}

.searchableselect-container--default .searchableselect-results__option--highlighted[aria-selected] {
    background-color: rgba($primary, .8) !important;
}



.report-summary ul li
{
    display:flex;
    justify-content:space-between;
    margin-bottom: .5rem;
    &:last-child
    {
        margin-bottom: 0rem; 
    }
    span a
    {
        color:#823f09;
        text-decoration:none;
        &:hover
        {
            color:#000;
            
        }
    }
   
}
.summary-card
{
    height: 185px;
    border: 1px solid #ddd;
}

.star-rating table.table th, table.table td 
{
    
padding-top: .75rem;
padding-bottom: .75rem;
}

.star-rating .table.table a.btn.btn-success 
{
    color: #ffffff;
}

.overall-table-height,.criteria-table-height{height:320px;}
.custom-scroll ::-webkit-scrollbar {width: 10px;}
.custom-scroll::-webkit-scrollbar-track {background: #F5F5F5;}
.custom-scroll::-webkit-scrollbar-thumb {background: #6b6b6b;border-radius: 10px;}
.custom-scroll::-webkit-scrollbar-thumb:hover {background: #6b6b6b;}

.lessee-profile-parent .lessee-body
{
    
   /* height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
    @media only screen and (max-width: 640px) {
        height:auto;
      }*/
    
}

.lessee-profile-right 
{
    .profile-heading{
        padding: 5px;
    background-color: #ffbb33;
    border: 1px solid rgb(255 255 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    color: #27282f;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 1px 1px 10px #3a3b4670;
    }
    li span a:hover{color: #8d3610 !important;}
    .progress {
        height: .8rem!important;
            .progress-bar {
                color: #000!important;
                font-size: 10px!important;
                font-weight: 600!important;
            }
    }
}



.lessee-profile-parent .custom-col.col-lg-4
{
    @media (max-width: 1366px)
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (max-width: 768px)
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

.approve .modal-body
{
border: 15px solid #ddd;
}
@media only screen and (max-width: 640px) {
    .lessee-progress {
        margin-top: 1rem;
    }
}

.lessee-profile-parent .custom-scroll::-webkit-scrollbar {width: 5px;}
.lessee-profile-parent .custom-scroll::-webkit-scrollbar-track {background: #F5F5F5;border-radius: 5px;}
.lessee-profile-parent .custom-scroll::-webkit-scrollbar-thumb {background: #8d3610;border-radius: 5px;}
.lessee-profile-parent .custom-scroll::-webkit-scrollbar-thumb:hover {background: #8d3610;}
.lessee-profile-parent .card-body{
    height: 275px;
  
    @media only screen and (max-width: 768px) {
        height: 290px;
    }
    @media only screen and (max-width: 640px) {
        height: auto;
    }
}
.lessee-profile-parent .card-title
{
    @media only screen and (max-width: 320px) {
        width: 86%;
    } 
}
.view-more{    
    position: absolute;
    bottom: 14px;
    right: 20px;
    @media only screen and (max-width: 1200px) {
        bottom: 5px;
    }
    @media only screen and (max-width: 768px) {
        bottom: 15px;
        right: 40px;
    }
      @media only screen and (max-width: 576px) {
        position: static;
        margin-top: 1rem;
        text-align: right;
      }
     
    &:hover{
        color:#000!important;
    }
}

 .bg-light 
{
    background-color: #f8f9fa!important;
}

.content-body span.text-danger{font-size: 18px;}

fieldset {
  
    border: 1px solid #8d3610;
    margin-bottom: 20px;
    &:last-child
    {
        margin-bottom: 0rem; 
    }
}

fieldset legend 
{
    margin-left: 15px;
    margin-bottom: 0;
    width: auto;
    border-radius: unset;
    background-color: #8d3610;
    color: #ffffff;
    box-shadow: 2px 3px 3px 0px rgb(0 0 0 / 51%);
}

.fieldset-body
{
    padding: 5px 14px 14px 14px;
}

span.colon {
    position: absolute;
    left: 0;
    font-weight: 700;
    @media (max-width: 640px)
    {
        display: none;
    }
}

.text-decoration-underline {
    text-decoration: underline;
}
i.far.fa-file-pdf{
    color: red;
}

.main-tab ul li{margin-right:5px;}
.main-tab ul li:last-child{margin-right:0px;}

.progressbar {
    overflow: hidden;
    counter-reset: step;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 20px 0px 8px;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
}
.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 600;
    font-size: .8rem;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
   width: 40px;
    height: 40px;
    line-height: 39px;
    display: block;
    font-size: 1em;
    color: #8d3610;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 0px auto;
    z-index: 1;
    position: relative;
    font-weight: 600;
    border: 2px solid #8d3610;
}
.progressbar li a{
    color:#000;
    @media (max-width: 640px)
    {
        display: none;
    }
}
.progressbar li a:hover{color:#8d3610;}
.progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #d9dce0c9;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: 0;
}
.progressbar li:first-child:after {content: none;}
/*active*/
.progressbar li.active:before {background: #8d3610;color: rgb(255, 255, 255);border: 2px solid #8d3610;}
.progressbar li.active:before,  .progressbar li.active:after{background: #8d3610;}
/*complete */
.progressbar li.complete:before {background: #00e600;color: rgb(255, 255, 255);border: 2px solid #00e600;}
.progressbar li.complete:before,.progressbar li.complete:after{background: #00e600;}
/*incomplete */
.progressbar li.incomplete:before {background: #ff9900;color: rgb(255, 255, 255);border: 2px solid #ff9900;}
.progressbar li.incomplete:before,  .progressbar li.incomplete:after{background: #ff9900;}

.ereturncoalyear.progressbar li {
    width: 14%;
}
.module-sec{
    /*height: 500px;*/
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2rem;
}
.module-sec:last-child{
    margin-bottom: 0rem;
}
.ordering-style ol 
{
    list-style: none; 
    padding:0rem; 
    
}
.pagination.pg-blue .page-item.active .page-link {
    background-color: #8d3610;
}

.ordering-style ol li
{
    display: block;
    clear: both;
    counter-increment: list;
    line-height: 1.375;
    position: relative;
}
.ordering-style ol li:before 
{
    font-weight: 700;
    font-size: 1rem;
    content: counter(list);
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0.75rem 0;
    color: #f0f1f3;
    background: #5f2107 linear-gradient( to bottom right, #712b0c 25%, #8d3610 );
    text-shadow: 0 0 2px #8d3610;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}


.ordering-style ol li a
{
    color:#3a3b46;
    padding: 0rem 0 0 0;
    margin: 0px 0 0rem 0;
    line-height: 46px;
    font-size: 1.2rem;
}

.ordering-style ol li a:hover
{
    color:#cc6335;  
}


table .btn-outline-primary:hover
{
    background-color:#2561c3!important;
    color:#fff!important;
}
table .btn-outline-danger:hover
{
    background-color:#ff3547!important;
    color:#fff!important;
}
table .btn-outline-success:hover
{
    background-color:#00c851!important;
    color:#fff!important;
}

.btn.btn-danger:hover {
    background-color: #d60618!important;
 }
 .btn.btn-primary:hover {
    background-color: #5d250c!important;
 }
 .btn.btn-dark:hover {
    background-color: #3a3b45!important;
 }
 .btn.btn-success:hover {
    background-color: #006228!important;
 }
 .btn.btn-warning:hover {
    background-color: #ffeb3b!important;
 }
 .legend-box .bg-warning
 {
    background-color: #fd7e14 !important;
 }
 .custom-control-label {
    padding-right: .3rem;
}
.exploration-port-height{
    height: 460px;
}

.offices-switch li a{
    color:#3377ad;
    &:hover{
        color:#000;
        text-decoration: underline;
    }
}

.col-form-label {
    
    font-weight: bolder;
}
.table-bordered {
    border: 1px solid #dee2e6!important;
}

$borderWidth: 5px;
$animationTime: .5s;
$border-color-default: #efefef;
$border-color-fill: #ffb43e;
$size: 160px;
$howManySteps: 100; //this needs to be even. 

.lessee-progress .progress {
width: 100px;
height: 100px;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  @media only screen and (max-width: 640px)
  {
    margin: unset;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }
  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
    
  }
  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);;
    border-bottom-right-radius: ($size/2);;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);;
      border-bottom-left-radius: ($size/2);;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }
  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 300;
    div {
      //margin-top: 10px;
    }
    span {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.lessee-progress .progress .progress-bar.bg-green {
   
    border-color: #8bc34a;
}
.lessee-progress .progress .progress-bar.bg-red {
   
    border-color: #f44336;
}
.lessee-progress .progress .progress-bar.bg-blue1 {
   
    border-color: #00bcd4;
}

/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
@for $i from 1 through $howManySteps {
	$stepName: ($i*(100 / $howManySteps));

	//animation only the left side if below 50%
	@if $i <= ($howManySteps/2) { 
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				 animation: loading-#{$i} $animationTime linear forwards;
			}
			.progress-left .progress-bar {animation: 0;}
		}
	}
	//animation only the right side if above 50%
	@if $i > ($howManySteps/2)  {  
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
			}
			.progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
		}
	}
}

//animation
@for $i from 1 through ($howManySteps/2) { 
	$degrees: (180/($howManySteps/2));
	$degrees: ($degrees*$i);
	@keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
			transform: rotate(#{$degrees}deg);
    }
	}
}

.timeline 
{
    padding: 0;
    margin-bottom: 0;
    margin-left: -25px;
    list-style: none;
    margin-top: 1rem;
    max-height: 264px;
    .timeline-item:not(:last-child) 
    {
        margin-bottom: 2.3rem;
    }
    .timeline-item 
    {
        position: relative;
        padding-left: 95px;
        margin-right: 10px;
        @media only screen and (max-width: 768px) {
            padding-left: 30px;
        }
        &::before 
        {
            content: "";
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background-color: #e91e63;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            @media only screen and (max-width: 768px) {
                bottom: unset;
            }
        }
    }
    .date-box
    {
        position: absolute;
        left: 18px;
        display: flex;
        align-items: center;
        color: #e91e63;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        @media only screen and (max-width: 768px) {
            position: unset;
        }
        p 
        {
            margin-bottom:0rem;
            @media only screen and (max-width: 768px) {
               font-size:20px;
            }
            .date 
            {
                font-size: 32px;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 768px) {
                    display: inline-flex;
                    font-size: inherit;
                }
            }
        }
    }
    .message-highlighter {
        padding: 0.5rem 1rem;
        background-color:#fff;
        margin-bottom: 0rem;
        border-left: 0px solid #8d3610;
        box-shadow: 1px 1px 5px rgb(58 59 69 / 41%);
        position: relative;
        overflow: hidden;
        
    }
    li:last-child .message-highlighter {
        margin-bottom: 1rem;  
    }
    
}
    
.timeline  .message-highlighter.approved:before {
    position: absolute;
    font-weight: 600;
    padding: 0 25px;
    transform: rotate(45deg);
    right: -33px;
    top: 18px;
    content: "Approved";
    background: #00c851;
    color: #fff;
    box-shadow: 1px 1px 7px rgb(58 59 69);
    @media only screen and (max-width: 375px) {
        position: unset;
        display: block;
        margin-bottom:1rem; 
        padding: 4px 25px;
        transform: rotate(0deg); 
    }
}
.timeline  .message-highlighter.draft:before {
    position: absolute;
    font-weight: 600;
    padding: 0 25px;
    transform: rotate(45deg);
    right: -23px;
    top: 11px;
    content: "Draft";
    background: #2561c3;
    color: #fff;
    box-shadow: 1px 1px 7px rgb(58 59 69);
    @media only screen and (max-width: 375px) {
        position: unset;
        display: block;
        margin-bottom:1rem; 
        padding: 4px 25px;
        transform: rotate(0deg); 
    }
}
.message-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    @media only screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
    }
     h5{
         margin-bottom:0rem;
        @media only screen and (max-width: 530px) {
            margin-bottom:.7rem;
        }
    }  
   
}




