$primary-hover: #cc2a39 !default;
$primary-header:#e63040!default;
$primary-border: #da2b3b !default;
$primary-light: #ff5d6c !default;
$primary-icon: #ff9aa3 !default;
$primary:#ff3547 !default;
$menu-link:#ffebed !default;
$submenu-link:#ffd7da !default;
$btn-hover:#e63040 !default;