@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "utilities";
html,body,form {height: 100%;}
body {
    color:#333;
    @media screen and (max-width: 1600px) {
        background-size: cover;
    }
    @media screen and (max-width: 1370px) {
        background-size: 100%;
    }
    @media screen and (max-width: 1152px) {
        background-size: cover;
    }
    @media screen and (max-width: 576px) {
        background-size: auto 100%;
    }
}

.form-control:focus {
    border-color: #00bcd4;
}

.font-increase-decrease:after{
    border-right:1px solid #ddd;
    content:'';
    position: absolute;
    height: 12px;
    top: 13px;
    padding: 0px 0px 0px 10px;
    @media screen and (max-width: 768px)
    {
        border-right:0px solid #ddd;  
    }
}
.white-theme{
    width: 13px;
    height: 13px;
    float: right;
    background: #fff;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
    @media screen and (max-width: 768px)
    {
        position: absolute;
        left: 9px;
    }
}
.dark-theme{
    width: 13px;
    height: 13px;
    float: right;
    background: #000;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
    @media screen and (max-width: 768px)
    {
        position: absolute;
        left: 32px; 
    }
}    

.indicates {
    margin-right: 67px;
    @media screen and (max-width: 1200px) {margin-right: 53px;}
    @media screen and (max-width: 768px) {margin-right: 35px;}
    @media screen and (max-width: 640px) {margin-right: 0px;}
}


.head-sec {
    .navbar {
        padding: 0.3rem 0 0.4rem 0;
        z-index: 0;
    }
    .header {
        position: relative;
        z-index: 1;
        background: #fff url(../img/headerbg.png) center no-repeat;
        @media screen and (max-width: 1680px) {
            background-position: 30%;  
        }
        @media screen and (max-width: 1600px) {
            background-position: 20%;  
        }
        @media screen and (max-width: 1440px) {
            background-position: -9%;  
        }
        @media screen and (max-width: 1366px) {
            background-position: -45%;
        }
        @media screen and (max-width: 1200px) {
            background-position: -181%; 
        }
        @media screen and (max-width: 1280px)
        {
            background-position: -90%;
        }
        @media screen and (max-width: 1024px) {
            background-image: none;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2rem;
            width: 37%;
            height: 100%;
            background: $brown;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transform: skew(-45deg);
            -ms-transform: skew(-45deg);
            transform: skew(-45deg);
            z-index: -1;
            @media screen and (max-width: 1600px) {
                left: -4rem;
            }
            @media screen and (max-width: 1366px) {
                width: 40%;
            }
            @media screen and (max-width: 1280px) {
                width: 43%;
            }
            @media screen and (max-width: 1024px) {
                width: 55%;
            }
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
                display: inline-block;
                a:not(.btn) {
                    &:hover {
                        text-decoration: none;
                        color: #ba812c!important;
                    }
                }
            }
            &.top-link {
                font-size: .9rem;
                padding: 0;
                li {
                    padding: 0 .8rem .2rem .8rem;
                    
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &:nth-child(3) a,&:nth-child(4) a,&:nth-child(5) a{
                        color:#000;
                        font-weight: 500;
                    }
                }
            }
            &.contact-dtls {
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem;
                    i {
                        padding-top: .2rem;
                        color: $danger;
                        font-size: 24px;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    h6 {
                        font-weight: bold;
                    }
                }
                .btn {
                    i {
                        font-size: 1rem;
                        color: $white;
                    }
                }
            }
        }
        .btn-warning {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .navbar {
        text-align: left;
        .navbar-brand {
            display: flex;
            align-items: center;
            color: $white;
            .login-logo {
                height: 70px;
                margin-right: 1rem;
                @media screen and (max-width:768px) {
                    height: 60px;
                }
            }
            h1 {
                font-size: 1.4rem;
                small {
                    padding: 0.2rem 0 0 0;
                    font-size: 72%;
                }
            }
        }
        // menu
        &.menu-bar {
            background-color: $dark;
            .dropdown-menu {
                padding: 0;
            }
            .navbar-nav {
                width: 100%;
                .nav-item {
                    .nav-link {
                        text-align: center;
                        font-weight: 500;
                        color: $white;
                        font-size: .95rem;
                        @media screen and (min-width: 992px) {
                            padding-right: 0.5rem;
                            padding-left: 0.5rem;
                        }
                        @media screen and (min-width: 1300px) {
                            padding-right: 0.6rem;
                            padding-left: 0.6rem;
                        }
                        @media screen and (min-width: 1400px) {
                            padding-right: 0.7rem;
                            padding-left: 0.7rem;
                        }
                        &.active,
                        &:hover {
                            color: $yellow;
                        }
                    }
                    &.dropdown {
                        &.show {
                            .nav-link {
                                color: $yellow;
                            }
                        }
                    }
                    .dropdown-menu {
                        font-size: .9rem;
                        max-width: 15rem;
                        min-width: 15rem;
                        top: 45px;
                        border-radius: 3px!important;
                        background-color: #333;
                        border: 1px solid rgb(227 230 240 / 17%);
                        .dropdown-item {
                            padding: 0.4rem 0.6rem;
                            border-bottom: solid 1px $gray-200;
                            color: #ffffff;
                            white-space: pre-wrap;
                            &:hover {
                                color: $yellow;
                                background-color: #333;
                            }
                            &:focus,
                            &.active,
                            &:active {
                                background-color: #8d3610;
                                color: #ffffff;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            .khanij-online {
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                    a.mrd-btn{
                        background-color:#d56808;
                        margin-top: .4rem;
                        display: inline-block;
                        padding: 0.3rem 1rem;
                        border-radius: 3px;
                        text-decoration: none;
                        &:hover{
                            background-color:#da8a12;
                        }
                    }
                }
                
            }
        }
    }
}

ul.khanij-online li:first-child{
    position: absolute;
    right: 249px;
    top: 10px;
    width: 260px;
    background-color: #d56808;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #de9f48;
    &:hover{
        background-color: #da8a12; 
    }
    a img{
        height: 32px;
    }
    .web-based-title {
        position: absolute;
        right: 2%;
        top: 0%;
        color: #fff;
        font-weight: 500;
        font-size: 11px;
    }
}





@media screen and (max-width: 1440px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    &::before {
                        right: -1.5rem;
                        width: 113%;
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 1200px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    img {
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1152px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    width: 45%;
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .head-sec {
        background-color: $white;
        .header {
            &::before {
                left: -10rem;
                width: 162%;
                height: 70px;
            }
            .toplnk-mobile {
                position: absolute;
                top: -43px;
                right: 0px;
                color: $white;
            }
            .navbar {
                .contact-culm {
                    padding: 0.7rem 0 0 0;
                    width: 100%;
                    position: relative;
                   
                }
            }
            ul {
                justify-content: center;
                &.top-link {
                    position: absolute;
                    right: 0px;
                    top: 4px;
                    display: inherit;
                    background-color: #f8eeea;
                    box-shadow: 0 0.5rem 0.5rem 0 rgb(0 0 0 / 43%);
                    border-radius: .2rem;
                    li {
                        display: block;
                        padding: .2rem .6rem;
                        &:first-child {
                            padding-left: .6rem;
                        }
                        @media screen and (max-width: 768px)
                        {
                            &:nth-child(3) {
                               margin-top:1rem; 
                            } 
                        }
                    }
                }
                &.contact-dtls {
                    li {
                        i {
                            font-size: 1.2rem;
                        }
                        .btn {
                            padding: .15rem .75rem;
                        }
                    }
                }
            }
        }
        .navbar {
            &.menu-bar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-align: left;
                        }
                        .dropdown-menu {
                            background-color: transparent;
                            .dropdown-item {
                                min-width: inherit;
                                color: $gray-300;
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    border: 0;
                }
                .khanij-online {
                    display: block;
                    line-height: 1rem;
                }
            }
            .navbar-brand {
                padding: 0;
            }
        }
        .navbar-collapse {
            width: 300px;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 42px;
            padding: 1rem 1rem 1rem 2rem;
            background-color: #111111;
        }
        &.fix-header {
            .header {
                &::before {
                    height: 100%;
                    border-bottom: solid 2px $dark;
                }
                .navbar {
                    .contact-culm {
                        padding: 0;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        color: $white !important;
        border-color: transparent !important;
        display: flex;
        align-items: center;
        &:focus {
            border-color: $brown;
            i {
                color: $yellow;
            }
        }
        span {
            font-size: 1rem;
            text-transform: uppercase;
            padding-left: .5rem;
        }
    } 
}


@media screen and (max-width: 992px) 
{
    .head-sec {
        .contact-culm
        {
            font-size:12px;
        }
    }
}


@media screen and (max-width: 768px)
{
    .head-sec .navbar.menu-bar .khanij-online {
        width: 60%;
    }
    .head-sec .navbar.menu-bar .khanij-online img {
        height: 33px;
    }
}

@media screen and (max-width: 640px) {
    .head-sec .navbar.menu-bar .khanij-online img {
        display: none;
    }
    .head-sec .navbar.menu-bar .khanij-online li a.mrd-btn {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .head-sec {
        .header {
            &::before {
                left: -2rem;
                height: 50px;
            }
            .toplnk-mobile {
                top: -30px;
            }
            ul {
                &.contact-dtls {
                    justify-content: space-around;
                    li {
                        border-radius: .2rem;
                        padding: .2rem .5rem;
                        text-align: center;
                        &:first-child {
                            padding-left: .2rem;
                        }
                        &.user-login {
                            border: 0;
                            padding: 0;
                            .btn {
                                display: flex;
                                height: 100%;
                                align-items: center;
                                padding: 0.2rem .4rem;
                                span {
                                    display: none;
                                }
                            }
                        }
                        i {
                            display: block;
                            padding: 0;
                            font-size: .9rem;
                        }
                        h6 {
                            font-size: 0.72rem;
                        }
                    }
                }
            }
        }
        .header {
            .navbar {
                .contact-culm {
                    padding-top: .6rem;
                }
            }
        }
        .navbar {
            .navbar-brand {
                h1 {
                    font-size: 1rem;
                }
                .login-logo {
                    height: 40px;
                }
            }
            &.menu-bar {
                .khanij-online {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .head-sec {
        .header {
            ul {
                &.contact-dtls {
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.contact-culm {
    .dropdown-item {
        position: relative;
        padding-left: 2rem;
        white-space: inherit;
        min-width: 17rem;
        font-size: .9rem;
        &.active,
        &:active {
            background-color: $gray-200;
            color: $red;
        }
        &::after {
            position: absolute;
            left: 15px;
            top: 9px;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            text-shadow: none;
            color: $gray-600;
        }
    }
    a:not(.btn) {
        color: $gray-900;
    }
}


.registration .border-bottom {
    border-bottom: 1px solid #75676a!important;
}
.portals-sec .nerp
{
    background: $white url(../img/nerp.jpg) center no-repeat;
    background-size: cover;
}
.portals-sec .tamra
{
    background: $white url(../img/tamra.jpg) center no-repeat;
    background-size: cover;
}
.portals-sec .tatva
{
    background: $white url(../img/tatva.jpg) center no-repeat;
    background-size: cover;
}
.owl-carousel .owl-item img {
    width: auto!important;
}
.gallery-sec .btn-primary{
    background-color:#d9534f;
    border:1px solid #d9534f;
    &:hover{
        color:#d9534f; 
        background-color:#fff;
    }
}

footer h6
{
    position: relative;
    &:after {
        content: "";
        background-color: rgb(192 108 34);
        height: 3px;
        width: 2.5rem;
        position: absolute;
        left: 0;
        bottom: -10px;
    }
}

.main-content {
    background: $white url(../img/landing_bg.jpg) center no-repeat;
    background-size: cover;
    color: $white;
    
}

.info-tooltip {
    position: absolute;
    z-index: 1;
    bottom: 24%;
    left: 52%;
    white-space: nowrap;
    border: solid 1px #ffa61c;
    background-color: rgb(51 51 51);
    color: #fff;
    @media screen and (max-width: 1440px)
    {
        bottom: 3%;
        left: 65%;
    }
    @media screen and (max-width: 1366px)
    {
        bottom: 12%;
    }
    @media screen and (max-width: 1152px)
    {
        left: 67%;
        bottom: 28%;
    }
    @media screen and (max-width: 1024px)
    {
        bottom: 3%;
    }
    @media screen and (max-width: 992px)
    {
        bottom: 6%;
        left: 53%;
    }
    @media screen and (max-width: 768px)
    {
        bottom: 33%;
        left: 66%;
    }
    @media screen and (max-width: 425px)
    {
        bottom: 31%;
        left: 62%;
    }
    @media screen and (max-width: 375px)
    {
        bottom: 64%;
        left: 2%;
    }


    .dist-name {
        font-size: 1rem;
        padding: 0.1rem 0.8rem 0.4rem 0.8rem;
        background-color: $orange;
        font-weight: 500;
    }
    h6 {
        font-size: 1rem;
        padding: 1rem 2rem;
        height: 80px;
        width: 100px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 576px) {
            padding: 1rem 1rem;
            height: 60px;
            width: 70px;
        }
        @media screen and (max-width: 375px)
        {
            font-size: .8rem;
            height: 50px;
            width: 55px;
        }
        span {
            font-size: 140%;
            padding: 0 0 0 .5rem;
            color: $yellow;
        }
    }
}

.total-height,.other-height,.minor-height
{ 
    height: 165px;
    @media screen and (max-width: 1200px)
    {
        i.fa-4x{
            font-size: 2.5em;
        }
    }
    @media screen and (max-width: 1024px)
    {
        flex-direction: column;
        text-align: center;
        i.mr-3{
            margin-right: 0rem!important;
            margin-bottom:.5rem;
        }   
    }
    @media screen and (max-width: 640px)
    {
        flex-direction: row;
        text-align: left;
        i.mr-3{
            margin-right: 1rem!important;
            margin-bottom:0rem;
        }  
    }
    @media screen and (max-width: 640px)
    {
        i.fa-4x{
            font-size: 4em;
        }
    }     
}

.sec-heading 
{
    @media screen and (max-width: 1366px)
    {
       font-size: 1.7rem; 
    } 
    @media screen and (max-width: 768px)
    {
       font-size: 1.5rem; 
    }
    @media screen and (max-width: 640px)
    {
       font-size: 1.1rem; 
    }  
}

@media screen and (max-width: 1024px)
{
    .major-right  img{
        width:60px;
    }  
}
@media screen and (max-width: 480px)
{
    .major-right  .d-flex{
        flex-direction: column;
        text-align: center;
    }  
}
@media screen and (max-width: 320px)
{
    .major-right img {
        width: 50px;
    }
    .major-right p {
        font-size: .9rem;
    }  
}
.info-box-leases .cont-div-leases {position: relative;}
.info-box-leases:first-child:after,
.info-box-leases:nth-child(2):after,
.info-box-leases:nth-child(4):after 
{
    position: absolute;
    content: "";
    right: 0px;
    bottom: 1rem;
    width: 1px;
    top: 15px;
    background-color: #dddfeb;
}
.cm-profile {
    margin-bottom: 0rem;
    .profile-img {
        margin: 0 auto 0.8rem auto;
        box-shadow: 0px 8px $brown;
        width: 160px;
        height: 160px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    p{
        font-weight: 900;
    }
    small {
        color: #c7c7c7;
        font-weight: 600;
    }
}

.national-award {
    width: 36%;
    @media screen and (max-width: 1366px) {
        width: 60%;
    }
    @media screen and (max-width: 992px) {
        width: 90%;
    }
    
    @media screen and (max-width: 768px)
    {
        width: 28%; 
    }

}
@media screen and (min-width: 1600px) {
    
    .info-tooltip h6 {
        height: 55px;
        width: 81px;
       
    }
}
@media screen and (min-width: 1400px) {
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
    }
}



@media screen and (max-width:1152px) {
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
        p {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:991px) {
    .info-colum {
        margin-bottom: 1rem;
    }
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
    }
    
}

@media screen and (max-width:767px) {
    .national-award {
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    .main-content {
        .state-map {
            text {
                tspan {
                    font-size: 14px;
                }
            }
        }
    }
    .national-award {
        display: block;
        width: 25%;
    }
    .cm-profile {
        .profile-img {
            width: 60px;
            height: 60px;
            box-shadow: 0px 4px #8d3610;
            margin-bottom: .4rem;
        }
    }
    .info-tooltip {
        .dist-name {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:400px) {
    .cm-profile {
        .profile-img {
            width: 50px;
            height: 50px;
        }
    }
}
.info-box:nth-child(3) .cont-div {
    border-bottom: 0px; 
}
.info-box {
    .cont-div {
        border-bottom: solid 1px rgb(224 220 220 / 18%);
        padding: 1.8rem 0rem;
        position: relative;
        .h3 {
            margin-bottom: 0;
            small {
                font-size: 50%;
                color: $gray-500;
                margin-bottom: 5px;
                padding: 1rem 0rem;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 70%;
            width: 1px;
            background-color:rgb(224 220 220 / 18%);
        }
    }
    &:last-child {
        .cont-div {
            border-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
    &:nth-child(2),
    &:nth-child(4) {
        .cont-div {
            &::after {
                display: none;
            }
        }
    }
    i {
        color: $yellow;
    }
}

@media screen and (max-width: 1440px) {
    .info-box {
        .cont-div {
            padding: 1.2rem 0rem;
            .h3 {
                font-size: 1.5rem;
                small {
                    font-size: 50%;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main-content {
        .state-map {
            svg {
                width: 100%;
            }
        }
    }
    .info-colum {
        >.row {
            margin-left: -5%;
            margin-right: -3rem;
        }
    }
}

@media screen and (max-width:1152px) {
    .profile-row {
        .card-header {
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
        }
        .card-body {
            padding: 0.3rem 0.8rem;
        }
    }
}

@media screen and (max-width: 991px) {
    .cm-profile {
        margin-bottom: 2rem;
    }
    .info-box {
        .cont-div {
            padding: 0.8rem 0.4rem;
            &::after {
                display: none;
            }
        }
        &:nth-child(4) {
            .cont-div {
                border-bottom: 0;
            }
        }
    }
    .profile-row {
        margin-left: initial;
        .card-header {
            min-height: initial;
        }
    }
    .main-content {
        .state-map {
            width: 100%;
            position: absolute;
            z-index: 1;
            svg {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .info-colum {
        margin-bottom: 9rem;
        &>.row {
            margin-left: initial;
        }
    }
    .main-content {
        .state-map {
            top: -70px;
            width: 108%;
        }
    }
    .profile-row {
        margin-top: 0;
    }
    
}

@media screen and (max-width: 576px) 
{
    .container{
        max-width: 100%;
    }
    .main-content {
        .state-map {
            top: -120px;
            width: 90%;
        }
    }
    .info-colum {
        margin-bottom: 6rem;
    }
    .info-box {
        .cont-div {
            padding: 0.4rem 0.4rem;
            border-bottom: 0;
            .h3 {
                font-size: 1.2rem;
                small {
                    font-size: 60%;
                }
            }
            i {
                font-size: 1.5rem;
            }
        }
    }
    .profile-row {
        .card {
            margin: inherit;
            margin-bottom: 0;
            &-header {
                min-height: inherit;
            }
        }
    }
    .cm-profile {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 400px) {
    .main-content {
        .state-map {
            width: 96%;
        }
    }
    .info-box {
        .cont-div {
            .h3 {
                font-size: 1rem;
                small {
                    font-size: 66%;
                }
            }
        }
    }
    .profile-row {
        .card {
            &-header {
                min-height: 44px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .main-content {
        .state-map {
            svg {
                width: 116%;
            }
        }
    }
    .info-colum {
        &>.row {
            margin-left: 1.4rem;
        }
    }
}

.mineral-revenue-sec{
    margin-top: -3rem;
    @media screen and (max-width: 1440px) {
        margin-top: 0rem;
    }
    @media screen and (max-width: 1366px) {
        margin-top: -6rem;
    }
   
    @media screen and (max-width: 991px) {
        margin-top: 6rem;
    }
}


.chhatt-sec {
    color: $gray-200;
    margin-left: 4rem;
    margin-top: -2rem;
    h4 {
        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: 576px) {
            font-size: 1rem;
        } 
    }
    @media screen and (max-width: 1680px) {
        margin-left: -1rem;
    }
    @media screen and (max-width: 1600px) {
        margin-left: 1rem;
    }
    @media screen and (max-width: 1440px) {
        margin-top: 1rem;
    }
    @media screen and (max-width: 1366px) {
        margin-top: -5rem;
    }
    @media screen and (max-width: 768px) {
        margin-left: 0rem;
        margin-top: 0rem;
    }
    @media screen and (max-width: 576px) {
        margin-top: -5rem;
    }
    
    .form-control {
        background-color: transparent;
        border-color: $gray-600;
    }
    .forgot {
        color: $gray-200;
        font-size: .9rem;
    }
    .login-footer {
        font-size: .85rem;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    i {
        color: $yellow;
    }
}

@media screen and (max-width: 576px) {
    .chhatt-sec {
        i {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 95%;
    }
}

@media screen and (min-width: 1680px) {
    
    .head-sec {
        .header {
            &::before {
                left: -12rem;
                width: 40%;
            }
        }
        .navbar {
            &.menu-bar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 1rem;
                            padding-right: 1.6rem;
                            padding-left: 1.6rem;
                            font-weight: 400;
                            &:first-child{
                                padding-left: 0rem;   
                            }
                        }
                    }
                }
                .khanij-online {
                    li {
                        &::before {
                            right: -12rem;
                            width: 157%;
                        }
                    }
                }
            }
        }
    }

    
    .info-box {
        .cont-div {
            .h3 {
                font-size: 2rem;
            }
        }
    }
}
.arrow
{   
    list-style: none;
    margin-bottom:0px;
    padding: 0px;
    li{
        color: #b7b7b7;
        margin: 0em;
        padding: 0.8em 0em 0em 2em;
        position: relative;
        &::before {
            position: absolute;
            content: "\e901";
            font-family: 'icomoon';
            color: #c06122;
            font-weight: 900;
            left: 0;
        }
      }
}
footer {
    border-top: solid 1px $gray-900;
    background-color: $dark;
    color: $gray-400;
}

footer .address
{   
    list-style: none;
    margin-bottom:0px;
    padding: 0px;
    li{
        color: #d7d8d8;
        margin: 0em;
        padding: 0.8em 0em 0em 2em;
        position: relative;
        &::before {
            position: absolute;
            font-family: 'Font Awesome 5 Free';
            color:rgb(162 72 70);
            font-weight: 900;
            left: 0;
        }
      }
    li.location{
        color: #b7b7b7;
        margin: 0em;
        padding: 0.8em 0em 0em 2em;
        position: relative;
        &::before {
            position: absolute;
            content: "\f3c5";
            font-family: 'Font Awesome 5 Free';
            color: rgb(162 72 70);
            font-weight: 900;
            left: 0;
        }
      }
      li.phoneno{
        color: #b7b7b7;
        margin: 0em;
        padding: 0.8em 0em 0em 2em;
        position: relative;
        &::before {
            position: absolute;
            content: "\f879";
            font-family: 'Font Awesome 5 Free';
            color: rgb(162 72 70);
            font-weight: 900;
            left: 0;
        }
      }
      li.gmail{
        color: #b7b7b7;
        margin: 0em;
        padding: 0.8em 0em 0em 2em;
        position: relative;
        &::before {
            position: absolute;
            content: "\f0e0";
            font-family: 'Font Awesome 5 Free';
            color: rgb(162 72 70);
            font-weight: 900;
            left: 0;
        }
      }
}

footer{
    .form-control {
        color: #6e707e;
        background-color: #484848;
        background-clip: padding-box;
        border: 1px solid #333333;
    }
    .border-bottom{
        border-color: #484848!important;
    }
    img{
        width: 90px;
        height: 24px
    }
    a{
        color:#9a9a9a;
        &:hover{
            text-decoration: none;
            color:#fff;
        }
    }

    .footer-bottom{ 
        position: relative;
        list-style-type: none;
        margin: 0rem 1rem;
        li
        { 
            padding-right: 1rem;
            padding-left: 1rem;
            &:after{
                border-right: 1px solid #9a9a9a;
                content: "";
                position: absolute;
                height: 10px;
                top: 7px;
                padding: 0px 2px 0px 12px;
                @media screen and (max-width: 430px) {
                    border-right: 0px solid #9a9a9a;
                 }
            }
            &:last-child:after{
                border-right: 0px solid #ddd;
            }
        }
        @media screen and (max-width: 480px) {
           padding:0rem;
           margin: 0rem 0rem;
        }
        @media screen and (max-width: 430px) {
            flex-direction:column; 
         }
    }
    .copy-right{
        color:#686868;
    }
}
/* owl-carousel start*/ 
.owl-dots {text-align: center;padding-top: 15px;}
.owl-dots button.owl-dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    background: #000!important;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {background-color: red!important;}
.owl-dots button.owl-dot:focus {outline: 0;}
.owl-nav button.owl-prev {left: 0;}
.owl-nav button.owl-next {right: 0;}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #cccccc!important;
    margin: 0;
    transition: all .3s ease-in-out;
}
.owl-prev span {left: -15px;}
.owl-next span {right: -16px;}
.owl-nav span {font-size: 50px;position: relative;top: -5px;}
.owl-nav button:focus {outline: 0;}
/* owl-carousel end*/ 
.tender 
{
    padding-left:0rem;
    margin-bottom: 0rem;
    li{
        list-style-type:none;
        display: flex;
        align-self: auto;
        border-bottom: 1px solid #f1e5e580;
        padding-bottom: 1rem;
        padding-top: 1rem;
       
        @media screen and (max-width: 375px)
        {
            flex-direction: column;
        }
        a
        {
           color: #ff851b;
           &:hover{
               text-decoration: none;  
           }
           i{
                @media screen and (max-width: 375px){
                    font-size: 1.5rem;
                    padding-top: 1rem;
                    display: inline-block;
                }
            }
           &:hover{
               color:#fff;
           }
        }
        &:last-child
        {
            border-bottom: 0px solid #f1e5e580; 
            padding-bottom: 0rem;
        }
    }
}
.tender-date {
    background-color: #ff851b;
    padding: 0px 15px;
    height: 80px;
    width: 130px;
    @media screen and (max-width: 375px)
        {
            width: 40%;
            margin-bottom: 1rem;
        }
    h6
    { 
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 0rem;
        margin-top: 0rem;
        text-align: center;
    }
}
.tender-description{
    padding-left:1rem;
    padding-right:2rem;
    position: relative;
    @media screen and (max-width: 375px)
    {
        padding-left:0rem;
        padding-right:0rem;
    }
    small{
       color: #999999;
       position: absolute;
        bottom: 0px;
        @media screen and (max-width: 1366px) {
            bottom: -3px;
        }
    }
}
.tender-noti-reg-sec
{
    background: $white url(../img/tender_background.jpg) center no-repeat;
    background-size: cover;
    color:#000;
    .card {
       background-color: rgb(93 84 84 / 43%);
       .card-header{
            border-bottom: 1px solid #75676a;
        }
    }
    .tender-portlet
    {   
       height: 400px;
       overflow-y: scroll;
       overflow-x: hidden;
       margin-bottom: 2rem;
       @media screen and (max-width: 1440px){
            height: 450px; 
        }
       @media screen and (max-width: 1200px){
            height: 473px; 
        }
    }
    .circular-portlet
    {   
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 2rem;
        @media screen and (max-width: 1440px){
            height: 450px; 
        }
        @media screen and (max-width: 1200px){
            height: 473px; 
       }
    }
}
.custom-scroll::-webkit-scrollbar {width: 5px;}
.custom-scroll::-webkit-scrollbar-track {background: #F5F5F5;border-radius: 5px;}
.custom-scroll::-webkit-scrollbar-thumb {background:#d9534f;border-radius: 5px;}
.custom-scroll::-webkit-scrollbar-thumb:hover {background: #d9534f;}
.tender-noti-reg-sec a{color: #ff851b;}
.border-right {border-right: 1px solid #e3e6f04a!important;}
.border-bottom {border-bottom: 1px solid #e3e3e3!important;}
.registration button.btn-secondary
{
   background-color:#784427!important;
   border-color:#784427!important;
   &:hover{
    color: #ffffff;
    background-color: #8d3610 !important;
   }
}
.circular li {
    border-bottom: 1px solid #f1e5e580;
    padding-bottom: 1rem;
    padding-top: 1rem;
    &:last-child{
        border-bottom: 0px solid #f1e5e580;
        padding-bottom: 0rem;
    }
    a{
        color: #ff851b;
    }
}
.contact-culm .border-bottom{
    border-bottom: 1px solid #cccccc!important;
    @media screen and (max-width: 768px) {
        border-bottom: 0px solid #cccccc!important;
        margin-bottom: 0rem!important;
    }
}
.state-map {
    width: 100%;
    .dist-block {
        &:hover {
            fill: #2f2123;
            cursor: pointer;
        }
    }
    text {
        tspan {
            font-size: 11px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.mineral-map svg {
    height: 52vh;
    width: auto;
    @media screen and (max-width: 1680px)
    {
        height: 63.2vh;
    }
    @media screen and (max-width: 1366px)
    {
        height: 73.7vh;
    }
    @media screen and (max-width: 1280px)
    {
        height: 63vh;
    }
    @media screen and (max-width: 1280px)
    {
        width:100%;
    }
     
}
.portals-sec{
    .portal-border-right:first-child:after,
    .portal-border-right:nth-child(2):after,
    .portal-border-right:nth-child(4):after {
        position: absolute;
        content: "";
        right: 0px;
        bottom: 1rem;
        width: 1px;
        top: 15px;
        background-color: #dddfeb;
        @media screen and (max-width: 375px)
        {
            width: 0px;
        }   
    }

    .dmf-sec{
        .dmf-img{
            object-fit:cover;
        
        @media screen and (max-width: 768px)
        {
            height:200px!important;
        }
    }
    .dmf-text
    {
        @media screen and (max-width: 1366px)
        {
            padding: 2rem!important;
            i{
                font-size: 3em;
            }
        }
        @media screen and (max-width: 1024px)
        {
            p.h5{
            font-size: 1rem!important;
            }
        }
        @media screen and (max-width: 1366px)
        {
            padding: 1.5rem !important;
        }    
    }
}
.nmet-sec{
    .nmet-img{
    object-fit:cover;
    
    @media screen and (max-width: 768px)
    {
        height:200px!important;
    }
}
.nmet-text
{
    @media screen and (max-width: 1366px)
    {
        padding: 2rem!important;
        i{
            font-size: 3em;
        }
    }
    @media screen and (max-width: 1024px)
    {
        p.h5{
        font-size: 1rem!important;
        }
    }
    @media screen and (max-width: 1366px)
    {
        padding: 1.5rem !important;
    }    
}
}
}

.owl-slider{
    padding: 0px 30px 0px 30px;
    
    .item .card
    {
        height: 140px;
        border: 2px solid #efefef;
        padding: .7rem 1rem;
       
        @media screen and (max-width: 1200px)
        {
            height: 190px;
        }
        p{
            font-weight:600;
            @media screen and (max-width: 1366px)
            {
                font-size: 12px;
            }
        }  
    }
}
.departments-logo{
    position: absolute;
    top: 0;
    right: 12px;
    left: 12px;
    bottom: 0;
    background-color: rgb(51 51 51 / 8%);
    opacity: 0;
    transition-duration: .2s;
    &:hover{
        opacity: 1;
    }
}
.mineral-map-info
{
    position: absolute;
    bottom: 6%;
    left: 54%;
    white-space: nowrap;
    @media screen and (max-width: 1024px)
    {
        bottom: 2%;
        left: 40%;
    }
    @media screen and (max-width: 768px)
    {
        bottom: 6%;
        left: 55%;
    }
   
    li{
        list-style-type: none;
        .coal-box{
            background-color: #ba812c;
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: .5rem;
        }
        .iron-ore-box{
            background-color: #8d3610;
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: .5rem;
        }
    }
}
.resource-mineral-sec .major-right img{border-radius: 8px;height: 74px;}
.highcharts-credits{display:none;}
#mineral-resource-bar-chart{height: 486px;}
.geological-map{height: 486px;}  
.scroll-head{
    position: absolute;
    right: 0;
    top: 190px;
    ul li span{display:none;}
}

.main-content {
    .state-map {
        svg {
            height: 55vh;
            width: auto;
            @media screen and (max-width: 1680px)
            {
                height: 65vh;
            }
            @media screen and (max-width: 1600px)
            {
                height: 60vh;
            }
            @media screen and (max-width: 1366px)
            {
                height: 92vh;
            }
            @media screen and (max-width: 1024px)
            {
                height: 52vh;
                margin-left: -4rem;
            }
            @media screen and (max-width: 768px) {
                height: 55vh;
                margin-left: 0rem;
                margin-top: 0rem;
            }
            @media screen and (max-width: 576px) {
                height: 40vh;
                margin-left: 0rem;
                margin-top: 10rem;
            }
        }
    }
}


@media screen and (max-width: 1366px)
{
    #Revenue{height:400px;}
}
.icon-total,.icon-other_minerals,.icon-minor_minerals
{
    @media screen and (max-width: 1366px)
    {
        font-size: 3em;
    } 
}
@media screen and (max-width: 1024px)
{
    .info-colum {
        >.row {
            margin-left: -23%;
        }
    }
    #mineral-resource-bar-chart {
        height: 345px;
    }
    .mineral-map svg {
        height: 45.2vh;
    }
    .geological-map{
        height:345px;
    }
    .head-sec .navbar.menu-bar .khanij-online {
        display: none!important;
    }
    .mineral-revenue-sec {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 992px)
{
    .major-right img {
        width: 58px;
    }   
}
@media screen and (max-width: 768px)
{
    .info-colum > .row {
        margin-left: -12%;
    }
    
    #Revenue{
        height: 420px;
    }
   .resource-mineral-sec .major-right img {
        height: 52px!important;
    }
}
@media screen and (max-width: 576px) {
    .tender-noti-reg-sec h5{font-size: 1rem;}
}
@media screen and (max-width: 480px) {
    .custom-control.custom-radio.custom-control-inline {
        display: block;
    }
}




    

.breadcrumb li a:hover .fa-home{color:#e6b00c;}
.inner-naviagtion{
    background-image: url("../img/landing_bg.jpg");
    height:120px;
    background-position: center;
    @media (max-width: 640px){
        height:70px;
    }
    .breadcrumb {
        background-color: #3c3d3f00;
        padding: 0.75rem 0rem;
        li{
            a{
                color:#fff;
                &:hover{
                    text-decoration: none;  
                }
            }
            
        }
        
    }
    img{
        height:100%;
        width: 100%;
        object-fit: cover;
    }
}
.inner-content {
    table{
        th,td{
            color:#000;
        }
    }

    .arrow li {
        color: #000;
    }
    .bd-callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid #eee;
        border-left-width: .25rem;
        border-radius: .25rem;
    }
    .bd-callout-danger {
        border-left-color: #f44336;
    }
}


.testimonial{
    .card{
        min-height: 408px;
        @media screen and (max-width: 1366px){
            min-height: 506px;
        }
        .rounded-circle{
            height: 100px;
            width: 100px;
            margin: 0 auto;
            display: flex;
            border: 1px solid rgb(221 221 221 / 60%);
    padding: 2px;
    box-shadow: 1px 1px 10px rgb(51 51 51 / 29%);
        }
        .blockquote-footer {
            position: absolute;
            right: 10px;
            bottom: 10px;
           .name
            {
              color:#e2642d;  
            }
            .designation
            {
              color:#3f51b3;  
            }
            .address
            {
              color:#03a9f4;  
            }
        }
        
    }
    
}
.Staff-Directory{
    .staff-port-height{
        height: 425px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom:1rem;
    }
    .nav-pills.parent-div  {
       
        a{
            position: relative; 
            border-bottom: 1px solid #ddd;
            border-radius: 0rem;
            i{
                position: absolute;
                right: 5px;
                top: 10px;
                font-size: 1.2rem;
                color: #fff;
            }
        }
    }
    
    .alpha-search{
        li{
            margin-right: .5rem;
            margin-bottom: .7rem;
            &:last-child{
                margin-right: 0rem; 
            }
            a{
                padding: 4px 8px;
                background-color: #8d3610;
                color: #fff;
                border-radius: 2px;
                &:hover{
                    background-color: #333333; 
                    text-decoration: none;
                }
            }
        }
    }
    .img-left{
        width: 90px;
        height: 90px;
        box-shadow: 1px 1px 10px rgb(195 191 191 / 26%);
        border: 1px solid rgb(221 221 221 / 80%);
        padding: 5px;
        @media (max-width: 1366px){
            width: 80px;
            height: 80px;
        }
        @media (max-width: 430px)
        {
            width: 100%;
            height: 180px;
        }

       
        .card-img-top{
            height: 100%;
        }
    }
    .emp-content
    {
        width: 70%;
        @media (max-width: 430px)
        {
            width: 100%;
            margin-top: .5rem;
        }
       
    }
    .card{
        min-height: 190px;
        @media (max-width: 1366px){
            min-height: 210px;
        }
    }
    .staff-list{
        li{
            color: #333333;
            margin: 0em;
            padding: 0em 0em 0em 1.5em;
            position: relative;
            &:before{
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                left: 0;
            }
        }
    }
}
.staff-list li.designation:before{
    content: "\f501";
}
.staff-list li.distict:before{
    content: "\f041";
}
.staff-list li.phoneno:before{
    content: "\f879";
}
.staff-list li.gmail:before{
    content: "\f0e0";
}
.inner-naviagtion{
    .container {
        max-width: 70%;
        @media (max-width: 1200px){
            max-width: 80%; 
        }
        @media (max-width: 768px){
            max-width: 95%; 
        }
    }
}
.inner-content{
    .container {
        max-width: 70%;
        @media (max-width: 1200px){
            max-width: 80%; 
        }
        @media (max-width: 768px){
            max-width: 95%; 
        }
    }
    h3{
        border-bottom: 4px double rgb(63 62 60 / 48%);
        display: inline-block;
    }
    img.img-left {
        float: left;
        margin: 0rem 2em 1.5rem 0rem!important;
    }
    img.img-right {
        float: right;
        margin: 0rem 2em 1.5rem 0rem!important;
    }
    img.img-left,img.img-right{
        width: 45% !important;
        box-shadow: 0em 0em 1em #eaeaea;
        padding: 0.6em;
        border-radius: 0.2em; 
        @media (max-width: 640px){
            width: 100% !important;
            float: none;
        }
    }
}

.contact-us{
    .contact-box{
        background-color: #dddddd12;
        border: 1px solid #dddddd91;
        padding: 1rem 1rem;
        height: 550px;
    }
    ul{
        list-style: none;
        
        li{
            color: #333333;
            margin: 0em;
            padding: 0em 0em 1em 1.5em;
            position: relative;
            &:before{
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                left: 0;
                color: #d9534f;
            }
            a{
                color:#333;
            }
        }
    } 
}

.contact-us ul li:nth-child(1):before{
    content: "\f3c5";
}
.contact-us ul li:nth-child(2):before{
    content: "\f0e0"; 
}
.contact-us ul li:nth-child(3):before{
    content: "\f879";
}
.contact-us ul li:nth-child(4):before{ 
    content: "\f1ac";
}

.feedback{
    // .feedback-img{
    //     height:520px;
    //     @media screen and (max-width: 1366px){
    //         height:258px;
    //     }
    // }
    .captch-img {
        height: 40px;
        margin-top: 30px;
        border: 1px solid #ececec;
        width: 151px;
        @media screen and (max-width: 1366px){
            width: 88px;  
        }
        @media screen and (max-width: 768px){
            width: 170px;  
        }
        @media screen and (max-width: 576px){

            width: 70%;
        }

    }
    .fas.fa-sync {
        font-size: 1.5rem;
        position: absolute;
        top: 30px;
        right: 17px;
        color: #333333;
        border: 1px solid #ddd;
        padding: 7px;
        cursor: pointer;
        &:hover{
            color: #8d3610;  
        }
    }
}

.Gallery-sec{
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #ffffff;
        background-color: #8d3610;
        border-color: #8d3610 #8d3610 #8d3610;
    }
    .nav-tabs .nav-link {
        border: 1px solid #b1aaaa40;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
}
.tender-sec{
    .card-title{
        overflow: hidden;
        height: 70px;
    }
    .tender-active{
        position: relative;
        overflow: hidden;
        &:before{
            position: absolute;
            font-weight: 600;
            padding: 0 25px;
            transform: rotate(45deg);
            right: -28px;
            top: 6px;
            content: "Active";
            background: #cc2619;
            color: #fff;
        }
    }
}
@media screen and (max-width: 576px){
    .feedback{
        h3 {
            width: 50%;
        }
    }
}


header .navbar-nav li.active a{
    color: #ffc107!important;
    font-weight: 500!important;
}



.breadcrumb-item + .breadcrumb-item::before {
    color: #fff!important;
}


.filter-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    border: 1px solid #ccc;
    z-index: 1;
}
