@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "utilities";
html,
body,
form {
    height: 100%;
}

body {
    background: $white url(../img/Login_bg.jpg) center no-repeat;
    background-size: 100%;
    @media screen and (max-width: 1600px) {
        background-size: cover;
    }
    @media screen and (max-width: 1370px) {
        background-size: 100%;
    }
    @media screen and (max-width: 1152px) {
        background-size: cover;
    }
    @media screen and (max-width: 576px) {
        background-size: auto 100%;
    }
}

.login-content .container
{
    max-width: 70%;
    @media (max-width: 768px)
    {
        max-width: 80%;
    }
    @media (max-width: 576px)
    {
        max-width: 95%;
    }
}

.login-content h4 {
    border-bottom: 4px double rgba(63, 62, 60, 0.48);
    display: inline-block;
    @media (max-width: 576px)
    {
        font-size: 1.3rem;
    }
}

.inner-naviagtion {
    background-image: url(../img/landing_bg.jpg);
    height: 120px;
    background-position: center;
}
.inner-naviagtion .breadcrumb {
    background-color: #3c3d3f00;
    padding: 0.75rem 0rem;
}

.breadcrumb li a:hover .fa-home{color:#e6b00c;}

.inner-naviagtion .container {
    max-width: 70%;
    @media (max-width: 768px)
    {
        max-width: 80%;
    }
    @media (max-width: 576px)
    {
        max-width: 95%;
    }
}

.indicates {
    margin-right: 67px;
    @media screen and (max-width: 1200px) {margin-right: 53px;}
    @media screen and (max-width: 768px) {margin-right: 35px;}
    @media screen and (max-width: 640px) {margin-right: 0px;}
}
@media screen and (max-width: 480px) {
    .custom-control.custom-radio.custom-control-inline {
        display: block;
    }
}

.font-increase-decrease:after {
    border-right: 1px solid #ddd;
    content: "";
    position: absolute;
    height: 12px;
    top: 11px;
    padding: 0px 0px 0px 10px;
}
.head-sec .header ul.top-link li {
    padding: 0 0.8rem 0.2rem 0.8rem;
}
.white-theme {
    width: 13px;
    height: 13px;
    float: right;
    background: #fff;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
}
.dark-theme {
    width: 13px;
    height: 13px;
    float: right;
    background: #000;
    margin: 5px 2px 0 0;
    border: #ccc 1px solid;
}
.head-sec .header ul.top-link li:nth-child(3) a, .head-sec .header ul.top-link li:nth-child(4) a, .head-sec .header ul.top-link li:nth-child(5) a {
    color: #000;
    font-weight: 500;
}

.head-sec {
    // text-align: center;
    .navbar {
        padding: 0.3rem 0 0.4rem 0;
        z-index: 0;
    }
    .header {
        position: relative;
        z-index: 1;
        background: #fff url(../img/headerbg.png) center no-repeat;
        background-position: 25%;
        @media screen and (max-width: 1440px)
        {
            background-position: 0%;
        }
        @media screen and (max-width: 1366px)
        {
            background-position: -20%;
        }
        @media screen and (max-width: 992px)
        {
            background-image: none;
        }
       
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2rem;
            width: 37%;
            height: 100%;
            background: $brown;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transform: skew(-45deg);
            -ms-transform: skew(-45deg);
            transform: skew(-45deg);
            z-index: -1;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
                display: inline-block;
                a:not(.btn) {
                    &:hover {
                        text-decoration: none;
                        color: #8d3610;
                    }
                }
            }
            &.top-link {
                font-size: .9rem;
                padding: 0;
                li {
                    padding: 0 .8rem .2rem .8rem;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
            &.contact-dtls {
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem;
                    i {
                        padding-top: .2rem;
                        color: $danger;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    h6 {
                        font-weight: bold;
                    }
                }
                .btn {
                    i {
                        font-size: 1rem;
                        color: $white;
                    }
                }
            }
        }
        .btn-warning {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .navbar {
        text-align: left;
        .navbar-brand {
            display: flex;
            align-items: center;
            color: $white;
            .login-logo {
                height: 60px;
                margin-right: .4rem;
            }
            h1 {
                font-size: 1.4rem;
                small {
                    padding: 0.2rem 0 0 0;
                    font-size: 72%;
                }
            }
        }
        // menu
        &.menu-bar {
            background-color: $dark;
            .dropdown-menu {
                padding: 0;
            }
            .navbar-nav {
                width: 100%;
                .nav-item {
                    .nav-link {
                        text-align: center;
                        color: $white;
                        font-size: .95rem;
                        &.active,
                        &:hover {
                            color: #ffc107 !important;
                        }
                    }
                    &.dropdown {
                        &.show {
                            .nav-link {
                                color: $yellow;
                            }
                        }
                    }
                    .dropdown-menu {
                        font-size: .9rem;
                        max-width: 15rem;
                        min-width: 15rem;
                        border: 1px solid #e3e6f057;
                        top: 119%;
                        .dropdown-item {
                            padding: 0.4rem 0.6rem;
                            border-bottom: solid 1px rgb(234 236 244 / 42%);
                            white-space: pre-wrap;
                            background-color: #333;
                            color: #fff;
                            &:hover {
                                background-color: #696461;
                                color: #ffffff;
                            }
                            &:focus,
                            &.active,
                            &:active {
                                color: #ffc107 !important;
                            font-weight: 500 !important;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            .khanij-online {
                padding: 0;
                color: $white;
                margin: 0;
            }
        }
    }
}

.approve .modal-body
{
border: 15px solid #ddd;
}
.btn.btn-md {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 1px 1px 10px #0000009e;
    margin-right: 8px;
    border-radius: 3px;
}


ul.khanij-online li:first-child{
    position: absolute;
    right: 249px;
    top: 10px;
    width: 260px;
    background-color: #d56808;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #de9f48;
  
    a img{
        height: 32px;
    }
    .web-based-title {
        position: absolute;
        right: 2%;
        top: 0%;
        color: #fff;
        font-weight: 500;
        font-size: 11px;
        &:hover {
            color: #ffeb3b;
        }
    }
}
@media screen and (max-width: 1366px) {
    ul.khanij-online li:first-child {
        right: 197px;
    }

}
.head-sec .navbar.menu-bar .khanij-online li {
    list-style-type: none;
}
.head-sec .navbar.menu-bar .khanij-online li a.mrd-btn {
    background-color: #d56808;
    margin-top: 0.4rem;
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    &:hover{
        background-color: #8d3610;
    }
}

@media screen and (max-width: 1440px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    &::before {
                        right: -1.5rem;
                        width: 113%;
                    }
                }
            }
        }
    }
   
}


@media screen and (max-width: 1280px) {
    .head-sec {
        .navbar {
            &.menu-bar {
                .khanij-online {
                    img {
                        height: 32px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) 
{
    .head-sec {
        .header {
            &::before {
                width: 40%;
            }
        }
    }

}

@media screen and (max-width: 1152px) {
    .head-sec {
        .header {
            &::before {
                width: 45%;
            }
        }
        .navbar {
            &.menu-bar {
                .khanij-online {
                    width: 45%;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px)
{
    .head-sec .navbar.menu-bar .khanij-online {display: none!important;}
}


@media screen and (max-width: 991px) {
    .head-sec {
        background-color: $white;
        .header {
            &::before {
                left: -10rem;
                width: 162%;
                height: 70px;
            }
            .toplnk-mobile {
                position: absolute;
                top: -43px;
                right: 0px;
                color: $white;
            }
            .navbar {
                .contact-culm {
                    padding: 0.7rem 0 0 0;
                    width: 100%;
                    position: relative;
                }
            }
            ul {
                justify-content: center;
                &.top-link {
                    //display: none;
                    position: absolute;
                    right: 0px;
                    top: 4px;
                    display: inherit;
                    background-color: #f8eeea;
                    box-shadow: 0 0.5rem 0.5rem 0 rgb(0 0 0 / 43%);
                    border-radius: .2rem;
                    li {
                        display: block;
                        padding: .2rem .6rem;
                        &:first-child {
                            padding-left: .6rem;
                        }
                    }
                }
                &.contact-dtls {
                    li {
                        i {
                            font-size: 1.2rem;
                        }
                        .btn {
                            padding: .15rem .75rem;
                        }
                    }
                }
            }
        }
        .navbar {
            &.menu-bar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            text-align: left;
                        }
                        .dropdown-menu {
                            background-color: transparent;
                            .dropdown-item {
                                min-width: inherit;
                                color: $gray-300;
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    border: 0;
                }
                .khanij-online {
                    display: block;
                    line-height: 1rem;
                }
            }
            .navbar-brand {
                padding: 0;
            }
        }
        .navbar-collapse {
            width: 300px;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 42px;
            padding: 1rem 1rem 1rem 2rem;
            background-color: #111111;
        }
        &.fix-header {
            .header {
                &::before {
                    height: 100%;
                    border-bottom: solid 2px $dark;
                }
                .navbar {
                    .contact-culm {
                        padding: 0;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        color: $white !important;
        border-color: transparent !important;
        display: flex;
        align-items: center;
        &:focus {
            border-color: $brown;
            i {
                color: $yellow;
            }
        }
        span {
            font-size: 1rem;
            text-transform: uppercase;
            padding-left: .5rem;
        }
    }
   
}


@media screen and (max-width: 992px) 
{
    .head-sec {
        .contact-culm
        {
            font-size:12px;

        }
    }

}

@media screen and (max-width: 576px) {
    .head-sec {
        .header {
            &::before {
                left: -2rem;
                height: 50px;
            }
            .toplnk-mobile {
                top: -30px;
            }
            ul {
                &.contact-dtls {
                    justify-content: space-around;
                    li {
                        border-radius: .2rem;
                        padding: .2rem .5rem;
                        text-align: center;
                        &:first-child {
                            padding-left: .2rem;
                        }
                        &.user-login {
                            border: 0;
                            padding: 0;
                            .btn {
                                display: flex;
                                height: 100%;
                                align-items: center;
                                padding: 0.2rem .4rem;
                                span {
                                    display: none;
                                }
                            }
                        }
                        i {
                            display: block;
                            padding: 0;
                            font-size: .9rem;
                        }
                        h6 {
                            font-size: 0.72rem;
                        }
                    }
                }
            }
        }
        .header {
            .navbar {
                .contact-culm {
                    padding-top: .6rem;
                }
            }
        }
        .navbar {
            .navbar-brand {
                h1 {
                    font-size: 1rem;
                }
                .login-logo {
                    height: 40px;
                }
            }
            &.menu-bar {
                .khanij-online {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .head-sec {
        .header {
            ul {
                &.contact-dtls {
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.contact-culm {
    .dropdown-item {
        position: relative;
        padding-left: 2rem;
        white-space: inherit;
        min-width: 17rem;
        font-size: .9rem;
        &.active,
        &:active {
            background-color: $gray-200;
            color: $red;
        }
        &::after {
            position: absolute;
            left: 15px;
            top: 9px;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            text-shadow: none;
            color: $gray-600;
        }
    }
    a:not(.btn) {
        color: $gray-900;
    }
}

.main-content {
    background: $white url(../img/landing_bg.jpg) center no-repeat;
    background-size: cover;
    color: $white;
    .state-map {
        position: relative;
        width: 92%;
        text-align: center;
        .dist-block {
            &:hover {
                fill: #2f2123;
                cursor: pointer;
            }
        }
        text {
            tspan {
                font-size: 11px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.info-tooltip {
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 82%;
    white-space: nowrap;
    border: solid 1px $yellow;
    background-color: rgba($black, .5);
    .dist-name {
        font-size: 1rem;
        padding: 0.1rem 0.8rem 0.4rem 0.8rem;
        background-color: $orange;
        font-weight: 500;
    }
    h6 {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
        display: flex;
        align-items: center;
        span {
            font-size: 140%;
            padding: 0 0 0 .5rem;
            color: $yellow;
        }
    }
}

.cm-profile {
    margin-bottom: 2rem;
    p{
        span{
           
            display:inline-block;
            font-weight: 600;
        }
        
    }
    .profile-img {
        box-shadow: 0px 8px #d9534f;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 1rem;
        overflow: hidden;
        @media screen and (max-width: 1366px)
        {       
            width: 125px;
            height: 125px;
        }
        img {
            max-width: 100%;
        }
    }
    small {
        color: #c7c7c7;
        font-weight: 600;
    }
}

.national-award {
    width: 100%;
}

@media screen and (min-width: 1400px) {
    .cm-profile {
        .profile-img {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .info-tooltip {
        bottom: 25%;
        left: 65%;
    }
}

@media screen and (max-width:1152px) {
    .info-tooltip {
        left: 67%;
        bottom: 28%;
    }
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
        p {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:991px) {
    .info-tooltip {
        bottom: 11%;
        left: 65%;
        display: block;
    }
    .info-colum {
        margin-bottom: 1rem;
    }
    .cm-profile {
        .profile-img {
            width: 130px;
            height: 130px;
        }
    }
    .national-award {
        width: 90%;
    }
}

@media screen and (max-width:767px) {
    .national-award {
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    .main-content {
        .state-map {
            text {
                tspan {
                    font-size: 14px;
                }
            }
        }
    }
    
    .cm-profile {
        .profile-img {
            width: 60px;
            height: 60px;
            box-shadow: 0px 4px #8d3610;
            margin-bottom: .4rem;
        }
    }
    .info-tooltip {
        .dist-name {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width:400px) {
    .cm-profile {
        .profile-img {
            width: 50px;
            height: 50px;
        }
    }
}

.info-box {
    .cont-div {
        border-bottom: solid 1px rgb(255 255 255 / 25%);
        padding: 2rem 0rem;
        position: relative;
        .h3 {
            margin-bottom: 0;
            font-weight: 700;
            small {
                font-size: 56%;
                color: #ddd;
                
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 20px;
            height: 45%;
    width: 1px;
    background-color: rgb(255 255 255 / 25%);
        }
    }
    &:last-child {
        .cont-div {
            border-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
    &:nth-child(2),
    &:nth-child(4) {
        .cont-div {
            &::after {
                display: none;
            }
        }
    }
    i {
        color: $yellow;
        @media screen and (max-width: 1366px)
        {
            font-size: 2.1rem;
        }
    }
}

@media screen and (max-width: 1440px) {
    .info-box {
        .cont-div {
            padding: 1.2rem 0rem;
            .h3 {
                font-size: 1.5rem;
                small {
                    font-size: 50%;
                }
            }
        }
    }
}

.profile-row {
    margin-left: -18.8%;
    font-size: .9rem;
    margin-top: 3rem;
    .card {
        margin: 0 .4rem;
        &-header {
            padding: 0.4rem 0.5rem;
            font-weight: 500;
            border-bottom: 0;
        }
        &-body {
            padding: 0.8rem;
        }
        .card-text {
            font-size: .9rem;
            small {
                color: $gray-500;
                padding: 0.2rem 0;
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .profile-row {
        .card-header {
            font-size: 0.85rem;
        }
    }
}

@media screen and (max-width:1280px) {
    .profile-row {
        .card-header {
            font-size: 0.8rem;
        }
    }
    .main-content {
        .state-map {
            svg {
                width: 100%;
            }
        }
    }
    .info-colum {
        >.row {
            margin-left: -5%;
        }
    }
}

@media screen and (max-width:1152px) {
    .profile-row {
        .card-header {
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
        }
        .card-body {
            padding: 0.3rem 0.8rem;
        }
    }
}


@media screen and (max-width: 991px) {
    
    .cm-profile {
        margin-bottom: 2rem;
    }
    .info-box {
        .cont-div {
            padding: 0.8rem 0.4rem;
            &::after {
                display: none;
            }
        }
        &:nth-child(4) {
            .cont-div {
                border-bottom: 0;
            }
        }
    }
    .profile-row {
        margin-left: initial;
        .card-header {
            min-height: initial;
        }
    }
    .main-content {
        .state-map {
            width: 70%;
            position: absolute;
            z-index: 1;
            svg {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .info-colum {
        margin-bottom: 0rem;
        &>.row {
            margin-left: initial;
        }
    }
    .main-content {
        .state-map {
            top: 12px;
            left: -36px;
        }
    }
    .info-tooltip {
        bottom: 16%;
        left: 70%;
    }
    .profile-row {
        margin-top: 0;
    }
    .contact-culm .border-bottom {
        border-bottom: 0px solid #cccccc !important;
        margin-bottom: 0rem !important;
    }
}

@media screen and (max-width: 768px)
{
    .white-theme {
        position: absolute;
        left: 9px;
    }
    .dark-theme {
        position: absolute;
        left: 32px;
    }
    .head-sec .header ul.top-link li:nth-child(3) {
        margin-top: 1rem;
    }
    .font-increase-decrease:after {
        border-right: 0px solid #ddd;
       
    }

}


@media screen and (max-width:640px) {
    .info-colum {
        margin-bottom: 0rem;
    }
    .main-content {
        .state-map {
          display: none;
        }
    }
    .head-sec .navbar.menu-bar .khanij-online {
        display: none!important;
    }
    
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .main-content {
        .state-map {
            top: -120px;
            width: 90%;
        }
    }
    
    .info-box {
        .cont-div {
            padding: 0.4rem 0.4rem;
            border-bottom: 0;
            .h3 {
                font-size: 1.2rem;
                small {
                    font-size: 60%;
                }
            }
            i {
                font-size: 1.5rem;
            }
        }
    }
    .info-tooltip {
        left: 66%;
        bottom: 23%;
    }
    .login-section {
        margin-bottom: 1rem;
    }
    .profile-row {
        .card {
            margin: inherit;
            margin-bottom: 0;
            &-header {
                min-height: inherit;
            }
        }
    }
    .cm-profile {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 400px) {
    .main-content {
        .state-map {
            width: 96%;
        }
    }
    .info-box {
        .cont-div {
            .h3 {
                font-size: 1rem;
                small {
                    font-size: 66%;
                }
            }
        }
    }
    .profile-row {
        .card {
            &-header {
                min-height: 44px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .main-content {
        .state-map {
            svg {
                width: 116%;
            }
        }
    }
    .info-colum {
        &>.row {
            margin-left: 1.4rem;
        }
    }
}

// Login section
.login-section {
    color: #000;
    background-color: #fff;
    @media screen and (max-width: 1366px)
    {
        margin-top: 1rem;
    }
    @media screen and (max-width: 1024px){
        margin-left: -2rem;
    }
    @media screen and (max-width: 768px){
        margin-left: 0rem;
    }
    h5{
        font-weight: 600;
    }
    .login-header{
        padding: 1.2rem 1rem;
    }
    .login-body{
        padding: 1.5rem 2rem;
        @media screen and (max-width: 1366px){
            padding: 1rem 2rem;
        }
        
        .btn-pink {
            color: #fff;
            background-color: #d9534f;
            padding: .5rem 2rem;
            font-weight: 500;
            &:hover{
                background-color: #8d3610; 
            }
        }
    }
    
    .form-control {
        background-color: transparent;
        border-color: $gray-600;
    }
    .forgot {
        color: #34383b;
        font-size: .9rem;
    }
    .login-footer {
        font-size: .85rem;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
}

.progressbar {
    overflow: hidden;
    counter-reset: step;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 20px 0px 8px;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
}
.progressbar li {
    list-style-type: none;
    width: 10%;
    float: left;
    position: relative;
    font-weight: 600;
    font-size: .8rem;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
   width: 40px;
    height: 40px;
    line-height: 39px;
    display: block;
    font-size: 1em;
    color: #8d3610;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 0px auto;
    z-index: 1;
    position: relative;
    font-weight: 600;
    border: 2px solid #8d3610;
}
.progressbar li a{
    color:#000;
    @media (max-width: 640px)
    {
        display: none;
    }
}
.progressbar li a:hover{color:#8d3610;}
.progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #d9dce0c9;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: 0;
}
.progressbar li:first-child:after {content: none;}
/*active*/
.progressbar li.active:before {background: #8d3610;color: rgb(255, 255, 255);border: 2px solid #8d3610;}
.progressbar li.active:before,  .progressbar li.active:after{background: #8d3610;}
/*complete */
.progressbar li.complete:before {background: #00e600;color: rgb(255, 255, 255);border: 2px solid #00e600;}
.progressbar li.complete:before,.progressbar li.complete:after{background: #00e600;}
/*incomplete */
.progressbar li.incomplete:before {background: #ff9900;color: rgb(255, 255, 255);border: 2px solid #ff9900;}
.progressbar li.incomplete:before,  .progressbar li.incomplete:after{background: #ff9900;}



@media screen and (max-width: 576px) {
    .login-section {
        i {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 99%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 95%;
    }
    .head-sec {
        .header {
            &::before {
                left: -12rem;
                width: 44%;
            }
        }
        .navbar {
            &.menu-bar {
                
                .khanij-online {
                    li {
                        &::before {
                            right: -12rem;
                            width: 157%;
                        }
                    }
                }
            }
        }
    }
   
    .login-section {
        margin-left: 3rem;
    }
    .profile-row {
        margin-left: -12%;
        margin-top: 6rem;
        .card {
            margin: 0 .6rem;
            &-header {
                padding: .8rem 1rem;
            }
            &-body {
                padding: .8rem 1rem;
            }
            small {
                color: $gray-500;
            }
        }
    }
    .info-tooltip {
        bottom: 22%;
        left: 76%;
    }
    
    .info-box {
        .cont-div {
            .h3 {
                font-size: 1.6rem;
            }
        }
    }
}
.info-colum {
    >.row {
        margin-right: -8%;
        margin-left: 10%;
        @media screen and (max-width: 1600px) {
            margin-right: -14%;
            margin-left: 4%;
        }
        @media screen and (max-width: 1440px) {
            margin-right: -17%;
            margin-left: 0%;
        }
        @media screen and (max-width: 1366px){
            margin-right: 3%;
            margin-left: -4%;
        }
        @media screen and (max-width: 1024px){
            margin-right: 22%;
            margin-left: -62%;
        }
        @media screen and (max-width: 768px){
            margin-right: 0%;
            margin-left: 0%;
        }
        @media screen and (max-width: 640px){
            margin-left: 0%;
        }
    }
}
// Login section end
footer {
    padding: 1.5rem 0;
    border-top: solid 1px $gray-900;
    background-color: $dark;
    color: $gray-400;
}

@media screen and (max-width: 1400px) {
    footer {
        padding: .5rem 0;
    }
   
}

.bg-orange {
    background-color: #d56808;
    padding: 10px 12px;
    color: #fff;
    height: 50px;
    width: 53px;
    margin: 0 auto;
    margin-bottom: 1rem;
    @media screen and (max-width: 576px)
    {
        height: 43px;
        width: 43px;  
    }
}

.national-e-gov-sec{
    padding:2rem 1rem;
    p{
        line-height: 20px;
        @media screen and (max-width: 576px)  
        {
            text-align: center;
        }
    }
    @media screen and (max-width: 1366px)
    {
        padding:1rem;
    }
    background-color: rgb(34 34 34 / 76%);
    display: flex;
    @media screen and (max-width: 576px)   
        {
           flex-direction: column;
        }
    
    .national-e-gov-sec-left {
        width: 660px;
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 640px)   
        {
            padding-right: 0rem;
        }
    @media screen and (max-width: 1366px)   
    {
        width: 500px;
        
    }
    
    @media screen and (max-width: 640px)   
    {
        width: 563px;
        
    }
    @media screen and (max-width: 576px)  
    {
        width: 200px;
        margin:0 auto;
    }

    }
}
@media screen and (max-width: 1366px)
{
.head-sec .navbar.menu-bar .navbar-nav .nav-item .nav-link {
    
    font-size: 0.8rem;
}

.info-box .cont-div .h3 {
    font-size: 1.3rem;
}
}

.revenue-sec{
    margin-top: 4rem!important;
    @media screen and (max-width: 1440px)
    {
        margin-top: 6rem!important; 
    }
    @media screen and (max-width: 1366px)
    {
        margin-top: 7rem!important; 
    }
    @media screen and (max-width: 768px)
    {
        margin-top: 1rem!important; 
    }
}

.main-content {
    .state-map {
        width: 100%;
            @media screen and (max-width: 1024px)
            {       
                display: none;
            }
        svg {
            height: 55vh;
            width: auto;
            @media screen and (max-width: 1680px)
            {       
                height: 68vh;
            }
            @media screen and (max-width: 1600px)
            {       
                height: 65vh;
            }
            @media screen and (max-width: 1440px)
            {       
                height: 60vh;
            }
            @media screen and (max-width: 1366px)
            {       
                height: 70vh;
            }
            @media screen and (max-width: 1280px)
            {       
                height: 45vh;
            }
        }
    }
}

.web-based-title{
    position: absolute;
    right: 44%;
    top: 19%;
    color: #fff;
    font-weight: 500;
    font-size: 9px;
    &:hover{
        color: #ffeb3b;
    }
    @media screen and (max-width: 1680px)
    {
        right: 48%;
    }
    @media screen and (max-width: 1600px)
    {
        right: 45%;
    }
    @media screen and (max-width: 1440px)
    {
        right: 38%;
    }
    @media screen and (max-width: 1366px)
    {
        right: 57%;
    }
    
}