@import "variable-warning";
.page-setting {
    .setting-color {
        span {
            opacity: 0;
        }
        &.theme-orange {
            span {
                opacity: 1;
            }
        }
    }
}

a {
    color: $primary;
}

.text-primary {
    color: $primary !important;
}

.page-topbar {
    background-color: $primary;
    border-bottom: solid 1px $primary-border;
    // .logo-area {
    //     background-color: $primary-header;
    //     border-bottom: solid 1px $primary-border;
    // }
    // .quick-area {
    //     .info-menu {
    //         li {
    //             a {
    //                 &.toggle,
    //                 &.setting-show {
    //                     background-color: $primary;
    //                     border: solid 1px $primary;
    //                 }
    //                 &.sidebar_toggle {
    //                     color: $primary;
    //                 }
    //             }
    //         }
    //     }
    // }
    &.sidebar_shift {
        .logo-area {
            background-color: $primary;
        }
    }
}

// .page-sidebar {
//     background: $primary;
//     .profile-info {
//         background-color: $primary-light;
//         .profile-details {
//             .profile-title {
//                 color: $menu-link;
//             }
//         }
//     }
// }
// #main-menu-wrapper {
//     .logout-section {
//         background: $primary-light;
//         border-top: solid 1px $primary-border;
//         li {
//             a {
//                 border-right-color: $primary-border;
//                 &:hover {
//                     background-color: $primary-border;
//                 }
//             }
//         }
//     }
//     li {
//         ul {
//             &.sub-menu {
//                 a {
//                     &.active,
//                     &:hover {
//                         color: $primary-icon;
//                         &::after {
//                             background-color: $primary-icon;
//                         }
//                     }
//                 }
//                 li {
//                     &.active>a::after {
//                         background-color: $menu-link;
//                     }
//                     ul {
//                         &.sub-menu {
//                             background-color: $primary-border;
//                         }
//                     }
//                 }
//             }
//         }
//         a {
//             &:hover {
//                 .arrow {
//                     &:before {
//                         color: $submenu-link;
//                     }
//                 }
//             }
//         }
//         &.open {
//             a {
//                 .arrow {
//                     &:before {
//                         color: $submenu-link;
//                     }
//                 }
//             }
//             .sub-menu {
//                 a {
//                     &.active {
//                         color: $submenu-link;
//                     }
//                     &:hover {
//                         color: $menu-link;
//                     }
//                 }
//             }
//         }
//     }
//     ul {
//         li {
//             &.open {
//                 background-color: $primary-header;
//                 .sub-menu {
//                     a {
//                         color: $submenu-link;
//                         // &:hover {
//                         //     background-color: $btn-hover;
//                         //     color: $menu-link;
//                         // }
//                     }
//                 }
//             }
//             .sub-menu {
//                 a {
//                     &:hover {
//                         background-color: $primary-hover;
//                     }
//                 }
//             }
//             a {
//                 color: $menu-link;
//                 .arrow {
//                     &:before {
//                         color: $primary-icon;
//                     }
//                 }
//             }
//             ul {
//                 &.sub-menu {
//                     &::before {
//                         border-left: 1px solid $primary-light;
//                     }
//                     a {
//                         &::after {
//                             background-color: $primary-icon;
//                             border: 1px solid $primary-hover;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.main-tab {
    .nav-tabs {
        float: left;
    }
    .nav-link {
        background-color: $primary;
    }
}

.table {
    td {
        a {
            color: $primary;
        }
    }
}

.button-links,
.page_error_btn {
    .btn-primary {
        background-color: $primary !important;
    }
    .btn-primary:not([disabled]):not(.disabled):active,
    .btn-primary:not([disabled]):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        background-color: $btn-hover !important;
    }
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover a,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover a {
    background: $primary-hover;
    border-left-color: $primary-hover;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li.open .sub-menu a:hover,
.page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a:hover {
    border-left-color: $primary-hover;
}